<div class="contenedor-principal">
  @if(!mostrartabla){
  <div class="flex items-center justify-center w-[15px] bg-[#E6E8F4]">
  </div>
  }
  @if(mostrartabla){
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span class="">Ingresa un código o descripción y presiona enter</span>

    </div>
    <div class="contenedor-filtros">
      <div class="relative flex-1">
        <fa-icon [icon]="farSearch" class="absolute left-2.5 top-1.5 text-xxs text-[#878787] z-40"></fa-icon>
        <ion-input fill="outline" placeholder="Buscar por código o nombre" [(ngModel)]="textoSearch"
          (ionInput)="onBuscar()" style="--padding-start:30px"></ion-input>
      </div>
      <div class="filtros-absolutos">
        <ion-button class="w-[115px]" fill="outline" id="reportesactivos">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="reportesactivos" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false" (click)="exportarExcel()">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar PDF</ion-item>
          </ng-template>
        </ion-popover>
        <ion-button class="w-fit" (click)="botonNuevoConcepto()" [disabled]="disabledBotonNuevo">
          <fa-icon [icon]="fasCirclePlus" class="mr-1"></fa-icon>
          <span>Nuevo concepto</span>
        </ion-button>
      </div>
    </div>
    <div class="h-full relative" [appLoader]="isLoading()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular style="width: 100%; height: 100%;" [rowData]="rowData" [columnDefs]="colDefs"
        [columnTypes]="columnTypes" [pagination]="true" [localeText]="localeText" [rowHeight]="20" [headerHeight]="24"
        [paginationPageSize]="20" [rowSelection]="'single'" (gridReady)="onGridReady($event)"
        (cellClicked)="onCellClicked($event)" />
    </div>
  </div>
  }
  <div class="panel-derecho" [appLoader]="isLoading()" [ngClass]="{'!w-full':!mostrartabla}">
    <div class="cont-title">
      <span>{{filaSeleccionada? 'Concepto financiero: ':'Nuevo concepto financiero'}}
        {{filaSeleccionada?.concepto_codigo}}</span>
    </div>
    @if(filaSeleccionada){
    <div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook"></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>}

    <form [formGroup]="conceptoFinancieroForm">
      <div class="flex flex-col gap-1 h-full w-full">
        <div class="contenedor-formulario">
          <div class="contenido-formulario">
            <span class="label">Fecha de creación</span>
            <ion-input fill="outline" formControlName="fechaCreacion" class="w-[100px]" type="text"
              readonly></ion-input>
          </div>

          <!-- Descripción -->
          <div class="contenido-formulario">
            <span class="label">Nombre <span class="text-red-500">*</span></span>
            <ion-input fill="outline" formControlName="nombre" placeholder="Ingresar un nombre"
              [ngClass]="'w-[168px] 2xl:w-[235px]'"></ion-input>
          </div>

          <!-- Tipo de movimiento -->
          <!-- <div class="contenido-formulario">
            <span class="label">Tipo de movimiento <span class="text-red-500">*</span></span>
            <ion-select formControlName="tipoMovimiento" placeholder="Selecciona un tipo de movimiento"
              toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover" fill="outline"
              [ngClass]="'w-[168px] 2xl:w-[235px]'">
              @for(tipo of tiposMovimiento; track tipo.id) {
              <ion-select-option [value]="tipo.id">{{tipo.nombre}}</ion-select-option>
              }
            </ion-select>
          </div> -->

          <!-- Matriz codigo-->
          <div class="contenido-formulario">
            <span class="label">Matriz contable <span class="text-red-500">*</span></span>
            <ion-select formControlName="matrizContableId" placeholder="Selecciona una matriz contable"
              toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover" fill="outline"
              [ngClass]="'w-[168px] 2xl:w-[235px]'">
              @for(matriz of matrizContable(); track matriz.id) {
              <ion-select-option [value]="matriz.id">{{matriz.matriz_contable_descripcion}}</ion-select-option>
              }
            </ion-select>
          </div>

          <!-- Categoría -->
          <!-- <div class="contenido-formulario">
            <span class="label">Categoría <span class="text-red-500">*</span></span>
            <ion-select formControlName="categoria" placeholder="Selecciona una categoría" toggleIcon="chevron-down"
              expandedIcon="chevron-up" interface="popover" fill="outline" [ngClass]="'w-[168px] 2xl:w-[235px]'">
              @for(categoria of categorias; track categoria.id) {
              <ion-select-option [value]="categoria.id">{{categoria.nombre}}</ion-select-option>
              }
            </ion-select>
          </div> -->

          <!-- Naturaleza contable -->
          <!-- <div class="contenido-formulario">
            <span class="label">Naturaleza contable <span class="text-red-500">*</span></span>
            <ion-select formControlName="naturalezaContable" placeholder="Selecciona una naturaleza contable"
              toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover" fill="outline"
              [ngClass]="'w-[168px] 2xl:w-[235px]'">
              @for(naturaleza of naturalezasContables; track naturaleza.id) {
              <ion-select-option [value]="naturaleza.id">{{naturaleza.nombre}}</ion-select-option>
              }
            </ion-select>
          </div> -->

          <!-- Cta contable asociada -->
          <!-- <div class="contenido-formulario">
            <span class="label">Cta. contable asociada <span class="text-red-500">*</span></span>
            <app-autocomplete formControlName="cuentaContable" [items]="cuentasContables" [displayKey]="'nombre'"
              [valueKey]="'id'" [placeholder]="'Selecciona una cuenta contable'" [ngClass]="'w-[168px] 2xl:w-[235px]'"
              (itemSelected)="onCuentaContableSelected($event)">
            </app-autocomplete>
          </div> -->

          <!-- Origen -->
          <!-- <div class="contenido-formulario">
            <span class="label">Origen / Destino <span class="text-red-500">*</span></span>
            <div class="flex items-center">
              <ion-select formControlName="origen" placeholder="" toggleIcon="chevron-down" expandedIcon="chevron-up"
                interface="popover" fill="outline" class="min-w-[70px]" style="width: 65px !important;">
                @for(origen of origenes; track origen.id) {
                <ion-select-option [value]="origen.id">{{origen.nombre}}</ion-select-option>
                }
              </ion-select>
              <ion-select formControlName="destino" placeholder="Especificar" toggleIcon="chevron-down"
                placeholder="Selecciona un destino u origen" expandedIcon="chevron-up" interface="popover"
                fill="outline" class="-m-0.5" [ngClass]="'w-[70px] 2xl:w-[165px]'">
                @for(destino of destinos; track destino.id) {
                <ion-select-option [value]="destino.id">{{destino.nombre}}</ion-select-option>
                }
              </ion-select>
            </div>
          </div> -->

          <!-- Asociar documento -->
          <!-- <div class="contenido-formulario">
            <span class="label">Asociar documento <span class="text-red-500">*</span></span>
            <ion-select formControlName="asociarDocumento" placeholder="Seleccionar" toggleIcon="chevron-down"
              expandedIcon="chevron-up" interface="popover" fill="outline" class="w-[80px]"
              (ionChange)="onAsociarDocumentoChange($event)">
              <ion-select-option value="si">Sí</ion-select-option>
              <ion-select-option value="no">No</ion-select-option>
            </ion-select>
          </div> -->

          <!-- <div class="contenido-formulario" *ngIf="conceptoFinancieroForm.get('asociarDocumento')?.value === 'si'">
            <span class="label">N° de documento <span class="text-red-500">*</span></span>
            <ion-input fill="outline" formControlName="numeroDocumento" placeholder="Ejem. 854796501" class="w-[150px]" type="number"></ion-input>
          </div> -->

          <!-- N° de documento -->
          <!-- @if(mostrarNumeroDocumento) {
          <div class="contenido-formulario">
            <span class="label">N° de documento</span>
            <ion-input fill="outline" formControlName="numeroDocumento" class="w-[150px]"></ion-input>
          </div>
          } -->

          <div class="contenido-formulario">
            <span class="label">Estado <span class="text-red-500">*</span></span>
            <ion-select formControlName="flagEstado" placeholder="Seleccionar" toggleIcon="chevron-down"
              expandedIcon="chevron-up" interface="popover" fill="outline" class="w-[80px]">
              <ion-select-option value="1">Activo</ion-select-option>
              <ion-select-option value="0">Inactivo</ion-select-option>
            </ion-select>
          </div>

        </div>
        <!-- Botones -->
        <div class="contenedor-btn">
          <ion-button class="w-fit" (click)="botonGuardar()">{{ campoNuevo ? 'Registrar' : 'Guardar' }}</ion-button>
          <ion-button color="medium" fill="outline" (click)="botonCancelar()">Cancelar</ion-button>

        </div>
      </div>
    </form>
  </div>