<div class="contenedor-principal">
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span>Requerimiento de Reposición de Stock (Selecciona un requerimiento de tu lista para visualizarlo)</span>
    </div>
    <div class="contenedor-filtros">
      <div class="filtros-responsive">
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar por código de requerimiento, código o nombre del producto o responsable" class="w-full" style="--padding-start:30px"></ion-input>
        </div>
      </div>
      <div class="flex">
        <ion-select placeholder="Selecciona" [(ngModel)]="tipoSeleccionado" [ngModelOptions]="{standalone: true}" interface="popover" 
          fill="outline" class="w-[80px] flex-none -mr-0.5" toggleIcon="chevron-down" expandedIcon="chevron-up">
          @for(tipo of tipoFs; track tipo){<ion-select-option [value]="tipo.value">{{ tipo.nombre }}</ion-select-option>}
        </ion-select>
        <app-base-calendar-new
          class="flex-none "
          mode="range"
          [initialStartDate]="startDate"
          [initialEndDate]="endDate"
          [minDate]="minDate"
          [maxDate]="maxDate"
          position="center"
          (dateRangeSelected)="filtrarPorFechas($event)">
        </app-base-calendar-new>
      </div>
      <div class="filtros-absolutos">
        <ion-button class="w-[115px] flex-none" fill="outline" id="gestionG2">
          <fa-icon [icon]="fasDownload" class="mr-1 text-text-85"></fa-icon>
          <span class="text-text-85">Exportar</span>
          <fa-icon class="ml-1 text-text-85" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="gestionG2" triggerAction="click" [dismissOnSelect]="true" class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
            <ng-template>
              <ion-item lines="none" [button]="true"  (click)="exportarExcel()">Exportar Excel</ion-item>
              <ion-item lines="none" [button]="true"  (click)="exportarPdf()">Exportar PDF</ion-item>
            </ng-template>
        </ion-popover>
        <ion-button class="w-fit" [disabled]="!tieneModificaciones()" (click)="botonRegistrarRequerimiento()"><fa-icon [icon]="fasCirclePlus" class="mr-1"></fa-icon> <span class="font-normal">Nueva solicitud</span></ion-button>
      </div>
    </div>
    <div class="flex h-full relative" [appLoader]="isLoading()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular style="width: 100%; height: 100%;"
        class="" [rowData]="facade.reposicionesStock()" 
        [columnDefs]="colDefs"
        [pagination]="true" [suppressLoadingOverlay]="true" 
        [rowSelection]="'single'" 
        [localeText]="localeText"
        [paginationPageSize]="20" 
        [rowHeight]="20"
        [headerHeight]="24" 
        (gridReady)="onGridReady($event)" 
        (cellClicked)="onCellClicked($event)" />
    </div>
  </div>
  <div class="panel-derecho" [appLoader]="isLoading()">
    <div class="cont-title">
      <span>{{ filaSeleccionada ? 'Información de requerimiento: ' + filaSeleccionada.reposicion_stock_codigo : 'Nuevo requerimiento de reposición' }}</span>
    </div>
    @if(filaSeleccionada){<div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook" ></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>}
    <form action="" [formGroup]="requerimientoForm" class="contenedor-formulario" [ngClass]="{'!flex-row': !panelLateralVisible}">
      <!-- Contenido del formulario -->
      <div class="contenido-formulario">
        <span class="label">Fecha de solicitud</span>
        <ion-input fill="outline" type="date"  formControlName="fechaS" class="w-[120px]"></ion-input>
      </div>

      <div class="contenido-formulario">
        <span class="label">Fecha de reposición<span class="text-danger">*</span></span>
        <app-base-calendar-new
            class="flex-none"
            mode="single"
            [initialDate]="requerimientoForm.get('fechaR')?.value"
            position="center"
            (dateSelected)="onFechaSeleccionada($event)">
          </app-base-calendar-new>
      </div>
      
      <div class="contenido-formulario">
        <span class="label">Almacén solicitante<span class="text-danger">*</span></span>
        <app-autocomplete
          formControlName="almacenS"
          [items]="almacenes()"
          displayKey="almacen_nombre"
          valueKey="almacen_nombre"
          placeholder="Selecciona un almacén"
          (itemSelected)="onAlmacenSeleccionado($event)">
        </app-autocomplete>
      </div>

      <div class="contenido-formulario">
        <span class="label">Cód. o nombre del prod.<span class="text-danger">*</span></span>
        <app-autocomplete
          formControlName="producto"
          [items]="facade.productosReposicionStock()"
          displayKey="nombre"
          valueKey="id"
          placeholder="Selecciona un producto"
          (itemSelected)="onProductoSeleccionado($event)">
        </app-autocomplete>
      </div>

      <div class="contenido-formulario">
        <span class="label">Stock actual</span>
        <ion-input fill="outline" type="number" formControlName="stockA" class="w-[120px]"></ion-input>
      </div>

      <div class="contenido-formulario">
        <span class="label">Stock mínimo</span>
        <ion-input fill="outline" type="number"  formControlName="stockMin" class="w-[120px]"></ion-input>
      </div>

      <div class="contenido-formulario">
        <span class="label">Cantidad solicitada <span class="text-danger">*</span></span>
        <div class="flex items-center">
          <ion-input fill="outline" placeholder="Ingrese valor" type="number" formControlName="cantidadS" class="w-[70px] -mr-0.5"></ion-input>
          @if(filaSeleccionada){<ion-input fill="outline" placeholder="Pendiente" formControlName="medida" class="w-[50px]"></ion-input>}
          @if(!filaSeleccionada){<ion-select formControlName="medida" interface="popover" fill="outline" class="w-[50px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up">
            @for(med of unidadesMedida(); track med.id){<ion-select-option [value]="med.codigo">{{ med.codigo }}</ion-select-option>}
          </ion-select>}
        </div>
      </div>

      <div class="contenido-formulario !items-start">
        <span class="label">Motivo de traslado</span>
        <ion-textarea fill="outline" placeholder="Ingrese su motivo" formControlName="observacion" rows="2" class="w-[200px]"></ion-textarea>
      </div>

      <div class="contenido-formulario">
        <span class="label">Estado</span>
        @if(!filaSeleccionada){<ion-input fill="outline" placeholder="Pendiente" formControlName="estado" class="w-[150px]"></ion-input>}
        @if(filaSeleccionada){<ion-select placeholder="Selecciona un estado" formControlName="estado" interface="popover" fill="outline" class="w-[140px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up">
          @for(est of estadoSelect; track $index){<ion-select-option [value]="est.id">{{ est.nombre }}</ion-select-option>}
        </ion-select>}
      </div>
      
    </form>
    <div class="contenedor-btn py-2.5">
      <ion-button (click)="botonGuardar()" [disabled]="filaSeleccionada?.estado == 'Anulada' || filaSeleccionada?.estado == 'Rechazada'">{{ btnTexto }}</ion-button>
      <div class="flex gap-2">
        <ion-button fill="outline" color="medium" (click)="botonRegistrarRequerimiento()">Cancelar</ion-button>
        @if(filaSeleccionada?.estado != 'Atendida'){<ion-button fill="outline" color="danger" [disabled]="validacionBloqueo()" (click)="abrirModalAnular()">Anular</ion-button>}
      </div>
    </div>
  </div>
</div>
