<div class="contenedor-principal">
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span>Catalogación de incidencias de activos</span>
    </div>
    <div class="contenedor-filtros">
      <div class="filtros-responsive">
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar por código o por tipo de impacto" class="w-full"
            style="--padding-start:30px"></ion-input>
        </div>
      </div>
      <div class="filtros-absolutos">
        <ion-button class="w-[115px] flex-none" fill="outline" id="reportesincidencia">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="reportesincidencia" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar PDF</ion-item>
          </ng-template>
        </ion-popover>
        <ion-button class="w-fit" [disabled]="camponuevo" (click)="botonNuevaIncidencia()"><fa-icon [icon]="fasCirclePlus"
            class="mr-1"></fa-icon> <span class="font-normal">Nueva incidencia</span></ion-button>
      </div>
    </div>
    <div class="contenedor-primera-tabla" [appLoader]="isLoading()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular style="width: 100%; height: 100%;" class="" [rowData]="rowData" [columnDefs]="colDefs"
        [columnTypes]="columnTypes" [pagination]="true" [localeText]="localeText" [purgeClosedRowNodes]="true"
        [rowHeight]="20" [headerHeight]="24" [paginationPageSize]="20" (gridReady)="onGridReady($event)"
        (rowClicked)="onCellClicked($event)" [rowSelection]="'single'" />
    </div>
  </div>
  <div class="panel-derecho" [appLoader]="isLoading()">
    <div class="cont-title">
      <span>{{ camponuevo ? 'Nueva incidencia' : 'Incidencia: ' + (filaSeleccionada?.incidencia_codigo || '') }}</span>
    </div>
    @if(filaSeleccionada){
  <div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook" ></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>}
    <form action="" [formGroup]="IncidenciasForm">
      <div class="flex flex-col gap-1 h-full w-full">
        <div class="contenedor-formulario">
          <div class="contenido-formulario">
            <span class="label">Descripción <span class="text-danger">*</span></span>
            <ion-textarea fill="outline" [placeholder]="camponuevo ? 'Ingrese descripción' : ''" formControlName="descripcion" [ngClass]="'!w-[163px] 2xl:!w-[185px]'"></ion-textarea>
          </div>
          <div class="contenido-formulario">
            <span class="label">Tipo de impacto <span class="text-danger">*</span></span>
            <ion-select placeholder="Selecciona un tipo" toggleIcon="chevron-down" expandedIcon="chevron-up"
              formControlName="tipoImpacto" interface="popover" fill="outline" class="w-[120px]">
              @for(tipo of tipoImpacto; track tipo){<ion-select-option [value]="tipo">{{ tipo }}</ion-select-option>}
            </ion-select>
          </div>
          <div class="contenido-formulario">
            <span class="label">Cta. Contable Asociada <span class="text-danger">*</span></span>
            <app-autocomplete [items]="cuentasContables" [displayKey]="'nombre'" [valueKey]="'id'"
              [placeholder]="'Selecciona una cuenta'" [ngClass]="'!w-[163px] 2xl:!w-[185px]'" [formControlName]="'ctaContable'"
              (itemSelected)="onCuentaSelected($event)">
            </app-autocomplete>
          </div>
          <div class="contenido-formulario">
            <span class="label">Gravedad <span class="text-danger">*</span></span>
            <ion-select placeholder="Moderada" toggleIcon="chevron-down" expandedIcon="chevron-up"
              formControlName="gravedad" interface="popover" fill="outline" class="w-[90px]">
              @for(grv of gravedad; track grv){<ion-select-option [value]="grv">{{ grv }}</ion-select-option>}
            </ion-select>
          </div>
          <div class="contenido-formulario" *ngIf="IncidenciasForm.get('tipoImpacto')?.value === 'Contable'">
            <span class="label"></span>
            <div class="flex items-center gap-1">
              <ion-checkbox formControlName="requiereAval"></ion-checkbox>
              <span class="text-xxs">Requiere aval de auditoría</span>
            </div>
          </div>
          <div class="contenido-formulario">
            <span class="label">Estado <span class="text-danger">*</span></span>
            <ion-select placeholder="Activo" toggleIcon="chevron-down" expandedIcon="chevron-up"
              formControlName="estado" interface="popover" fill="outline" class="w-[80px] text-xxs">
              @for(est of estados; track est){<ion-select-option [value]="est">{{ est }}</ion-select-option>}
            </ion-select>
          </div>
          <div class="contenido-formulario !items-start">
            <span class="label">Observaciones</span>
            <ion-textarea fill="outline" [placeholder]="camponuevo ? 'Ingrese una observación' : ''" formControlName="observaciones" [ngClass]="'!w-[163px] 2xl:!w-[185px]'"></ion-textarea>
          </div>
        </div>
      </div>
    </form>
    <div class="contenedor-btn">
      <ion-button (click)="botonGuardar()">{{ camponuevo ? 'Registrar' : 'Guardar' }}</ion-button>
      <ion-button color="medium" fill="outline" (click)="botonNuevaIncidencia()">Cancelar</ion-button>
    </div>
  </div>
</div>