<div class="flex justify-center items-center gap-2 h-full">
  <button class="text-xxs flex items-center justify-center cursor-pointer text-primary" (click)="onVerClick($event)" title="Detalle">
    <fa-icon [icon]="farEye" class="text-xxs"></fa-icon>
  </button>
  <button class="text-primary text-xxs flex items-center justify-center cursor-pointer" (click)="onImprimirClick($event)" title="Imprimir">
    <fa-icon [icon]="farPrint"></fa-icon>
  </button>
   <button class="text-primary text-xxs flex items-center justify-center cursor-pointer" (click)="onDescClick($event)" title="Descargar">
    <fa-icon [icon]="farDownload"></fa-icon>
  </button>
</div>