:host ::ng-deep {
    .asiento-text{
        @apply text-right;
    }
    
    // Deshabilitar checkbox para filas que NO son Pendiente
    .row-disabled .ag-checkbox-input-wrapper input[type="checkbox"] {
        cursor: default !important;
        opacity: 0.6;
        // background-color: #fffefe !important;
        outline: none !important;
        border: #755050 !important;
    }
}