<div class="flex flex-col bg-[#e7e7e7] px-[7px] gap-0.5 py-[5px]" [style.width]="anchoModal" [style.height]="altoModal">
  <div class="flex flex-row justify-between w-full">
    <span class="text-sm font-bold">{{ titulo }}</span>
    <fa-icon [icon]="fasXmark" class="text-sm cursor-pointer" (click)="cerrarmodal()"></fa-icon>
  </div>
  <div class="bg-white h-full w-full flex flex-col p-3 gap-2 sinheight">
    @if(subtitulo){<span class="text-sm font-bold text-black font-nunito">{{ subtitulo }}</span>}
    <ag-grid-angular
      style="width: 100%; height: 100%;"
      [rowData]="rowData"
      [headerHeight]="24"
      [columnDefs]="colDefs"
      (gridReady)="onGridReady($event)"
      [domLayout]="'normal'"
    />
    <div class="w-full flex justify-end">
      <ion-button class="w-[70px]" fill="outline" color="medium" (click)="cerrarmodal()">Cerrar</ion-button>
    </div>  
  </div>
  
</div>