<div class="relative w-full">

  <!-- Icono búsqueda -->
  <fa-icon
    [icon]="farSearch"
    class="absolute left-2.5 top-2 text-xs text-[#878787] z-10">
  </fa-icon>

  <!-- INPUT -->
  <ion-input
    fill="outline"
    placeholder="Buscar..."
    [(ngModel)]="searchText"
    (ionInput)="onSearch($event)"
    (click)="onInputClick($event)"
    style="--padding-start: 30px;">
  </ion-input>

  <!-- POPOVER -->
  <ion-popover
    [isOpen]="showPopover"
    [event]="popoverEvent"
    (didDismiss)="onPopoverDismiss()">

    <ng-template>
      <ion-content class="max-h-60">
        <ion-list>

          <!-- Listado filtrado -->
          <ion-item
            button
            *ngFor="let item of filteredItems"
            (click)="selectItem(item)">
            {{ item.nombre }}
          </ion-item>

        </ion-list>
      </ion-content>
    </ng-template>

  </ion-popover>

</div>
