<div class="contenedor-principal-modal !w-[670px]">
  <div class="titulo-modal">
    <span>Crear nuevo servicio</span>
    <fa-icon [icon]="fasXmark" class="cursor-pointer" (click)="cerrarModal()"></fa-icon>
  </div>
  <div class="contenido-modal">
    <form action="" class="contenedor-formulario !gap-3 !p-0 !flex-row h-[250px]">
      <div class="contenedor-formulario !p-0">
        <div class="contenido-formulario">
          <span class="label !w-[120px]">Nombre del servicio</span>
          <ion-input fill="outline" class="w-[181px]" placeholder="Ingrese el nombre del servicio"></ion-input>
        </div>
        <div class="contenido-formulario">
          <span class="label !w-[120px]">Descripción</span>
          <ion-textarea fill="outline" class="w-[181px]" placeholder="Ingrese una descripción"></ion-textarea>
        </div>
        <div class="contenido-formulario">
          <span class="label !w-[120px]">Tipo de servicio</span>
          <ion-select placeholder="Selecciona tipo" interface="popover" fill="outline" class="w-[150px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up">
            @for(tipo of tiposServicio; track tipo.value){
            <ion-select-option [value]="tipo.value">{{tipo.label}}</ion-select-option>
            }
          </ion-select>
        </div>
      </div>
      <div class="contenedor-formulario !p-0">
        <div class="contenido-formulario">
          <span class="label !w-[120px]">Cta. contable inventario</span>
          <app-autocomplete
            [items]="cuentasContablesInventario"
            [displayKey]="'nombre'"
            [valueKey]="'id'"
            [placeholder]="'Escribe aqui...'"
            [width]="'w-[181px]'"
            (itemSelected)="onCuentaInventarioSelected($event)">
          </app-autocomplete>
        </div>
        <div class="contenido-formulario">
          <span class="label !w-[120px]">Cta. contable costo</span>
          <app-autocomplete
            [items]="cuentasContablesCosto"
            [displayKey]="'nombre'"
            [valueKey]="'id'"
            [placeholder]="'Escribe aqui...'"
            [width]="'w-[181px]'"
            (itemSelected)="onCuentaCostoSelected($event)">
          </app-autocomplete>
        </div>
        <div class="contenido-formulario">
          <span class="label !w-[120px]">Unidad de medida</span>
          <!-- <ion-select placeholder="Selecciona unidad" interface="popover" fill="outline" class="w-[150px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up">
            @for(unidad of unidadesMedida; track unidad.value){
            <ion-select-option [value]="unidad.value">{{unidad.label}}</ion-select-option>
            }
          </ion-select> -->
          <ion-input fill="outline" class="w-[50px]" disabled="true" value="UND"></ion-input>
        </div>
      </div>
    </form>
    <div class="conjunto-btn !pb-0 !pr-0">
      <ion-button fill="outline" color="medium" class="w-fit" (click)="cerrarModal()">
        <span>Cancelar</span>
      </ion-button>
      <ion-button class="w-fit">
        <span>Crear</span>
      </ion-button>
    </div>
  </div>
</div>