<div class="contenedor-modal !w-[328px]">
  <div class="header">
    <div class="flex items-center gap-1 ">
      <span class="text-sm font-bold">{{ tituloModal }} - {{ tiposDistribucionLabel[tipo] }}</span>
    </div>
    <fa-icon [icon]="farXmark" class="text-sm cursor-pointer" (click)="cerrarModal()"></fa-icon>
  </div>
  <div class="cont-modal">
    <div class="flex flex-col gap-2">
      <div class="contenedor-formulario">
        <div class="contenido-formulario">
          <span class="label">Delivery</span>
          <!-- <div class="cont-icon-rigth">
            <ion-input fill="outline" type="number" class="w-16" [(ngModel)]="distribucionDelivery" (ionInput)="validarNumero($event, 'delivery')" min="0" max="100"></ion-input>
            <fa-icon [icon]="fasPercent" class=" text-text-85 "></fa-icon>
          </div> -->

          <ion-input
              fill="outline"
              class="w-20"
              type="number"
              [(ngModel)]="distribucionDelivery">
              @if(tipo=='porcentaje'){<div slot="end" class="pr-2 font-semibold">%</div>}
              @if(tipo=='fijo'){<div slot="start" class="pr-2 font-semibold">S/</div>}
              @if(tipo=='horas'){<div slot="end" class="pr-2 font-semibold">Hrs</div>}
            </ion-input>
        </div>

        <div class="contenido-formulario">
          <span class="label">Salón</span>
          <!-- <div class="cont-icon-rigth">
            <ion-input fill="outline" type="number" class="w-16" [(ngModel)]="distribucionSalon" (ionInput)="validarNumero($event, 'salon')" min="0" max="100"></ion-input>
            <fa-icon [icon]="fasPercent" class=" text-text-85"></fa-icon>
          </div> -->

           <ion-input
              fill="outline"
              class="w-20"
              type="number"
              [(ngModel)]="distribucionSalon">
              @if(tipo=='porcentaje'){<div slot="end" class="pr-2 font-semibold">%</div>}
              @if(tipo=='fijo'){<div slot="start" class="pr-2 font-semibold">S/</div>}
              @if(tipo=='horas'){<div slot="end" class="pr-2 font-semibold">Hrs</div>}
            </ion-input>
        </div>

        <div class="contenido-formulario">
          <span class="label">Canal extra 1</span>
          <!-- <div class="cont-icon-rigth">
            <ion-input fill="outline" type="number" class="w-16" [(ngModel)]="distribucionExtra1" (ionInput)="validarNumero($event, 'extra1')" min="0" max="100"></ion-input>
            <fa-icon [icon]="fasPercent" class=" text-text-85"></fa-icon>
          </div> -->

          <ion-input
              fill="outline"
              class="w-20"
              type="number"
              [(ngModel)]="distribucionExtra1">
              @if(tipo=='porcentaje'){<div slot="end" class="pr-2 font-semibold">%</div>}
              @if(tipo=='fijo'){<div slot="start" class="pr-2 font-semibold">S/</div>}
              @if(tipo=='horas'){<div slot="end" class="pr-2 font-semibold">Hrs</div>}
            </ion-input>
        </div>

        <div class="contenido-formulario">
          <span class="label">Canal extra 2</span>
          <!-- <div class="cont-icon-rigth">
            <ion-input fill="outline" type="number" class="w-16" [(ngModel)]="distribucionExtra2" (ionInput)="validarNumero($event, 'extra2')" min="0" max="100"></ion-input>
            <fa-icon [icon]="fasPercent" class=" text-text-85"></fa-icon>
          </div> -->

          <ion-input
              fill="outline"
              class="w-20"
              type="number"
              [(ngModel)]="distribucionExtra2">
              @if(tipo=='porcentaje'){<div slot="end" class="pr-2 font-semibold">%</div>}
              @if(tipo=='fijo'){<div slot="start" class="pr-2 font-semibold">S/</div>}
              @if(tipo=='horas'){<div slot="end" class="pr-2 font-semibold">Hrs</div>}
            </ion-input>
        </div>
      </div>
    </div>

    <div class="contenedor-btn">
      <ion-button (click)="guardar()">Guardar</ion-button>
      <ion-button color="medium" fill="outline" (click)="cerrarModal()">Cancelar</ion-button>
    </div>
  </div>
</div>