:host {
  display: block;
  min-height: 100vh;
}

:host ::ng-deep {
  .sigre-validated-field--bootstrap .form-control {
    padding-right: 2.5rem;
  }

  .sigre-validated-field--password .form-control {
    padding-right: 4.75rem;
  }
}
