<div class="contenedor-principal">
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span>Generar libros electronicos</span>
    </div>
    <form [formGroup]="form">
      <div class="contenedor-formulario !gap-2.5">
        <div class="filtros-responsive">
          <div class="form-column2">
            <div class="contenido-formulario">
              <span class="label">Razón social</span>
              <ion-input fill="outline" placeholder="Importadora Vinos del Sur EIRL"  [disabled]="true" class="w-[160px]"></ion-input>
            </div>

            <div class="contenido-formulario">
              <span class="label">Fecha de ejecución</span>
              <app-base-calendar-new
                class="flex-none"
                mode="single"
                [initialDate]="fechaEjecucion"
                position="center"
                [disabled]="true"
                (dateSelected)="onFechaEjecucion($event)">
              </app-base-calendar-new>
            </div>

            <div class="contenido-formulario">
              <span class="label">Usuario ejecutor</span>
              <ion-input fill="outline" placeholder="Eduardo Jiménez López"  [disabled]="true" class="w-[160px]"></ion-input>
            </div>

            <div class="contenido-formulario">
              <span class="label">Entidad tributaria</span>
              <ion-input fill="outline" [placeholder]="entidadtributaria"  [disabled]="true" class="w-20" ></ion-input>
            </div>

            <div class="contenido-formulario">
              <span class="label">Tipo de libro <span class="text-danger">*</span></span>
              <ion-select placeholder="Selecciona tipo de libro" toggleIcon="chevron-down" expandedIcon="chevron-up" formControlName="tipoLibro" interface="popover" fill="outline" class="w-[180px] flex-none">
                @for(libro of tlibros; track libro){<ion-select-option [value]="libro.value">{{ libro.label }}</ion-select-option>}
              </ion-select>
            </div>

            <div class="contenido-formulario">
              <span class="label">Periodo contable <span class="text-danger">*</span></span>
              <app-month-year-picker
                #periodoPickerRef
                class="flex-none w-[150px]"
                [placeholder]="'Selecciona periodo'"
                (monthYearChange)="onPeriodoSeleccionado($event)">
              </app-month-year-picker>
            </div>

            <div class="contenido-formulario">
              <span class="label">Tipo de archivo <span class="text-danger">*</span></span>
              <ion-select placeholder="Seleccionar tipo de archivo" toggleIcon="chevron-down" expandedIcon="chevron-up" formControlName="tipoArchivo" interface="popover" fill="outline" class="w-32 flex-none">
                @for(tArchivo of tArchivos; track tArchivo){<ion-select-option [value]="tArchivo.value">{{ tArchivo.label }}</ion-select-option>}
              </ion-select>
            </div>

            <div class="contenido-formulario">
              <span class="label">Directorio de descarga</span>
              <div class="flex gap-1 w-full">
                <ion-input [disabled]="true" fill="outline" formControlName="directorio" class="w-[150px] flex-none"></ion-input>

                <ion-button fill="outline" (click)="inputFolder.click()">
                  Seleccionar carpeta
                </ion-button>

                <input 
                  type="file" 
                  #inputFolder 
                  style="display:none" 
                  webkitdirectory 
                  (change)="carpetaSeleccionada($event)"
                />
              </div>
            </div>

            <div class="contenido-formulario">
              <span class="label"></span>
              <div class="flex gap-1 flex-none items-center">
                <ion-checkbox formControlName="incluirNul"></ion-checkbox>
                <span class="text-xxs">Incluir asientos Anulados</span>
              </div>
            </div>

          </div>
        </div>
        <!-- Botones de acción -->
        <div class="flex items-center gap-3 w-full justify-end">
          <ion-button class="w-fit" (click)="generarReporte()">
            <span class="font-normal">Generar libros</span>
          </ion-button>
        </div>
      </div>
    </form>

    <div class="flex flex-col w-full h-full overflow-auto">
      <div class="cont-title">
        <span>Resumen de libro electrónico</span>
      </div>
      <div class="p-2.5 flex flex-col items-start gap-2.5 w-full">
        <div class="form-column4 !gap-2.5">
          <div class="card-reporte">
            <span class="label">Código de libro</span>
            <span class="cont">{{ registro?.codigo ? registro?.codigo : '-' }}</span>
          </div>
          <div class="card-reporte">
            <span class="label">Nombre de libro</span>
            <span class="cont">{{ registro?.nombre ? registro?.nombre : '-' }}</span>
          </div>
          <div class="card-reporte">
            <span class="label">Periodo</span>
            <span class="cont">{{ registro?.periodo ? registro?.periodo : '-' }}</span>
          </div>
          <div class="card-reporte">
            <span class="label">Fecha de generación</span>
            <span class="cont">{{ registro?.fecha ? registro?.fecha: '--/--/----, --:--' }}</span>
          </div>
          <div class="card-reporte">
            <span class="label">Usuario registro</span>
            <span class="cont">{{ registro?.usuario ? registro?.usuario : '-' }}</span>
          </div>
          <div class="card-reporte">
            <span class="label">Estado</span>
            <span class="badge-table !text-xs bg-[#FEE2E2] text-[#DC2626]" [ngClass]="{
              '!bg-[#DCFDE7] !text-[#16A34A]':registro?.estado == 'Éxito',
              '!bg-white !text-text-85':registro?.estado == null
            }">{{ registro?.estado ? registro?.estado : '-' }}</span>
          </div>
          <div class="card-reporte">
            <span class="label">Archivo generado</span>
            <span class="cont">{{ registro?.archivo ? registro?.archivo : '-' }}</span>
          </div>
        </div>

        <div class="flex items-center gap-3 w-full justify-end">
          <ion-button class="w-fit" fill="outline" [disabled]="registro == null" (click)="DescargarArchivo()">
            <fa-icon [icon]="fasDownload" class="mr-1 text-text-85"></fa-icon>
            <span class="font-normal">Descargar archivo</span>
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</div>
