<div class="contenedor-principal">

  <div class="panel-derecho-full">
    <div class="cont-title">
      <span>Consulta de documentos por proveedor</span>
    </div>
    
    <!-- Contenido del filtro -->
    <div class="contenedor-formulario !flex-row !gap-10">
      <div class="contenedor-formulario !p-0">

        <div class="contenido-formulario">
          <span class="label ">Razón social</span>
          <app-autocomplete [(ngModel)]="proveedorseleccionado" [items]="proveedores" inputWidth="212px" displayKey="nombre" valueKey="id" placeholder="Selecciona proveedores"
             (itemSelected)="onproveedorSeleccionado($event)"  >
          </app-autocomplete>
        </div>

        <div class="contenido-formulario">
          <span class="label">Tipo de documento</span>
          <app-autocomplete-multi [(ngModel)]="tipoSeleccionado" [items]="tipoDoc" displayKey="nombre" valueKey="id" placeholder="selecciona tipos de doc."
             (changed)="ontipoDocSeleccionado($event)">
          </app-autocomplete-multi>
        </div>        
        
        <div class="contenido-formulario">
          <span class="label">Estado de documento</span>
          <ion-select placeholder="Selecciona estados" [(ngModel)]="estadoSeleccionado" 
            interface="popover" fill="outline" class="w-[150px] flex-none" toggleIcon="chevron-down"
            expandedIcon="chevron-up">
            @for(est of estadoSelect; track $index){<ion-select-option [value]="est.id">{{ est.nombre }}</ion-select-option>}
          </ion-select>
        </div>

        <div class="contenido-formulario">
          <span class="label">Moneda</span>
          <ion-select placeholder="Selecciona monedas" [(ngModel)]="monedaSeleccionada" 
            interface="popover" fill="outline" class="w-[180px] flex-none" toggleIcon="chevron-down"
            expandedIcon="chevron-up">
            @for(moneda of monedaSelect; track $index){<ion-select-option [value]="moneda.id">{{ moneda.nombre }}</ion-select-option>}
          </ion-select>
        </div>
      </div>

      <div class="contenedor-formulario !p-0">
        <div class="contenido-formulario">
          <span class="label">Fecha de emisión</span>
          <app-base-calendar-new class="flex-none " mode="range" [initialStartDate]="startDateEmision" [initialEndDate]="endDateEmision"
            [minDate]="minDate" [maxDate]="maxDate" position="center" (dateRangeSelected)="onFechaEmision($event)">
          </app-base-calendar-new>
        </div>
        
        <div class="contenido-formulario">
          <span class="label">Fecha de vencimiento</span>
          <app-base-calendar-new class="flex-none " mode="range" [initialStartDate]="startDateVencimiento" [initialEndDate]="endDateVencimiento"
            [minDate]="minDate" [maxDate]="maxDate" position="center" (dateRangeSelected)="onFechaVencimiento($event)">
          </app-base-calendar-new>
        </div>

        <div class="contenido-formulario">
          <span class="label">Centro de Costo</span>
          <app-autocomplete [(ngModel)]="centroCSeleccionado" placeholder="Selecciona centros de costo" [items]="centrosCosto" displayKey="nombre" valueKey="id" inputWidth="180px"
              (itemSelected)="onCentroCSeleccionado($event)">
          </app-autocomplete>
        </div>

        <div class="contenido-formulario">
          <span class="label">Sucursal</span>
          <ion-select placeholder="Selecciona sucursales" [(ngModel)]="sucursalSeleccionada"
            interface="popover" fill="outline" class="w-[150px] flex-none" toggleIcon="chevron-down"
            expandedIcon="chevron-up">
            @for(suc of sucursales; track $index){<ion-select-option [value]="suc.id">{{ suc.nombre }}</ion-select-option>}
          </ion-select>
        </div>

      </div>
    </div>
    
    <div class="contenedor-btn !py-[5px]">
      <ion-button class="w-fit" (click)="buscarDoc()">Buscar</ion-button>
    </div>
    
    <div class="flex flex-col h-full">
      <div class="cont-title mb-1.5">
        <span>Lista de documentos</span>
      </div>

      <!-- Indicadores -->
      <div class="cont-cards"> 

        <div class="card">
          <div class="contenido">
            <span class="title">Total de documentos</span>
            @if(loaderActivo()){
              <ion-skeleton-text [animated]="true" style="width: 30px; height: 16px;"></ion-skeleton-text>
            }@else {
              <span class="cantidad">{{ totalDoc }}</span>
            }
          </div>
          <div class="icon">
            <fa-icon [icon]="fasFileLines"></fa-icon>
          </div>
        </div>

        <div class="card">
          <div class="contenido">
            <span class="title">Total pendiente por pagar</span>
            @if(loaderActivo()){
              <ion-skeleton-text [animated]="true" style="width: 30px; height: 16px;"></ion-skeleton-text>
            }@else {
              <span class="cantidad">S/ {{ saldoP }}</span>
            }
          </div>
          <div class="icon">
            <fa-icon [icon]="fasMoneyBill"></fa-icon>
          </div>
        </div>

        <div class="card">
          <div class="contenido">
            <span class="title">Documentos conciliados o compensados (%)</span>
            @if(loaderActivo()){
              <ion-skeleton-text [animated]="true" style="width: 30px; height: 16px;"></ion-skeleton-text>
            }@else {
              <span class="cantidad">{{ conciliados }}%</span>
            }
            </div>
          <div class="icon">
            <fa-icon [icon]="fasFileAlt"></fa-icon>
          </div>
        </div>
      </div>

      <div class="contenedor-filtros !pt-0">
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar por tipo de documento o número de documento" class="w-full"
            style="--padding-start:30px" [disabled]="!docBuscados"></ion-input>
        </div>
        <div class="filtros-absolutos">
          <ion-button class="!w-[115px] flex-none" fill="outline" id="proveedor" [disabled]="!docBuscados">
            <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
            <span>Exportar</span>
            <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
          </ion-button>
          <ion-popover trigger="proveedor" triggerAction="click" [dismissOnSelect]="true"
            class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
            <ng-template>
              <ion-item lines="none" [button]="true">Exportar Excel</ion-item>
              <ion-item lines="none" [button]="true">Exportar PDF</ion-item>
            </ng-template>
          </ion-popover>
          <ion-button class="w-fit" color="medium" fill="outline" [disabled]="!docBuscados">
            <fa-icon [icon]="fasPrint" class="mr-1 text-black"></fa-icon>
            <span class="text-black">Imprimir</span>
          </ion-button>
          <ion-button class="w-fit" color="medium" fill="outline" [disabled]="!docBuscados"  (click)="onBtReset()">
            <fa-icon [icon]="fasArrowsRotate" class="mr-1 text-black"></fa-icon>
            <span class="text-black">Actualizar datos</span>
          </ion-button>
        </div>
      </div>

      <div class="flex h-full relative min-h-52" [appLoader]="loaderActivo()">
        <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
        <ag-grid-angular 
          style="width: 100%; height: 100%;" 
          class="ag-theme-alpine"
          [rowData]="rowData" 
          [columnDefs]="colDefs" 
          [columnTypes]="columnTypes"
          [pagination]="true"
          [rowSelection]="'single'"
          [localeText]="localeText"
          [autoGroupColumnDef]="autoGroupColumnDef"
          [treeData]="treeData"
          [context]="context" 
          [getDataPath]="getDataPath"
          [rowClassRules]="rowClassRules"
          [groupDefaultExpanded]="groupDefaultExpanded"
          [rowHeight]="20"
          [headerHeight]="24"
          [paginationPageSize]="20"
          (gridReady)="onGridReady($event)"/>
      </div>
    </div>
  </div>
</div>