<div 
  class="flex items-center gap-2 border h-7 border-text-5 rounded-sm px-2"
  [ngClass]="{
    'bg-light': hasFile,
    'cursor-default opacity-50': disabled || isDisabled}"
    [class]="width"
  >
  
  <input 
    type="file" 
    #fileInput 
    (change)="onFileSelected($event)" 
    class="hidden" 
    [accept]="accept"
    [disabled]="disabled || isDisabled">
  
  <ng-container *ngIf="hasFile; else noFile">
    <span class="text-xxs flex-1 line-clamp-1" [title]="fileName">{{ fileName }}</span>
    <fa-icon 
      [icon]="farCircleXmark" 
      class="text-danger cursor-pointer text-xs hover:text-red-700 transition-colors" 
      (click)="removeFile()"
      *ngIf="!disabled && !isDisabled">
    </fa-icon>
  </ng-container>
  
  <ng-template #noFile>
    <span 
      class="text-xxs flex-1 line-clamp-1 underline"
      [ngClass]="(disabled || isDisabled) ? 'text-gray-400' : 'text-primary cursor-pointer'"
      (click)="openFileDialog()">
      {{ placeholder }}
    </span>
  </ng-template>
</div>
