<div
  class="modal-content sigre-metoxi-modal border-0"
  [class.sigre-metoxi-modal--sm]="size === 'sm'"
  [class.sigre-metoxi-modal--md]="size === 'md'"
  [class.sigre-metoxi-modal--lg]="size === 'lg'"
  [class.sigre-metoxi-modal--xl]="size === 'xl'">
  <div class="modal-header border-bottom">
    <h5 class="modal-title fw-bold mb-0">{{ titulo }}</h5>
    <div class="sigre-metoxi-modal__header-actions">
      <ng-content select="[sigreMetoxiModalHeaderActions]" />
    </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Cerrar"
      (click)="onCerrar()"
      [disabled]="cerrarDeshabilitado"></button>
  </div>

  <div class="modal-body" [class.modal-body-scroll]="cuerpoScroll">
    <ng-content />
  </div>

  @if (mostrarPie) {
    <div class="modal-footer border-top bg-light">
      <ng-content select="[sigreMetoxiModalFooter]" />
    </div>
  }
</div>
