@import '../admin-page-common';

.campo-con-error {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.texto-error-campo {
  margin-top: 4px;
  margin-left: 16px;
  font-size: 12px;
  color: #ef4444;
}
