<div class="contenedor-principal-col">
  <div class="cont-title">
    <span>Reporte de compras recibidas sin almacenar los productos</span>
  </div>
  <div class="contenedor-filtros">
    <div class="buscador">
      <fa-icon [icon]="farSearch" class=" absolute left-2.5 top-1.5 text-xxs text-[#878787] z-40"></fa-icon>
      <ion-input fill="outline" placeholder="BBuscar por n° de orden, razón social o usuario receptor" class="w-full" style="--padding-start:30px"></ion-input>
    </div>
    <div class="flex flex-row gap-2">
      <div class="flex flex-row">
        <ion-select placeholder="De recepción" toggleIcon="chevron-down" value="0" expandedIcon="chevron-up" interface="popover" fill="outline" class="w-[110px] -mr-0.5">
          <ion-select-option value="0">De emisión</ion-select-option>
          <ion-select-option value="1">De recepción</ion-select-option>
        </ion-select>
        <app-base-calendar-new class="flex-none" mode="range" [initialStartDate]="startDate"
              [initialEndDate]="endDate" [minDate]="minDate" [maxDate]="maxDate" position="right"
              (dateRangeSelected)="filtrarPorFechas($event)">
            </app-base-calendar-new>
      </div>
    </div>
      <ion-button class="w-[115px] flex-none" id="operacionespagosreci" fill="outline">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon> 
        </ion-button>
        <ion-popover trigger="operacionespagosreci" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos dezplegableAcciones2" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false" (click)="exportarPdf()">Exportar PDF</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false" (click)="exportarCsv()">Exportar Excel</ion-item>
          </ng-template>
        </ion-popover>
  </div>
  <div class="contenedor-primera-tabla" [appLoader]="loading()">
    <fa-icon [icon]="faRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
    <ag-grid-angular 
      style="width: 100%; height: 100%;" 
      class=""
      [rowData]="rowData" 
      [columnDefs]="colDefs" 
      [columnTypes]="columnTypes"
      [pagination]="true"
      [rowHeight]="20"
      [localeText]="localeText"
      [headerHeight]="24"
      [paginationPageSize]="20"
      (gridReady)="onGridReady($event)"
    />
  </div>
</div>
