<div class="flex flex-col bg-[#e7e7e7] p-1.5 gap-0.5 w-[410px]">
  <div class="flex justify-between items-center w-full py-1">
    <div class="flex items-center gap-1 ">
      <span>Adjuntar observación</span>
    </div>
    <fa-icon [icon]="farXmark" class="text-sm cursor-pointer" (click)="cancelar()"></fa-icon>
  </div>
  <div class="flex flex-col bg-white p-2.5 gap-2"> 
      <div class="flex flex-col gap-2.5">
      
        <div class="info-message">
            <fa-icon [icon]="farCircleInfo" class="text-xs"></fa-icon>
            <span>Registra una nota para este movimiento.</span>
        </div>

        <ion-textarea
        fill="outline"
        [placeholder]="placeholder"
        [rows]="6"
        [(ngModel)]="observacion"
        [readonly]="readonly"
        class="observacion-textarea">
        </ion-textarea>
      </div>
    <div class="flex justify-end flex-row gap-3">
      <ion-button color="medium" fill="outline" class="w-fit" (click)="cancelar()">Cancelar</ion-button>
        <ion-button 
        (click)="aplicar()"
        [disabled]="readonly">
        Aplicar
        </ion-button>
    </div>
  </div>
</div>
