<div class="relative">
  <div class="flex items-center justify-between px-2 h-[28px] border border-[#E4E4E4] rounded-sm cursor-pointer bg-white min-w-[125px] input-responsive"
    [ngClass]="{'!cursor-default border-[#e5e7eb] opacity-30 pointer-events-none': disabled}"
    (click)="toggleDropdown()">
    <span [ngClass]="{'text-text-25 line-clamp-1': getDisplayText() == placeholder }">{{ getDisplayText() }}</span>
    <fa-icon [icon]="fasChevronDown" class="text-text-3"></fa-icon>
  </div>

  @if (showDropdown) {
    <div [ngClass]="{
           'left-0': position === 'left',
           'right-0': position === 'right',
           'left-1/2 -translate-x-1/2': position === 'center'
         }"  class="absolute top-full mt-1 rounded shadow-2xl z-50 p-1.5 bg-[#E7E7E7]">
      <!-- Header con navegación de año -->
      <div class="flex items-center justify-center gap-16 mb-2">
        <button 
          type="button"
          (click)="previousYear()">
          <fa-icon [icon]="fasChevronLeft" class="text-sm"></fa-icon>
        </button>
        <span class="text-xs font-bold">{{ currentYear }}</span>
        <button 
          type="button"
          (click)="nextYear()">
          <fa-icon [icon]="fasChevronRight" class="text-sm"></fa-icon>
        </button>
      </div>

      <!-- Grid de meses - 4 columnas x 3 filas -->
      <div class="grid grid-cols-4 gap-2 w-[224px]">
        @for (month of months; track month.value) {
          <button
            type="button"
            class="h-7 text-xs font-bold w-[50px]"
            [ngClass]="{
              'bg-primary text-white': isMonthSelected(month.value),
              'bg-white': !isMonthSelected(month.value)
            }"
            (click)="selectMonth(month.value)">
            {{ month.abbr }}
          </button>
        }
      </div>
    </div>
  }

  @if (showDropdown) {
    <div 
      class="fixed inset-0 z-40" 
      (click)="closeDropdown()">
    </div>
  }
</div>
