<div class="contenedor-filtros-tabla">
  <div class="sub-content-filtros-tabla">
    <div class="cont-title">
      <span>Consultar saldos de caja y banco (Seleccione al menos un filtro)</span>
    </div>
    <div class="contenido-filtros-tabla">
      <div class="filtros-responsive">
        <div class="form-column2">
          <div class="contenido-formulario">
            <span class="label">Entidad financiera</span>
            <ion-select placeholder="Selecciona una entidad" interface="popover" fill="outline"
              class="w-[230px]" toggleIcon="chevron-down" expandedIcon="chevron-up"
              (ionChange)="onFilterChange()">
              @for (entidad of entidadesFinancierasList; track entidad.value) {
                <ion-select-option [value]="entidad.value">{{ entidad.label }}</ion-select-option>
              }
            </ion-select>
          </div>
          <div class="contenido-formulario">
            <span class="label">Tipo de cuenta</span>
             <ion-select placeholder="Selecciona un tipo de cuenta" interface="popover" fill="outline"
              class="w-[210px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up"
              (ionChange)="onFilterChange()">
              @for (tipo of tiposCuentaList; track tipo.value) {
                <ion-select-option [value]="tipo.value">{{ tipo.label }}</ion-select-option>
              }
            </ion-select>
          </div>
          <div class="contenido-formulario">
            <span class="label">Moneda</span>
            <ion-select placeholder="Selecciona una moneda" interface="popover" fill="outline"
              class="w-[200px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up"
              (ionChange)="onFilterChange()">
              @for (moneda of monedasList; track moneda.value) {
                <ion-select-option [value]="moneda.value">{{ moneda.label }}</ion-select-option>
              }
            </ion-select>
          </div>
          <div class="contenido-formulario">
            <span class="label">Sucursal</span>
             <app-autocomplete [items]="sucursalList" [displayKey]="'nombre'" [valueKey]="'id'"
            [placeholder]="'Selecciona un tipo'" [width]="'w-full max-w-[200px]'"
            (itemSelected)="onSucursalSelected($event)">
          </app-autocomplete>
          </div>

          <div class="contenido-formulario">
            <span class="label">Estado</span>
            <ion-select placeholder="Selecciona un estado" interface="popover" fill="outline" class="w-[82px] flex-none"
              toggleIcon="chevron-down" expandedIcon="chevron-up" (ionChange)="onFilterChange()" value="activo">
              @for (estado of estadosList; track estado.value) {
                <ion-select-option [value]="estado.value">{{ estado.label }}</ion-select-option>
              }
            </ion-select>
          </div>
        </div>
      </div>
      <!-- Botones de acción -->
      <div class="flex items-center gap-3 w-full justify-end">
        <ion-button class="w-[115px]" fill="outline" id="consultascajabanco" [disabled]="!canExport">
            <fa-icon [icon]="fasDownload" class="mr-1 text-text-85"></fa-icon>
            <span class="text-text-85">Exportar</span>
            <fa-icon class="ml-1 text-text-85" [icon]="fasAngleDown"></fa-icon>
          </ion-button>
          <ion-popover trigger="consultascajabanco" triggerAction="click" [dismissOnSelect]="true" class="popoverCustomButtonUbicacionActivos " [showBackdrop]="false">
            <ng-template>
              <ion-item lines="none" [button]="true">Exportar Excel</ion-item>
              <ion-item lines="none" [button]="true">Exportar PDF</ion-item>
            </ng-template>
          </ion-popover>
        <ion-button class="w-fit" (click)="buscar()" [disabled]="!hasFilter">
          <span class="font-normal">Buscar</span>
        </ion-button>
      </div>
    </div>
    <div class="cont-title">
      <span>Detalle de Saldo de Cajas y Bancos</span>
    </div>
    
    <!-- Contenedores de totales con iconos -->
      <div class="cont-cards !p-1.5">
        <div class="card">
          <div class="contenido">
            <span class="title">Total saldo contable</span>
            @if(isLoading()){
              <ion-skeleton-text [animated]="true" style="width: 30px; height: 16px;"></ion-skeleton-text>
            }@else {
              <span class="cantidad">S/ {{ totalSaldoContable | number:'1.2-2' }}</span>
            }
          </div>
          <div class="icon">
            <fa-icon [icon]="fasDisplayChartUpCircleDollar"></fa-icon>
          </div>
        </div>
        <div class="card">
          <div class="contenido">
            <span class="title">Total saldo disponible</span>
            @if(isLoading()){
              <ion-skeleton-text [animated]="true" style="width: 30px; height: 16px;"></ion-skeleton-text>
            }@else {
              <span class="cantidad">S/ {{ totalSaldoDisponible | number:'1.2-2' }}</span>
            }
          </div>
          <div class="icon">
            <fa-icon [icon]="farHandHoldingDollar"></fa-icon>
          </div>
        </div>
    </div>

    <!-- Tabla de resultados -->
    <div class="flex h-full relative" [appLoader]="loaderActivo()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular style="width: 100%; height: 100%;" class="" [rowData]="rowData" [columnDefs]="colDefs"
        [columnTypes]="columnTypes" [gridOptions]="gridOptions" [pagination]="true" [localeText]="localeText"
        [rowHeight]="20" [headerHeight]="24" [paginationPageSize]="20" [defaultColDef]="defaultColDef"
        (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)" />
    </div>
  </div>
</div>
