<div class="contenedor-formulario" [formGroup]="formulario">
    <div class="contenido-formulario">
        <span class="label">Destino <span class="text-danger">*</span></span>
        <ion-input fill="outline" formControlName="destino" [ngClass]="'w-[163px] 2xl:w-[200px]'"></ion-input>
    </div>
    <div class="contenido-formulario">
        <span class="label">Solicitante<span class="text-danger">*</span></span>
        <ion-input fill="outline" formControlName="solicitante" [ngClass]="'w-[163px] 2xl:w-[200px]'"></ion-input>
    </div>
    <div class="contenido-formulario">
        <span class="label">Fecha de programada <span class="text-danger">*</span></span>
        <ion-input fill="outline" formControlName="fechaProgramada" [ngClass]="'w-[163px] 2xl:w-[200px]'"></ion-input>
    </div>
    <div class="contenido-formulario !items-start">
        <span class="label">Observaciones</span>
        <ion-textarea fill="outline" formControlName="observaciones" [ngClass]="'w-[163px] 2xl:w-[200px]'"></ion-textarea>
    </div>
    <div class="contenido-formulario">
        <span class="label">Responsable de aprob. <span class="text-danger">*</span></span>
        <ion-input fill="outline" formControlName="aprobacion" [ngClass]="'w-[163px] 2xl:w-[200px]'"></ion-input>
    </div>
    <div class="contenido-formulario">
        <span class="label">Fecha de aprobación <span class="text-danger">*</span></span>
        <ion-input fill="outline" formControlName="fechaAprobacion" [ngClass]="'w-[163px] 2xl:w-[200px]'"></ion-input>
    </div>
    <div class="contenido-formulario">
        <span class="label">Responsable de ejec. <span class="text-danger">*</span></span>
        <ion-input fill="outline" formControlName="ejecucion" [ngClass]="'w-[163px] 2xl:w-[200px]'"></ion-input>
    </div>
    <div class="contenido-formulario">
        <span class="label">Fecha de ejec. <span class="text-danger">*</span></span>
        <ion-input fill="outline" formControlName="fechaEjecucion" [ngClass]="'w-[163px] 2xl:w-[200px]'"></ion-input>
    </div>
</div>