.date-picker-container{
    border: 1px solid #E4E4E4;
    border-radius: 2px;
}
.input-calendar{
    // Responsive font size
    @media (max-width: 1279px) {
        font-size: 10px;
        fa-icon{
            font-size: 10px;
        }
    }
    
    @media (min-width: 1280px) {
        font-size: 12px;
        fa-icon{
            font-size: 12px;
        }
    }
}
.fondo-calendar{
    @apply bg-[#E7E7E7] rounded-sm p-1.5 flex;
}