<div class="contenedor-modal">
  <div class="header">
    <div class="flex items-center gap-1">
      <fa-icon [icon]="farCirclePlus" class="text-xs text-primary"></fa-icon>
      <span class="text-sm font-bold">Agregar una incidencia</span>
    </div>
    <fa-icon [icon]="farXmark" class="text-sm cursor-pointer" (click)="dismissModal()"></fa-icon>
  </div>
  
  <div class="cont-modal">
    <form [formGroup]="incidenciaForm">
      <div class="contenedor-formulario !p-0">
        <div class="contenido-formulario">
          <span class="label">Fecha de incidencia <span class="text-danger">*</span></span>
          <app-base-calendar-new
            class="flex-none"
            mode="single"
            [initialDate]="selectedDate"
            [minDate]="minDate"
            [maxDate]="maxDate"
            position="center"
            (dateSelected)="guardarFecha($event)">
          </app-base-calendar-new>
        </div>

        <div class="contenido-formulario">
          <span class="label">Tipo de Incidencia <span class="text-danger">*</span></span>
          <ion-select 
            placeholder="Daño"
            toggleIcon="chevron-down"
            expandedIcon="chevron-up"
            formControlName="tipoIncidencia"
            interface="popover" 
            fill="outline" 
            class="w-fit">
            <ion-select-option value="Daño">Daño</ion-select-option>
            <ion-select-option value="Siniestro">Siniestro</ion-select-option>
            <ion-select-option value="Pérdida">Pérdida</ion-select-option>
            <ion-select-option value="Otro">Otro</ion-select-option>
          </ion-select>
        </div>

        <div class="contenido-formulario">
          <span class="label">Descripción <span class="text-danger">*</span></span>
          <ion-input 
            fill="outline" 
            formControlName="descripcion"
            placeholder="Fuga de gas en la válvula principal."
            class="w-48">
          </ion-input>
        </div>

        <div class="contenido-formulario">
          <span class="label">Acción correctiva <span class="text-danger">*</span></span>
          <ion-input 
            fill="outline" 
            formControlName="accionCorrectiva"
            placeholder="Se reemplazó la válvula."
            class="w-48">
          </ion-input>
        </div>

        <div class="contenido-formulario">
          <span class="label">Costo asociado <span class="text-danger">*</span></span>
          <ion-input 
            fill="outline" 
            type="number"
            formControlName="costoAsociado"
            placeholder="S/100"
            class="w-fit">
          </ion-input>
        </div>

        <div class="contenido-formulario">
          <span class="label">Estado <span class="text-danger">*</span></span>
          <ion-select 
            placeholder="Abierto"
            formControlName="estado"
            toggleIcon="chevron-down"
            expandedIcon="chevron-up"
            interface="popover" 
            fill="outline" 
            class="w-fit">
            <ion-select-option value="Abierto">Abierto</ion-select-option>
            <ion-select-option value="Cerrado">Cerrado</ion-select-option>
          </ion-select>
        </div>
      </div>
    </form>

    <div class="contenedor-btn !p-0">
      <ion-button class="w-[171px]" (click)="guardarIncidencia()">Agregar incidencia</ion-button>
      <ion-button class="w-[108px]" color="medium" fill="outline" (click)="dismissModal()">Cancelar</ion-button>
    </div>
  </div>
</div>
