<div class="contenedor-principal">
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span>Catálogo de retenciones fiscales (Seleciona una retención para visualizarlo)</span>
    </div>

    <div class="contenedor-filtros">
      <div class="buscador" *ngIf="mostrarBuscadorPrincipal">
        <fa-icon [icon]="farSearch"></fa-icon>
        <ion-input fill="outline" placeholder="Buscar retención por código o descripción" class="w-full"
          style="--padding-start:30px"></ion-input>
      </div>

      <div class="filtros-absolutos">
        <ion-button class="w-[115px] text-text-85" fill="outline" id="retencion">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="retencion" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar PDF</ion-item>
          </ng-template>
        </ion-popover>
      </div>
      <ion-button class="w-fit whitespace-nowrap" [disabled]="modoCreacion" (click)="nuevaRetencion()">
        <fa-icon [icon]="fasCirclePlus" class="mr-1"></fa-icon>
        <span>Nueva retención</span>
      </ion-button>
    </div>

    <div class="h-full relative" [appLoader]="isLoading()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular style="width: 100%; height: 100%;" class="" [rowData]="rowData" [columnDefs]="colDefs"
        [pagination]="true" [rowSelection]="'single'" [rowHeight]="20" [localeText]="localeText" [headerHeight]="24"
        [paginationPageSize]="20" [suppressLoadingOverlay]="true" [suppressRowClickSelection]="true" (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)" />
    </div>
  </div>

  <div class="panel-derecho" [appLoader]="isLoading() && !isResetting">
    <div class="cont-title">
      <span>{{ modoCreacion ? 'Nueva retención' : 'Retención: ' + (filaSeleccionada?.retencion_codigo || '') }}</span>
    </div>

    @if(filaSeleccionada){
    <div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook"></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>
    }

    <div class="flex flex-col overflow-visible">
      <form action="" [formGroup]="RetencionForm">
        <div class="contenedor-formulario">
          <div class="contenido-formulario !items-start">
            <span class="label">Descripción<span class="text-danger">*</span></span>
            <ion-textarea fill="outline" formControlName="descripcion" class="w-[150px]" placeholder="Escribe aquí..."></ion-textarea>
          </div>

          <div class="contenido-formulario">
            <span class="label">Tipo de porcentaje<span class="text-danger">*</span></span>
            <ion-select fill="outline" placeholder="Selecciona un tipo" toggleIcon="chevron-down"
              expandedIcon="chevron-up" interface="popover" class="w-[135px]" formControlName="porcentajeSelect"
              name="porcentajeSeleccionado">
              @for(porcentaje of porcentajes; track porcentaje){<ion-select-option [value]="porcentaje">{{ porcentaje
                }}</ion-select-option>}
            </ion-select>
          </div>

          @if(tipoPortentajeSeleccionado === 'Fijo') {
          <div class="contenido-formulario">
            <span class="label">Porcentaje<span class="text-danger">*</span></span>
            <ion-input fill="outline" class="w-16" formControlName="porcentaje" type="number" min="0" max="100"
              (input)="limitarPorcentaje($event)">
              <div slot="end" class="!mx-2 font-semibold">%</div>
            </ion-input>
          </div>
          }

          @if(tipoPortentajeSeleccionado === 'Variable') {
          <div class="contenido-formulario">
            <span class="label">Porcentaje mínimo<span class="text-danger">*</span></span>
            <ion-input fill="outline" class="w-16" formControlName="porminimo" type="number" min="0" max="100"
              (input)="limitarPorcentaje($event)">
              <div slot="end" class="!mx-2 font-semibold">%</div>
            </ion-input>
          </div>

          <div class="contenido-formulario">
            <span class="label">Porcentaje máximo<span class="text-danger">*</span></span>
            <ion-input fill="outline" class="w-16" formControlName="pormaximo" type="number" min="0" max="100"
              (input)="limitarPorcentaje($event)">
              <div slot="end" class="!mx-2 font-semibold">%</div>
            </ion-input>
          </div>
          }

          <div class="contenido-formulario">
            <span class="label">Cta contable de cargo <span class="text-danger">*</span></span>
            <app-autocomplete [items]="cuentascargo" displayKey="nombre" valueKey="nombre"
              placeholder="Selecciona una cuenta" (itemSelected)="onCCargoSeleccionado($event)"
              formControlName="cuentaCargo">
            </app-autocomplete>
          </div>

          <div class="contenido-formulario">
            <span class="label">Cta contable de abono <span class="text-danger">*</span></span>
            <app-autocomplete [items]="cuentasabono" displayKey="nombre" valueKey="nombre"
              placeholder="Selecciona una cuenta" (itemSelected)="onCAbonoSeleccionado($event)"
              formControlName="cuentaAbono">
            </app-autocomplete>
          </div>

          <div class="contenido-formulario">
            <span class="label">Aplicable a<span class="text-danger">*</span></span>
            <app-autocomplete-multi formControlName="aplicable" [mostrarBuscador]="false" [items]="aplicables" displayKey="nombre"
              valueKey="id" placeholder="Selecciona una o varias opciones">
            </app-autocomplete-multi>
          </div>

          <div class="contenido-formulario">
            <span class="label">Estado</span>
            <ion-select fill="outline" placeholder="Selecciona un tipo" toggleIcon="chevron-down"
              expandedIcon="chevron-up" interface="popover" class="w-[82px]" formControlName="estadoSelect"
              name="estadoSeleccionado">
              @for(estado of estados; track estado){<ion-select-option [value]="estado">{{ estado
                }}</ion-select-option>}
            </ion-select>
          </div>
        </div>


      </form>
      <div class="contenedor-btn">
        <ion-button class="w-90" (click)="registrarRetencion()">{{ camponuevo ? 'Guardar' : 'Registrar' }}</ion-button>
        <ion-button color="medium" fill="outline" (click)="nuevaRetencion()">
          Cancelar
        </ion-button>
      </div>

    </div>
  </div>



</div>