<div class="contenedor-principal">
  @if(!mostrarTabla){
    <div class="btn-mostrartabla" (click)="togglePanelLateral()">
      <fa-icon [icon]="fasChevronsRight"></fa-icon>
    </div>
  }

  @if(mostrarTabla){
    <div class="panel-izquierdo">
      <div class="cont-title">
        <span>Lista de asientos de siniestro y recupero (Selecciona un asiento de tu lista para visualizarlo) </span>
        <div class="btn-mostrarform" (click)="togglePanelLateral()">
          <fa-icon [icon]="fasChevronsLeft"></fa-icon>
        </div>
      </div>
      <div class="contenedor-filtros">
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar por código o póliza" class="w-full"
            style="--padding-start:30px"></ion-input>
        </div>
        
        <div class="filtros-absolutos">
          <app-base-calendar-new class="flex-none" mode="range" [initialStartDate]="startDate" [initialEndDate]="endDate"
            [minDate]="minDate" [maxDate]="maxDate" position="left" (dateRangeSelected)="filtrarPorFechas($event)">
          </app-base-calendar-new>

          <ion-button class="w-[115px] text-text-85" fill="outline" id="reportessiniestro">
            <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
            <span>Exportar</span>
            <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
          </ion-button>
          <ion-popover trigger="reportessiniestro" triggerAction="click" [dismissOnSelect]="true"
            class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
            <ng-template>
              <ion-item lines="none" [button]="true" [detail]="false">Exportar Excel</ion-item>
              <ion-item lines="none" [button]="true" [detail]="false">Exportar PDF</ion-item>
            </ng-template>
          </ion-popover>
          <ion-button class="w-fit flex-none" (click)="nuevoSiniestro()" [disabled]="!filaSeleccionada">
            <fa-icon [icon]="fasCirclePlus" class="mr-1"></fa-icon>
            <span class="font-normal">Nuevo Siniestro</span>
          </ion-button>
        </div>
      </div>
      <div class="h-full relative" [appLoader]="facade.loadingObtener()">
        <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
        <ag-grid-angular style="width: 100%; height: 100%;" class="" [rowData]="rowData" [columnDefs]="colDefs"
          [columnTypes]="columnTypes" [pagination]="true" [rowHeight]="20" [localeText]="localeText" [headerHeight]="24"
          [paginationPageSize]="20" [rowSelection]="'single'" [defaultColDef]="defaultColDef" 
          [context]="{componentParent: this}"
          (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)" [suppressLoadingOverlay]="true" />
      </div>
    </div>
  }

  <div class="panel-derecho" [ngClass]="{'!w-full flex-1': !mostrarTabla}" [appLoader]="facade.loadingObtener()">
    <div class="cont-title">
      <span>{{ filaSeleccionada ? 'Información del siniestro: ' + filaSeleccionada.gas_cod_siniestro : 'Información del siniestro' }}</span>
    </div>
    <div class="flex flex-col w-full">
      @if (filaSeleccionada) { 
        <div class="cont-actualizaciones">
          <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
            <fa-icon [icon]="farBook" ></fa-icon>
            <span class="text-actualizaciones">Ver últimas actualizaciones</span>
          </div>
        </div>
      }
      <!-- Tabs -->
      <div class="cont-tabs" [ngClass]="{'w-full': mostrarTabla}">
        @if(mostrarTabla){<div class="btn-scroll" (click)="scrollLeft()">
          <fa-icon [icon]="fasChevronLeft"></fa-icon>
        </div>}
        <div class="flex overflow-hidden">
          <ion-segment [ngModel]="tabSeleccionado" (ngModelChange)="onTabChange($event)" [ngModelOptions]="{standalone: true}" mode="md" scrollable
            class="company-tabs" #scrollBox>
            @for(tab of tabs; track tab){<ion-segment-button [value]="tab.value" class="boton-subsubtitulo">
              <ion-label>{{ tab.label }}</ion-label>
            </ion-segment-button>}
          </ion-segment>
        </div>
        @if(mostrarTabla){<div class="btn-scroll" (click)="scrollRight()">
          <fa-icon [icon]="fasChevronRight"></fa-icon>
        </div>}
      </div>
      <div class="contenedor-formulario">
        @if(tabSeleccionado==='registro'){
        <app-generacionsiniestro-tab-registro
          [mostrartabla]="mostrarTabla"
          [soloVista]="soloVista"
          [formGroup]="registroForm"></app-generacionsiniestro-tab-registro>}
        @if(tabSeleccionado==='evaluacion'){
        <app-generacionsiniestro-tab-evaluacion
          [mostrartabla]="mostrarTabla"
          [soloVista]="soloVista"
          [formGroup]="evaluacionForm"></app-generacionsiniestro-tab-evaluacion>}
        @if(tabSeleccionado==='reclamo'){
        <app-generacionsiniestro-tab-reclamo
          [mostrartabla]="mostrarTabla"
          [soloVista]="soloVista"
          [formGroup]="reclamoForm"></app-generacionsiniestro-tab-reclamo>}
        @if(tabSeleccionado==='recupero'){
        <app-generacionsiniestro-tab-gestion
          [mostrartabla]="mostrarTabla"
          [soloVista]="soloVista"
          [formGroup]="recuperoForm"></app-generacionsiniestro-tab-gestion>}
      </div>
    </div>
    @if(tabSeleccionado !== 'reclamo' && tabSeleccionado !== 'recupero'){
    <div class="flex flex-col">
      <div class="cont-title">
        <span>Lista de activos fijos</span>
      </div>
      @if((tabSeleccionado == 'registro' && filaSeleccionada?.gas_estado_final_activo == 'Pendiente') || !filaSeleccionada ){<div class="contenedor-filtros">
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <app-autocomplete [items]="buscarActivo" displayKey="nombre" placeholder="Buscar por código o descripción para agregarlo a la tabla"
            width="w-full" (itemSelected)="agregarActivo($event)">
          </app-autocomplete>
        </div>
      </div>}
      <div class="min-h-[200px] flex-1">
        <ag-grid-angular style="width: 100%; height: 100%;" class="" [rowData]="rowDataDetalle"
          [columnDefs]="colDefsDetalle" [columnTypes]="columnTypes" [rowHeight]="20" [headerHeight]="24"
          [localeText]="localeText" [paginationPageSize]="20" [gridOptions]="gridOptions"
          [defaultColDef]="defaultColDef" (gridReady)="onGridReadyDetalle($event)" />
      </div>
    </div>}
    <div class="contenedor-btn">
        <ion-button class="w-fit" (click)="registrarSiniestro()" [disabled]="filaSeleccionada?.gas_estado_final_activo == 'Baja' || filaSeleccionada?.gas_estado_final_activo == 'Reparado'">
          <span class="text-xs">{{ textoBotonGuardar }}</span>
        </ion-button>
        <ion-button class="w-fit" fill="outline" color="medium" (click)="nuevoSiniestro()"> Cancelar </ion-button>
    </div>
  </div>
</div>