<div class="contenedor-principal">
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span>Lista de monedas (Selecciona una moneda para visualizarla o editarla)</span>
    </div>

    <div class="contenedor-filtros">
      <div class="filtros-responsive">
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar moneda por nombre o símbolo" class="w-full"
            style="--padding-start:30px"></ion-input>
        </div>
      </div>
      
      <!-- calendario -->
      <app-base-calendar-new class="flex-none" mode="range" [initialStartDate]="startDate" [initialEndDate]="endDate"
        [minDate]="minDate" [maxDate]="maxDate" position="center" (dateRangeSelected)="filtrarPorFechas($event)">
      </app-base-calendar-new>

      <div class="filtros-absolutos">
        <ion-button class="w-[115px] text-text-85" fill="outline" id="monedas">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="monedas" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar PDF</ion-item>
          </ng-template>
        </ion-popover>
      </div>
      <ion-button class="w-fit whitespace-nowrap" [disabled]="modoCreacion" (click)="nuevaMoneda()">
        <fa-icon [icon]="fasCirclePlus" class="mr-1"></fa-icon>
        <span>Nueva moneda</span>
      </ion-button>
    </div>

    <div class="h-full relative" [appLoader]="isLoading()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular style="width: 100%; height: 100%;" class="" [rowData]="rowData" [columnDefs]="colDefs"
        [pagination]="true" [rowSelection]="'single'" [rowHeight]="20" [localeText]="localeText" [headerHeight]="24"
        [paginationPageSize]="20" [suppressLoadingOverlay]="true" [suppressRowClickSelection]="true" (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)" />
    </div>

  </div>


  <div class="panel-derecho" [appLoader]="isLoading() && !isResetting">
    <div class="cont-title">
      <span>{{ modoCreacion ? 'Nueva moneda' : 'Moneda: ' + (filaSeleccionada?.moneda_nombre || '') }}</span>
    </div>

    @if(filaSeleccionada){
    <div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook"></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>
    }

    <div class="flex flex-col overflow-visible">
      <form action="" [formGroup]="MonedasForm">
        <div class="contenedor-formulario">
          <div class="contenido-formulario">
            <span class="label">Nombre<span class="text-danger">*</span></span>
            <ion-input formControlName="nombre" fill="outline" class="w-[163px]" placeholder="Ingrese el nombre"></ion-input>
          </div>

          <div class="contenido-formulario">
            <span class="label">Símbolo<span class="text-danger">*</span></span>
            <ion-input formControlName="simbolo" fill="outline" class="w-[163px]" maxlength="2" placeholder="Ejm: S/"></ion-input>
            @if(MonedasForm.get('simbolo')?.hasError('soloNumeros')) {
            }
          </div>

          <div class="contenido-formulario">
            <span class="label">Precisión decimal<span class="text-danger">*</span></span>
            <ion-input formControlName="decimal" type="number" fill="outline" class="w-[82px]" placeholder="Ejm: 1.7"></ion-input>
          </div>

          @if(!existeMonedaBase) {
          <div class="contenido-formulario">
            <ion-checkbox formControlName="monedabase" [disabled]="deshabilitarCheckbox"></ion-checkbox>
            <label class="text-xxs">Moneda base</label>
          </div>
          }

          <div class="contenido-formulario">
            <span class="label">Estado</span>
            @if(modoCreacion) {
              <ion-input formControlName="estado" fill="outline" class="w-[82px]"></ion-input>
            } 
            
            @else if(filaSeleccionada?.moneda_monedabase) {
              <ion-input formControlName="estado" fill="outline" class="w-[82px]" readonly></ion-input>
            } 
            @else {
              <ion-select fill="outline" placeholder="Selecciona un tipo" toggleIcon="chevron-down"
                expandedIcon="chevron-up" interface="popover" class="w-[82px]" formControlName="estadoSelect"
                name="estadoSeleccionado">
                @for(estado of estados; track estado){<ion-select-option [value]="estado">{{ estado
                  }}</ion-select-option>}
              </ion-select>
            }
          </div>
        </div>
      </form>

      <div class="contenedor-btn">
        <ion-button class="w-90" (click)="registrarMoneda()">{{ camponuevo ? 'Guardar' : 'Registrar' }}</ion-button>
        <ion-button color="medium" fill="outline" (click)="nuevaMoneda()">
          Cancelar
        </ion-button>
      </div>

    </div>
  </div>

</div>