<div class="contenedor-modal">
  <div class="header">
    <div class="flex items-center gap-1">
      <fa-icon [icon]="farCirclePlus" class="text-xs text-primary"></fa-icon>
      <span class="text-sm font-bold">Agregar una adaptación</span>
    </div>
    <fa-icon [icon]="farXmark" class="text-sm cursor-pointer" (click)="dismissModal()"></fa-icon>
  </div>
  
  <div class="cont-modal">
    <form [formGroup]="adaptacionForm">
      <div class="contenedor-formulario !p-0">
        <div class="contenido-formulario">
          <span class="label">Fecha de adaptación <span class="text-danger">*</span></span>
          <app-base-calendar-new
            class="flex-none"
            mode="single"
            [initialDate]="selectedDate"
            [minDate]="minDate"
            [maxDate]="maxDate"
            position="center"
            (dateSelected)="guardarFecha($event)">
          </app-base-calendar-new>
        </div>

        <div class="contenido-formulario">
          <span class="label">Descripción <span class="text-danger">*</span></span>
          <ion-input 
          fill="outline" 
          formControlName="descripcion"
          placeholder="Fuga de gas en la válvula principal."
          class="w-48">
        </ion-input>
        </div>

        <div class="contenido-formulario">
          <span class="label">Valor incremental <span class="text-danger">*</span></span>
          <ion-input 
          type="number"
          fill="outline" 
          formControlName="valorIncremental"
          placeholder="S/1200"
          class="w-fit">
        </ion-input>
        </div>

        <div class="contenido-formulario">
          <span class="label">Responsable <span class="text-danger">*</span></span>
          <ion-select 
            placeholder="Juan Pérez"
            formControlName="responsable"
            toggleIcon="chevron-down"
            expandedIcon="chevron-up"
            interface="popover" 
            fill="outline" 
            class="w-fit">
            <ion-select-option value="Juan Pérez">Juan Pérez</ion-select-option>
            <ion-select-option value="María García">María García</ion-select-option>
            <ion-select-option value="Carlos López">Carlos López</ion-select-option>
            </ion-select> 
        </div>
      </div>
    </form>

    <div class="contenedor-btn !p-0">
      <ion-button class="w-[171px]" (click)="guardarAdaptacion()">Agregar adaptación</ion-button>
      <ion-button class="w-[108px]" color="medium" fill="outline" (click)="dismissModal()">Cancelar</ion-button>
    </div>
  </div>
</div>
