<div class="contenedor-principal-modal !w-[850px]">
  <div class="titulo-modal">
    <div class="flex flex-row gap-1">
      <fa-icon [icon]="farCircleQuestion" class="text-sm text-primary"></fa-icon>
      <span>Registrar licencia</span>
    </div>
    <fa-icon [icon]="fasXmark" class="cursor-pointer" (click)="cerrarmodal()"></fa-icon>
  </div>
  <div class="contenido-modal">
    <div class="card-info">
      <fa-icon [icon]="farInfoCircle" class="info-icon"></fa-icon>
      <span class="info">Completa los siguientes datos para poder ayudarte</span>
    </div>
    <div class="flex flex-row gap-2.5">
      <div class="flex flex-1 flex-col gap-4">
        <div class="flex flex-col gap-1"> 
          <span class="text-xs font-bold">Escoge una modalidad de ayuda</span>
          <ion-radio-group [(ngModel)]="modalidadSeleccionada" [ngModelOptions]="{standalone: true}">
            <div class="flex flex-col gap-2">
              <div class="card-modal-ayuda h-[128px] cursor-pointer transition-all" 
                  [class.!border-primary]="modalidadSeleccionada === 'inmediata'"
                  [class.!bg-[#ECF4FF]]="modalidadSeleccionada === 'inmediata'"
                  (click)="seleccionarModalidad('inmediata')">
                <div class="imagen">
                  <img src="assets/imagenes/ayuda-inmediata.svg" alt="">
                </div>
                <div class="contenido w-[177px]">
                  <span class="titulo">Ayuda inmediata</span>
                  <span class="info">Respuesta en 15-20 min por chat o llamada. Ideal para dudas rápidas o fallas del sistema.</span>
                </div>
                <div class="ratio-button">
                  <ion-radio value="inmediata"></ion-radio>
                </div>
              </div>
              <div class="card-modal-ayuda h-[128px] cursor-pointer transition-all" 
                  [class.!border-primary]="modalidadSeleccionada === 'programada'"
                  [class.!bg-[#ECF4FF]]="modalidadSeleccionada === 'programada'"
                  (click)="seleccionarModalidad('programada')">
                <div class="imagen">
                  <img src="assets/imagenes/programar-asesoria.svg" alt="">
                </div>
                <div class="contenido w-[177px]">
                  <span class="titulo">Programar asesoría</span>
                  <span class="info">Reunión en 24-48h por correo o videollamada. Para capacitaciones.</span>
                </div>
                <div class="ratio-button">
                  <ion-radio value="programada"></ion-radio>
                </div>
              </div>
            </div>
          </ion-radio-group>
        </div>
        <div class="flex flex-col gap-2">
          <span class="text-xs font-bold">Descarga nuestras herramientas de administración remota</span>
          <span class="text-xxs">Elige la herramienta que el equipo de soporte te indique</span>
          <div class="flex flex-row gap-2">
            <div class="card-modal-ayuda flex-1 h-[84px] cursor-pointer">
              <div>
                <img src="assets/imagenes/anydesk.svg" alt="">
              </div>
            </div>
            <div class="card-modal-ayuda flex-1 h-[84px] cursor-pointer">
              <div>
                <img src="assets/imagenes/teamviewer.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-[1px] border border-solid"></div>
      <div class="flex flex-col flex-1 gap-4">
        <div class="flex flex-col gap-2">
          <span class="text-xs font-bold">¿Cómo podemos contactarte?</span>
          @if(modalidadSeleccionada === 'inmediata'){
          <div class="card-info">
            <fa-icon [icon]="farInfoCircle" class="info-icon"></fa-icon>
            <span class="info">El horario de atención por chat de soporte es lunes a sábado de 06:00 a.m a 03:00 am</span>
          </div>
          <ion-radio-group [(ngModel)]="metodoContactoSeleccionado" [ngModelOptions]="{standalone: true}">
            <div class="flex flex-row gap-4">
              <div class="card-modal-ayuda text-[#363636] !p-1 flex-1 !justify-start cursor-pointer transition-all" 
                   [class.!border-primary]="metodoContactoSeleccionado === 'llamada'"
                   [class.!bg-[#ECF4FF]]="metodoContactoSeleccionado === 'llamada'"
                   (click)="seleccionarMetodoContacto('llamada')">
                <ion-radio value="llamada" class=""></ion-radio>
                <span class="text-xxs">Solicitar una llamada</span>
                <fa-icon [icon]="farPhoneArrowUp" class="text-xxs"></fa-icon>
              </div>
              <div class="card-modal-ayuda text-[#363636] !p-1 flex-1 !justify-start cursor-pointer transition-all" 
                   [class.!border-primary]="metodoContactoSeleccionado === 'chat'"
                   [class.!bg-[#ECF4FF]]="metodoContactoSeleccionado === 'chat'"
                   (click)="seleccionarMetodoContacto('chat')">
                <ion-radio value="chat" class=""></ion-radio>
                <span class="text-xxs">Iniciar chat con soporte</span>
                <fa-icon [icon]="farMessages" class="text-xxs"></fa-icon>
              </div>
            </div>
          </ion-radio-group>
          <div class="flex flex-row gap-4">
            <div class="flex flex-col gap-1 flex-1">
              <span class="font-bold text-xs">Ingresa tu nombre</span>
              <ion-input fill="outline" placeholder="Ejem: Alessandra Ontaneda" class="w-full"></ion-input>
            </div>
            <div class="flex flex-col gap-1 flex-1">
              <span class="font-bold text-xs">Ingresa un número de teléfono</span>
              <div class="flex flex-row">
                <div class="flex items-center justify-center h-[28px] w-[40px] bg-[#F5F7FC] border !border-r-0 border-solid rounded-l">
                  <fa-icon [icon]="fasPhone" class="text-xxs text-[#646464]"></fa-icon>
                </div>
                <ion-input fill="outline" placeholder="Ejm: 999 999 999" class="w-full" style="--border-radius: 0px !important"></ion-input>
              </div>
            </div>
          </div>
          }
          @else{
            <ion-radio-group [(ngModel)]="metodoAsesoriaSeleccionado" [ngModelOptions]="{standalone: true}">
            <div class="flex flex-row gap-4">
              <div class="card-modal-ayuda text-[#363636] !p-1 flex-1 !justify-start cursor-pointer transition-all" 
                   [class.!border-primary]="metodoAsesoriaSeleccionado === 'correo'"
                   [class.!bg-[#ECF4FF]]="metodoAsesoriaSeleccionado === 'correo'"
                   (click)="seleccionarAsesoriaSeleccionado('correo')">
                <ion-radio value="correo" class=""></ion-radio>
                <span class="text-xxs">Enviar correo electrónico</span>
                <fa-icon [icon]="farEnvelope" class="text-xxs"></fa-icon>
              </div>
              <div class="card-modal-ayuda text-[#363636] !p-1 flex-1 !justify-start cursor-pointer transition-all" 
                   [class.!border-primary]="metodoAsesoriaSeleccionado === 'reunion'"
                   [class.!bg-[#ECF4FF]]="metodoAsesoriaSeleccionado === 'reunion'"
                   (click)="seleccionarAsesoriaSeleccionado('reunion')">
                <ion-radio value="reunion" class=""></ion-radio>
                <span class="text-xxs">Agendar una reunión</span>
                <fa-icon [icon]="farCalendar" class="text-xxs"></fa-icon>
              </div>
            </div>
          </ion-radio-group>
          }
        </div>
        @if(metodoAsesoriaSeleccionado === 'correo'){
        <div class="flex flex-col gap-2 h-full">
          <span class="text-xs font-bold">Describe lo que ocurrió</span>
          <ion-textarea fill="outline" placeholder="Escribe aquí..." class="w-full h-full"></ion-textarea>
        </div>
        }
        @else{
        <div class="flex flex-col gap-1">
            <span class="text-xs font-bold">Agenda tu reunión</span>
            <div class="flex justify-center w-full">
              <ion-button>
              <fa-icon [icon]="fasArrowUpRightFromSquare" class="text-xxss mr-1"></fa-icon>
                <span>Redirigir a Google Calendar</span>
              </ion-button>
            </div>
        </div>
        }
      </div>
    </div>
    <div class="conjunto-btn">
      <ion-button fill="outline" color="medium" class="w-fit" (click)="cerrarmodal()">Cancelar</ion-button>
      <ion-button class="w-fit">Abrir indicencia</ion-button>
    </div>
  </div>
</div>