<div class="contenedor-principal">
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span>Lista de UIT (Selecciona una UIT para visualizarla)</span>
      <!-- <fa-icon [icon]="fasChevronsLeft" class="text-xs text-primary cursor-pointer" (click)="mostrarpanelizquierdo = false"></fa-icon> -->
    </div>
    <div class="contenedor-filtros">
      <div class="filtros-responsive">
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar configuraciones por código o nombre"
            style="--padding-start:30px"></ion-input>
        </div>
        <!-- <div>
          <app-base-calendar-new class="flex-none" mode="range" [initialStartDate]="startDate"
            [initialEndDate]="endDate" [minDate]="minDate" [maxDate]="maxDate" position="center">
          </app-base-calendar-new>
        </div>   -->
      </div>
      <div class="filtros-absolutos">
        <ion-button fill="outline" class="text-text-85 w-[115px]" id="registrouit">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="registrouit" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar PDF</ion-item>
          </ng-template>
        </ion-popover>
        <ion-button class="w-fit" (click)="nuevaUIT()" [disabled]="modoCreacion">
          <fa-icon [icon]="fasCirclePlus" class="mr-1"></fa-icon>
          <span>Nueva UIT</span>
        </ion-button>
      </div>
    </div>
    <div class="contenedor-primera-tabla" [appLoader]="isLoading()">
      <fa-icon [icon]="fasRotateRight" class="btn-refresh" (click)="OnBtreset()"></fa-icon>
      <ag-grid-angular 
        style="width: 100%; height: 100%;" 
        class="" 
        [rowData]="rowData" 
        [columnDefs]="columnDefs"
        [pagination]="true" 
        [rowHeight]="20" 
        [localeText]="localeText" 
        [headerHeight]="24"
        [paginationPageSize]="20" 
        [rowSelection]="'single'"
        (cellClicked)="onCellClicked($event)"
        (gridReady)="onGridReady($event)"
      />
    </div>
  </div>
  <div class="panel-derecho" [appLoader]="isLoading()">
    <div class="cont-title">
      <span>{{ filaSeleccionada ? 'Información de UIT: ' + filaSeleccionada.registro_uit_anio_fiscal : 'Nueva UIT' }}</span>
    </div>
    @if(filaSeleccionada){
    <div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook" ></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>
  }
    <form [formGroup]="uitForm" class="contenedor-formulario">
      <div class="contenido-formulario">
        <span class="label">Fecha de inicio <span class="text-danger">*</span></span>
        <app-base-calendar-new *ngIf="showCalendars" [ngClass]="'w-[150px] 2xl:w-[180px]'" mode="single" [initialDate]="startDate"
          [minDate]="minDate" [maxDate]="maxDate" position="right" (dateSelected)="onFechaInicio($event)" />
      </div>
      <div class="contenido-formulario">
        <span class="label">Fecha de fin <span class="text-danger">*</span></span>
        <app-base-calendar-new *ngIf="showCalendars" [ngClass]="'w-[150px] 2xl:w-[180px]'" mode="single" [initialDate]="endDate"
          [minDate]="minDate" [maxDate]="maxDate" position="right" (dateSelected)="onFechaFin($event)" />
      </div>
      <div class="contenido-formulario">
        <span class="label">Año de vigencia <span class="text-danger">*</span></span>
        <app-year-picker
          [selectedYear]="uitForm.get('anioVigencia')?.value"
          class="flex-none w-[125px]"
          [placeholder]="'Selecciona año'"
          [position]="'right'"
          (yearChange)="onPeriodoAnualSeleccionado($event)">
        </app-year-picker>
      </div>
      <div class="contenido-formulario">
        <span class="label">Valor {{valortributario}} ({{monedapais}}) <span class="text-danger">*</span></span>
        <ion-input fill="outline" formControlName="valorUIT" placeholder="Ingresar un monto de UIT" type="number" class="w-[167px]"></ion-input>
      </div>
      <div class="contenido-formulario">
        <span class="label">Estado</span>
        <ion-input fill="outline" formControlName="estado" class="w-[82px]" [disabled]="true"></ion-input>
      </div>
      <!-- <div class="contenido-formulario">
        <ion-checkbox formControlName="vigente" (ionChange)="onVigenteChange($event)" labelPlacement="end" fill="outline" class="mr-2"> <span class="label">Vigente</span></ion-checkbox>
      </div> -->
    </form>
    <div class="contenedor-btn">
      <ion-button (click)="guardar()"><span>{{ modoCreacion ? 'Registrar' : 'Guardar' }}</span></ion-button>
      
      <ion-button color="medium" fill="outline" class="w-fit" (click)="botonCancelar()">Cancelar</ion-button>
    </div>
  </div>
</div>