<div class="contenedor-modal !w-[100%]">
  <div class="header">
    <div class="flex items-center gap-1 ">
      <span class="text-sm font-bold">{{ 'Mes de ' + periodoDinamico }}</span>
    </div>
    <fa-icon [icon]="farXmark" class="text-sm cursor-pointer" (click)="cerrarModal()"></fa-icon>
  </div>
  <div class="cont-modal">
    <div class="max-h-[300px] overflow-auto">
      <ag-grid-angular style="width: 100%;" [domLayout]="'autoHeight'" [rowData]="rowData" [columnDefs]="colDefs"
        [pagination]="false" [localeText]="localeText" (gridReady)="onGridReady($event)" [rowHeight]="20"
        [headerHeight]="24" [defaultColDef]="defaultColDef" />
    </div>
    <div class="contenedor-btn p-2">
      <div class="filtros-absolutos">
        <ion-button class="w-[115px] text-text-85" fill="outline" id="conceptosModal">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="conceptosModal" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar PDF</ion-item>
          </ng-template>
        </ion-popover>
        @if(!esFilaSeleccionada){
        <ion-button (click)="guardar()">Guardar</ion-button>
        }
      </div>

      <ion-button fill="outline" color="medium" (click)="cerrarModal()">Cancelar</ion-button>
    </div>

  </div>
</div>