<div class="flex flex-col justify-center items-center flex-grow overflow-auto gap-2.5">
  <!-- Imagen -->
  <div class="p-2" *ngIf="imageSrc">
    <img 
      [src]="imageSrc" 
      [alt]="imageAlt" 
      [style.width]="imageWidth"
      [style.height]="imageHeight"
      class="object-contain">
  </div>

  <!-- Contenido del estado vacío -->
  <div class="flex flex-col items-center gap-2 text-center max-w-md pb-1.5">
    <span 
      *ngIf="title" 
      class="text-base font-medium text-center montserrat">
      {{ title }}
    </span>
    <span 
      *ngIf="description" 
      class="text-xs text-center montserrat">
      {{ description }}
    </span>
    <div class="flex items-center gap-3">
      <!-- <ion-button *ngIf="textBoton" color="primary" class="mt-2 w-fit" (click)="Agregar()"> 
        {{textBoton}}
      </ion-button> -->
      <ion-button *ngIf="deleteBoton" color="primary" class="mt-2 w-fit" (click)="Delete()"> 
        {{deleteBoton}}
      </ion-button>
    </div>
  </div>

  <!-- Contenido proyectado (botones personalizados) -->
  <ng-content></ng-content>

</div>
