<div class="alert-content">
  <div class="contenido">
      <!-- <img src="assets/img/alert.svg" *ngIf="type == 'alert'" class="text-center" width="118px" height=118px>
      <img src="assets/img/times.svg" *ngIf="type == 'error'"  class="text-center" width="118px" height=118px> -->
        <div class="alert-contenedor bg-red-100" *ngIf="type == 'alert'">
            <div class="contenido-alert bg-red-200">
                <fa-icon [icon]="farFaceWorried" class="text-[52px] leading-[0] text-danger"></fa-icon>
            </div>
        </div>
        <div class="alert-contenedor bg-red-100" *ngIf="type == 'error'">
        <div class="contenido-alert bg-red-200">
            <fa-icon [icon]="farXmark" class="text-[52px] leading-[0] text-danger"></fa-icon>
        </div>
        </div>
        <div class="alert-contenedor bg-warning-5" *ngIf="type == 'warning'">
            <div class="contenido-alert bg-warning-10">
                <fa-icon [icon]="farXmark" class="text-[52px] leading-[0] text-warning"></fa-icon>
            </div>
        </div>
        <span class="text-[32px] font-medium text-center text-[#393939]">{{ title }}</span>
        <span class="text-[24px] font-normal text-center text-[#393939]">{{ mensaje }}</span>
    </div>
  <div class="buttons" *ngIf="botonDoble">
      <ion-button fill="outline" class="h-20 w-full btn-secondary" (click)="closeModal(false)">{{ cancelText }}</ion-button>
      <ion-button fill="solid" class="h-20 w-full btn-primary" (click)="closeModal(true)">{{ confirmText }}</ion-button>
  </div>
  <div class="button" *ngIf="soloConf">
      <ion-button fill="solid" class="h-20 !w-[300px] btn-primary" (click)="closeModal(true)">{{ confirmText }}</ion-button>
  </div>
</div>
