<div class="contenedor-principal !flex-col">
  <div class="cont-title">
    <span>Ingresos del Día por Ventas</span>
  </div>

    <div class="contenido-filtros-tabla">
      <div class="filtros-responsive">
        <div class="form-column2">
          <div class="contenido-formulario">
            <span class="label">Sucursal</span>
            <app-autocomplete
              [items]="sucursalesList"
              [displayKey]="'nombre'"
              [valueKey]="'id'"
              [width]="'w-52'"
              [placeholder]="'Selecciona una sucursal'"
              (itemSelected)="onSucursalSelected($event)">
            </app-autocomplete>
          </div>
          <div class="contenido-formulario">
            <span class="label">Caja</span>
            <ion-select fill="outline" [(ngModel)]="filtroCaja" (ionChange)="onFilterChange()" class="w-52"
              placeholder="Todas las cajas" toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover">
              <ion-select-option value="">Todas las cajas</ion-select-option>
              @for(caja of cajasList; track caja.id) {
                <ion-select-option [value]="caja.id">{{ caja.nombre }}</ion-select-option>
              }
            </ion-select>
          </div>
          <div class="contenido-formulario">
            <span class="label">Estado del registro</span>
            <ion-select fill="outline" [(ngModel)]="filtroEstado" (ionChange)="onFilterChange()" class="w-52"
              placeholder="Todos los estados" toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover">
              <ion-select-option value="">Todos los estados</ion-select-option>
              @for(estado of estadosList; track estado.id) {
                <ion-select-option [value]="estado.id">{{ estado.nombre }}</ion-select-option>
              }
            </ion-select>
          </div>
          <div class="contenido-formulario">
            <span class="label">Medio de pago</span>
            <ion-select fill="outline" [(ngModel)]="filtroMedioPago" (ionChange)="onFilterChange()"
              placeholder="Todos los medios de pago" toggleIcon="chevron-down" expandedIcon="chevron-up"
              interface="popover" class="w-52">
              <ion-select-option value="">Todos los medios de pago</ion-select-option>
              @for(medio of mediosPagoList; track medio.id) {
                <ion-select-option [value]="medio.id">{{ medio.nombre }}</ion-select-option>
              }
            </ion-select>
          </div>

          <div class="contenido-formulario">
            <span class="label">Responsable de cierre</span>
            <app-autocomplete
              [items]="usuariosList"
              [displayKey]="'nombre'"
              [valueKey]="'id'"
              [width]="'w-52'"
              [placeholder]="'Selecciona un responsable'"
              (itemSelected)="onResponsableSelected($event)">
            </app-autocomplete>
          </div>

          <div class="contenido-formulario">
            <span class="label">Fecha</span>
            <app-base-calendar-new mode="single" [initialDate]="fechaSeleccionada"
              [minDate]="minDate" [maxDate]="maxDate" (dateSelected)="onFechaSelected($event)">
            </app-base-calendar-new>
          </div>

          
        </div>

      </div>
        
      <div class="flex justify-end w-full">
        <ion-button class="w-fit" (click)="buscar()" [disabled]="!canSearch">
          <span>Buscar</span>
        </ion-button>
      </div>
    </div>

  <div class="cont-title mb-1.5">
    <span>Lista de ingresos</span>
  </div>
  @if(mostrarRegistro){
  <!-- Cards de totales -->
  <div class="cont-cards">
    <div class="card">
      <div class="contenido">
        <span class="title">Total ingresos del día</span>
        @if(isLoading()){
          <ion-skeleton-text [animated]="true" style="width: 30px; height: 16px;"></ion-skeleton-text>
        } @else{
          <span class="cantidad">{{ totalIngresosDia }}</span>
        }
      </div>
      <div class="icon">
        <fa-icon [icon]="fasDollar"></fa-icon>
      </div>
    </div>
    <div class="card">
      <div class="contenido">
        <span class="title">Ingresos en efectivo</span>
        @if(isLoading()){
            <ion-skeleton-text [animated]="true" style="width: 30px; height: 16px;"></ion-skeleton-text>
          } @else{
            <span class="cantidad">{{ ingresosEfectivo }}</span>
          }
      </div>
      <div class="icon">
        <fa-icon [icon]="fasMoneyBill"></fa-icon>
      </div>
    </div>
    <div class="card">
      <div class="contenido">
        <span class="title">Ingresos con tarjeta</span>
        @if(isLoading()){
            <ion-skeleton-text [animated]="true" style="width: 30px; height: 16px;"></ion-skeleton-text>
          } @else{
            <span class="cantidad">{{ ingresosTarjeta }}</span>
          }
      </div>
      <div class="icon">
        <fa-icon [icon]="fasCreditCard"></fa-icon>
      </div>
    </div>
    <div class="card">
      <div class="contenido">
        <span class="title">Ingresos por transferencia</span>
        @if(isLoading()){
            <ion-skeleton-text [animated]="true" style="width: 30px; height: 16px;"></ion-skeleton-text>
          } @else{
            <span class="cantidad">{{ ingresosTransferencia }}</span>
          }
      </div>
      <div class="icon">
        <fa-icon [icon]="fasShield"></fa-icon>
      </div>
    </div>
  </div>
  
  <div class="flex gap-3 pb-1.5 px-1.5">
    <div class="buscador">
      <fa-icon [icon]="farSearch"></fa-icon>
      <ion-input fill="outline" placeholder="Buscar por código o descripción" class="w-full"
        style="--padding-start:30px"></ion-input>
    </div>
<!-- 
    <app-base-calendar-new class="flex-none" mode="single" [initialDate]="fechaSeleccionada"
      [minDate]="minDate" [maxDate]="maxDate" (dateSelected)="onFechaSelected($event)">
    </app-base-calendar-new> -->

    <ion-button fill="outline" class="w-[115px] flex-none text-text-85" id="exportar-trigger2">
      <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
      <span>Exportar</span>
      <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
    </ion-button>
    <ion-popover trigger="exportar-trigger2" triggerAction="click" [dismissOnSelect]="true"
      class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
      <ng-template>
        <ion-item lines="none" [button]="true">Exportar Excel</ion-item>
        <ion-item lines="none" [button]="true">Exportar PDF</ion-item>
      </ng-template>
    </ion-popover>

    <ion-button class="w-fit flex-none" (click)="modalRegistrarIngreso()">
      <fa-icon [icon]="fasCirclePlus" class="mr-1"></fa-icon>
      <span class="font-normal">Registrar ingresos</span>
    </ion-button>
  </div>

  <!-- Tabla -->
  <div class="h-full relative" [appLoader]="isLoading()">
    <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-alpine"
      [rowData]="rowData" [columnDefs]="colDefs" [defaultColDef]="defaultColDef"
      [pagination]="true" [localeText]="localeText" [rowHeight]="20" [headerHeight]="24"
      [paginationPageSize]="20" [gridOptions]="gridOptions"
      (gridReady)="onGridReady($event)" [domLayout]="'normal'" />
  </div>
  }
</div>
