<sigre-metoxi-modal-shell
  titulo="Funcionalidad en desarrollo"
  size="md"
  (cerrar)="cerrar()">
  <div class="sigre-metoxi-modal-info">
    <div class="sigre-metoxi-modal-info__icon">
      <i class="material-icons-outlined">construction</i>
    </div>
    <div>
      <h6 class="sigre-metoxi-modal-info__title">{{ data.featureName }}</h6>
      <p class="sigre-metoxi-modal-info__text mb-3">
        {{ data.description || 'Esta funcionalidad aún no está implementada.' }}
      </p>
      <ul class="sigre-metoxi-modal-info__list list-unstyled mb-0">
        <li>
          <i class="material-icons-outlined">info</i>
          <span>Nuestro equipo está trabajando en esta característica.</span>
        </li>
        @if (data.expectedDate) {
          <li>
            <i class="material-icons-outlined">schedule</i>
            <span>Fecha estimada: {{ data.expectedDate }}</span>
          </li>
        }
        <li>
          <i class="material-icons-outlined">contact_support</i>
          <span>Para consultas, contacta al administrador del sistema.</span>
        </li>
      </ul>
    </div>
  </div>

  <div sigreMetoxiModalFooter>
    <sigre-metoxi-modal-actions
      [mostrarCancelar]="false"
      [mostrarPrimario]="true"
      textoPrimario="Entendido"
      (primario)="cerrar()" />
  </div>
</sigre-metoxi-modal-shell>
