<div class="contenedor-principal">
  @if (!mostrarTabla && !modoNuevoCalculo) {
    <div class="btn-mostrartabla" (click)="togglePanelLateral()">
      <fa-icon [icon]="fasChevronsRight"></fa-icon>
    </div>
  }
  @if (mostrarTabla && !modoNuevoCalculo) {
  <!-- Panel izquierdo - Tabla -->
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span>Proceso de Devengado Automático (Selecciona un devengo de tu lista para visualizarlo)</span>
      @if (mostrarTabla) {<div class="btn-mostrarform" (click)="togglePanelLateral()">
        <fa-icon [icon]="fasChevronsLeft"></fa-icon>
      </div>}
    </div>
    
    <!-- Indicadores -->
    <!-- <div class="cont-cards">
      <div class="card">
        <div class="contenido">
          <span class="title">Cálculos ejecutados</span>
          <span class="cantidad">4</span>
        </div>
        <div class="icon">
          <fa-icon [icon]="fasList"></fa-icon>
        </div>
      </div>
      
      <div class="card">
        <div class="contenido">
          <span class="title">Depreciación acumulada</span>
          <span class="cantidad">S/ 525,000.00</span>
        </div>
        <div class="icon">
          <fa-icon [icon]="fasDollarSign"></fa-icon>
        </div>
      </div>
      
      <div class="card">
        <div class="contenido">
          <span class="title">Depreciación mensual</span>
          <span class="cantidad">S/ 43,750.00</span>
        </div>
        <div class="icon">
          <fa-icon [icon]="fasCalendarDays"></fa-icon>
        </div>
      </div>
      
      <div class="card">
        <div class="contenido">
          <span class="title">Promedio desgaste global</span>
          <span class="cantidad">41%</span>
        </div>
        <div class="icon">
          <fa-icon [icon]="fasPercent"></fa-icon>
        </div>
      </div>
    </div> -->
    
    <!-- Filtros -->
    <div class="contenedor-filtros">
      <div class="contenedor-filtros !p-0">
        <app-month-year-picker
          [selectedMonth]="mesSeleccionado"
          [selectedYear]="anioSeleccionado"
          (monthYearChange)="onMonthYearChange($event)">
        </app-month-year-picker>
        
        <!-- <ion-select placeholder="Ejecución" toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover" fill="outline" class="w-[100px]">
          <ion-select-option value="todas">Todas</ion-select-option>
          <ion-select-option value="manual">Manual</ion-select-option>
          <ion-select-option value="automatica">Automática</ion-select-option>
        </ion-select> -->
        
        <app-base-calendar-new class="flex-none" mode="range" [initialStartDate]="startDate"
              [initialEndDate]="endDate" [minDate]="minDate" [maxDate]="maxDate" position="left"
              (dateRangeSelected)="filtrarPorFechas($event)">
        </app-base-calendar-new>
      </div>
      
      <div class="filtros-absolutos">
        <ion-button fill="outline" class="text-text-85 w-[115px]" id="reporteDevengado">
          <fa-icon [icon]="fasCog" class="mr-1"></fa-icon>
          <span>Acciones</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="reporteDevengado" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar PDF</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false">Enviar alerta pólizas a vencer</ion-item>
          </ng-template>
        </ion-popover>
        <ion-button class="w-fit flex-none" (click)="nuevoCalculo()" [disabled]="!filaSeleccionada">
          <fa-icon [icon]="fasCirclePlus" class="mr-1"></fa-icon>
          <span class="font-normal">Nuevo</span>
        </ion-button>
      </div>
    </div>
    
    
    <div class="h-full flex-grow-1 relative" [appLoader]="facade.loadingObtener()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular 
        style="width: 100%; height: 100%"
        [context]="context" 
        [rowData]="rowData" 
        [columnDefs]="colDefs" 
        [columnTypes]="columnTypes"
        [pagination]="true"
        [localeText]="localeText"
        [rowHeight]="20"
        [headerHeight]="24"
        [rowSelection]="'single'"
        [paginationPageSize]="20"
        [defaultColDef]="defaultColDef"
        (gridReady)="onGridReady($event)"
        (cellClicked)="onCellClicked($event)"
        [suppressLoadingOverlay]="true"/>
    </div>
    </div>
  }


  <!-- Panel derecho - Formulario -->
  <div class="panel-derecho" [ngClass]="{'!w-full !flex-1': !mostrarTabla || modoNuevoCalculo}" [appLoader]="facade.loadingObtener()">
    <div class="cont-title">
      @if (filaSeleccionada) {
      <span>Información Calculo Devengado: {{ filaSeleccionada?.gda_codigo }}</span>
      }
      @if (!filaSeleccionada) {
        <span>Proceso de Devengado Automático</span>
      }
    </div>
    <form [formGroup]="devengoForm">
    <div class="contenedor-formulario" [ngClass]="{'!flex-row': !mostrarTabla || modoNuevoCalculo}">
      <div class="contenedor-formulario !p-0">
        
        <div class="contenido-formulario">
          <span class="label">Periodo contable<span class="text-danger">*</span> </span>
          <ion-input fill="outline" formControlName="periodoC" class="w-20"></ion-input>
        </div>
        
        <div class="contenido-formulario">
          <span class="label">Fecha de ejecución</span>
          <app-base-calendar-new
            class="flex-none"
            mode="single"
            [disabled]="true"
            [initialDate]="fechaEjecucion"
            position="center"
            (dateSelected)="onFechaEjecucion($event)">
          </app-base-calendar-new>        
        </div>

        <div class="contenido-formulario">
          <span class="label">Tipo de póliza<span class="text-danger">*</span> </span>
          @if(filaSeleccionada){
            <ion-input fill="outline" formControlName="tipoP" class="w-[140px]"></ion-input>
          } @else {
            <ion-select placeholder="Selecciona un tipo" formControlName="tipoP" interface="popover" fill="outline" class="w-[140px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up">
              @for(poliza of polizas; track poliza){<ion-select-option [value]="poliza.id">{{ poliza.nombre }}</ion-select-option>}
            </ion-select>
          }
        </div>
        
         <div class="contenido-formulario">
          <span class="label">Periodo a devengar</span>
          <app-month-year-picker
            class="w-20"
            [position]="'center'"
            [selectedMonth]="mesDSeleccionado"
            [selectedYear]="anioDSeleccionado"
            (monthYearChange)="onMonthYearChangeDev($event)">
          </app-month-year-picker>
        </div>
        
        <div class="contenido-formulario">
          <span class="label">Fuente de datos<span class="text-danger">*</span> </span>
          @if(filaSeleccionada){
            <ion-input fill="outline" formControlName="fuenteD" class="w-[150px]"></ion-input>
          } @else {
            <ion-select placeholder="Selecciona una fuente" formControlName="fuenteD"  interface="popover" fill="outline" class="w-[150px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up">
              @for(fuente of fuenteD; track fuente){<ion-select-option [value]="fuente.id">{{ fuente.nombre }}</ion-select-option>}
            </ion-select>
          }
        </div>

        <div class="contenido-formulario">
          <span class="label">Usuario Ejecutor</span>
          <ion-input fill="outline" formControlName="usuarioEjec" class="w-[200px]"></ion-input>
        </div>

      </div>
      <div class="contenedor-formulario !p-0">

        <div class="contenido-formulario">
          <span class="label">Tipo de cálculo<span class="text-danger">*</span> </span>
          @if(filaSeleccionada){
            <ion-input fill="outline" formControlName="tipoCalculo" class="w-[160px]"></ion-input>
          } @else {
            <ion-select placeholder="Selecciona un tipo"  formControlName="tipoCalculo" interface="popover" fill="outline" class="w-[160px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up">
              @for(tipo of tiposC; track tipo){<ion-select-option [value]="tipo.id">{{ tipo.nombre }}</ion-select-option>}
            </ion-select>
          }
        </div>
        
        <div class="contenido-formulario">
          <span class="label">Libro contable<span class="text-danger">*</span> </span>
          @if(filaSeleccionada){
            <ion-input fill="outline" formControlName="libroC" class="w-[140px]"></ion-input>
          } @else {
            <ion-select placeholder="Selecciona un libro" formControlName="libroC" interface="popover" fill="outline" class="w-[140px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up">
              @for(libro of librosC; track libro){<ion-select-option [value]="libro.id">{{ libro.nombre }}</ion-select-option>}
            </ion-select>
          }
        </div>
        
        <div class="contenido-formulario">
          <span class="label">Prefijo de doc.</span>
          <ion-input fill="outline" formControlName="prefijo" placeholder="Agrega un prefijo" class="w-[150px]"></ion-input>
        </div>
        
        
        <div class="contenido-formulario">
          <span class="label">Centro de costo</span>
          <app-autocomplete 
            formControlName="centroC"
            [items]="centrosCostos" 
            displayKey="nombre" 
            valueKey="id"
            placeholder="Buscar centro de costos" class="w-[200px]"
            (itemSelected)="onCentroCostosSeleccionado($event)">
          </app-autocomplete>
        </div>

        <div class="contenido-formulario !items-start">
          <span class="label">Observaciones</span>
          <ion-textarea fill="outline" formControlName="observaciones" placeholder="Ingrese observaciones" rows="2" class="w-[200px]"></ion-textarea>
        </div>
        
      </div>
      
    </div>

    @if (!filaSeleccionada && !calculoEjecutado) {
      <div class="conjunto-btn py-2">
        <ion-button fill="outline" color="medium" class="w-fit" (click)="ejecutarValidacion()">
          Validar pólizas
        </ion-button>
        <ion-button fill="outline" class="w-fit" (click)="ejecutarCalculoDevengo()">
          Calcular devengo
        </ion-button>
      </div>
    }
    </form>

      @if (calculoEjecutado || filaSeleccionada) {
        <!-- Sección de resultados -->
        <div>
          <div class="cont-cards !pb-0">
            <div class="card">
              <div class="contenido">
                <span class="title">Monto Total devengado del mes (S/)</span>
                <span class="cantidad">S/ 45,700.00</span>
              </div>
              <div class="icon">
                <fa-icon [icon]="fasCalendar"></fa-icon>
              </div>
            </div>
            
            @if (!mostrarTabla) {
              <div class="card">
                <div class="contenido">
                  <span class="title">Número de pólizas procesadas</span>
                  <span class="cantidad">05</span>
                </div>
                <div class="icon">
                  <fa-icon [icon]="fasList"></fa-icon>
                </div>
              </div>
              
              <div class="card">
                <div class="contenido">
                  <span class="title">Saldo total por devengar (S/)</span>
                  <span class="cantidad">S/ 45,700.00</span>
                </div>
                <div class="icon">
                  <fa-icon [icon]="fasCalculator"></fa-icon>
                </div>
              </div>
            }
          </div>

          <div class="contenedor-filtros">
            <div class="buscador">
              <fa-icon [icon]="farSearch"></fa-icon>
              <ion-input fill="outline" placeholder="Buscar por código o tipo de póliza" style="--padding-start:30px"></ion-input>
            </div>
            @if (!mostrarTabla) {
            <div class="filtros-absolutos">
              <!-- <ion-select placeholder="Todas los estados" interface="popover" fill="outline" class="w-[180px]">
                <ion-select-option value="todas">Todas los estados</ion-select-option>
                <ion-select-option value="vigente">Vigente</ion-select-option>
                <ion-select-option value="vencido">Vencido</ion-select-option>
              </ion-select> -->
              
              <ion-button fill="outline" class="text-text-85 w-[115px]" id="reportesactivos">
                <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
                <span>Exportar</span>
                <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
              </ion-button>
              <ion-popover trigger="reportesactivos" triggerAction="click" [dismissOnSelect]="true"
                class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
                <ng-template>
                  <ion-item lines="none" [button]="true" [detail]="false">Exportar Excel</ion-item>
                  <ion-item lines="none" [button]="true" [detail]="false">Exportar PDF</ion-item>
                </ng-template>
              </ion-popover>
            </div>
            }
          </div>

          <div class = "w-full">
            <ag-grid-angular 
              style="width: 100%; height: 300px" 
              [rowData]="rowDataActivos" 
              [columnDefs]="colDefsActivos" 
              [columnTypes]="columnTypes"
              [pagination]="false"
              [rowHeight]="20"
              [headerHeight]="24"
              [paginationPageSize]="20"
              [defaultColDef]="defaultColDef"
              (gridReady)="onGridReadyActivos($event)"/>
          </div>
        </div>

        @if (mostrarBotones) {
          <div class="contenedor-btn py-2 ">
            <ion-button (click)="confirmarCalculo()">
              Contabilizar
            </ion-button>
            <ion-button fill="outline" color="medium" (click)="cancelarCalculo()">
              Cancelar cálculo
            </ion-button>
          </div>
        }
      }
  </div>
  
</div>
