::ng-deep ion-checkbox {
  &::part(container) {
    border-radius: 2px;
    padding: 2px;
    border-color: #C7C7C7;    
  }
}
.contenedor-btn ion-button::part(native) {
  height: 20px;
  font-size: 10px;
}
.btn-guardar{
  @apply bg-primary text-white text-xs h-[28px] w-[28px] flex-none -ml-0.5 rounded-tr-sm rounded-br-sm z-10;
}