<div class="contenedor-principal">
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span>Catálogo de áreas y jerarquías (Selecciona una area para visualizarlo)</span>
    </div>

    <div class="contenedor-filtros">
       <div class="buscador">
        <fa-icon [icon]="farSearch"></fa-icon>
        <ion-input fill="outline" placeholder="Buscar por área, por código o por jefe asignado"
          style="--padding-start:28px"></ion-input>
      </div>

      <div class="filtros-absolutos">
        <app-base-calendar-new class="flex-none " mode="range" [initialStartDate]="startDate" [initialEndDate]="endDate"
              [minDate]="minDate" [maxDate]="maxDate" position="left" (dateRangeSelected)="filtrarPorFechas($event)">
        </app-base-calendar-new>

        <ion-button class="w-[115px] flex-none" fill="outline" id="gestionG">
          <fa-icon [icon]="fasDownload" class="mr-1 text-text-85"></fa-icon>
          <span class="text-text-85">Exportar</span>
          <fa-icon class="ml-1 text-text-85" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="gestionG" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true">Exportar PDF</ion-item>
          </ng-template>
        </ion-popover>
        <ion-button class="w-fit" [disabled]="modoCreacion" (click)="botonNuevo()"><fa-icon [icon]="fasCirclePlus"
            class="mr-1"></fa-icon> <span class="font-normal">Nueva área</span></ion-button>
      </div>
    </div>


    <div class="flex h-full relative" [appLoader]="isLoading()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular style="width: 100%; height: 100%;" class="" [rowData]="rowData" [columnDefs]="colDefs"
        [pagination]="true" [rowSelection]="'single'" [localeText]="localeText" [paginationPageSize]="20"
        [rowHeight]="20" [headerHeight]="24" [suppressRowClickSelection]="true" (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)" />
    </div>
  </div>

  <div class="panel-derecho" [appLoader]="isLoading() && !isResetting">
    <div class="cont-title">
      @if(filaSeleccionada){<span>Información de área: {{filaSeleccionada.area_codigo}}</span>}
      @if(!filaSeleccionada){<span>Nueva área jerárquica</span>}
    </div>

    @if(filaSeleccionada){<div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook"></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>}

    <form [formGroup]="DefAreasForm" class="flex flex-col flex-grow">
      <div class="contenedor-formulario">
        <div class="contenido-formulario">
          <span class="label">Fecha de creación</span>
          <ion-input fill="outline" type="date" formControlName="fechaCreacion" class="w-[110px]"></ion-input>
        </div>

        <div class="contenido-formulario">
          <span class="label">Nombre de área<span class="text-danger">*</span></span>
          <ion-input fill="outline" placeholder="Ingrese nombre de área" formControlName="nombres" class="w-[163px]"></ion-input>
        </div>

        <div class="contenido-formulario !items-start">
          <span class="label">Descripción<span class="text-danger">*</span></span>
          <ion-textarea fill="outline" placeholder="Ingrese una descripción" formControlName="area_descripcion" class="w-[163px]"></ion-textarea>
        </div>

        <div class="contenido-formulario">
          <span class="label">Nivel<span class="text-danger">*</span></span>
          <ion-select fill="outline" placeholder="Selecciona un nivel" toggleIcon="chevron-down"
                expandedIcon="chevron-up" interface="popover" class="w-[163px]" formControlName="area_nivel">
                @for(nivel of niveles; track nivel){<ion-select-option [value]="nivel">{{ nivel
                  }}</ion-select-option>}
          </ion-select>
        </div>

        @if(DefAreasForm.value.area_nivel == 'Gerencia' || DefAreasForm.value.area_nivel == 'Jefatura' || DefAreasForm.value.area_nivel == 'Operación' || filaSeleccionada?.area_nivel == 'Gerencia' || filaSeleccionada?.area_nivel == 'Jefatura' || filaSeleccionada?.area_nivel == 'Operación'){<div class="contenido-formulario">
          <span class="label">Área supervisora<span class="text-danger">*</span></span>
          <app-autocomplete
          formControlName="area"
          [items]="areas"
          displayKey="area_nombre"
          valueKey="id"
          placeholder="Selecciona una área"
          (itemSelected)="onAreaSeleccionado($event)">
        </app-autocomplete>
        </div>}

        <div class="contenido-formulario">
          <span class="label">Centro de costo<span class="text-danger">*</span></span>
          <app-autocomplete
          [ngClass]="'w-[163px] 2xl:w-[210px]'"
          formControlName="area_centro_costo"
          [items]="centros"
          displayKey="area_nombre"
          valueKey="id"
          placeholder="Selecciona un centro de costo"
          (itemSelected)="onCentroSeleccionado($event)">
        </app-autocomplete>
        </div>

        <div class="contenido-formulario">
          <span class="label">Jefe asignado<span class="text-danger">*</span></span>
          <app-autocomplete
          [ngClass]="'w-[163px] 2xl:w-[210px]'"
          formControlName="jefe"
          [items]="jefes"
          displayKey="area_nombre"
          valueKey="id"
          placeholder="Selecciona un jefe asignado "
          (itemSelected)="onJefesSeleccionado($event)">
        </app-autocomplete>
        </div>

        <div class="contenido-formulario">
          <span class="label">Estado</span>
          @if(modoCreacion){
          <ion-input fill="outline" formControlName="area_estado" class="w-[70px]"></ion-input>
          }
          @if(modoEdicion){
          <ion-select fill="outline" placeholder="Selecciona un estado" toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover"
            class="w-[121px]" formControlName="area_estado">
            <ion-select-option value="Activo">Activo</ion-select-option>
            <ion-select-option value="Inactivo">Inactivo</ion-select-option>
          </ion-select>
          }
        </div>
      </div>

      <div class="contenedor-btn">
        <ion-button class="w-[65px]" *ngIf="modoCreacion" (click)="botonCrear()">Registrar</ion-button>
        <ion-button class="w-[65px]" *ngIf="modoEdicion" (click)="guardarEdicion()">Guardar</ion-button>
        <ion-button class="w-fit" fill="outline" color="medium" (click)="botonNuevo()">Cancelar</ion-button>
      </div>
    </form>
  </div>
</div>