<div class="erp-dashboard">
  <div class="erp-dashboard__grid">
    @for (modulo of modulos; track modulo.moduloId) {
      <div class="erp-dashboard__card" (click)="abrirModulo(modulo)">
        <div class="erp-dashboard__card-icon">
          @if (modulo.iconoSvg) {
            <img [src]="modulo.iconoSvg" [alt]="modulo.nombre" />
          } @else {
            <mat-icon>{{ modulo.icono }}</mat-icon>
          }
        </div>
        <span class="erp-dashboard__card-name">{{ modulo.nombre }}</span>
      </div>
    }
  </div>
</div>
