<div class="contenedor-principal">

  <div class="panel-derecho-full">
    <div class="cont-title">
      <span>Nuevo reporte de obligaciones por vencer</span>
    </div>
    @if(reporteGenerado){<div class="flex justify-end w-full bg-[#F5F5F5] px-1">
      <div class="flex flex-row gap-2 p-1 cursor-pointer" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook" class="text-xs text-[#636E95]"></fa-icon>
        <span class="text-[#636E95] text-xs font-semibold underline">Ver últimas actualizaciones</span>
      </div>
    </div>}

    <!-- Contenido del filtro -->
    <div class="contenedor-formulario !flex-row !gap-10">
      <div class="contenedor-formulario !p-0">

        <div class="contenido-formulario">
          <span class="label">Fecha de ejecución</span>
          <ion-input fill="outline" type="date" [(ngModel)]="fechaEjecucion" [disabled]="true"
            class="w-[120px]"></ion-input>
        </div>

        <div class="contenido-formulario">
          <span class="label">Periodo de emisión <span class="text-danger">*</span></span>
          <app-month-year-picker-string placeholder="Selecciona un mes" [selectedMonth]="mesSeleccionadoE" [selectedYear]="anioSeleccionadoE"
            (monthYearChange)="onMonthYearChangePeriodoE($event)">
          </app-month-year-picker-string>
        </div>

        <div class="contenido-formulario">
          <span class="label">Periodo de vencimmiento <span class="text-danger">*</span></span>
          <app-month-year-picker-string placeholder="Selecciona un mes" [selectedMonth]="mesSeleccionadoV" [selectedYear]="anioSeleccionadoV"
            (monthYearChange)="onMonthYearChangePeriodoV($event)">
          </app-month-year-picker-string>
        </div>

        <div class="contenido-formulario">
          <span class="label">Sucursales<span class="text-danger">*</span></span>
          <app-autocomplete-multi [(ngModel)]="sucursalesSeleccionadas" [items]="sucursales" displayKey="nombre" valueKey="id"
            placeholder="Selecciona sucursales" (changed)="onsucursalesSeleccionadas($event)">
          </app-autocomplete-multi>
        </div>
      </div>

      <div class="contenedor-formulario !p-0">

        <div class="contenido-formulario">
          <span class="label">Moneda<span class="text-danger">*</span></span>
          <app-autocomplete-multi [(ngModel)]="monedaSeleccionada" [items]="monedaSelect" displayKey="nombre" valueKey="id"
            placeholder="Selecciona monedas" (changed)="onmonedaSeleccionada($event)">
          </app-autocomplete-multi>
        </div>

        @if(mostrarTipoCambio){
        <div class="contenido-formulario">
          <span class="label">Tipo de cambio</span>
          <ion-input fill="outline" [disabled]="true" class="w-[85px]" [(ngModel)]="tipoCambio"></ion-input>
        </div>
      }

        <div class="contenido-formulario">
          <span class="label">Estados seleccionados<span class="text-danger">*</span></span>
          <app-autocomplete-multi [(ngModel)]="estadoSeleccionado" [items]="estadoSelect" displayKey="nombre" valueKey="id"
            placeholder="Selecciona estados" (changed)="onestadoSeleccionado($event)">
          </app-autocomplete-multi>
        </div>
      </div>
    </div>

    <div class="contenedor-btn !justify-start !py-[5px]">
      <ion-button class="w-fit" (click)="generarReporte()" [disabled]="reporteGenerado">Generar reporte</ion-button>
      @if(reporteGenerado){
       <ion-button class="w-[115px]" fill="outline" id="gestionG">
            <fa-icon [icon]="fasDownload" class="mr-1 text-text-85"></fa-icon>
            <span class="text-text-85">Exportar</span>
            <fa-icon class="ml-1 text-text-85" [icon]="fasAngleDown"></fa-icon>
          </ion-button>
          <ion-popover trigger="gestionG" triggerAction="click" [dismissOnSelect]="true"
            class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
            <ng-template>
              <ion-item lines="none" [button]="true">Exportar Excel</ion-item>
              <ion-item lines="none" [button]="true">Exportar PDF</ion-item>
            </ng-template>
          </ion-popover>
        }
    </div>

    <div class="flex flex-col h-full">
      <div class="cont-title">
        <span>Reporte Generado</span>
      </div>

      @if(reporteGenerado){<div class="contenedor-filtros">
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar por n° de comprobante, n° de cuenta o n° de asiento "
            class="w-full" style="--padding-start:30px"></ion-input>
        </div>
        <div class="filtros-absolutos">
          <div class="flex items-center">
            <ion-select placeholder="Emisión" [(ngModel)]="tipoSeleccionado" [ngModelOptions]="{standalone: true}" interface="popover" fill="outline" class="w-[80px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up">
              @for(tipo of tipoFs; track $index){<ion-select-option [value]="tipo.value">{{ tipo.nombre }}</ion-select-option>}
            </ion-select>
            <app-base-calendar-new class="flex-none " mode="range" [initialStartDate]="startDateFiltro" [initialEndDate]="endDateFiltro"
              [minDate]="minDate" [maxDate]="maxDate" position="left" (dateRangeSelected)="filtrarPorFechas($event)">
            </app-base-calendar-new>
          </div>
         
        </div>
      </div>}

      <div class="min-h-[200px] relative flex-1" [appLoader]="isLoading()">
        <ag-grid-angular style="width: 100%; height: 100%;" class="" [rowData]="rowDataDetalle"
          [columnDefs]="colDefsDetalle" [context]="context" [rowHeight]="20" [headerHeight]="24"
          [localeText]="localeText" [paginationPageSize]="20" (gridReady)="onGridReadyDetalle($event)" />
      </div>
      @if(!reporteGenerado){
      <div class="contenedor-btn py-2.5">
        <ion-button fill="outline" color="medium" class="w-fit" (click)="botonCancelar()">Cancelar reporte</ion-button>
      </div>}
    </div>
  </div>
</div>