<div class="contenedor-principal overflow-auto">
  <div class="panel-izquierdo" *ngIf="mostrartabla">
    <div class="cont-title">
      <span>Análisis de compras por proveedores</span>
      <!-- <fa-icon [icon]="fasChevronsLeft" class="text-xs text-primary cursor-pointer"></fa-icon> -->
    </div>
    <div class="contenedor-filtros">
      <div class="buscador">
        <fa-icon [icon]="farSearch"></fa-icon>
        <ion-input fill="outline" placeholder=" Buscar por código, razón social o tipo de documento" class="w-full"
          style="--padding-start:30px"></ion-input>
      </div>
      <div class="filtros-absolutos">
        <div class="flex flex-row">
          <!-- <ion-select placeholder="De registro" toggleIcon="chevron-down" value="0" expandedIcon="chevron-up"
            interface="popover" fill="outline" class="w-[95px] -mr-0.5">
            <ion-select-option value="0">De emisión</ion-select-option>
            <ion-select-option value="1">De última compra</ion-select-option>
          </ion-select> -->
          <app-base-calendar-new class="flex-none" mode="range" [initialStartDate]="startDate"
            [initialEndDate]="endDate" [minDate]="minDate" [maxDate]="maxDate" position="left"
            (dateRangeSelected)="filtrarPorFechas($event)">
          </app-base-calendar-new>
        </div>
      </div>
      <ion-button class="w-[115px] flex-none text-text-85" id="reporteanalisisproveedor" fill="outline">
        <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
        <span>Exportar</span>
        <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
      </ion-button>
      <ion-popover trigger="reporteanalisisproveedor" triggerAction="click" [dismissOnSelect]="true"
        class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
        <ng-template>
          <ion-item lines="none" [button]="true" [detail]="false" (click)="exportarPdf()">Exportar PDF</ion-item>
          <ion-item lines="none" [button]="true" [detail]="false" (click)="exportarCsv()">Exportar Excel</ion-item>
        </ng-template>
      </ion-popover>
    </div>
    <div class="contenedor-primera-tabla" [appLoader]="loading()">
      <fa-icon [icon]="faRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular style="width: 100%; height: 100%;" class="" [rowData]="rowData" [columnDefs]="colDefs"
        [columnTypes]="columnTypes" [gridOptions]="gridOptions" [pagination]="true" [rowHeight]="20"
        [localeText]="localeText" [headerHeight]="24" [paginationAutoPageSize]="true" [pagination]="true"
        (gridReady)="onGridReady($event)" />
    </div>
  </div>
  <div class="panel-derecho h-full overflow-auto">
    <div class="cont-title">
      <span>Análisis de compras: {{ filaSeleccionada ? filaSeleccionada.analisis_proveedor_codigo : 'Seleccionar proveedor' }}</span>
    </div>
    <form action="" [formGroup]="AnalisisProveedorForm">
      <div class="contenedor-formulario">
        <div class="contenido-formulario">
          <span class="label">Tipo de documento </span>
          <ion-input fill="outline" formControlName="tipoDocumento" class="w-[169px]"></ion-input>
        </div>
        <div class="contenido-formulario">
          <span class="label">Moneda </span>
          <ion-input fill="outline" formControlName="moneda" class="w-[169px]"></ion-input>
        </div>
        <div class="contenido-formulario">
          <span class="label">Documentos emitidos </span>
          <ion-input fill="outline" formControlName="documentosEmitidos" class="w-[169px]"></ion-input>
        </div>
        <div class="contenido-formulario">
          <span class="label">Subtotal de compras </span>
          <ion-input fill="outline" formControlName="subTotalC" class="w-[169px]"></ion-input>
        </div>
        <div class="contenido-formulario">
          <span class="label">Impuestos totales </span>
          <ion-input fill="outline" formControlName="impuestosT" class="w-[169px]"></ion-input>
        </div>
        <div class="contenido-formulario">
          <span class="label">Monto total de compras </span>
          <ion-input fill="outline" formControlName="montoTotalCompras" class="w-[169px]"></ion-input>
        </div>
        <div class="contenido-formulario">
          <span class="label">Participación en el total (%) </span>
          <ion-input fill="outline" formControlName="porcPart" class="w-[169px]"></ion-input>
        </div>
        <div class="contenido-formulario">
          <span class="label">Centro de costos </span>
          <ion-input fill="outline" formControlName="centroCosto" class="w-[169px]"></ion-input>
        </div>
        <!-- <div class="contenido-formulario">
          <span class="label">Costo total estimado </span>
          <ion-input fill="outline" formControlName="costoTotalEstimado" class="w-[169px]"></ion-input>
        </div> -->
        <div class="contenido-formulario">
          <span class="label">Sucursal/Almacén </span>
          <ion-input fill="outline" formControlName="sucursalAlmacen" class="w-[169px]"></ion-input>
        </div>
        <div class="contenido-formulario">
          <span class="label">Estado de sugerencia </span>
          <ion-input fill="outline" formControlName="estadoSugerencia" class="w-[169px]"></ion-input>
        </div>
      </div>

    </form>
    <div class="cont-title">
      <span>Top 10 proveedores por monto</span>
    </div>
    <div class="h-full" [appLoader]="loading()">
      <ag-grid-angular style="width: 100%; height: 100%;" class="" [rowData]="rowDataTop" [columnDefs]="colDefsTop"
        [columnTypes]="columnTypes" [rowHeight]="20" [headerHeight]="24" [pagination]="false"
        [suppressAggFuncInHeader]="true" (gridReady)="onGridReadyTop($event)" />
    </div>
  </div>
</div>