<div class="contenedor-principal">
  @if(!panelLateralVisible){<div class="flex items-center justify-center w-[15px] bg-[#E6E8F4]"
    (click)="togglePanelLateral()">
    <fa-icon [icon]="fasChevronsRight" class="text-xs text-primary cursor-pointer"></fa-icon>
  </div>}


  @if(panelLateralVisible){<div class="panel-izquierdo">
    <div class="cont-title">
      <span>Lista de ejercicios fiscales (Selecciona un asiento para visualizarlo)
      </span>
      @if (panelLateralVisible) {
      <div class="btn-mostrarform" (click)="togglePanelLateral()">
        <fa-icon [icon]="fasChevronsLeft"></fa-icon>
      </div>}
    </div>
    <div class="contenedor-filtros">
      <div class="filtros-responsive">
        <div class="contenedor-filtros !p-0">
          <div class="buscador">
            <fa-icon [icon]="farSearch"></fa-icon>
            <ion-input fill="outline" placeholder="Buscar ejercicio fiscal por nombre." class="w-full"
              style="--padding-start:30px"></ion-input>
          </div>
        </div>
      </div>

      <div class="filtros-absolutos">
        <ion-button class="w-[115px] text-text-85" fill="outline" id="ejerciciosfiscales">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="ejerciciosfiscales" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar PDF</ion-item>
          </ng-template>
        </ion-popover>
      </div>
      <ion-button class="w-fit whitespace-nowrap" [disabled]="modoCreacion" (click)="nuevoEjercicioFiscal()">
        <fa-icon [icon]="fasCirclePlus" class="mr-1"></fa-icon>
        <span>Nuevo ejercicio fiscal</span>
      </ion-button>
    </div>

    <div class="h-full relative" [appLoader]="isLoading()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular style="width: 100%; height: 100%;" class="" [rowData]="rowData" [columnDefs]="colDefs"
        [pagination]="true" [rowSelection]="'single'" [rowHeight]="20" [localeText]="localeText" [headerHeight]="24"
        [paginationPageSize]="20" [suppressLoadingOverlay]="true" [suppressRowClickSelection]="true" (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)" />
    </div>

  </div>}

  <div class="panel-derecho !overflow-hidden" [ngClass]="{'!w-full !flex-1': !panelLateralVisible}" [appLoader]="isLoading() && !isResetting">
    <div class="cont-title">
      <span>{{modoCreacion ? 'Nuevo ejercicio fiscal' : 'Ejercicio fiscal: ' + (filaSeleccionada?.ejercicio_fiscal_nombre || '')}}</span>
    </div>

    @if(filaSeleccionada){
    <div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook"></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>
    }

    <div class="flex flex-col overflow-auto flex-grow">
      <form action="" [formGroup]="EjercicioFiscalForm">
        <div class="contenedor-formulario" [ngClass]="{'!flex-row !gap-20': !panelLateralVisible}">
          <div class="contenedor-formulario !p-0">
            <div class="contenido-formulario">
              <span class="label">Nombre de ejercicio fiscal<span class="text-danger">*</span></span>
              <ion-input fill="outline" formControlName="nombre" class="w-[163px]" placeholder="Ingrese el nombre"></ion-input>
            </div>
            <div class="contenido-formulario">
              <span class="label">Fecha de inicio<span class="text-danger">*</span></span>
              @if(!ejercicioCerrado) {
              <app-base-calendar-new class="flex-none" mode="single" [initialDate]="fechaInicio" position="right"
                (dateSelected)="onFechaInicio($event)">
              </app-base-calendar-new>
              }

              @if(ejercicioCerrado) {
              <ion-input fill="outline" formControlName="fechaInicioInput" class="w-[84px]"></ion-input>
              }

            </div>
            <div class="contenido-formulario">
              <span class="label">Fecha de fin<span class="text-danger">*</span></span>
              @if(!ejercicioCerrado) {
              <app-base-calendar-new class="flex-none" mode="single" [initialDate]="fechaFin" position="right"
                (dateSelected)="onFechaFin($event)">
              </app-base-calendar-new>
              }

              @if(ejercicioCerrado) {
              <ion-input fill="outline" formControlName="fechaFinInput" class="w-[84px]"></ion-input>
              }
            </div>

          </div>

          <div class="contenedor-formulario !p-0">

            <div class="contenido-formulario">
              <span class="label">Periocidad<span class="text-danger">*</span></span>
              @if(!ejercicioCerrado) {
              <ion-select fill="outline" placeholder="Selecciona una opción" toggleIcon="chevron-down"
                expandedIcon="chevron-up" interface="popover" class="w-[155px]" formControlName="periocidad"
                (ionChange)="onPeriocidadChange($event.detail.value)" name="periocidad">
                @for(pericodidad of periocidades; track pericodidad){<ion-select-option [value]="pericodidad">{{
                  pericodidad
                  }}</ion-select-option>}
              </ion-select>
              } 
               @if(ejercicioCerrado) {
              <ion-input fill="outline" formControlName="periocidadInput" class="w-[82px]"></ion-input>
              }
            </div>

            <!-- <div class="contenido-formulario">
              <span class="label">Tipo de cierre<span class="text-danger">*</span></span>
              @if(!ejercicioCerrado) {
              <ion-select fill="outline" placeholder="Selecciona una opción" toggleIcon="chevron-down"
                expandedIcon="chevron-up" interface="popover" class="w-[155px]" formControlName="cierre"
                name="cierre">
                @for(cierre of cierres; track cierre){<ion-select-option [value]="cierre">{{ cierre
                  }}</ion-select-option>}
              </ion-select>
              }
              @if(ejercicioCerrado) {
              <ion-input fill="outline" formControlName="cierreInput" class="w-[96px]"></ion-input>
              }
            </div> -->

            <div class="contenido-formulario">
              <span class="label">Estado<span class="text-danger">*</span></span>
              <ion-input formControlName="estado" fill="outline" class="w-[82px]"></ion-input>
            </div>
          </div>
        </div>
      </form>

      <div class="contenedor-btn p-1">
        <ion-button fill="outline" (click)="generarPeriodos()" [disabled]="ejercicioCerrado">Generar periodos</ion-button>
      </div>

      <div class="flex flex-col h-full">
        <div class="cont-title">
          <span class="line-clamp-1">Lista de periodos contables</span>
        </div>
        
        @if(periodosGenerados) {
        <div class="min-h-[250px] flex-1">
          <ag-grid-angular style="width: 100%; height: 100%;" class="" [rowData]="rowDataActual"
            [columnDefs]="colDefsDetalle" [rowHeight]="20" [headerHeight]="24" [localeText]="localeText"
            [paginationPageSize]="20" [suppressLoadingOverlay]="true" (gridReady)="onGridReadyDetalle($event)"
            (cellClicked)="onCellClickedDetalle($event)" />
        </div>
      }
      </div>

      
    </div>
    <div class="contenedor-btn ">
      <ion-button class="w-65" (click)=" guardarEjercicio()" [disabled]="ejercicioCerrado">{{ camponuevo ? 'Registrar' : 'Guardar' }}</ion-button>
      <ion-button color="medium" fill="outline" (click)="nuevoEjercicioFiscal()">
        Cancelar
      </ion-button>
    </div>
  </div>

</div>