<div class="contenedor-principal" [ngClass]="{mostrartabla}">
  <div class="panel-izquierdo" *ngIf="mostrartabla">
    <div class="cont-title">
      <span class="text-xs font-medium">Lista de órdenes de servicio (Selecciona una ord. de servicio de tu lista para
        visualizarlos o editarlos)</span>
      <fa-icon [icon]="fasChevronsLeft" class="text-xs text-primary cursor-pointer"
        (click)="mostrarTabla(false)"></fa-icon>
    </div>


    <!-- Filtros -->
    <div class="contenedor-filtros">
      <div class="buscador">
        <fa-icon [icon]="farSearch" class=" absolute left-2.5 top-1.5 text-xxs text-[#878787] z-40"></fa-icon>
        <ion-input fill="outline" placeholder="Buscar por n° de orden, razón social o  almacén" class="w-full"
          style="--padding-start:30px" (ionInput)="onBuscarLista($event)"></ion-input>
      </div>
      <div class="flex flex-row">
        <ion-select placeholder="De registro" toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover"
          fill="outline" class="w-[110px] -mr-0.5" [(ngModel)]="tipoFechaFiltro"
          [ngModelOptions]="{standalone: true}" (ionChange)="onTipoFechaChange()">
          <ion-select-option value="registro">De registro</ion-select-option>
        </ion-select>
        <!-- calendario -->
        <app-base-calendar-new class="flex-none" mode="range" [initialStartDate]="startDate" [initialEndDate]="endDate"
          [minDate]="minDate" [maxDate]="maxDate" position="center" (dateRangeSelected)="filtrarPorFechas($event)">
        </app-base-calendar-new>
      </div>
      <div class="filtros-absolutos">
        <ion-button class="w-[115px] flex-none" fill="outline" id="aprobarservicios">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="aprobarservicios" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" (click)="exportarExcel()" [button]="true" [detail]="false">Exportar Excel</ion-item>
            <ion-item lines="none" (click)="exportarPdf()" [button]="true" [detail]="false">Exportar PDF</ion-item>
          </ng-template>
        </ion-popover>
        <ion-button class="w-fit flex flex-none" [disabled]="filasSeleccionadas.length < 2"
          (click)="aprobarOrdenesSeleccionadas()">
          <!-- <fa-icon [icon]="fasCheck" class="mr-1"></fa-icon> -->
          <span class="font-normal whitespace-nowrap">Aprobar</span>
        </ion-button>
      </div>
    </div>




    <div class="contenedor-primera-tabla" [appLoader]="loadingObtener()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular style="width: 100%; height: 100%;" class="" [rowData]="rowData" [columnDefs]="colDefs"
        [columnTypes]="columnTypes" [pagination]="true" [rowHeight]="20" [localeText]="localeText" [headerHeight]="24"
        [paginationPageSize]="20" (gridReady)="onGridReady($event)" [rowSelection]="'multiple'"
        [suppressRowClickSelection]="true" (cellClicked)="onCellClicked($event)"
        (selectionChanged)="onSelectionChanged($event)" />
    </div>
  </div>
  <div class="barra-desplegable" (click)="mostrarTabla(true)" *ngIf="!mostrartabla">
    <fa-icon [icon]="fasChevronsRight" class="text-xs text-primary cursor-pointer"></fa-icon>
  </div>
  <div class="panel-derecho !overflow-hidden" [appLoader]="loadingObtener()" [ngClass]="{'!w-full !flex-auto': !mostrartabla}">
    <div class="cont-title">
      <span class="">Datos generales de la orden de servicio {{titulo}}</span>
    </div>
    @if(filaSeleccionada){
    <div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook"></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>
    }
    <div class="flex flex-col overflow-auto">
      <form action="" [formGroup]="OrdenesDeCompraForm" class="contenedor-formulario"
        [ngClass]="{'!flex-row': !mostrartabla}">


        <div class="contenedor-formulario !p-0">
          <!-- <div class="contenido-formulario">
              <span class="label">N° de orden de servicio
                </span>
              <ion-input fill="outline" formControlName="nroordenservicio" [disabled]="true"
                class="w-[169px]"></ion-input>
            </div> -->
          <!-- Columna 1: Razón Social, Dirección fiscal, Fecha de entrega, Dirección de entrega, Moneda, Condición de pago -->
          <div class="contenido-formulario">
            <span class="label">Documento fiscal</span>
            <ion-input placeholder="" fill="outline" formControlName="documentoproveedorinput" [disabled]="true" class="w-[90px]"></ion-input>
          </div>

          <div class="contenido-formulario">
            <span class="label">Razón social </span>
            <ion-input fill="outline" formControlName="proveedor" [disabled]="true" class="w-[169px]"></ion-input>
          </div>

          <div class="contenido-formulario">
            <span class="label">Dirección fiscal</span>
            <ion-input fill="outline" formControlName="direccionFiscal" [disabled]="true"class="w-[169px] text-xxs"></ion-input>
          </div>

          <div class="contenido-formulario">
            <span class="label">Sucursal</span>
            <ion-input fill="outline" formControlName="sucursal" [disabled]="true" class="w-[169px] text-xxs"></ion-input>
          </div>

          <div class="contenido-formulario">
            <span class="label">Fecha de registro</span>
            <ion-input type="date" fill="outline" formControlName="fechaRegistro" [disabled]="true" class="w-[169px]"></ion-input>
          </div>

          <div class="contenido-formulario">
            <span class="label">Dirección de entrega </span>
            <ion-input fill="outline" formControlName="direccionEntrega" [disabled]="true" class="w-[169px]"></ion-input>
          </div>
        </div>

        <!-- Columna 2: RUC, Emitido por, Local de entrega, Proveedor, Tipo de cambio, Estado (solo cuando tabla oculta) -->
        <div class="contenedor-formulario !p-0">
          <div class="contenido-formulario">
            <span class="label">Moneda </span>
            <ion-input fill="outline" formControlName="moneda" [disabled]="true" class="text-xxs w-[169px]"></ion-input>
          </div>
          @if(mostrarTipoCambio){
          <div class="contenido-formulario">
            <span class="label">Tipo de cambio </span>
            <ion-input  fill="outline" formControlName="tipoCambio" [disabled]="true" class="w-[60px]"></ion-input>
          </div>
          }
          <div class="contenido-formulario">
            <span class="label">Condición de pago
              </span>
            <ion-input fill="outline" formControlName="condicionPago" [disabled]="true" class="text-xxs w-[169px]"></ion-input>
          </div>
          <div class="contenido-formulario">
            <span class="label">Estado </span>
            <ion-input [disabled]="true" formControlName="estado" fill="outline" class="w-[169px] text-xxs"></ion-input>
          </div>
        </div>
      </form>
      <div class="cont-title">
        <span>Detalle de Servicios</span>
      </div>
      <div class="contenedor-filtros">
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar producto por nombre o código" [disabled]="true" class="w-full"
            style="--padding-start:30px"></ion-input>
        </div>
      </div>

      <div class="px-1 min-h-[140px]">
        <ag-grid-angular style="width: 100%; height: 100%;" class="" [rowData]="rowDataArticulos"
          [columnDefs]="colDefsArticulos" [columnTypes]="columnTypes" [localeText]="localeText" [rowHeight]="20" [headerHeight]="24"
          [paginationPageSize]="20" (gridReady)="onGridReadyArticulos($event)"
          (cellClicked)="onCellClickedArticulo($event)" />
      </div>
      <div class="flex flex-row gap-2 items-start justify-between px-2 pt-4">
        <ion-textarea fill="outline" placeholder="Observaciones" [disabled]="true"
          class="max-w-[459px] !h-[60px]"></ion-textarea>
        <div class="resumen-totales">
          <div class="resumen-fila">
            <span class="resumen-label">Subtotal</span>
            <span class="resumen-valor">S/0.00</span>
          </div>
          <div class="resumen-fila">
            <span class="resumen-label">Impuestos</span>
            <span class="resumen-valor">S/0.00</span>
          </div>
          <div class="resumen-fila">
            <span class="text-xxs text-primary">Total</span>
            <span class="text-xxs">S/0.00</span>
          </div>
        </div>
      </div>
    </div>
    @if(filaSeleccionada){
      <div class="conjunto-btn mt-auto">
        <ion-button [disabled]="inhabilitarbotones" color="danger" fill="outline" expand="block" class="w-[70px] whitespace-nowrap" (click)="abrirModalRechazarOrden()">Rechazar</ion-button>
        <ion-button [disabled]="inhabilitarbotones" expand="block" fill="outline" class="w-[70px] whitespace-nowrap"(click)="abrirModalRetornarOrden()">Retornar</ion-button>
        <ion-button [disabled]="inhabilitarbotones" expand="block" class="w-[70px] whitespace-nowrap"(click)="abrirModalAprobarOrden()">Aprobar</ion-button>
      </div>
    }
  </div>
</div>

<!-- @if(filaSeleccionada?.estado == 'Aprobada'){<div class="contenido-formulario">
              <span class="w-[120px] text-xxs">Autorizado por</span>
              <ion-input fill="outline" formControlName="autorizadoPor" class="w-[169px]"></ion-input>
            </div>}
          @if(filaSeleccionada?.estado == 'Rechazada'){ <div class="contenido-formulario">
              <span class="w-[120px] text-xxs">Rechazado por</span>
              <ion-input fill="outline" formControlName="rechazadoPor" class="w-[169px]"></ion-input>
            </div>}
            @if(filaSeleccionada?.estado == 'Retornada'){<div class="contenido-formulario">
              <span class="w-[120px] text-xxs">Retornado por</span>
              <ion-input fill="outline" formControlName="retornadoPor" class="w-[169px]"></ion-input>
            </div>} -->