<form class="flex flex-row w-full gap-1" [ngClass]="{'!flex-col': mostrartabla}" [formGroup]="formGroup">
  <div class="contenedor-formulario !p-0">
    <!-- <div class="contenido-formulario">
      <span class="label">Código de siniestro</span>
      <ion-input fill="outline" class="w-[163px]" formControlName="codSiniestro">
      </ion-input>
    </div> -->
    <div class="contenido-formulario">
      <span class="label">Fecha del incidente</span>
      @if(soloVista) {
        <ion-input fill="outline" class="w-[163px]" type="date" formControlName="fechaIncidente"></ion-input>
      } @else {
        <app-base-calendar-new
          class="flex-none"
          mode="single"
          position="right"
          [initialDate]="formGroup.get('fechaIncidente')?.value"
          (dateSelected)="onFechaIncidente($event)">
        </app-base-calendar-new>
      }
    </div>
    <div class="contenido-formulario">
      <span class="label">Causa del siniestro <span class="font-bold text-danger">*</span></span>
      @if(soloVista) {
        <ion-input fill="outline" class="w-[163px] capitalize" formControlName="causaSiniestro"></ion-input>
      } @else {
        <ion-select placeholder="Selecciona una causa" toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover" fill="outline" class="w-[163px] flex-none" formControlName="causaSiniestro">
          @for(item of tabfechaincidente; track item.value){
            <ion-select-option [value]="item.value">{{item.nombre}}</ion-select-option>
          }
        </ion-select>
      }
    </div>
  </div>
  <div class="contenedor-formulario !p-0">
    <div class="contenido-formulario">
      <span class="label">Póliza asociada <span class="font-bold text-danger">*</span></span>
      @if(soloVista) {
        <ion-input fill="outline" class="w-[163px]" formControlName="polizaAsociada"></ion-input>
      } @else {
        <app-autocomplete
          formControlName="polizaAsociada"
          [items]="polizasAsociadas()"
          displayKey="nombre"
          valueKey="codigo"
          placeholder="Buscar póliza"
          width="w-[163px]"
          (itemSelected)="onPolizaSeleccionada($event)">
        </app-autocomplete>
      }
    </div>
    <div class="contenido-formulario">
      <span class="label">Aseguradora<span class="font-bold text-danger">*</span></span>
      @if(soloVista) {
        <ion-input fill="outline" class="w-[163px]" formControlName="aseguradora"></ion-input>
      } @else {
        <app-autocomplete
          formControlName="aseguradora"
          [items]="aseguradoras()"
          displayKey="nombre"
          valueKey="nombre"
          placeholder="Buscar Aseguradora"
          width="w-[163px]"
          (itemSelected)="onAseguradoraSeleccionada($event)">
        </app-autocomplete>
      }
    </div>
    <div class="contenido-formulario !items-start">
      <span class="label">Descripción del evento</span>
      <ion-textarea fill="outline" class="w-[163px] h-[56px] text-xxs" formControlName="descripcionEvento" />
    </div>
  </div>
</form>