<div class="contenedor-principal-modal !w-[460px]">
  <div class="titulo-modal">
    <div class="flex flex-row gap-1 items-center">
      <fa-icon [icon]="farPlusCircle" class="text-primary text-xs"></fa-icon>
      <span>{{ cuentaEditar ? 'Editar cuenta bancaria' : 'Agregar cuenta bancaria' }}</span>
    </div>
    <fa-icon [icon]="fasXmark" class="text-xs cursor-pointer" (click)="closemodal()"></fa-icon>
  </div>
  <div class="contenido-modal">
    <form [formGroup]="formulario" class="contenedor-formulario">
      <div class="contenido-formulario">
        <span class="label">Entidad financiera <span class="text-danger">*</span></span>
        <ion-input 
          fill="outline" 
          class="w-[141px]"
          formControlName="entidadFinanciera"
          placeholder="Ingrese entidad"></ion-input>
      </div>

      <div class="contenido-formulario">
        <span class="label">Tipo de cuenta <span class="text-danger">*</span></span>
        <ion-select 
          placeholder="Seleccionar" 
          toggleIcon="chevron-down" 
          expandedIcon="chevron-up"
          interface="popover" 
          fill="outline" 
          class="w-[141px] flex-none"
          formControlName="tipoCuenta">
          @for(tipo of tiposCuenta; track tipo.id) {
            <ion-select-option [value]="tipo.value">{{ tipo.label }}</ion-select-option>
          }
        </ion-select>
      </div>

      <div class="contenido-formulario">
        <span class="label">Moneda <span class="text-danger">*</span></span>
        <ion-select 
          placeholder="Seleccionar" 
          toggleIcon="chevron-down" 
          expandedIcon="chevron-up"
          interface="popover" 
          fill="outline" 
          class="w-[141px] flex-none"
          formControlName="moneda">
          @for(moneda of monedas; track moneda.value) {
            <ion-select-option [value]="moneda.value">{{ moneda.label }}</ion-select-option>
          }
        </ion-select>
      </div>

      <div class="contenido-formulario">
        <span class="label">N° de cuenta <span class="text-danger">*</span></span>
        <div class="flex flex-col gap-1">
          <ion-input 
            fill="outline" 
            class="w-[163px]"
            type="number"
            formControlName="nroCuenta"
            placeholder="Ingrese número de cuenta"></ion-input>
          @if(formulario.get('nroCuenta')?.hasError('minlength')) {
            <span class="text-xxss text-danger">Mínimo 8 caracteres</span>
          }
        </div>
      </div>
      @if(pais != 'GT'){
      <div class="contenido-formulario">
        <span class="label">CCI <span class="text-danger">*</span></span>
        <div class="flex flex-col gap-1">
          <ion-input 
            fill="outline" 
            class="w-[163px]"
            type="number"
            formControlName="cci"
            placeholder="Ingrese CCI"></ion-input>
          @if(formulario.get('cci')?.hasError('minlength')) {
            <span class="text-xxss text-danger">CCI debe tener 20 dígitos</span>
          }
          
        </div>
      </div>
      }
    </form>
    <div class="conjunto-btn">
      <ion-button color="medium" fill="outline" class="w-[68px]" (click)="closemodal()">
        <span>Cancelar</span>
      </ion-button>
      <ion-button 
        class="w-fit" 
        [disabled]="!formulario.valid"
        (click)="registrarCuenta()">
        <span>{{ cuentaEditar ? 'Actualizar' : 'Registrar' }} cuenta</span>
      </ion-button>
    </div>
  </div>
</div>