<div class="w-[700px] flex flex-col bg-[#e7e7e7] px-[7px] gap-0.5 py-[5px]">
  <div class="flex justify-between items-center w-full py-1">
    <div class="flex items-center gap-1 ">
      <span class="text-sm font-bold">Aprobar orden de servicio</span>
    </div>
    <fa-icon [icon]="farXmark" class="text-sm cursor-pointer"></fa-icon>
  </div>
  <div class="flex flex-col bg-white p-3 gap-2"> 
      <span class="text-sm font-bold">Detalle de la orden de servicio</span>
      <div class="flex text-xs font-semibold flex-row gap-2 ">
        <span class="w-[120px]">Número de orden</span>
        <span>OC-2025-010</span>
      </div>
      <div class="flex text-xs font-semibold flex-row gap-2">
        <span class="w-[120px]">Proveedor:</span>
        <span>Distribuidora Alimentos SAC</span>
      </div>
      <div class="flex text-xs font-semibold flex-row gap-2">
        <span class="w-[120px]">Estado:</span>
        <span>Pendiente</span>
      </div>
    <div class="flex justify-end flex-row gap-3">
      <ion-button class="w-[70px]">Cancelar</ion-button>
      <ion-button class="bg-primary text-xxs text-white w-[70px] mr-2">Aprobar</ion-button>
    </div>
  </div>
</div>