<div class="contenedor-principal">
  @if (!panelLateralVisible) {
  <div class="barra-desplegable"
    (click)="togglePanelLateral()">
    <fa-icon [icon]="fasChevronsRight"></fa-icon>
  </div>
  }

  @if (panelLateralVisible) {
  <!-- Panel izquierdo - Tabla -->
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span>Gestión de seguros asociados a activos fijos</span>
    </div>

    <!-- Filtros -->
    <div class="contenedor-filtros">
      <div class="filtros-responsive">
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar por código o por activo"
            style="--padding-start:30px"></ion-input>
        </div>
      </div>

      <div class="filtros-absolutos">
        <ion-button fill="outline" class="flex-none w-[115px]" id="polizasseguros">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="polizasseguros" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar PDF</ion-item>
          </ng-template>
        </ion-popover>
        <ion-button class="w-fit" [disabled]="!selectedPoliza" (click)="nuevaPoliza()">
          <fa-icon [icon]="fasCirclePlus" class="mr-1"></fa-icon>
          <span>Nueva póliza</span>
        </ion-button>
      </div>
    </div>

    <div class="flex flex-col h-full overflow-hidden">

      <!-- Alerta -->
      @if (polizasProximasVencer > 0) {
      <div class="flex items-center gap-2 bg-danger-5 px-3 py-2 text-xs text-danger-45">
        <fa-icon [icon]="farInfoCircle"></fa-icon>
        <span>Hay <strong>{{ polizasProximasVencer }} póliza(s)</strong> que vencen en los próximos 30 días</span>
      </div>
      }
      <div class="h-full relative" [appLoader]="isLoadingPolizas()">
        <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
        <ag-grid-angular style="width: 100%; height: 100%;" [rowData]="rowData()" [columnDefs]="colDefs"
          [defaultColDef]="defaultColDef" [columnTypes]="columnTypes" [pagination]="true" [localeText]="localeText"
          [rowHeight]="20" [headerHeight]="24" [paginationPageSize]="20" [rowSelection]="'single'"
          [gridOptions]="gridOptions" (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)"
          [purgeClosedRowNodes]="true" />
      </div>
    </div>
  </div>
  }

  <!-- Panel derecho - Formulario -->
  <div class="panel-derecho" [appLoader]="isLoadingPolizas()">
    <div class="cont-title">
      <span>{{ !selectedPoliza ? 'Nueva póliza de seguro' : 'Póliza de seguro: ' + (selectedPoliza?.poliza_codigo || '')
        }}</span>
    </div>
    @if(selectedPoliza){
    <div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook"></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>}

    <form [formGroup]="polizaForm" class="flex flex-col gap-1">
      <div class="contenedor-formulario">
        <div class="contenido-formulario">
          <span class="label">Activo <span class="text-red-500">*</span></span>
          <app-autocomplete formControlName="activo" [items]="activosList" [displayKey]="'nombre'" [valueKey]="'id'"
            [placeholder]="!selectedPoliza ? 'Selecciona un activo' : ''" [width]="'w-full max-w-[200px]'"
            (itemSelected)="onActivoSelected($event)">
          </app-autocomplete>
        </div>

        <div class="contenido-formulario">
          <span class="label">Cód. de Póliza <span class="text-red-500">*</span></span>
          <ion-input fill="outline" [placeholder]="!selectedPoliza ? 'Ingrese código' : ''"
            formControlName="codigoPoliza" name="codigoPoliza" class="w-[150px]"></ion-input>
        </div>

        <div class="contenido-formulario">
          <span class="label">Compañía Aseguradora <span class="text-red-500">*</span></span>
          <app-autocomplete formControlName="companiaSeleccionada" [items]="companiasList" [displayKey]="'nombre'"
            [valueKey]="'nombre'" [placeholder]="!selectedPoliza ? 'Selecciona una compañía' : ''"
            [width]="'w-full max-w-[200px]'" (itemSelected)="onCompaniaSelected($event)" name="companiaSeleccionada">
          </app-autocomplete>
        </div>

        <div class="contenido-formulario">
          <span class="label">Tipos de Seguro <span class="text-red-500">*</span></span>
          <app-autocomplete formControlName="tipoSeguroSeleccionado" [items]="tiposSeguroList" [displayKey]="'nombre'"
            [valueKey]="'id'" [placeholder]="!selectedPoliza ? 'Selecciona un seguro' : ''"
            [width]="'w-full max-w-[200px]'" (itemSelected)="onTipoSeguroSelected($event)"
            name="tipoSeguroSeleccionado">
          </app-autocomplete>
        </div>

        <div class="contenido-formulario">
          <span class="label">Fecha de Inicio <span class="text-red-500">*</span></span>
          <app-base-calendar-new class="flex-none" mode="single" [initialDate]="polizaForm.get('fechaInicio')?.value"
            [disabled]="disabledCalendars" position="center" (dateSelected)="onFechaInicio($event)">
          </app-base-calendar-new>
        </div>

        <div class="contenido-formulario">
          <span class="label">Fecha de Vencimiento <span class="text-red-500">*</span></span>
          <app-base-calendar-new class="flex-none" mode="single"
            [initialDate]="polizaForm.get('fechaVencimiento')?.value" [disabled]="disabledCalendars" position="center"
            (dateSelected)="onFechaVenciemiento($event)">
          </app-base-calendar-new>
        </div>

        <div class="contenido-formulario">
          <span class="label">Suma Asegurada <span class="text-red-500">*</span></span>
          <ion-input fill="outline" [placeholder]="!selectedPoliza ? 'Ingrese monto' : ''"
            formControlName="sumaAsegurada" name="sumaAsegurada" class="w-[150px]"></ion-input>
        </div>

        <div class="contenido-formulario">
          <span class="label">Moneda <span class="text-red-500">*</span></span>
          <ion-select fill="outline" [placeholder]="!selectedPoliza ? 'Selecciona una moneda' : ''"
            toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover" class="w-[150px]"
            formControlName="monedaSeleccionada" name="monedaSeleccionada">
            @for(moneda of monedas; track moneda){<ion-select-option [value]="moneda">{{ moneda }}</ion-select-option>}
          </ion-select>
        </div>

        <div class="contenido-formulario">
          <span class="label">Prima Total <span class="text-red-500">*</span></span>
          <ion-input fill="outline" [placeholder]="!selectedPoliza ? 'Ingrese prima' : ''" formControlName="primaTotal"
            name="primaTotal" class="w-[150px]"></ion-input>
        </div>

        <div class="contenido-formulario">
          <span class="label">Deducible <span class="text-red-500">*</span></span>
          <div class="flex items-center">
            <ion-input fill="outline" [placeholder]="!selectedPoliza ? 'Ingrese deducible' : ''"
              formControlName="deducible" name="deducible" class="w-[100px]"></ion-input>
            <ion-select fill="outline" toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover"
              class="w-[60px] min-w-[60px]" formControlName="tipoDeducible" name="tipoDeducible">
              <ion-select-option value="porcentaje">%</ion-select-option>
              <ion-select-option value="monto">S/</ion-select-option>
            </ion-select>
          </div>
        </div>

        <div class="contenido-formulario">
          <span class="label">Beneficiario/a <span class="text-red-500">*</span></span>
          <ion-input fill="outline" [placeholder]="!selectedPoliza ? 'Nombre del beneficiario' : ''"
            formControlName="beneficiario" name="beneficiario" class="w-full max-w-[200px]"></ion-input>
        </div>

        <div class="contenido-formulario">
          <span class="label">Documento soporte <span class="text-red-500">*</span></span>
          <div class="flex items-center gap-2 w-40 h-[28px] border border-text-5 rounded-sm px-2"
            [ngClass]="{'bg-Background-light': documentoSoporte}">
            @if (documentoSoporte) {
            <span class="text-xxs flex-1 line-clamp-1">{{ documentoSoporte }}</span>
            <fa-icon [icon]="farCircleXmark" class="text-danger cursor-pointer text-xs" (click)="removeFile()">
            </fa-icon>
            } @else {
            <input type="file" #fileInput (change)="onFileSelected($event)" class="hidden">
            <span class="text-xxs cursor-pointer flex-1 line-clamp-1 underline text-primary"
              (click)="fileInput.click()">
              Haz clic para subir un archivo
            </span>
            }
          </div>
        </div>


        <div class="contenido-formulario !items-start">
          <span class="label">Observaciones</span>
          <ion-textarea fill="outline" [placeholder]="!selectedPoliza ? 'Ingrese observaciones' : ''"
            formControlName="observaciones" name="observaciones" class="w-[200px]" rows="3"></ion-textarea>
        </div>
      </div>
    </form>

    <div class="contenedor-btn">
      @if (selectedPoliza?.poliza_estado) {
      <div class="flex gap-3">
        <ion-button fill="outline" color="danger" [disabled]="disabledCancelar" (click)="abrirModalCancelar()">
          <span class="font-bold">Anular</span>
        </ion-button>
        <ion-button fill="outline" [disabled]="disabledRenovar" (click)="renovarPoliza()">
          Renovar
        </ion-button>
        <ion-button [disabled]="disabledGuardar" (click)="guardarPoliza()">
          Guardar
        </ion-button>
      </div>
      }

      @if (!selectedPoliza?.poliza_estado) {
      <ion-button (click)="guardarPoliza()">
        Registrar
      </ion-button>
    }
    <ion-button color="medium" fill="outline" (click)="nuevaPoliza()">
      Cancelar
    </ion-button>
    </div>
  </div>
</div>