<div class="contenedor-modal !w-[500px]">
  <div class="header">
    <div class="flex items-center gap-1 ">
      <span class="text-sm font-bold">Rechazar traslado</span>
    </div>
    <fa-icon [icon]="farXmark" class="text-sm cursor-pointer" (click)="dismissModal()"></fa-icon>
  </div>
  <div class="cont-modal"> 
      <span class="text-xs font-bold">Detalle de traslado</span>
      <div class="flex flex-row">
        <div class="flex flex-1 flex-col gap-1">
          <div class="flex text-xxs font-semibold flex-row gap-2 ">
            <span class="w-[100px]">N° de traslado:</span>
            <span>OC-2025-010</span>
          </div>
          <div class="flex text-xxs font-semibold flex-row gap-2">
            <span class="w-[100px]">Solicitante:</span>
            <span>Juan Pérez</span>
          </div>
          <div class="flex text-xxs font-semibold flex-row gap-2">
            <span class="w-[100px]">F. de solicitud:</span>
            <span>27/10/2025</span>
          </div>
          <div class="flex text-xxs font-semibold flex-row gap-2">
            <span class="w-[100px]">Centro de costos:</span>
            <span>1010 - Marketing</span>
          </div>
        </div>
        <div class="flex flex-1 flex-col gap-1">
          <div class="flex text-xxs font-semibold flex-row gap-2 ">
            <span class="w-[100px]">Origen:</span>
            <span>Sucursal San Isidro</span>
          </div>
          <div class="flex text-xxs font-semibold flex-row gap-2">
            <span class="w-[100px]">Destino:</span>
            <span>Sucursal Barranco</span>
          </div>
          <div class="flex text-xxs font-semibold flex-row gap-2">
            <span class="w-[100px]">Respon. de Activo:</span>
            <span>Angel More</span>
          </div>
          <div class="flex text-xxs font-semibold flex-row gap-2">
            <span class="w-[100px]">Área:</span>
            <span>Marketing</span>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-1">
        <span class="text-xs font-bold">Motivo del rechazo</span>
        <ion-textarea 
          rows="2" 
          class="w-full border border-solid border-gray-300 rounded py-2 text-xs" 
          placeholder="Describe el motivo del rechazo o las observaciones para el emisor."></ion-textarea>
      </div>
    <div class="contenedor-btn !p-0">
      <ion-button class="w-[68px] text-text-85" fill="outline" color="medium" (click)="dismissModal()">Cancelar</ion-button>
      <ion-button fill="outline" color="danger" class="text-xxs text-white w-[70px] mr-2" (click)="Rechazar()">Rechazar</ion-button>
    </div>
  </div>
</div>