@keyframes blinkParcial {
  0% {
    color: #EF4444;
  }
  50% {
    color: inherit;
  }
  100% {
    color: #EF4444;
  }
}
@keyframes blinkParcial-contenedor {
  0% {
    border-color: #EF4444;
    background-color: #FFF5F5;
    color: #EF4444;
  }
  50% {
    background-color: white;
    border-color: #FFF5F5;
    color: inherit;
  }
  100% {
    border-color: #EF4444;
    background-color: #FFF5F5;
    color: #EF4444;
  }
}
.animation{
  animation: blinkParcial 1.5s ease-in-out infinite;
}
.animation-contenedor{
  animation: blinkParcial-contenedor 1.5s ease-in-out infinite;
}