<div class="contenedor-principal">
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span>Consulta de Órdenes de Compra Pendientes</span>
    </div>

    <!-- Filtros -->
    <div class="contenedor-filtros">
      <div class="filtros-responsive">
          <div class="relative w-full">
            <fa-icon [icon]="farSearch"
              class=" absolute left-2.5 top-1.5 text-xxs text-[#878787] z-40"></fa-icon>
            <ion-input fill="outline" placeholder="Buscar por código, proveedor o almacén" class="w-full"
              style="--padding-start:30px"></ion-input>
          </div>
        </div>
        <div class="flex">
          <ion-select placeholder="Fecha" toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover"
            fill="outline" class="w-[95px] -mr-0.5" value="0">
            <ion-select-option value="0">Emision</ion-select-option>
            <ion-select-option value="1">Entrega</ion-select-option>
          </ion-select>
          <!-- calendario -->
          <app-base-calendar-new class="flex-none" mode="range" [initialStartDate]="startDate"
          [initialEndDate]="endDate" [minDate]="minDate" [maxDate]="maxDate" position="center"
          (dateRangeSelected)="filtrarPorFechas($event)">
        </app-base-calendar-new>
      </div>

      <div class="flex items-center gap-3 flex-none">
        <ion-button class="w-[115px] flex-none" id="reportesordencompra" fill="outline">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="reportesordencompra" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false" (click)="exportarPdf()">Exportar PDF</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false" (click)="exportarExcel()">Exportar Excel</ion-item>
          </ng-template>
        </ion-popover>
      </div>
    </div>

    <!-- Indicadores -->
    <div class="cont-cards">
      <div class="card">
        <div class="contenido">
          <span class="title">Tasa de cumplimiento de proveedores</span>
          <ion-skeleton-text *ngIf="isLoading()" [animated]="true" style="width: 200px;height: 20px;"></ion-skeleton-text>
          <span *ngIf="!isLoading()" class="cantidad">90%</span>
        </div>
        <div class="icon">
          <fa-icon [icon]="fasHandHoldingDollar"></fa-icon>
        </div>
      </div>
      <div class="card">
        <div class="contenido">
          <span class="title">Promedio días de atraso x proveedor</span>
          <ion-skeleton-text *ngIf="isLoading()" [animated]="true" style="width: 200px;height: 20px;"></ion-skeleton-text>
          <span *ngIf="!isLoading()" class="cantidad">10 días</span>
        </div>
        <div class="icon">
          <fa-icon [icon]="fasPerson"></fa-icon>
        </div>
      </div>
      <div class="card">
        <div class="contenido">
          <span class="title">Monto total pendiente x recibir o facturar</span>
          <ion-skeleton-text *ngIf="isLoading()" [animated]="true" style="width: 200px;height: 20px;"></ion-skeleton-text>
          <span *ngIf="!isLoading()" class="cantidad">S/ 999,999.00</span>
        </div>
        <div class="icon">
          <fa-icon [icon]="fasDollar"></fa-icon>
        </div>
      </div>
    </div>
    <div class="h-full relative" [appLoader]="isLoading()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular style="width: 100%; height: 100%;" class="" [rowData]="facade.consultaOrdenesCompra()" [columnDefs]="colDefs"
        [columnTypes]="columnTypes" [pagination]="true" [rowHeight]="20" [headerHeight]="24" [localeText]="localeText"
        [paginationPageSize]="20" rowSelection="single" [suppressLoadingOverlay]="true"
        (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)" />
    </div>
  </div>
  <div class="panel-derecho h-full" [appLoader]="isLoading()">
    <div class="cont-title">
      <span>Información: {{ filaSeleccionada?.orden_compra_codigo }}</span>
    </div>
    <div class="contenedor-formulario">
      <div class="contenido-formulario">
        <span class="label">Proveedor</span>
        <ion-input fill="outline" class="w-[163px]" disabled="true" [value]="selectedOrden?.orden_compra_proveedor"></ion-input>
      </div>
      <div class="contenido-formulario">
        <span class="label">Almacen</span>
        <ion-input fill="outline" class="w-[163px]" disabled="true" [value]="selectedOrden?.orden_compra_almacen"></ion-input>
      </div>
      <!-- <div class="contenido-formulario">
        <span class="label">Usuario responsable</span>
        <ion-input fill="outline" class="w-[163px]" disabled="true" [value]="selectedOrden?.usuarioResp"></ion-input>
      </div> -->
      <div class="contenido-formulario">
        <span class="label">Fecha de ejecución</span>
        <ion-input fill="outline" class="w-[163px]" disabled="true" [value]="selectedOrden?.orden_compra_fecha_emision"></ion-input>
      </div>
      <div class="contenido-formulario">
        <span class="label">Fecha est. entrega</span>
        <ion-input fill="outline" class="w-[163px]" disabled="true" [value]="selectedOrden?.orden_compra_fecha_entrega"></ion-input>
      </div>
      <div class="contenido-formulario">
        <span class="label">Ejecución</span>
        <ng-container *ngIf="selectedOrden as orden;">
        <ion-input fill="outline" class="w-[163px]" disabled="true" [value]="(orden.orden_compra_ejecucion | number:'1.2-2') + '%'"></ion-input>
          </ng-container>
      </div>
      <div class="contenido-formulario ">
        <span class="label animation">Días de atraso</span>
        <span class="h-[28px] px-2 animation-contenedor border border-solid rounded-[2px] text-xxs flex items-center justify-center">
          <!-- Aquí podrías calcular días de atraso si tienes la lógica -->
          -
        </span>
      </div>
      <div class="contenido-formulario">
        <span class="label">Monto total</span>
          <ng-container *ngIf="selectedOrden as orden">
            <ion-input fill="outline" class="w-[163px]" disabled="true" [value]="'S/' + (orden.orden_compra_monto_total | number:'1.2-2')"></ion-input>
          </ng-container>
      </div>
      <div class="contenido-formulario">
        <span class="label">Estado</span>
        <ion-input fill="outline" class="w-[163px]" disabled="true" [value]="selectedOrden?.orden_compra_estado"></ion-input>
      </div>
    </div>
    <div class="cont-title">
      <span>Detalle de productos en: {{ filaSeleccionada?.orden_compra_codigo }}</span>
    </div>
    <div class="h-full">
      <ag-grid-angular style="width: 100%; height: 100%;" class="" [rowData]="rowDataDetalle"
        [columnDefs]="colDefsDetalle" [columnTypes]="columnTypes" [pagination]="false" [rowHeight]="20"
        [headerHeight]="24" [localeText]="localeText" [paginationPageSize]="20"
        (gridReady)="onGridReadyDetalle($event)" />
    </div>
  </div>
</div>