<div class="w-[700px] flex flex-col bg-[#e7e7e7] px-[7px] gap-0.5 py-[5px] rounded-none">
  <div class="flex justify-between items-center w-full py-1">
    <div class="flex items-center gap-1 ">
      <fa-icon [icon]="farArrowUpFromBracket" class="text-xs text-primary"></fa-icon>
      <span class="text-sm font-bold">{{titulo}}</span>
    </div>
    <fa-icon [icon]="farXmark" class="text-sm cursor-pointer" (click)="dismissModal()"></fa-icon>
  </div>
  <div class="flex flex-col bg-white p-2.5 gap-2 rounded-none"> 
    <div class="flex gap-5 w-full">
      <div class="card-pasos justify-end w-full">
        <div class="flex flex-col gap-1 w-full" [ngClass]="{'mb-5': !habilitarformatonumerico && !habilitarselector}">
          <div class="flex items-center gap-2 w-full">
            <img src="assets/imagenes/formato.svg" alt="">
            <div class="flex flex-col gap-1">
              <span class="text-sm font-bold text-primary">Paso 01</span>
              <span class="text-xs font-bold text-text-85">{{descripcionpaso1}}</span>
            </div>
          </div>
          <div class="flex gap-2 px-2.5 py-2 rounded bg-[#FAFCFE]">
            <fa-icon [icon]="farInfoCircle" class="text-xs"></fa-icon>
            <span class="text-xxs">Manten la estructura del formato descargado. No modifiques los nombres de columnas ni el tipo de dato.</span>
          </div>
        </div>
        @if(habilitarselector){
        <div class="flex flex-1 flex-row gap-2 items-center justify-between w-full">
          <span class="text-xs">{{nombreselector}} <span class="text-danger">*</span></span>
          <ion-select fill="outline" [placeholder]="placeholderselector" class="w-[163px]" toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover">
            @for(opcion of opcionesSelector; track opcion.value){
              <ion-select-option [value]="opcion.value">{{opcion.label}}</ion-select-option>
            }
          </ion-select>
        </div>
        }
        @if(habilitarformatonumerico){
        <div class="border-dashed w-full py-2 px-2.5 border rounded-[2px] bg-[#F5F7FC]">
          <span class="text-xs font-bold">Formato numérico <fa-icon [icon]="fasQuestionCircle" class="text-xs text-primary"></fa-icon></span>
          <ion-select fill="outline" class="w-[230px]" toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover" value="coma">
            <ion-select-option value="coma">Coma decimal (2.000.005,50)</ion-select-option>
            <ion-select-option value="punto">Punto decimal (2000005.50)</ion-select-option>
          </ion-select>
        </div>
        }
        @if(habilitarperiodo){
        <div class="flex flex-col gap-1 w-full">
          <div class="flex flex-1 flex-row gap-2 items-center">
            <span class="w-[120px] text-xs">Periodo contable <span class="text-danger">*</span></span>
            <ion-input fill="outline" class="w-[82px]"></ion-input>
          </div>
          <div class="flex flex-1 flex-row gap-2 items-center">
            <span class="w-[120px] text-xs">Libro <span class="text-danger">*</span></span>
            <ion-input fill="outline" class="w-[163px]"></ion-input>
          </div>
        </div>
        }
        <ion-button class="w-[171px] gap-1 text-text-85" fill="outline" (click)="dismissModal()" *ngIf="habilitarselector === false">
          <fa-icon [icon]="fasDownload"></fa-icon>
          Descargar plantilla
        </ion-button>
      </div>
      <div class="card-pasos w-full">
        <div class="flex flex-col gap-1 w-full">
          <div class="flex items-center gap-2 w-full">
            <img src="assets/imagenes/upload.svg" alt="">
            <div class="flex flex-col gap-1">
              <span class="text-sm font-bold text-primary">Paso 02</span>
              <span class="text-xs font-bold text-text-85">Subir archivo de Excel</span>
            </div>
          </div>
          <div class="flex gap-2 px-2.5 py-2 rounded bg-[#FAFCFE]">
            <fa-icon [icon]="farInfoCircle" class="text-xs"></fa-icon>
            <span class="text-xxs">{{descripcionpaso2}}</span>
          </div>
          <div class="card-dashed" *ngIf="habilitarselector === false">
            <span class="text-xs">{{descripcionSubir}}</span>
          </div>
        </div>
        <input #fileInput type="file" style="display: none" (change)="onArchivoSeleccionado($event)" accept=".xlsx,.xls,.csv" />
        <ion-button class="w-max gap-1" (click)="Importar()">
          <fa-icon [icon]="fasUpload"></fa-icon>
          {{buttonName}}
        </ion-button>
      </div>
    </div>
    <div class="flex justify-end ">
      <ion-button class="w-[68px] text-text-85" fill="outline" color="medium" (click)="dismissModal()">Cancelar</ion-button>
    </div>
  </div>
</div>