<div class="flex flex-row w-full gap-1" [ngClass]="{'!flex-col': mostrartabla}" [formGroup]="formGroup">
    <div class="contenedor-formulario !p-0">
        <div class="contenido-formulario">
            <span class="label">Fecha de evaluación</span>
            @if(soloVista) {
              <ion-input fill="outline" class="w-[163px]" type="date" formControlName="fechaEvaluacion"></ion-input>
            } @else {
              <app-base-calendar-new
                  class="flex-none"
                  mode="single"
                  position="right"
                  [initialDate]="formGroup.get('fechaEvaluacion')?.value"
                  (dateSelected)="onFechaEvaluacion($event)">
              </app-base-calendar-new>
            }
        </div>
        <div class="contenido-formulario">
            <span class="label">Evaluador responsable</span>
            <ion-input fill="outline" class="w-[163px]" formControlName="evaluadorResponsable"></ion-input>
        </div>
    </div>
    <div class="contenedor-formulario !p-0">
        <div class="contenido-formulario">
            <span class="label">Porcentaje del daño</span>
            <ion-input fill="outline" placeholder="0.00" class="w-[80px]" formControlName="porcentajeDano">
                <span slot="end" class="text-xxs xl:text-xs">%</span>
            </ion-input>
        </div>
        <div class="contenedor-formulario !p-0">
            <div class="contenido-formulario">
                <span class="label">Tipo de costo</span>
            </div>
            <div class="flex flex-row gap-4">
                <ion-radio-group formControlName="tipoCosto">
                    <div class="flex flex-col gap-1">
                        <div class="contenido-formulario cursor-pointer" (click)="cambioTipo('reposicion')">
                            <ion-radio id="valorReposicion" value="reposicion" labelPlacement="end" justify="start"></ion-radio>
                            <ion-label class="text-xxs cursor-pointer">Valor de reposición</ion-label>
                        </div>
                        <div class="contenido-formulario cursor-pointer" (click)="cambioTipo('reparacion')">
                            <ion-radio id="costoReparacion" value="reparacion" labelPlacement="end" justify="start"></ion-radio>
                            <ion-label class="text-xxs cursor-pointer">Costo de reparación</ion-label>
                        </div>
                    </div>
                </ion-radio-group>
                <div class="flex flex-row">
                    <ion-input fill="outline" placeholder="0.00" class="w-[90px]" formControlName="montoCosto"/>
                    <ion-select interface="popover" toggleIcon="chevron-down" expandedIcon="chevron-up" fill="outline" class="!w-[50px] flex-none" formControlName="monedaCosto">
                        <ion-select-option value="soles">Soles</ion-select-option>
                        <ion-select-option value="dolares">Dolares</ion-select-option>
                    </ion-select>
                </div>
            </div>
        </div>
    </div>
</div>
