<div class="contenedor-modal">
  <div class="header">
    <div class="flex items-center gap-1">
      <fa-icon [icon]="farCirclePlus" class="text-xs text-primary"></fa-icon>
      <span class="text-sm font-bold">Agregar un centro de costo</span>
    </div>
    <fa-icon [icon]="farXmark" class="text-sm cursor-pointer" (click)="dismissModal()"></fa-icon>
  </div>
  
  <div class="cont-modal">
    <form class="h-[186px]" [formGroup]="CentroCostoForm">
      <div class="contenedor-formulario !p-0 !pb-6">
        

        <div class="contenido-formulario">
            <span class="label">Centro de costo <span class="text-danger">*</span></span>
            <app-autocomplete 
              formControlName="centroCosto"
              [items]="centrosCostos" 
              labelKey="nombre"
              placeholder="Selecciona un centro de costos"
              (itemSelected)="onCentroCostoSeleccionado($event)"
              class="w-[163px]">
            </app-autocomplete>
        </div>

        <div class="contenido-formulario">
            <span class="label">% de Distribución<span class="text-danger">*</span></span>
            <ion-input 
              fill="outline" 
              formControlName="porcentajeDistribucion"
              placeholder=""
              class="w-[91px]">
            </ion-input>
        </div>

     
        
      </div>
    </form>

    <div class="contenedor-btn !p-0">
      <ion-button class="w-[68px]" color="medium" fill="outline" (click)="dismissModal()">Cancelar</ion-button>
      <ion-button class="w-[156px] whitespace-nowrap" (click)="guardarAccesorio()">Agregar centro de costos</ion-button>
    </div>
  </div>
</div>
