<div class="contenedor-principal">
  @if(!panelLateralVisible){
  <div class="flex items-center justify-center w-[15px] bg-[#E6E8F4]" (click)="togglePanelLateral()">
    <fa-icon [icon]="fasChevronsRight" class="text-xs text-primary cursor-pointer"></fa-icon>
  </div>}

  @if(panelLateralVisible){
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span>Lista de ejecuciones de beneficios legales (Selecciona una ejecución para visualizarla o editarla)</span>
      @if (panelLateralVisible) {
      <div class="btn-mostrarform" (click)="togglePanelLateral()">
        <fa-icon [icon]="fasChevronsLeft"></fa-icon>
      </div>}
    </div>
    <div class="contenedor-filtros">
      <div class="buscador">
        <fa-icon [icon]="farSearch"></fa-icon>
        <ion-input fill="outline" placeholder="Buscar ejecuciones por código o descripción" class="w-full"
          style="--padding-start:30px"></ion-input>
      </div>

      <div class="filtros-absolutos">
        <app-base-calendar-new class="flex-none w-[175px]" mode="range" [initialStartDate]="startDate"
          [initialEndDate]="endDate" [minDate]="minDate" [maxDate]="maxDate" position="left"
          (dateRangeSelected)="filtrarPorFechas($event)">
        </app-base-calendar-new>

        <ion-button class="w-[115px] text-text-85" fill="outline" id="reportessiniestro">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="reportessiniestro" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar PDF</ion-item>
          </ng-template>
        </ion-popover>
        <ion-button class="w-fit whitespace-nowrap" (click)="botonNuevoCalculo()" [disabled]="!filaSeleccionada">
          <fa-icon [icon]="fasCirclePlus" class="mr-1"></fa-icon>
          <span class="font-normal">Nueva ejecución de beneficio</span>
        </ion-button>
      </div>
    </div>
    <div class="flex h-full relative" [appLoader]="isLoading()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular style="width: 100%; height: 100%;" class="" [rowData]="rowData" [columnDefs]="colDefs"
        [pagination]="true" [rowSelection]="'single'" [suppressRowClickSelection]="true" [localeText]="localeText" [context]="gridContext"
        [paginationPageSize]="20" [rowHeight]="20" [headerHeight]="24" (gridReady)="onGridReady($event)"
        (cellClicked)="onCellClicked($event)"  />
    </div>
  </div>}

  <div class="panel-derecho" [ngClass]="{'!w-full !flex-1':!panelLateralVisible}" [appLoader]="isLoading() && !isResetting">
    <div class="cont-title">
      @if(!filaSeleccionada || (filaSeleccionada && filaSeleccionada.proceso_especial_estado === 'Pendiente')){<span>Nueva ejecución de beneficios</span>}
      @if(filaSeleccionada && filaSeleccionada.proceso_especial_estado !== 'Pendiente'){<span>Ejecución de beneficios: {{filaSeleccionada.proceso_especial_codigo }}</span>}
    </div>
    @if(filaSeleccionada){<div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook"></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>}
    <div class="flex flex-col h-full !overflow-auto">
      <form action="" [formGroup]="EjecucionForm">
        <!-- Contenido del formulario -->
        <div class="contenedor-formulario" [ngClass]="{'!flex-row !gap-10': !panelLateralVisible}">
          <div class="contenedor-formulario !p-0">
            <div class="contenido-formulario">
              <span class="label">Fecha de ejecución</span>
              <ion-input fill="outline" class="w-[100px]" type="date" formControlName="fechaE"></ion-input>
            </div>
            <div class="contenido-formulario">
              <span class="label">Tipo de beneficio<span class="text-danger">*</span></span>
              @if(!filaSeleccionada || (filaSeleccionada && filaSeleccionada.proceso_especial_estado === 'Pendiente')){
                <ion-select placeholder="Selecciona un tipo" formControlName="proceso_especial_tipo" interface="popover" fill="outline"
                  class="w-[140px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up">
                  @for(tipo of tipoB; track tipo){<ion-select-option [value]="tipo.value">{{ tipo.nombre }}</ion-select-option>}
                </ion-select>
              }
              @if(filaSeleccionada && filaSeleccionada.proceso_especial_estado !== 'Pendiente'){
                <ion-input fill="outline" class="w-[140px]" formControlName="proceso_especial_tipo"></ion-input>
              }
            </div>
            <div class="contenido-formulario">
              <span class="label">Periodo<span class="text-danger">*</span></span>
              @if(!filaSeleccionada || (filaSeleccionada && filaSeleccionada.proceso_especial_estado === 'Pendiente')){
                <app-month-year-picker placeholder="Selecciona un periodo" position="right" [ngClass]="'w-[140px] 2xl:w-[163px]'"
                  [selectedMonth]="mesSeleccionadoC" [selectedYear]="anioSeleccionadoC"
                  (monthYearChange)="onMonthYearChangePeriodoC($event)">
                </app-month-year-picker>
              }
              @if(filaSeleccionada && filaSeleccionada.proceso_especial_estado !== 'Pendiente'){
                <ion-input fill="outline" class="w-[80px]" formControlName="proceso_especial_periodo"></ion-input>
              }
            </div>
          </div>

          <div class="contenedor-formulario !p-0">
            <div class="contenido-formulario">
              <span class="label">Sucursal<span class="text-danger">*</span></span>
              <ion-select placeholder="Selecciona sucursal" formControlName="proceso_especial_sucursal" interface="popover" fill="outline"
                class="w-[140px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up">
                @for(sucursal of sucursales; track sucursal.id){<ion-select-option [value]="sucursal.id">{{ sucursal.nombre }}</ion-select-option>}
              </ion-select>
            </div>

            <div class="contenido-formulario !items-start">
              <span class="label">Observaciones</span>
              <ion-textarea fill="outline"
                [ngClass]="!panelLateralVisible ? 'w-[300px]' : 'w-[163px] 2xl:w-[185px]'"
                placeholder="Escribe aqui..."
                formControlName="proceso_especial_observaciones"></ion-textarea>
            </div>

          </div>
        </div>
      </form>
      <div class="contenedor-btn py-1">
        <ion-button fill="outline" [disabled]="filaSeleccionada" (click)="botonGenerarP()">Simular ejecución</ion-button>
      </div>
      <div class="cont-title">
        <span class="">Resumen de ejecución</span>
      </div>
      <div class="contenedor-filtros">
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar cuenta por número o descripción" class="w-full"
            style="--padding-start:30px"></ion-input>
        </div>
      </div>


      <div class="cont-cards">
        <div class="card">
          <div class="contenido">
            <span class="title">Trabajadores</span>
            <span class="cantidad">{{ filaSeleccionada? filaSeleccionada.proceso_especial_num_trabajadores : '0'}}</span>
          </div>
          <div class="icon">
            <fa-icon [icon]="fasUsers" class="text-xs text-primary"></fa-icon>
          </div>
        </div>
        <div class="card">
          <div class="contenido">
            <span class="title">Monto total</span>
            <span class="cantidad">S/ {{ filaSeleccionada? filaSeleccionada.proceso_especial_monto_total : '0.00'}}</span>
          </div>
          <div class="icon">
            <fa-icon [icon]="fasDollarSign" class="text-xs text-primary"></fa-icon>
          </div>
        </div>
      </div>

      <div class="min-h-[300px]">
        <ag-grid-angular style="width: 100%; height: 100%;" [rowData]="cuentasFiltradas" [columnDefs]="colDefsDetalle" [context]="detalleContext"
          [pagination]="false" [localeText]="localeText" [rowHeight]="20" [headerHeight]="24" [rowSelection]="'single'"
          (gridReady)="onDetalleGridReady($event)" />
      </div>
    </div>  

    <div class="contenedor-btn !justify-start p-2.5">

      @if(filaSeleccionada && (filaSeleccionada.proceso_especial_estado === 'Ejecutado' || filaSeleccionada.proceso_especial_estado === 'Anulado')){
        <ion-button fill="outline" color="danger" (click)="botonAnular()" [disabled]="filaSeleccionada.proceso_especial_estado === 'Anulado'">Anular</ion-button>
      }

      @if(!filaSeleccionada || (filaSeleccionada && filaSeleccionada.proceso_especial_estado === 'Pendiente')){
      <ion-button (click)="botonConfirmarEjecucion()">Confirmar ejecución</ion-button>
      <ion-button fill="outline" (click)="botonGuardarBorrador()" [disabled]="filaSeleccionada" >Guardar borrador</ion-button>
      }

    </div>

  </div>
</div>