.rango-montos {
    padding-left: 24px;
    width: 200px;
    overflow: visible;
  ion-range { width:100%; padding: 0; }
}

/* ajustar variables del rango */
ion-range {
  --knob-size: 24px;
  --bar-height: 6px;
  --pin-background: transparent;
    height: 24px;

}

/* Estilos usando Shadow Parts (Ionic 5+) */
ion-range::part(pin) {
  min-width: 20px;
  width: fit-content !important;
  height: 24px;
  padding: 2px 4px;
  border-radius: 8px;
  font-size: 12px;
  white-space: nowrap;
  transform: translateY(-8px);
  box-shadow: 0 1px 6px rgba(0,0,0,0.12);
  background: #ecf4ff; 
  color: #111;
}

:host ::ng-deep ion-range .range-knob {
  width: 24px !important;
  height: 24px !important;
}