<div class="contenedor-principal">
  @if(!mostrartabla){
  <div class="flex items-center justify-center w-[15px] bg-[#E6E8F4]" (click)="mostrartabla=!mostrartabla">
    <fa-icon [icon]="fasChevronsRight" class="text-xs text-primary cursor-pointer"></fa-icon>
  </div>
  }
  @if(mostrartabla){
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span class="">Lista de recepciones (Selecciona una recepción de tu lista para visualizarlos o editarlos)</span>
      <fa-icon [icon]="fasChevronsLeft" class="text-xs text-primary cursor-pointer"
        (click)="mostrartabla=!mostrartabla"></fa-icon>
    </div>
    <div class="contenedor-filtros">
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar po n° de orden de compra o proveedor" style="--padding-start:30px"></ion-input>
        </div>

          <app-base-calendar-new class="flex-none " mode="range" [initialStartDate]="startDate"
            [initialEndDate]="endDate" [minDate]="minDate" [maxDate]="maxDate" position="center"
            (dateRangeSelected)="filtrarPorFechas($event)">
          </app-base-calendar-new>

      <div class="flex items-center gap-3 flex-none">
        <ion-button fill="outline" class="w-[115px] flex-none" id="reportesactivos2">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="reportesactivos2" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false" (click)="exportarExcel()">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false" (click)="exportarPdf()">Exportar PDF</ion-item>
          </ng-template>
        </ion-popover>
        <ion-button class="w-fit" [disabled]="!tieneModificaciones()" (click)="nuevaRecepcion()">
          <fa-icon [icon]="fasCirclePlus" class="mr-1"></fa-icon>
          <span>Nueva recepción</span>
        </ion-button>
      </div>
    </div>
    <div class="h-full relative" [appLoader]="isLoading()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular style="width: 100%; height: 100%;" [rowData]="facade.recepcionesAlmacenamiento()" [columnDefs]="colDefs"
        [columnTypes]="columnTypes" [pagination]="true" [localeText]="localeText" [rowHeight]="20" [headerHeight]="24"
        [paginationPageSize]="20" [rowSelection]="'single'" [suppressLoadingOverlay]="true"
        (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)" />
    </div>
  </div>
  }
  <div class="panel-derecho" [ngClass]="{'!w-full !flex-auto':!mostrartabla}" [appLoader]="isLoading()">
    <div class="cont-title">
      <span class="">{{ !filaSeleccionada ? 'Nueva recepción' : 'Orden de compra: ' + (filaSeleccionada.recepcion_orden_compra ?? filaSeleccionada.ordenCompra) }}</span>
    </div>
    @if(filaSeleccionada){<div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook"></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>}

      <form [formGroup]="recepcionForm" class="contenedor-formulario">
        <div class="grid gap-x-4 gap-y-1" [ngClass]="{'grid-cols-2': !mostrartabla, 'grid-cols-1': mostrartabla}">
          <!-- Orden de compra -->
          <div class="contenido-formulario">
            <span class="label">Orden de compra<span class="text-red-500">*</span></span>
            <app-autocomplete formControlName="ordenCompra" [items]="activos" displayKey="nombre" valueKey="id"
              [ngClass]="{'w-[230px]': !mostrartabla, 'w-full': mostrartabla}" [disabled]="filaSeleccionada !== null"
              (itemSelected)="onActivoSeleccionado($event)">
            </app-autocomplete>
          </div>

          <!-- Razón social -->
          <div class="contenido-formulario">
            <span class="label">Razón social</span>
            <ion-input fill="outline" [ngClass]="{'w-[128px]': !mostrartabla, 'w-full': mostrartabla}"
              formControlName="razonSocial"></ion-input>
          </div>

          <!-- RUC -->
          <div class="contenido-formulario">
            <span class="label">Documento fiscal</span>
            <ion-input fill="outline" [ngClass]="{'w-[230px]': !mostrartabla, 'w-full': mostrartabla}"
              formControlName="ruc"></ion-input>
          </div>

          <!-- Dirección fiscal -->
          <div class="contenido-formulario">
            <span class="label">Dirección fiscal</span>
            <ion-input fill="outline" [ngClass]="{'w-[230px]': !mostrartabla, 'w-full': mostrartabla}"
              formControlName="direccionFiscal"></ion-input>
          </div>

          <!-- Emitido por -->
          <div class="contenido-formulario">
            <span class="label">Emitido por</span>
            <ion-input fill="outline" [ngClass]="{'w-[230px]': !mostrartabla, 'w-full': mostrartabla}"
              formControlName="emitidoPor"></ion-input>
          </div>

          <!-- Fecha de entrega -->
          <div class="contenido-formulario">
            <span class="label">Fecha de entrega</span>
            <ion-input fill="outline" [ngClass]="{'w-[82px]': !mostrartabla, 'w-full': mostrartabla}"
              formControlName="fechaEntrega"></ion-input>
          </div>

          <!-- Local de entrega -->
          <div class="contenido-formulario">
            <span class="label">Local de entrega</span>
            <ion-input fill="outline" [ngClass]="{'w-[128px]': !mostrartabla, 'w-full': mostrartabla}"
              formControlName="localEntrega"></ion-input>
          </div>

          <!-- Dirección de entrega -->
          <div class="contenido-formulario">
            <span class="label">Dirección de entrega:</span>
            <ion-input fill="outline" [ngClass]="{'w-[230px]': !mostrartabla, 'w-full': mostrartabla}"
              formControlName="direccionEntrega"></ion-input>
          </div>

          <!-- Proveedor -->
          <div class="contenido-formulario">
            <span class="label">Proveedor</span>
            <ion-input fill="outline" [ngClass]="{'w-[230px]': !mostrartabla, 'w-full': mostrartabla}"
              formControlName="proveedor"></ion-input>
          </div>

          <!-- Moneda -->
          <div class="contenido-formulario">
            <span class="label">Moneda</span>
            <ion-input fill="outline" [ngClass]="{'w-[163px]': !mostrartabla, 'w-full': mostrartabla}"
              formControlName="moneda"></ion-input>
          </div>

          <!-- Tipo de cambio -->
          <div class="contenido-formulario">
            <span class="label">Tipo de cambio</span>
            <ion-input fill="outline" [ngClass]="{'w-[82px]': !mostrartabla, 'w-full': mostrartabla}" type="number"
              formControlName="tipoCambio"></ion-input>
          </div>

          <!-- Condición de pago -->
          <div class="contenido-formulario">
            <span class="label">Condición de pago</span>
            <ion-input fill="outline" [ngClass]="{'w-[230px]': !mostrartabla, 'w-full': mostrartabla}"
              formControlName="condicionPago"></ion-input>
          </div>
          <!-- Estado -->
          <div class="contenido-formulario">
            <span class="label">Estado</span>
            <ion-input fill="outline" [ngClass]="{'w-[100px]': !mostrartabla, 'w-full': mostrartabla}"
              formControlName="estado"></ion-input>
          </div>

          <!-- N° factura -->
          <div class="contenido-formulario">
            <span class="label">N° factura</span>
            <ion-input fill="outline" [ngClass]="{'w-[128px]': !mostrartabla, 'w-full': mostrartabla}"
              formControlName="nroFactura"></ion-input>
          </div>

          <!-- N° de guía -->
          <div class="contenido-formulario">
            <span class="label">N° de guía</span>
            <ion-input fill="outline" [ngClass]="{'w-[128px]': !mostrartabla, 'w-full': mostrartabla}"
              formControlName="nroGuia"></ion-input>
          </div>
        </div>
      </form>

      <div class="cont-title">
        <span class="">Detalle de los artículos</span>
      </div>
      <div class="flex flex-col gap-1.5">
        <div class="relative w-full pt-1.5 px-1.5">
          <div class="buscador">
            <fa-icon [icon]="farSearch"></fa-icon>
            <ion-input fill="outline" placeholder="Buscar producto por nombre o código" style="--padding-start:30px"
              class="w-full"></ion-input>
          </div>
        </div>

        <div class="h-[200px]">
          <ag-grid-angular style="width: 100%; height: 100%;" [rowData]="sucursalesRowData"
            [columnDefs]="sucursalesColDefs" [columnTypes]="columnTypes" [pagination]="false" [localeText]="localeText"
            [rowHeight]="20" [headerHeight]="24" [rowSelection]="'multiple'" (gridReady)="onSucursalesGridReady($event)"
            (selectionChanged)="onArticulosSelectionChanged($event)"
            (cellValueChanged)="onCantidadEntregadaChanged($event)" />
        </div>

        <!-- Panel de resumen debajo de la tabla -->
        <div class="flex flex-col gap-2 w-fit ml-auto">
          <div class="p-2 bg-white border border-[#E4E4E4] rounded-[2px] flex flex-col gap-0.5 w-[200px]">
            <div class="flex items-center justify-between">
              <span class="text-xxs text-gray-700">Total solicitada</span>
              <span class="text-xs font-semibold">{{ totalSolicitada }}</span>
            </div>
            <div class="flex items-center justify-between">
              <span class="text-xxs text-[#3B82F6]">Total recibida</span>
              <span class="text-xs font-semibold text-[#3B82F6]">{{ totalRecibida }}</span>
            </div>
            <div class="flex items-center justify-between">
              <span class="text-xxs text-[#EF4444]">Diferencia</span>
              <span class="text-xs font-semibold text-[#EF4444]">{{ diferencia }}</span>
            </div>
          </div>

        </div>
      </div>
      <div class="contenedor-btn">
        <ion-button [disabled]="!ordenSeleccionada" (click)="confirmarRecepcion()">
          Confirmar
        </ion-button>
        <ion-button fill="outline" color="medium" (click)="nuevaRecepcion()">
          Cancelar
        </ion-button>
      </div>
  </div>
</div>