<div class="flex flex-col bg-[#e7e7e7] p-1.5 gap-0.5" [style.width] ="widthModal">
  <div class="flex justify-between items-center w-full py-1">
    <div class="flex items-center gap-1 ">
      @if(iconoModal){<fa-icon [icon]="iconoModal" class="text-xs text-primary"></fa-icon>}
      <span class="text-sm font-bold">{{tituloModal}}</span>
    </div>
    <fa-icon [icon]="farXmark" class="text-sm cursor-pointer" (click)="cerrarModal()"></fa-icon>
  </div>
  <div class="flex flex-col bg-white p-2.5 gap-2"> 
      <span class="text-xs font-bold">{{subtitulomodal}}</span>
      <div class="flex flex-col gap-2.5">
      <div class="grid grid-cols-1 gap-2 gap-y-1" [ngClass]="{'grid-cols-2': isdoblecolumna || detalles.length > 5 }">
        @for (detalle of detalles; track detalle.label; let i = $index) {
          <div class="flex text-xxs font-semibold flex-row gap-2">
            <span class="w-[100px] flex flex-none">{{detalle.label}}:</span>
            <span class="font-normal line-clamp-1">{{detalle.value}}</span>
          </div>
        }
        
        @if(detalleInput){<div class="flex text-xxs font-semibold flex-row gap-2 items-center">
          <span class="w-[100px] flex flex-none">{{detalleInput.label}}:</span>
          <ion-input [(ngModel)]="detalleInput.value" type="number" fill="outline" class="w-[100px]"></ion-input>
        </div>}

        @if(detalleEdit){<div class="flex text-xxs font-semibold flex-row gap-2">
          <span class="w-[100px] flex flex-none">{{detalleEdit.label}}:</span>
          <ion-textarea
          [(ngModel)]="detalleEdit.value"
          rows="4" fill="outline"
          [class]="textareaWidth + ' text-sm'"></ion-textarea>
        </div>}
      </div>

      @if(mostrarDetalle){
      <span class="text-xs font-bold">{{subtituloTabla}}</span>
      }
      @if(mostrarbuscador){
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar operaciones" class="w-full"
            placeholder="Buscar por código o nombre"
            style="--padding-start:30px"></ion-input>
        </div>
      }
      @if (mostrarTabla) {
        <div class="flex flex-col gap-2">
          <ag-grid-angular 
            style="width: 100%; height: 150px;" 
            class="ag-theme-quartz"
            [rowData]="rowData" 
            [columnDefs]="colDefs"
            [rowHeight]="20"
            [headerHeight]="24"
            [domLayout]="'autoHeight'" />
        </div>
        @if (mostrarTotales) {
          <div class="flex flex-col gap-1 items-end mt-2">
            <div class="flex flex-row gap-2 text-xxs">
              <span class="font-semibold">Total debe(S/):</span>
              <span class="w-[70px] text-right">{{totalDebe}}</span>
            </div>
            <div class="flex flex-row gap-2 text-xxs">
              <span class="font-semibold">Total haber(S/):</span>
              <span class="w-[70px] text-right">{{totalHaber}}</span>
            </div>
          </div>
        }
      }

      
      
      @if (mostrarAutocomplete) {
        <div class="flex flex-col gap-2">
          <span class="text-xs font-bold">{{labelAutocomplete}}</span>
          <app-autocomplete
            [items]="itemsAutocomplete"
            [displayKey]="displayKeyAutocomplete"
            [valueKey]="valueKeyAutocomplete"
            [placeholder]="placeholderAutocomplete"
            (itemSelected)="onItemSeleccionado($event)"
            class="w-[250px]">
          </app-autocomplete>
        </div>
      }
      
      @if (mostrarTextarea) {
        <div class="flex flex-col gap-2">
          <span class="text-xs font-bold">{{tituloTextarea}}</span>
          <ion-textarea
            [(ngModel)]="motivoTexto"
            rows="4" fill="outline"
            class="w-full text-sm" 
            [placeholder]="placeholderTextarea"></ion-textarea>
        </div>
      }
      @if (mostrarTotal) {
        <div class="p-2 bg-white border border-[#E4E4E4] rounded-[2px] flex flex-col gap-0.5 w-[200px] ml-auto ">
          @for (item of itemstotal; track $index) {
          <div class="flex justify-between text-xxs">
            <span>{{item.label}}</span>
            <span class="text-right" [ngClass]="{'text-danger': item.label == 'Descuentos'}">{{item.value}}</span>
          </div>  
          }
        </div>  
      }
      </div>
    <div class="flex justify-end flex-row gap-3">
      @if (textoBotonCancelar) {<ion-button color="medium" fill="outline" class="w-fit" (click)="cancelar()">{{textoBotonCancelar}}</ion-button>}
      @if (mostrarBotonSecundario) {<ion-button fill="outline" class="w-fit" (click)="btnSecundario()">{{textoBotonSecundario}}</ion-button>}
      @if (mostrarBotonEliminar && !ocultarBotonConfirmar) {<ion-button [fill]="botonoutline" [color]="colorBotonConfirmar" class="w-fit" [disabled]="motivoObligatorio && !motivoTexto.trim()" (click)="confirmar()">{{textoBotonConfirmar}}</ion-button>}
    </div>
  </div>
</div>
