<div class="p-2 flex flex-col bg-[#F5F5F5]">

    <div class="flex gap-3 w-full px-7">
        <!-- Detalle de ingresos -->
        <div *ngIf="detalleIngresos.length > 0" class="w-full border border-solid border-[#C7C7C7] rounded px-2 pb-2">
          <div class="mb-2">
            <strong class="text-success text-xxss">Detalle de ingresos</strong>
          </div>
          <div class="grid grid-cols-2 gap-1 text-xxss">
            <ng-container *ngFor="let item of detalleIngresos">
              <div>{{ item.dc_concepto }}:</div>
              <div class="text-right">{{ item.dc_monto }}</div>
            </ng-container>
          </div>
        </div>
      
        <!-- Detalle de egresos -->
        <div *ngIf="detalleEgresos.length > 0" class=" w-full border border-solid border-[#C7C7C7] rounded px-2 pb-2">
          <div class="mb-2">
            <strong class="text-danger text-xxss">Detalle de egresos</strong>
          </div>
          <div class="grid grid-cols-2 gap-1 text-xxss">
            <ng-container *ngFor="let item of detalleEgresos">
              <div>{{ item.dc_concepto }}:</div>
              <div class="text-right">{{ item.dc_monto }}</div>
            </ng-container>
          </div>
        </div>
    </div>

  <!-- Alerta según estado -->
  <div class="mt-3 px-7">
    <div class="flex items-center gap-2 px-3 py-2 rounded-md"
      [ngClass]="{
        'bg-success-5 text-success': tipoAlerta === 'success',
        'bg-danger-5 text-danger': tipoAlerta === 'danger',
        'bg-light text-text-65': tipoAlerta === 'info'
      }">
      <fa-icon [icon]="farInfoCircle" class="text-xs"></fa-icon>
      <span class="text-xs font-medium" [innerHTML]="mensajeAlerta"></span>
    </div>
  </div>
</div>
