<div class="contenedor-principal-modal !w-[450px]">
  <div class="titulo-modal">
    <div class="flex flex-row gap-1 items-center">
      <fa-icon [icon]="falFileLines" class="text-primary text-xs"></fa-icon>
      <span>Ver {{ titulo }}</span>
    </div>
    <fa-icon [icon]="fasXmark" class="text-xs cursor-pointer" (click)="closemodal()"></fa-icon>
  </div>
  <div class="contenido-modal">
    <div>
      <img src="assets/imagenes/doc.png" alt="">
    </div>

    <div class="conjunto-btn">
      <ion-button color="medium" fill="outline" class="w-[68px]" (click)="closemodal()">
        <span>Cancelar</span>
      </ion-button>
    </div>
  </div>
</div>