<div class="toast-container-wrapper">
  @for (toast of toasts; track trackByToastId($index, toast)) {
    <div class="toast-item toast-item--{{ toast.type }}" (click)="removeToast(toast.id)" [@slideIn]>
      <ion-icon [name]="iconFor(toast.type)" class="toast-item__icon"></ion-icon>
      <div class="toast-item__content">
        <strong>{{ toast.title }}</strong>
        @if (toast.description) {
          <span>{{ toast.description }}</span>
        }
      </div>
      <ion-icon name="close-outline" class="toast-item__close"></ion-icon>
    </div>
  }
</div>
