<div class="contenedor-principal">
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span>Clasificación de activos</span>
    </div>

    <div class="contenedor-filtros">
      <div class="filtros-responsive">
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar activos" class="min-w-[200px] w-full"
            style="--padding-start:30px"></ion-input>
        </div>
        <!--<ion-select placeholder="Todos" toggleIcon="chevron-down" expandedIcon="chevron-up"
          [(ngModel)]="estadoSeleccionado"  interface="popover" fill="outline"
          class="w-[163px] flex-none">
          <ion-select-option value="todos">Todos los estados</ion-select-option>
          <ion-select-option value="activos">Activos</ion-select-option>
          <ion-select-option value="inactivos">Inactivos</ion-select-option>
        </ion-select> -->
      </div>
      <div class="filtros-absolutos">
        <ion-button class="w-[115px] text-text-85" fill="outline" id="reportesclasificacion">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="reportesclasificacion" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar PDF</ion-item>
          </ng-template>
        </ion-popover>
        <ion-button class="w-[115px]" id="nuevo">
          <fa-icon [icon]="fasCirclePlus" class="mr-1"></fa-icon>
          <span>Nuevo</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="nuevo" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false" (click)="botonNuevaClase()">Nueva clase</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false" (click)="botonNuevaSubclase()">Nueva subclase</ion-item>
          </ng-template>
        </ion-popover>
      </div>
    </div>
    <div class="flex h-full relative" [appLoader]="isLoading()">
       <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular style="width: 100%; height: 100%;" class="" [rowData]="rowData" [columnDefs]="colDefs"
        [columnTypes]="columnTypes" [pagination]="true" [localeText]="localeText"
        [paginationPageSize]="20" [defaultColDef]="defaultColDef" [autoGroupColumnDef]="autoGroupColumnDef" [purgeClosedRowNodes]="true"
        [treeData]="treeData" [getDataPath]="getDataPath" [groupDefaultExpanded]="groupDefaultExpanded" [rowHeight]="20"
        [headerHeight]="24" (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)" [rowSelection]="'single'"/>
    </div>
  </div>
  <div class="panel-derecho" [appLoader]="isLoading()">
    <div class="cont-title">
      <span>{{Subclase ? 'Subclase':'Clase'}}@if(filaSeleccionada){:
          {{filaSeleccionada.clasif_activo_codigo}}}</span>
    </div>
    @if(filaSeleccionada){  
    <div class="flex flex-row gap-2 justify-end p-2 bg-[#F5F5F5]">
      <fa-icon [icon]="farBook" class="text-xs text-[#636E95]"></fa-icon>
      <span (click)="modalverActualizaciones()" class="text-[#636E95] text-xs font-semibold underline cursor-pointer">Ver últimas actualizaciones</span>
    </div>
  }

    <form action="" [formGroup]="ActivosForm">
      <div class="flex flex-col gap-1 h-full w-full" [ngClass]="{'bg-white': camponuevo === true,}">
        @if(!Subclase){
        <div class="contenedor-formulario">
          <div class="contenido-formulario">
            <span class="label">Cta. Contable Principal <span class="text-danger">*</span></span>
            <app-autocomplete [items]="cuentasContables" [displayKey]="'nombre'" [valueKey]="'codigo'"
              [placeholder]="'Selecciona una cuenta'" [width]="'w-[134px]'" [formControlName]="'cntContable'"
              (itemSelected)="onCuentaSelected($event)">
            </app-autocomplete>
          </div>
          <div class="contenido-formulario">
            <span class="label">Clase de activo <span class="text-danger">*</span></span>
            <ion-input fill="outline" formControlName="nombre" class="w-[134px]"></ion-input>
          </div>
          <div class="contenido-formulario">
            <span class="label">Descripción <span class="text-danger">*</span></span>
            <ion-textarea fill="outline" placeholder="Escribe aquí..." formControlName="descripcion" rows="2" class="w-[160px]"></ion-textarea>
          </div>
          <div class="contenido-formulario">
            <span class="label">Mét. de Depreciación <span class="text-danger">*</span></span>
            <ion-select placeholder="Lineal" toggleIcon="chevron-down" expandedIcon="chevron-up"
              formControlName="metDepreciacion" interface="popover" fill="outline" class="w-[134px]">
              <ion-select-option value="Lineal">Lineal</ion-select-option>
              <ion-select-option value="Suma de Dígitos">Suma de Dígitos</ion-select-option>
              <ion-select-option value="Otros">Otros</ion-select-option>
            </ion-select>
          </div>
           <div class="contenido-formulario">
            <span class="label">Tasa de Depr. Anual (%) <span class="text-danger">*</span></span>
            <ion-input type="number" fill="outline" formControlName="tsaAnual" class="w-[134px]"></ion-input>
          </div>
          <div class="contenido-formulario">
            <span class="label">Vida Útil Estándar(Años)<span class="text-danger">*</span></span>
            <ion-input type="number" fill="outline" formControlName="vidaUtil" class="w-[82px]"></ion-input>
          </div>
          <div class="contenido-formulario">
            <span class="label">Estado <span class="text-danger">*</span></span>
            <ion-select placeholder="Activo" toggleIcon="chevron-down" expandedIcon="chevron-up"
              formControlName="estado" interface="popover" fill="outline" class="w-[80px] text-xxs">
              <ion-select-option value="Activo">Activo</ion-select-option>
              <ion-select-option value="Inactivo">Inactivo</ion-select-option>
            </ion-select>
          </div>
          <div class="contenido-formulario !items-start">
            <span class="label">Observaciones</span>
            <ion-textarea fill="outline" placeholder="Ingresa algún dato adicional a tu clase" formControlName="observaciones" class="w-[200px]"></ion-textarea>
          </div>
        </div>}
        @if(Subclase){<div class="p-3 flex flex-col gap-1"
          [ngClass]="{'bg-white': camponuevo === true, '': camponuevo === false}">
          <div class="contenido-formulario">
            <span class="label">Clase de Activo <span class="text-danger">*</span></span>
            <app-autocomplete [items]="clasesActivo" [displayKey]="'nombre'" [valueKey]="'codigo'"
              [placeholder]="'Buscar clase...'" [width]="'w-[158px]'" formControlName="codigo"
              (itemSelected)="onClaseSeleccionada($event)">
            </app-autocomplete>
          </div>
          <div class="contenido-formulario">
            <span class="label">Cód. de Subclase <span class="text-danger">*</span></span>
            <ion-input fill="outline" formControlName="codigoSub" class="w-[82px]"></ion-input>
          </div>
          <div class="contenido-formulario">
            <span class="label">Cta. Contable Asociada <span class="text-danger">*</span></span>
            <app-autocomplete [items]="cuentasContables" [displayKey]="'nombre'" [valueKey]="'codigo'"
              [placeholder]="'Selecciona una cuenta'" [width]="'w-[134px]'" [formControlName]="'cntContable'"
              (itemSelected)="onCuentaSelected($event)">
            </app-autocomplete>
          </div>
          <div class="contenido-formulario">
            <span class="label">Nombre de Subclase <span class="text-danger">*</span></span>
            <ion-input fill="outline" formControlName="nombreSub" class="w-[134px]"></ion-input>
          </div>
          
          <div class="contenido-formulario">
            <span class="label">Descripción <span class="text-danger">*</span></span>
            <ion-input fill="outline" formControlName="descripcionSub" class="w-[163px]"></ion-input>
          </div>
          <div class="contenido-formulario">
            <span class="label">% de Depreciación <span class="text-danger">*</span></span>
            <ion-input type="number" fill="outline" formControlName="depreciacionPorc" class="w-[113px]"></ion-input>
          </div>
          <div class="contenido-formulario">
            <span class="label">Vida Útil Espc. (Años)<span class="text-danger">*</span></span>
            <ion-input type="number" fill="outline" formControlName="vidaUtilEspc" class="w-[82px]"></ion-input>
          </div>
          <div class="contenido-formulario">
            <span class="label">Estado <span class="text-danger">*</span></span>
            <ion-select placeholder="Activo" formControlName="estadoSub" toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover" fill="outline"
              class="w-[80px] text-xxs">
              <ion-select-option value="Activo">Activo</ion-select-option>
              <ion-select-option value="Inactivo">Inactivo</ion-select-option>
            </ion-select>
          </div>
          <div class="contenido-formulario">
            <span class="label">Observaciones</span>
            <ion-input fill="outline" formControlName="observacionesSub" class="w-[163px]"></ion-input>
          </div>
        </div>}
        <div class="contenedor-btn">
          <ion-button class="w-[65px]" (click)="botonGuardar()"> {{ camponuevo ? 'Registrar' : 'Guardar' }} </ion-button>
          @if(Subclase){<ion-button class="w-fit" fill="outline" color="medium" (click)="botonNuevaSubclase()">Cancelar</ion-button>}
          @else{<ion-button class="w-fit" fill="outline" color="medium" (click)="botonNuevaClase()">Cancelar</ion-button>}
        </div>
      </div>
    </form>
  </div>
</div>