<div class="w-[461px] flex flex-col bg-[#E7E7E7] px-2 gap-2 py-1.5">
  <div class="flex justify-between items-center">
    <h2 class="text-sm font-bold pl-2">Asiento contable {{ nroAsiento }}</h2>
    <fa-icon [icon]="farXmark" class="text-base cursor-pointer" (click)="dismissModal()"></fa-icon>
  </div>
  
  <div class="flex flex-col bg-white rounded-md p-2.5">
    <h3 class="text-sm font-bold mb-1">Información complementaria</h3>
    
    <!-- Tabla AG-Grid -->
    <div class="w-full">
      <ag-grid-angular 
        style="width: 100%; height: 120px" 
        [rowData]="asientoData" 
        [columnDefs]="colDefs"
        [rowHeight]="20"
        [headerHeight]="24"
        [pagination]="false"
        (gridReady)="onGridReady($event)"/>
    </div>
    
    <!-- Botón Cerrar -->
    <div class="flex justify-end mt-2">
      <ion-button class="w-[54px]" color="medium" fill="outline" (click)="dismissModal()">Cerrar</ion-button>
    </div>
  </div>
</div>
