<div class="contenedor-principal">
    @if (!panelLateralVisible) {
    <div class="flex-none flex items-center bg-[#E6E8F4] text-primary text-xs cursor-pointer"
        (click)="togglePanelLateral()">
        <fa-icon [icon]="fasChevronsRight"></fa-icon>
    </div>
    }
    <div class="h-full flex-col flex flex-grow overflow-hidden border-r border-text-5" [style.display]="panelLateralVisible ? 'flex' : 'none'">
        <div class="bg-[#ECF4FF] pl-2 flex justify-between items-center h-6 flex-none">
            <span class="text-xs font-medium">Configuración de tasas y métodos de depreciación</span>
            <div class="px-2 text-primary text-xs cursor-pointer" (click)="togglePanelLateral()">
                <fa-icon [icon]="fasChevronsLeft"></fa-icon>
            </div>
        </div>

        <!-- Filtros -->
        <div class="contenedor-filtros">
            <div class="filtros-responsive">
                <div class="flex items-center gap-3 w-full flex-row">
                    <div class="buscador">
                        <fa-icon [icon]="farSearch"></fa-icon>
                        <ion-input fill="outline" placeholder="Buscar por cód. configuración o cód. de activo"
                            style="--padding-start:30px"></ion-input>
                    </div>
                </div>
            </div>

            <div class="filtros-absolutos">
                <ion-button fill="outline" class="flex-none w-[115px]" id="reportesasignacionratios">
                    <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
                    <span>Exportar</span>
                    <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
                </ion-button>
                <ion-popover trigger="reportesasignacionratios" triggerAction="click" [dismissOnSelect]="true"
                    class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
                    <ng-template>
                        <ion-item lines="none" [button]="true" [detail]="false">Exportar Excel</ion-item>
                        <ion-item lines="none" [button]="true" [detail]="false">Exportar PDF</ion-item>
                    </ng-template>
                </ion-popover>
                <ion-button class="w-fit" [disabled]="!filaSeleccionada" (click)="botonNuevaAsignacion()">
                    <fa-icon [icon]="fasCirclePlus" class="mr-1"></fa-icon>
                    <span>Nueva configuración</span>
                </ion-button>
            </div>
        </div>

        <div class="h-full relative" [appLoader]="facade.isLoading()">
            <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>

            <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-alpine" [rowData]="rowData"
                [columnDefs]="colDefs" [columnTypes]="columnTypes" [pagination]="true" [localeText]="localeText"
                [rowHeight]="20" [headerHeight]="24" [paginationPageSize]="20" [rowSelection]="'single'"
                [defaultColDef]="defaultColDef" (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)"
                [purgeClosedRowNodes]="true" />
        </div>
    </div>

    <div class="panel-derecho" [ngClass]="{'!flex-grow': !panelLateralVisible}" [appLoader]="facade.isLoading()">
        <div class="cont-title">
            <span>{{ !filaSeleccionada ? 'Nueva configuración' : 'Configuración: ' + (filaSeleccionada?.ars_cod_configuracion
                || '') }}</span>
        </div>

        @if (filaSeleccionada) {
        <div class="cont-actualizaciones">
            <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
                <fa-icon [icon]="farBook"></fa-icon>
                <span class="text-actualizaciones">Ver últimas actualizaciones</span>
            </div>
        </div>
        }
        <!-- Tabs -->
        <div class="cont-tabs">
            @if (panelLateralVisible) {
            <div class="btn-scroll" (click)="scrollLeft()">
                <fa-icon [icon]="fasChevronLeft"></fa-icon>
            </div>
            }
            <div class="flex overflow-hidden">
                <ion-segment [(ngModel)]="tabSeleccionado" class="company-tabs" #scrollBox
                    [ngModelOptions]="{standalone: true}" mode="md" scrollable class="company-tabs">
                    <ion-segment-button value="seleccionActivo" class="boton-subsubtitulo">
                        <ion-label>Selección del Activo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="metodosDepreciacion" class="boton-subsubtitulo"
                        [disabled]="!tab2Habilitado">
                        <ion-label>Métodos de Depreciación</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="centrosCosto" class="boton-subsubtitulo" [disabled]="!tab3Habilitado">
                        <ion-label>Centros de Costo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="normativaAplicable" class="boton-subsubtitulo"
                        [disabled]="!tab4Habilitado">
                        <ion-label>Normativa Aplicable</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </div>

            @if (panelLateralVisible) {
            <div class="btn-scroll" (click)="scrollRight()">
                <fa-icon [icon]="fasChevronRight"></fa-icon>
            </div>
            }
        </div>

        <form action="" [formGroup]="asignacionForm" class="flex flex-col flex-grow">
            @if (tabSeleccionado === 'seleccionActivo') {
            <div class="contenedor-formulario">
                <div class="flex flex-col gap-1 w-full">
                    <div class="contenido-formulario">
                        <span class="label">Activo <span class="text-danger">*</span></span>
                        @if (!modoEdicion) {
                        <app-autocomplete formControlName="activo" [items]="activos" displayKey="nombre" valueKey="id"
                            [placeholder]="!filaSeleccionada ? 'Seleciona un activo' : ''" width="w-[163px]"
                            (itemSelected)="onActivoSeleccionado($event)">
                        </app-autocomplete>
                        }

                        <!-- Mostrar input deshabilitado cuando estamos editando una fila existente -->
                        @if (modoEdicion) {
                        <ion-input fill="outline" formControlName="activo" class="w-[163px]" [disabled]="true">
                        </ion-input>
                        }
                    </div>
                    <div class="contenido-formulario">
                        <span class="label">Valor de Adquisición <span class="text-danger">*</span></span>
                        <ion-input fill="outline" [placeholder]="!filaSeleccionada ? 'Ingrese valor' : ''"
                            formControlName="valorAdquisicion" class="w-[163px]"></ion-input>
                    </div>
                    <div class="contenido-formulario">
                        <span class="label">Moneda <span class="text-danger">*</span></span>
                        <ion-input fill="outline" [placeholder]="!filaSeleccionada ? 'Ingrese moneda' : ''"
                            formControlName="moneda" class="w-[163px]"></ion-input>
                    </div>
                    <div class="contenido-formulario">
                        <span class="label">Vida Útil Actual (años) <span class="text-danger">*</span></span>
                        <ion-input fill="outline" [placeholder]="!filaSeleccionada ? 'Ingrese años' : ''"
                            formControlName="vidaUtil" class="w-[163px]"></ion-input>
                    </div>
                </div>
                <div class="flex flex-col gap-1 w-full">
                    <div class="contenido-formulario">
                        <span class="label">Fecha de Adquisición <span class="text-danger">*</span></span>
                        <ion-input fill="outline" [placeholder]="!filaSeleccionada ? 'DD/MM/AAAA' : ''"
                            formControlName="fechaAdquisicion" class="w-[163px]"></ion-input>
                    </div>
                </div>
            </div>
            }

            <!-- Tab: Métodos de Depreciación -->
            @if (tabSeleccionado === 'metodosDepreciacion') {
            <div class="contenedor-formulario">
                <div class="flex flex-col gap-1 w-full">
                    <div class="contenido-formulario">
                        <span class="label">Tipo de Depreciación <span class="text-danger">*</span></span>
                        <ion-select [placeholder]="!filaSeleccionada ? 'Selecciona un tipo de revaluación' : ''"
                            toggleIcon="chevron-down" expandedIcon="chevron-up" formControlName="tipoDepreciacion"
                            interface="popover" fill="outline" [ngClass]="'!w-[163px] 2xl:!w-[220px]'">
                            <ion-select-option value="tipo1">Contable</ion-select-option>
                            <ion-select-option value="tipo2">Tributaria</ion-select-option>
                            <ion-select-option value="tipo2">Contable y tributaria</ion-select-option>
                        </ion-select>
                    </div>
                    <div class="contenido-formulario">
                        <span class="label">Método de Depreciación <span class="text-danger">*</span></span>
                        <ion-select [placeholder]="!filaSeleccionada ? 'Selecciona un método' : ''"
                            toggleIcon="chevron-down" expandedIcon="chevron-up" formControlName="metodoDepreciacion"
                            interface="popover" fill="outline" [ngClass]="'!w-[163px] 2xl:!w-[185px]'">
                            <ion-select-option value="lineal">Líneal</ion-select-option>
                            <ion-select-option value="unidades">Decreciente</ion-select-option>
                            <ion-select-option value="suma">Otro parametrizado</ion-select-option>

                        </ion-select>
                    </div>
                    <div class="contenido-formulario">
                        <span class="label">Tasa Anual (%) <span class="text-danger">*</span></span>
                        <ion-input type="number" fill="outline" [placeholder]="!filaSeleccionada ? 'Ingrese %' : ''"
                            formControlName="ratioAnual" (ionBlur)="calcularVidaUtil()"
                            class="w-full max-w-[82px]"></ion-input>
                    </div>
                    <div class="contenido-formulario">
                        <span class="label">Valor Residual <span class="text-danger">*</span></span>
                        <ion-input type="number" fill="outline" [placeholder]="!filaSeleccionada ? 'Ingrese valor' : ''"
                            formControlName="valorResidual" class="w-full max-w-[163px]"></ion-input>
                    </div>
                    <div class="contenido-formulario">
                        <span class="label">F. Inicio de Depreciación <span class="text-danger">*</span></span>
                        <app-base-calendar-new class="flex-none" mode="single" position="center"
                            [initialDate]="asignacionForm.get('fechaInicio')?.value"
                            (dateSelected)="onfechaInicioDepreciacion($event)">
                        </app-base-calendar-new>
                    </div>
                    <div class="contenido-formulario">
                        <span class="label">Estado <span class="text-danger">*</span></span>
                        <ion-select [placeholder]="!filaSeleccionada ? 'Activo' : ''" toggleIcon="chevron-down"
                            expandedIcon="chevron-up" formControlName="estado" interface="popover" fill="outline"
                            class="w-full max-w-[82px]">
                            <ion-select-option value="activo">Activo</ion-select-option>
                            <ion-select-option value="inactivo">Inactivo</ion-select-option>
                        </ion-select>
                    </div>
                </div>
            </div>
            }

            <!-- Tab: Centros de Costo -->
            @if (tabSeleccionado === 'centrosCosto') {
            <div class="p-2.5">
                <div class="flex flex-row gap-2 items-center mb-2">
                    <app-autocomplete #centroCostoAC label="" [items]="centrosCostos" labelKey="nombre"
                        [placeholder]="!filaSeleccionada ? 'Buscar centro de costos por nombre o código' : ''"
                        (itemSelected)="onCentroCostoSeleccionado($event)" class="w-full">
                    </app-autocomplete>
                    <ion-button class="w-fit flex-none" (click)="botonAgregarCentroCosto()">
                        <fa-icon [icon]="fasCirclePlus" class="mr-1"></fa-icon>
                        <span class="font-normal">Agregar centro de costos</span>
                    </ion-button>
                </div>

                <div>
                    <ag-grid-angular style="width: 100%; height: 300px;" [rowData]="rowDataCentrosCosto"
                        [columnDefs]="colDefsCentrosCosto" [columnTypes]="columnTypes" [pagination]="false"
                        [localeText]="localeText" [rowHeight]="20" [headerHeight]="24" [paginationPageSize]="20"
                        [context]="gridContext" (gridReady)="onGridReadyCentrosCosto($event)"
                        [defaultColDef]="defaultColDef" (cellClicked)="onCellClickedCentrosCosto($event)" />
                </div>
            </div>
            }

            <!-- Tab: Normativa Aplicable -->
            @if (tabSeleccionado === 'normativaAplicable') {
            <div class="contenedor-formulario">
                <div class="flex flex-col gap-1 w-full">
                    <div class="contenido-formulario">
                        <span class="label">Normativa Aplicable <span class="text-danger">*</span></span>
                        <ion-select [placeholder]="!filaSeleccionada ? 'Selecciona una norma aplicable' : ''"
                            toggleIcon="chevron-down" expandedIcon="chevron-up" formControlName="normaContable"
                            interface="popover" fill="outline"
                            [ngClass]="!panelLateralVisible ? 'w-[300px]' : 'w-[163px] 2xl:w-[200px]'">
                            <ion-select-option value="nic16">NIC 16 - Propiedades, Planta y Equipo</ion-select-option>
                            <ion-select-option value="niif16">NIIF 16 - Arrendamientos</ion-select-option>
                            <ion-select-option value="pcge">PCGE - Plan Contable General</ion-select-option>
                        </ion-select>
                    </div>
                    <div class="contenido-formulario !items-start">
                        <span class="label">Observaciones</span>
                        <ion-textarea fill="outline" [placeholder]="!filaSeleccionada ? 'Escribe aquí...' : ''"
                            formControlName="notasAdicionales" rows="4"
                            [ngClass]="!panelLateralVisible ? 'w-[300px]' : 'w-[163px] 2xl:w-[200px]'"></ion-textarea>
                    </div>
                </div>
            </div>

            <div class="flex justify-end gap-2 px-2.5 pb-2">
                <ion-button class="w-fit" [disabled]="!simulacionDepreciacionValid" fill="outline"
                    (click)="simularDepreciacion()">
                    Simular depreciación
                </ion-button>
            </div>



            <!-- Cards de resumen -->
            <div class="flex flex-row gap-3 p-1.5 pt-0">
                <div class="flex flex-1 border border-solid flex-row h-[70px] p-2 rounded items-center justify-between">
                    <div class="flex flex-col">
                        <span class="text-xxs">Valor Total Depreciado</span>
                        <span class="font-bold text-sm">{{ valorTotalDepreciado }}</span>
                    </div>
                    <div class="w-[30px] h-[30px] rounded-full bg-[#ECF4FF] flex items-center justify-center">
                        <fa-icon [icon]="fasArrowDown" class="text-xs text-primary"></fa-icon>
                    </div>
                </div>
                <div class="flex flex-1 border border-solid flex-row h-[70px] p-2 rounded items-center justify-between">
                    <div class="flex flex-col">
                        <span class="text-xxs">Valor Remanente en Libros</span>
                        <span class="font-bold text-sm">{{ valorRemanenteLibros }}</span>
                    </div>
                    <div class="w-[30px] h-[30px] rounded-full bg-[#ECF4FF] flex items-center justify-center">
                        <fa-icon [icon]="fasDollar" class="text-xs text-primary"></fa-icon>
                    </div>
                </div>
                <div class="flex flex-1 border border-solid flex-row h-[70px] p-2 rounded items-center justify-between">
                    <div class="flex flex-col">
                        <span class="text-xxs">Número de Períodos</span>
                        <span class="font-bold text-sm">{{ numeroPeriodos }}</span>
                    </div>
                    <div class="w-[30px] h-[30px] rounded-full bg-[#ECF4FF] flex items-center justify-center">
                        <fa-icon [icon]="fasCalendarDays" class="text-xs text-primary"></fa-icon>
                    </div>
                </div>
            </div>



            <!-- Tabla de depreciación -->
            <div class="px-2.5 pb-2 h-full">
                <ag-grid-angular style="width: 100%; height: 100%;" [rowData]="rowDataDepreciacion"
                    [columnDefs]="colDefsDepreciacion" [columnTypes]="columnTypes" [pagination]="false"
                    [localeText]="localeText" [rowHeight]="20" [headerHeight]="24" [defaultColDef]="defaultColDef"
                    (gridReady)="onGridReadyDepreciacion($event)" />
            </div>
            }

            <div class="contenedor-btn">
                @if(tabSeleccionado == 'normativaAplicable'){
                    <ion-button class="w-fit" [disabled]="!simulacionDepreciacionValid" (click)="botonGuardar()">
                        Guardar configuración
                    </ion-button>
                }
                @else {
                    <ion-button class="w-fit" (click)="nextTab()">
                        Siguiente
                        <fa-icon [icon]="fasAngleRight" class="ml-1 text-white"></fa-icon>
                    </ion-button>
                }
                <ion-button class="w-fit" color="medium" fill="outline" (click)="botonNuevaAsignacion()">
                    Cancelar
                </ion-button>
            </div>
        </form>
    </div>
</div>