<div class="contenedor-principal" [ngClass]="{mostrartabla}">
    <div class="panel-izquierdo" *ngIf="mostrartabla">
      <div class="cont-title">
        <span class="">Lista de órdenes de servicio (Selecciona una ord. de servicio de tu lista para visualizarlos o editarlos)</span>
        <fa-icon [icon]="fasChevronsLeft" class="text-xs text-primary cursor-pointer" (click)="mostrarTabla(false)"></fa-icon>
      </div>

  
    <!-- Filtros -->
    <div class="contenedor-filtros"> 
          <div class="buscador">
            <fa-icon [icon]="farSearch" class=""></fa-icon>
            <ion-input fill="outline" placeholder="Buscar por N° de orden de servicio o proveedor" class="w-full" style="--padding-start:30px" (ionInput)="onBuscarLista($event)"></ion-input>
          </div>

      <div class="flex gap-3 justify-start flex-none">
          <div class="flex flex-row">
          <ion-select placeholder="De registro" toggleIcon="chevron-down" expandedIcon="chevron-up"
            interface="popover" fill="outline" class="w-[95px] -mr-0.5" [(ngModel)]="tipoFechaFiltro"
            [ngModelOptions]="{standalone: true}" (ionChange)="onTipoFechaChange()">
            <ion-select-option value="registro">De registro</ion-select-option>
          </ion-select>
         <!-- calendario -->
          <app-base-calendar-new
              class="flex-none" 
              mode="range"
              [initialStartDate]="startDate"
              [initialEndDate]="endDate"
              [minDate]="minDate"
              [maxDate]="maxDate"
              position="center"
              (dateRangeSelected)="filtrarPorFechas($event)">
            </app-base-calendar-new>
          </div>
        </div>


        <div class="filtros-absolutos">
        <ion-button class="w-[115px] flex-none" fill="outline" id="reportesgenerarordenservicio">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
          <ion-popover trigger="reportesgenerarordenservicio" triggerAction="click" [dismissOnSelect]="true" class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
            <ng-template>
              <ion-item lines="none" (click)="exportarExcel()" [button]="true" [detail]="false">Exportar Excel</ion-item>
              <ion-item lines="none" (click)="exportarPdf()" [button]="true" [detail]="false">Exportar PDF</ion-item>
            </ng-template>
          </ion-popover>
          <ion-button class="w-fit" (click)="crearNuevaOrden()" [disabled]="camponuevo">
            <fa-icon [icon]="fasCirclePlus" class="mr-1"></fa-icon>
            <span class="whitespace-nowrap">Nueva Orden de servicio</span>
          </ion-button>
        </div>
    </div>
      <div class="contenedor-primera-tabla" [appLoader]="loadingObtener()">
        <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
        <ag-grid-angular 
          style="width: 100%; height: 100%;" 
          class=""
          [rowData]="rowData" 
          [columnDefs]="colDefs" 
          [columnTypes]="columnTypes"
          [pagination]="true"
          [rowHeight]="20"
          [localeText]="localeText"
          [headerHeight]="24"
          [rowSelection]="'single'"
          [paginationPageSize]="20"
          (gridReady)="onGridReady($event)"
          (rowClicked)="onCellClicked($event)"
         />
      </div>
    </div>

    <div class="barra-desplegable" (click)="mostrarTabla(true)" *ngIf="!mostrartabla">
        <fa-icon [icon]="fasChevronsRight" class="text-xs text-primary cursor-pointer"></fa-icon>
    </div>
    
    <div class="panel-derecho" [appLoader]="loadingObtener()" [ngClass]="{'!w-full !flex-auto': !mostrartabla}">
      <div class="cont-title">
        <span>
          @if(camponuevo) {
            Nueva orden de servicio
          } @else {
            Datos generales de la orden de servicio: {{titulo}}
          }
        </span>
      </div>
      @if(filaSeleccionada){
      <div class="cont-actualizaciones">
        <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
          <fa-icon [icon]="farBook" ></fa-icon>
          <span class="text-actualizaciones">Ver últimas actualizaciones</span>
        </div>
      </div> 
    }
      <form action="" [formGroup]="OrdenesDeServicioForm" class="contenedor-formulario"
        [ngClass]="{'flex-col': mostrartabla, '!flex-row': !mostrartabla}">
        <div class="contenedor-formulario !p-0">
          <!-- <div class="contenido-formulario">
            <span class="label">N° de orden de servicio
              <span class="text-danger">*</span></span>
            <ion-input fill="outline" formControlName="nroordeservicio"
              class="w-[169px]"></ion-input>
          </div> -->
        <!-- Columna 1: Razón Social, Dirección fiscal, Fecha de entrega, Dirección de entrega, Moneda, Condición de pago -->
        <div class="contenido-formulario" >
          <span class="label">Documento fiscal <span class="text-danger">*</span></span>
          <!-- Versión con componentes normales -->
          <div class="flex items-center" *ngIf="!mostrarCamposDeshabilitados">
            <ion-input type="number" placeholder="Ingrese N° de documento" fill="outline" formControlName="documentoproveedorinput"
            class="w-[143px]" style="--border-right-radius: 0px !important"></ion-input>
            <ion-button (click)="buscarproveedor()" class="!w-[24px] flex-none -ml-0.5 z-10 bg-primary rounded-r-sm">
            <fa-icon [icon]="fasSearch" class="text-xs text-white"></fa-icon>
            </ion-button>
          </div>
          <!-- Versión deshabilitada -->
          <div class="flex flex-row gap-1" *ngIf="mostrarCamposDeshabilitados">
            <!-- <ion-input fill="outline" formControlName="documentoproveedor"
              class="w-[55px] text-xxs"></ion-input> -->
            <ion-input fill="outline" formControlName="documentoproveedorinput"
              class="w-[114px] text-xxs"></ion-input>
          </div>
        </div>
        <div class="contenido-formulario">
          <span class="label">Razón social <span class="text-danger">*</span></span>
          <ion-input class="w-[169px]" formControlName="proveedor"  placeholder="Proveeedor Ejemplo" fill="outline"></ion-input>
        </div>
        <div class="contenido-formulario">
          <span class="label">Dirección fiscal
            <span class="text-danger">*</span></span>
          <ion-input fill="outline" formControlName="direccionFiscal"
            class="w-[169px]"></ion-input>
        </div>  
          
        <div class="contenido-formulario">
          <span class="label">Fecha de registro
            <span class="text-danger">*</span></span>
          <ion-input fill="outline" type="date" formControlName="fechaRegistro" [disabled]="true"
            class="w-[93px]"></ion-input>
        </div>
        <div class="contenido-formulario">
          <span class="label">Fecha de entrega
            <span class="text-danger">*</span></span>
          <!-- Versión con calendario -->
          <app-base-calendar-new *ngIf="!mostrarCamposDeshabilitados" class="flex" mode="single" [initialDate]="fechaEntrega" position="center"
            (dateSelected)="onFechaEntrega($event)">
          </app-base-calendar-new>
          <!-- Versión deshabilitada -->
          <ion-input *ngIf="mostrarCamposDeshabilitados" type="date" fill="outline" formControlName="fechaEntrega"
            class="w-[93px]"></ion-input>
        </div>
        
        <div class="contenido-formulario">
          <span class="label">Sucursal<span class="text-danger">*</span></span>
          <!-- Versión con autocomplete -->
          <app-autocomplete *ngIf="!mostrarCamposDeshabilitados"
            [items]="sucursales"
            [displayKey]="'nombre'"
            [valueKey]="'id'"
            [placeholder]="'Buscar sucursal...'"
            [width]="'w-[149px]'"
            formControlName="sucursal"
            (itemSelected)="onSucursalSeleccionada($event)">
          </app-autocomplete>
          <!-- Versión deshabilitada -->
          <ion-input *ngIf="mostrarCamposDeshabilitados" fill="outline" formControlName="sucursal"
            class="w-[169px]"></ion-input>
        </div>

        <div class="contenido-formulario" *ngIf="habilitarseccion === 'Rechazada'">
            <span class="label">Rechazada por
              <span class="text-danger">*</span></span>
            <ion-input fill="outline" formControlName="rechazadaPor"
              class="w-[169px]"></ion-input>
          </div>
          <div class="contenido-formulario" *ngIf="habilitarseccion === 'Aprobada'">
            <span class="label">Aprobada por
              <span class="text-danger">*</span></span>
            <ion-input fill="outline" formControlName="aprobadaPor"
              class="w-[169px]"></ion-input>
          </div>
          <div class="contenido-formulario" *ngIf="habilitarseccion === 'Retornada'">
            <span class="label">Observado por
              <span class="text-danger">*</span></span>
            <ion-input fill="outline" formControlName="retornadoPor"
              class="w-[169px]"></ion-input>
          </div>

          <div class="contenido-formulario">
            <span class="label">Dirección de
              entrega <span class="text-danger">*</span></span>
            <ion-input fill="outline" formControlName="direccionEntrega"
              class="w-[169px]"></ion-input>
          </div>
        </div>

        <!-- Columna 2: RUC, Emitido por, Local de entrega, Proveedor, Tipo de cambio, Estado (solo cuando tabla oculta) -->
        <div class="contenedor-formulario !p-0">
          <div class="contenido-formulario">
            <span class="label">Moneda <span
                class="text-danger">*</span></span>
            <!-- Versión con select -->
            <ion-select *ngIf="!mostrarCamposDeshabilitados" placeholder="Seleccione una moneda" toggleIcon="chevron-down" expandedIcon="chevron-up" formControlName="moneda"
              interface="popover" fill="outline"
              class="text-xxs w-[169px]">
              <ion-select-option value="soles">Soles</ion-select-option>
              <ion-select-option value="dolares">Dólares</ion-select-option>
            </ion-select>
            <!-- Versión deshabilitada -->
            <ion-input *ngIf="mostrarCamposDeshabilitados" fill="outline" formControlName="moneda"
              class="w-[169px]"></ion-input>
          </div>
            @if(mostrarTipoCambio){
          <div class="contenido-formulario">
            <span class="label" >Tipo de cambio <span class="text-danger">*</span></span>
            <ion-input fill="outline" formControlName="tipoCambio" class="w-[60px]"></ion-input>
          </div>
        }
          <div class="contenido-formulario !items-start">
            <span class="label !pt-1">Condición de pago
              <span class="text-danger">*</span></span>
            <!-- Versión con select -->
            <div *ngIf="!mostrarCamposDeshabilitados" class="flex flex-col gap-2" [ngClass]="{'!flex-row': !mostrartabla}">
            <ion-select placeholder="Seleccionar condición" toggleIcon="chevron-down" expandedIcon="chevron-up"
              formControlName="condicionPago" interface="popover" fill="outline"
              class="text-xxs w-[169px]">
              <ion-select-option *ngFor="let condicion of condicionesPago" [value]="condicion.codigo">
                {{ condicion.nombre }}
              </ion-select-option>
            </ion-select>
            <div *ngIf="!mostrarCamposDeshabilitados && OrdenesDeServicioForm.get('condicionPago')?.value" class="flex flex-row gap-1 cursor-pointer items-center" (click)="abrirmodalcuotas()">
              <fa-icon [icon]="fasEdit" class="text-xs text-primary"></fa-icon>
              <span class="text-xs underline text-primary">{{botoncuotas}}</span>
            </div>
          </div>
          <!-- Versión deshabilitada -->
          <ion-input *ngIf="mostrarCamposDeshabilitados" fill="outline" [value]="condicionPagoNombre"
          class="w-[169px]" [disabled]="true"></ion-input>
        </div>
          <div class="contenido-formulario">
            <span class="label">Estado<span class="text-danger">*</span></span>
            <ion-input [disabled]="true"
              formControlName="estado" interface="popover" fill="outline" class="w-[100px] text-xxs" />
          </div>
        </div>
      </form>
      <div class="cont-title">
        <span>Detalle de los servicios</span>
      </div>
      <div class="contenedor-filtros">
        <div class="w-full">  
          <app-autocomplete
            [items]="productos"
            [displayKey]="'descripcion'"
            [valueKey]="'codigo'"
            [placeholder]="'Buscar producto o servicio por nombre o código...'"
            [width]="'w-full'"
            [disabled]="filaSeleccionada?.orden_servicio_estado == 'Aprobada' || filaSeleccionada?.orden_servicio_estado == 'Rechazada'"
            (itemSelected)="onProductoSeleccionado($event)">
          </app-autocomplete>
        </div>
        <ion-button class="w-fit" [disabled]="filaSeleccionada?.orden_servicio_estado == 'Aprobada' || filaSeleccionada?.orden_servicio_estado == 'Rechazada'" (click)="abrirModalCrearServicio()">
          <fa-icon [icon]="fasCirclePlus" class="mr-1"></fa-icon>
          <span class="font-normal whitespace-nowrap">Nuevo servicio</span>
        </ion-button>
      </div>
      <div class="min-h-[150px]">
            <ag-grid-angular 
              style="width: 100%; height: 100%;" 
              class=""
              [rowData]="rowDataArticulos" 
              [columnDefs]="colDefsArticulos" 
              [columnTypes]="columnTypes"
              [rowHeight]="20"
              [localeText]="localeText" 
              [headerHeight]="24"
              [paginationPageSize]="20"
              (gridReady)="onGridReadyArticulos($event)"
              (cellClicked)="onCellClickedArticulo($event)"
              (cellValueChanged)="onCellValueChanged($event)"/>
      </div>
      <div class="flex flex-row gap-2 items-start justify-between px-2">
          <ion-textarea fill="outline" placeholder="Observaciones" class="max-w-[459px] !h-[60px] mt-2"></ion-textarea>
          <div class="resumen-totales">
            <div class="resumen-fila">
              <span class="resumen-label">Subtotal</span>
              <span class="resumen-valor">{{monedapais}} {{subTotal | formatDecimal}}</span>
            </div>
            <div class="resumen-fila">
              <span class="resumen-label">Impuestos</span>
              <span class="resumen-valor">{{monedapais}} {{impuestos | formatDecimal}}</span>
            </div>
            <div class="resumen-fila">
              <span class="text-xxs text-primary">Total</span>
              <span class="text-xxs">{{monedapais}} {{totalGeneral | formatDecimal}}</span>
            </div>
          </div>
        </div>
      <div class="contenedor-btn">
        <ion-button expand="block" class="w-fit" [disabled]="filaSeleccionada?.orden_servicio_estado == 'Aprobada' || filaSeleccionada?.orden_servicio_estado == 'Rechazada'" (click)="botonGuardar()">{{camponuevo ? 'Registrar' : 'Guardar'}}</ion-button>
        <ion-button fill="outline" color="medium" (click)="crearNuevaOrden()">Cancelar</ion-button>
      </div>
    </div>
</div>