<div class="contenedor-principal">
  @if(mostrarTabla){
  <div class="barra-desplegable" (click)="mostrarTabla=false">
    <fa-icon [icon]="fasChevronsRight" class="text-primary text-xs cursor-pointer"></fa-icon>
  </div>
  }
  @if(!mostrarTabla){
  <div class="panel-izquierdo">
    <div class="cont-title">
      @if(pais==='EC' || pais === 'CO' || pais === 'GT'){<span>Lista de retenciones (Selecciona una retención para visualizarlo)</span>}
      @else{<span>Lista de detracciones (Selecciona una detracción para visualizarlo)</span>}
      <fa-icon [icon]="fasChevronsLeft" class="text-xs text-primary cursor-pointer" (click)="mostrarTabla=true"></fa-icon>
    </div>
    <div class="contenedor-filtros">
        <div class="flex items-center gap-3 w-full 2xl:!flex-row">
          <div class="relative w-full">
            <fa-icon [icon]="farSearch"
              class="absolute left-2 top-1/2 -translate-y-1/2 text-xxs text-[#878787] z-40"></fa-icon>
            <ion-input fill="outline" placeholder="Buscar por Documento Fiscal o por Documento Asociado" style="--padding-start:28px"
              class="w-full text-xxs"></ion-input>
          </div>
        </div>
        
        <div class="flex gap-3 justify-start flex-none">
          <ion-button fill="outline" class="w-[115px] text-text-85" id="pagodetraccion">
            <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
              <span>Exportar</span>
            <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
          </ion-button>
              <ion-popover trigger="pagodetraccion" triggerAction="click" [dismissOnSelect]="true"
              class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
           <ng-template>
            <ion-item lines="none" [button]="true">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true">Exportar PDF</ion-item>
            </ng-template>
              </ion-popover>

      <ion-button class="w-fit flex flex-none" (click)="modalverConfirmacion()" [disabled]="filasSeleccionadas.length<=1">
            <span class="text-cont">Descargar archivo TXT</span>
      </ion-button>
      </div>
    </div>
    <div class="h-full relative" [appLoader]="isLoading()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()"
        class="btn-refresh"></fa-icon>
      <ag-grid-angular
        [columnDefs]="colDefsDetracciones"
        [rowData]="rowDataDetracciones"
        [localeText]="localeText"
        [rowHeight]="20"
        [headerHeight]="24"
        [pagination]="true"
        [rowSelection]="'multiple'"
        [paginationPageSize]="20"
        style="width: 100%; height: 100%;"
        (gridReady)="onGridReady($event)"
        (selectionChanged)="onSelectionChangedBancario($event)"
      />
    </div>
  </div>
  }
  <div class="panel-derecho" [appLoader]="isLoading()" [ngClass]="{'!flex-none !w-full':mostrarTabla}">
    <div class="cont-title">
      @if(pais === 'EC' || pais === 'CO' || pais === 'GT'){<span>{{ filasSeleccionadas.length > 0 ? 'Retención: ' + filasSeleccionadas[0].pd_codigo : 'Seleccione una retención' }}</span>}
      @else{<span>{{ filasSeleccionadas.length > 0 ? 'Detracción: ' + filasSeleccionadas[0].pd_codigo : 'Seleccione una detracción' }}</span>}
    </div>
    @if(filasSeleccionadas.length > 0){ 
    <div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook" ></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>}
    <form action="" class="contenedor-formulario" [formGroup]="detraccionForm" [ngClass]="{'!flex !flex-row !flex-none':mostrarTabla}">
      <div class="contenedor-formulario !p-0">
          <div class="contenido-formulario">
            <label class="label">Documento fiscal</label>
            <ion-input type="text" fill="outline" class="w-[165px]" formControlName="RUCproveedor"></ion-input>
          </div>
          <div class="contenido-formulario">
            <label class="label">Proveedor</label>
            <ion-input type="text" fill="outline" class="w-[165px]" formControlName="proveedor"></ion-input>
          </div>
          <div class="contenido-formulario">
            <label class="label">Documento asociado </label>
            <ion-input type="text" fill="outline" class="w-[165px]" formControlName="documentoAsociado"></ion-input>
          </div>
          <div class="contenido-formulario">
            <label class="label">Importe de @if(pais === 'EC' || pais === 'CO' || pais === 'GT'){ retención } @else{detracción}</label>
            <ion-input fill="outline" class="w-[165px]" formControlName="importeDetraccion"></ion-input>
          </div>
          <div class="contenido-formulario">
            <label class="label">Estado</label>
            <ion-input type="text" fill="outline" class="w-[165px]" formControlName="estado"></ion-input>
          </div>
          <div class="contenido-formulario">
          <span class="label">Constancia de pago<span class="text-danger">*</span></span>
            <div class="flex items-center gap-2 w-40 h-[28px] border border-text-5 rounded-sm px-2"
            [ngClass]="{'bg-Background-light': documentoSoporte}">
            <input type="file" #fileInput (change)="onFileSelected($event)" class="hidden" accept=".pdf,.xml">
            <ng-container *ngIf="documentoSoporte; else noFile">
              <span class="text-xxs flex-1 line-clamp-1">{{ documentoSoporte }}</span>
              <fa-icon [icon]="farCircleXmark" class="text-danger cursor-pointer text-xs" (click)="removeFile()">
              </fa-icon>
            </ng-container>
            <ng-template #noFile>
              <span class="text-xxs cursor-pointer flex-1 line-clamp-1 underline text-primary"
                (click)="fileInput.click()">
                Haz clic para subir un archivo
              </span>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="contenedor-formulario !p-0">
        <div class="contenido-formulario">
          <span class="label">Cuenta de origen <span class="text-danger">*</span></span>
          <app-autocomplete label="" [items]="cuentasOrigen" labelKey="nombre"
            placeholder="Buscar cuenta de origen por nombre o código" class="w-[165px]"
            (onSelectItem)="onCuentaOrigenSelected($event)" [disabled]="desactivarautocomplete">
          </app-autocomplete>
        </div>
        <div class="contenido-formulario">
          <label class="label">Nº constancia de pago <span class="text-danger">*</span></label>
          <ion-input type="text" fill="outline" class="w-[165px]" formControlName="numeroConstancia"></ion-input>
        </div>
        <div class="contenido-formulario">
          <label class="label">Fecha de pago <span class="text-danger">*</span></label>
          <app-base-calendar-new class="flex-none" mode="single" [initialDate]="fechaPagoInicial"
            [minDate]="minDate" [maxDate]="maxDate" position="center"
            (dateSelected)="detraccionForm.patchValue({fechaPago: $event})" [disabled]="desactivarautocomplete">
          </app-base-calendar-new>
        </div>
        <div class="contenido-formulario">
          <label class="label">Medio de pago <span class="text-danger">*</span></label>
          <ion-select fill="outline" class="w-[165px]" toggleIcon="chevron-down" expandedIcon="chevron-up" 
            interface="popover" placeholder="Selecciona medio de pago" formControlName="medioPago">
            @for(medio of mediosPago; track medio.value){
              <ion-select-option [value]="medio.value">{{medio.label}}</ion-select-option>
            }
          </ion-select>
        </div>
        <div class="contenido-formulario !items-start">
          <label class="label">Observaciones</label>
          <ion-textarea fill="outline" class="w-[165px]" formControlName="observaciones"></ion-textarea>
        </div>
      </div>
    </form>
    <div class="w-full flex justify-end p-1.5">
      <ion-button class="w-fit flex-none mr-2.5" [disabled]="!puedeGuardar()" (click)="guardar()">
        Guardar
      </ion-button>
    </div>
  </div>
</div>

