.animacion-chat{
  @apply absolute flex flex-col gap-2 py-2.5 px-2 shadow-2xl right-5 z-50 bg-white rounded-[16px] bottom-[65px] w-[270px] h-[428px] overflow-hidden;
  animation: animacion-chat 0.3s ease-in-out;
}
.animacion-esconder-chat{
  @apply absolute flex flex-col gap-2 py-2.5 px-2 shadow-2xl right-5 z-50 bg-white rounded-[16px] bottom-[65px] w-[270px] h-[428px] overflow-hidden;
  animation: animacion-esconder-chat 0.3s ease-in forwards;
}
ion-textarea {
  --padding-start: 8px !important;
  --padding-end: 50px !important;
  --padding-top: 16px !important;
  --padding-bottom: 16px !important;
  --border-radius: 4px !important;
  background-color: white !important;
  height: 45px !important;
  opacity: 1 !important;
}
ion-button {
    min-height: 30px !important;
    letter-spacing: normal;
    height: 30px !important;
    font-family: NunitoSans, helvetica, sans-serif;
    text-transform: none;
    --border-width: 1px;
    margin: 0;
    --border-radius: 8px !important;
    --box-shadow: none !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;
}
@keyframes animacion-chat {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes animacion-esconder-chat {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
    display: none;
  }
}