.btn-icon-primary {
    @apply text-primary outline-none focus:outline-none text-xl h-10;
}
.cont-codigo {
    @apply w-[40px] h-[44px] text-center flex-shrink-0;
    min-height: 44px !important;
}
ion-input.cont-codigo{
    --background: white !important;
    border-color: #E4E4E4 !important;
}
.cont-codigo-error {
    --border-color: #E4E4E4 !important;
    --highlight-color-focused: #EF4444;
}
.input-error {
    --border-color: #EF4444 !important;
    --highlight-color-focused: #EF4444;
    --highlight-color-valid: #EF4444;
}
.mensaje-verificacion {
    @apply text-sm font-medium;
    color: #363636;
}
.label-telefono {
    @apply text-sm font-bold;
    color: #363636;
}
.regla-password {
    @apply text-xs flex items-center gap-1.5 transition-colors duration-200;
}
.texto-error-campo{
    @apply text-xs text-danger;
}
// .regla-ok {
//     color: #16a34a;
// }
// .regla-fail {
//     color: #dc2626;
// }
// .regla-icon {
//     @apply font-bold text-sm w-4 text-center;
// }
