<div class="contenedor-filtros-tabla">
  <div class="sub-content-filtros-tabla">
    <div class="cont-title">
      <span>Consultar flujo de caja (Seleccione al menos un filtro)</span>
    </div>
    <div class="contenido-filtros-tabla">
      <div class="filtros-responsive">
        <div class="form-column2">
          <div class="contenido-formulario">
            <span class="label">Entidad financiera</span>
            <ion-select placeholder="Selecciona una entidad" interface="popover" fill="outline"
              class="w-[230px]" toggleIcon="chevron-down" expandedIcon="chevron-up"
              (ionChange)="onFilterChange()">
              @for (entidad of entidadesFinancierasList; track entidad.value) {
                <ion-select-option [value]="entidad.value">{{ entidad.label }}</ion-select-option>
              }
            </ion-select>
          </div>
          <div class="contenido-formulario">
            <span class="label">Tipo de cuenta</span>
            <ion-select [(ngModel)]="filtroTipoCuenta" placeholder="Selecciona un tipo de cuenta" interface="popover" fill="outline"
              class="w-[210px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up"
              (ionChange)="onFilterChange()">
              @for (tipo of tiposCuentaList; track tipo.value) {
                <ion-select-option [value]="tipo.value">{{ tipo.label }}</ion-select-option>
              }
            </ion-select>
          </div>
          <div class="contenido-formulario">
            <span class="label">Moneda</span>
            <ion-select [(ngModel)]="filtroMoneda" placeholder="Selecciona una moneda" interface="popover" fill="outline"
              class="w-[200px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up"
              (ionChange)="onFilterChange()">
              @for (moneda of monedasList; track moneda.value) {
                <ion-select-option [value]="moneda.value">{{ moneda.label }}</ion-select-option>
              }
            </ion-select>
          </div>
          <div class="contenido-formulario">
            <span class="label">Sucursal</span>
            <app-autocomplete [items]="sucursalList" [displayKey]="'nombre'" [valueKey]="'id'"
            [placeholder]="'Selecciona un tipo'" [width]="'w-full max-w-[200px]'"
            (itemSelected)="onSucursalSelected($event)">
          </app-autocomplete>
          </div>
          <div class="contenido-formulario">
            <span class="label">Periodo de Proyección</span>
            <app-base-calendar-new class="flex-none w-[230px]" mode="range" [placeholder]="'Selecciona un periodo'"
              [minDate]="minDate" [maxDate]="maxDate" position="left" (dateRangeSelected)="filtrarPorFechas($event)">
            </app-base-calendar-new>
          </div>
          <div class="contenido-formulario">
            <span class="label">Estado</span>
            <ion-select [(ngModel)]="filtroEstado" placeholder="Selecciona un estado" interface="popover" fill="outline"
              class="w-[82px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up"
              (ionChange)="onFilterChange()">
              @for (estado of estadosList; track estado.value) {
                <ion-select-option [value]="estado.value">{{ estado.label }}</ion-select-option>
              }
            </ion-select>
          </div>
        </div>
      </div>
      <!-- Botones de acción -->
      <div class="flex items-center gap-3 w-full justify-end">
        <!-- <ion-button class="w-fit" fill="outline" id="reportec" [disabled]="!canExport">
          <fa-icon [icon]="fasDownload" class="mr-1 text-text-85"></fa-icon>
          <span class="text-text-85">Exportar</span>
          <fa-icon class="ml-1 text-text-85" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="reportec" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true">Exportar PDF</ion-item>
          </ng-template>
        </ion-popover>
        <ion-button class="w-fit" (click)="buscar()" [disabled]="!canSearch">
          <span class="font-normal">Buscar</span>
        </ion-button> -->
        <ion-button fill="outline" class="w-fit">
          <span>Actualizar proyección</span>
          <fa-icon class="ml-1 text-xxs" [icon]="fasArrowsRotate"></fa-icon>
        </ion-button>
        <ion-button class="w-[115px] text-text-85" fill="outline" id="consultaflujocaja" [disabled]="!canExport">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="consultaflujocaja" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar PDF</ion-item>
          </ng-template>
        </ion-popover>

         <ion-button class="w-fit" (click)="buscar()" [disabled]="!canSearch">
          <span class="font-normal">Buscar</span>
        </ion-button>
      </div>
    </div>
    <div class="cont-title">
      <span>Detalle de flujo de caja</span>
    </div>

    <!-- Contenedores de totales con iconos -->
    <div class="cont-cards !pt-1.5">
       <div class="card">
          <div class="contenido">
            <span class="title">Total saldo actual</span>
            @if(loaderActivo()){
              <ion-skeleton-text [animated]="true" style="width: 30px; height: 16px;"></ion-skeleton-text>
            }@else {
              <span class="cantidad" [style.color]="totalSaldoActual < 0 ? '#EF4444' : ''">
                {{ totalSaldoActual < 0 ? '-S/' : 'S/' }}{{ (totalSaldoActual < 0 ? totalSaldoActual * -1 : totalSaldoActual) | number:'1.2-2' }}
              </span>
            }
          </div>
          <div class="icon">
            <fa-icon [icon]="fasCircleDollar"></fa-icon>
          </div>
        </div>
        <div class="card">
          <div class="contenido">
            <span class="title">Total ingresos programados</span>
            @if(loaderActivo()){
              <ion-skeleton-text [animated]="true" style="width: 30px; height: 16px;"></ion-skeleton-text>
            }@else {
              <span class="cantidad" [style.color]="totalIngresosProgramados < 0 ? '#EF4444' : ''">
                {{ totalIngresosProgramados < 0 ? '-S/' : 'S/' }}{{ (totalIngresosProgramados < 0 ? totalIngresosProgramados * -1 : totalIngresosProgramados) | number:'1.2-2' }}
              </span>
            }
          </div>
          <div class="icon">
            <fa-icon [icon]="fasDisplayChartUpCircleDollar"></fa-icon>
          </div>
        </div>
         <div class="card">
          <div class="contenido">
            <span class="title">Total egresos programados</span>
            @if(loaderActivo()){
              <ion-skeleton-text [animated]="true" style="width: 30px; height: 16px;"></ion-skeleton-text>
            }@else {
              <span class="cantidad" [style.color]="totalEgresosProyectados < 0 ? '#EF4444' : ''">
                {{ totalEgresosProyectados < 0 ? '-S/' : 'S/' }}{{ (totalEgresosProyectados < 0 ? totalEgresosProyectados * -1 : totalEgresosProyectados) | number:'1.2-2' }}
              </span>
            }
          </div>
          <div class="icon">
            <fa-icon [icon]="fasChartLineDown"></fa-icon>
          </div>
        </div>
        <div class="card">
          <div class="contenido">
            <span class="title">Total flujo neto</span>
            @if(loaderActivo()){
              <ion-skeleton-text [animated]="true" style="width: 30px; height: 16px;"></ion-skeleton-text>
            }@else {  
              <span class="cantidad" [style.color]="totalFlujoNeto < 0 ? '#EF4444' : ''">
                {{ totalFlujoNeto < 0 ? '-S/' : 'S/' }}{{ (totalFlujoNeto < 0 ? totalFlujoNeto * -1 : totalFlujoNeto) | number:'1.2-2' }}
              </span>
            }
          </div>
          <div class="icon">
            <fa-icon [icon]="fasSackDollar"></fa-icon>
          </div>
        </div>
         <div class="card">
          <div class="contenido">
            <span class="title">Total saldo proyectado</span>
            @if(loaderActivo()){
              <ion-skeleton-text [animated]="true" style="width: 30px; height: 16px;"></ion-skeleton-text>
            }@else {  
              <span class="cantidad" [style.color]="totalSaldoProyectado < 0 ? '#EF4444' : ''">
                {{ totalSaldoProyectado < 0 ? '-S/' : 'S/' }}{{ (totalSaldoProyectado < 0 ? totalSaldoProyectado * -1 : totalSaldoProyectado) | number:'1.2-2' }}
              </span>
            }
          </div>
          <div class="icon">
            <fa-icon [icon]="fasHandHoldingDollar"></fa-icon>
          </div>
        </div>
    </div>

    <!-- Tabla de resultados -->
    <div class="flex h-full relative" [appLoader]="loaderActivo()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular 
        style="width: 100%; height: 100%;" 
        class="" 
        [rowData]="rowData" 
        [columnDefs]="colDefs"
        [columnTypes]="columnTypes" 
        [gridOptions]="gridOptions" 
        [pagination]="true" 
        [localeText]="localeText"
        [rowHeight]="20" 
        [headerHeight]="24" 
        [paginationPageSize]="20" 
        [defaultColDef]="defaultColDef"
        (gridReady)="onGridReady($event)" 
        (cellClicked)="onCellClicked($event)">
      </ag-grid-angular>
    </div>
  </div>
</div>