<div class="contenedor-principal">
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span>Lista de egresos menores y reposiciones de fondos (Selecciona un egreso o una reposición para visualizarlo)</span>
    </div>

    <!-- filtros -->
    <div class="contenedor-filtros">
      <div class="filtros-responsive">
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar por código o tipo de fondo" class="w-full"
            style="--padding-start:30px"></ion-input>
        </div>
      </div>

      <div class="filtros-absolutos">

        <app-base-calendar-new class="flex-none" mode="range" [initialStartDate]="startDate" [initialEndDate]="endDate"
          [minDate]="minDate" [maxDate]="maxDate" position="center" (dateRangeSelected)="filtrarPorFechas($event)">
        </app-base-calendar-new>

        <ion-button fill="outline" class="w-[115px] flex-none text-text-85" id="egresosmenores">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="egresosmenores" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true">Exportar PDF</ion-item>
          </ng-template>
        </ion-popover>

        <ion-button class="w-[115px] flex-none" id="acciones-trigger">
          <fa-icon [icon]="fasCirclePlus" class="mr-1"></fa-icon>
          <span class="font-normal">Acciones</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="acciones-trigger" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos2" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" (click)="accionNuevoEgreso()">Nuevo egreso menor</ion-item>
            <ion-item lines="none" [button]="true" (click)="accionSolicitarReposicion()">Solicitar reposición</ion-item>
            <ion-item lines="none" [button]="true" (click)="accionRegistrarReposicion()">Registrar reposición</ion-item>
            <ion-item lines="none" [button]="true" (click)="accionCerrarFondo()">Cerrar fondo</ion-item>
          </ng-template>
        </ion-popover>
      </div>
    </div>

    <!-- Resumen de saldos -->
    <div class="cont-cards">
      <div class="card">
        <div class="contenido">
          <span class="title">Saldo caja chica</span>
          @if(isLoading()){
            <ion-skeleton-text [animated]="true" style="width: 30px; height: 16px;"></ion-skeleton-text>
          } @else{
          <span class="cantidad">S/ 10,000.00</span>
          }
        </div>
        <div class="icon">
          <fa-icon [icon]="fasCashRegister"></fa-icon>
        </div>
      </div>
      <div class="card">
        <div class="contenido">
          <span class="title">Saldo fondo fijo</span>
          @if(isLoading()){
            <ion-skeleton-text [animated]="true" style="width: 30px; height: 16px;"></ion-skeleton-text>
          } @else{
          <span class="cantidad">S/ 10,000.00</span>
          }
        </div>
        <div class="icon">
          <fa-icon [icon]="fasPiggyBank"></fa-icon>
        </div>
      </div>
      <div class="card">
        <div class="contenido">
          <span class="title">Total de egresos</span>
          @if(isLoading()){
            <ion-skeleton-text [animated]="true" style="width: 30px; height: 16px;"></ion-skeleton-text>
          } @else{
          <span class="cantidad">10</span>
          }
        </div>
        <div class="icon">
          <fa-icon [icon]="fasChartLineDown"></fa-icon>
        </div>
      </div>
      <div class="card">
        <div class="contenido">
          <span class="title">Total de reposiciones</span>
          @if(isLoading()){
            <ion-skeleton-text [animated]="true" style="width: 30px; height: 16px;"></ion-skeleton-text>
          } @else{
          <span class="cantidad">10</span>
          }
        </div>
        <div class="icon">
          <fa-icon [icon]="fasArrowCircleUp"></fa-icon>
        </div>
      </div>
    </div>

    <div class="h-full relative" [appLoader]="isLoading()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-alpine" [rowData]="rowData"
        [columnDefs]="colDefs" [defaultColDef]="defaultColDef" [pagination]="true" [localeText]="localeText"
        [rowHeight]="20" [headerHeight]="24" [paginationPageSize]="20" [rowSelection]="'single'"
        [context]="context"
        (gridReady)="onGridReady($event)" (firstDataRendered)="onFirstDataRendered($event)"
        (cellClicked)="onCellClicked($event)" [domLayout]="'normal'" />
    </div>
  </div>

  <div class="panel-derecho" [appLoader]="isLoading()">
    <div class="cont-title">
      <span>{{ tituloFormulario }}</span>
    </div>

    @if(codigoSeleccionado){<div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook"></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>}

    <!-- Formulario de Egreso Menor -->
    @if(tipoFormulario == 'egreso'){<form [formGroup]="egresoForm" class="contenedor-formulario">

      <div class="contenido-formulario">
        <span class="label">Caja <span class="text-danger">*</span></span>
        <ion-select fill="outline" formControlName="caja" placeholder="Selecciona una caja" toggleIcon="chevron-down"
          expandedIcon="chevron-up" interface="popover">
          @for(caja of cajas; track caja.id) {
          <ion-select-option [value]="caja.nombre">{{ caja.nombre }}</ion-select-option>
          }
        </ion-select>
      </div>

      <div class="contenido-formulario">
        <span class="label">Responsable de caja <span class="text-[#FF0000]">*</span></span>
        <ion-select fill="outline" formControlName="responsableCaja" placeholder="Selecciona un responsable de caja"
          toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover">
          @for(responsable of responsables; track responsable.id) {
          <ion-select-option [value]="responsable.nombre">{{ responsable.nombre }}</ion-select-option>
          }
        </ion-select>
      </div>

      <div class="contenido-formulario">
        <span class="label">Tipo de fondo <span class="text-danger">*</span></span>
        <ion-select fill="outline" formControlName="tipoFondo" placeholder="Selecciona un tipo de fondo"
          toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover">
          @for(tipo of tiposFondo; track tipo.id) {
          <ion-select-option [value]="tipo.nombre">{{ tipo.nombre }}</ion-select-option>
          }
        </ion-select>
      </div>

      <div class="contenido-formulario">
        <span class="label">Monto disponible</span>
        <ion-input fill="outline" formControlName="montoDisponible" type="text" placeholder="Monto disponible" readonly></ion-input>
      </div>
      <div class="contenido-formulario">
        <span class="label">Monto máximo de egresos</span>
        <ion-input fill="outline" formControlName="montoMaximo" type="text" placeholder="Monto máximo" readonly></ion-input>
      </div>


      <div class="contenido-formulario">
        <span class="label">Responsable de egreso <span class="text-danger">*</span></span>
        <ion-select fill="outline" formControlName="responsable" placeholder="Selecciona un responsable"
          toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover">
          @for(responsable of responsables; track responsable.id) {
          <ion-select-option [value]="responsable.nombre">{{ responsable.nombre }}</ion-select-option>
          }
        </ion-select>
      </div>

      <div class="contenido-formulario">
        <span class="label">Fecha de movimiento <span class="text-danger">*</span></span>
        <app-base-calendar-new mode="single" [initialDate]="fechaMovimientoSeleccionada" [minDate]="minDate"
          [maxDate]="maxDate" placeholder="Selecciona una fecha" (dateSelected)="onFechaMovimientoSelected($event)">
        </app-base-calendar-new>
      </div>

      <div class="contenido-formulario">
        <span class="label">Categoría de gasto <span class="text-danger">*</span></span>
        <ion-select fill="outline" formControlName="categoriaGasto" placeholder="Selecciona una categoría"
          toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover">
          @for(categoria of categorias; track categoria.id) {
          <ion-select-option [value]="categoria.nombre">{{ categoria.nombre }}</ion-select-option>
          }
        </ion-select>
      </div>
      <div class="contenido-formulario !items-start">
        <span class="label">Descripcion del gasto <span class="text-danger">*</span></span>
        <ion-textarea fill="outline" placeholder="Escribe aquí..." class="w-[163px]"
          formControlName="descripcion"></ion-textarea>
      </div>

      <div class="contenido-formulario">
        <span class="label">Moneda <span class="text-danger">*</span></span>
        <ion-select fill="outline" formControlName="moneda" placeholder="Selecciona una moneda"
          toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover">
          @for(moneda of monedas; track moneda.id) {
          <ion-select-option [value]="moneda.id">{{ moneda.nombre }}</ion-select-option>
          }
        </ion-select>
      </div>
      @if(pais != 'EC'){  
        @if (egresoForm.get('moneda')?.value === 'Dólares') {
          <div class="contenido-formulario">
            <span class="label">Tipo de cambio</span>
            <ion-input fill="outline" formControlName="tipoCambio" placeholder="Tipo de cambio" type="number"></ion-input>
          </div>
        }
      }

      <div class="contenido-formulario">
        <span class="label">Monto total <span class="text-danger">*</span></span>
        <ion-input fill="outline" formControlName="montoTotal" placeholder="Monto total" type="number"></ion-input>
      </div>

      <div class="contenido-formulario">
        <span class="label">N° comprobante <span class="text-danger">*</span></span>
        <ion-input fill="outline" formControlName="nComprobante" placeholder="N° comprobante"></ion-input>
      </div>

      <div class="contenido-formulario">
        <span class="label">Adjuntar comprobante <span class="text-danger">*</span></span>
        <app-file-upload
          formControlName="archivoAdjunto"
          accept=".pdf,.jpg,.png"
          placeholder="Haz clic para subir un archivo"
          width="w-40">
        </app-file-upload>
      </div>

      <!-- <div class="contenido-formulario">
        <span class="label">Observaciones</span>
        <ion-textarea fill="outline" formControlName="observaciones" 
          placeholder="Escriba aquí..." rows="3"></ion-textarea>
      </div> -->

    </form>}

    <!-- Formulario de Solicitar Reposición -->
    @if(tipoFormulario == 'solicitar'){<form [formGroup]="reposicionSolicitudForm" class="contenedor-formulario">

      <div class="contenido-formulario">
        <span class="label">Tipo de fondo <span class="text-danger">*</span></span>
        <ion-select fill="outline" formControlName="tipoFondo" placeholder="Selecciona un tipo de fondo"
          toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover">
          @for(tipo of tiposFondo; track tipo.id) {
          <ion-select-option [value]="tipo.nombre">{{ tipo.nombre }}</ion-select-option>
          }
        </ion-select>
      </div>

      <div class="contenido-formulario">
        <span class="label">Caja <span class="text-danger">*</span></span>
        <ion-select fill="outline" formControlName="caja" placeholder="Selecciona una caja"
          toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover">
          @for(caja of cajas; track caja.id) {
          <ion-select-option [value]="caja.nombre">{{ caja.nombre }}</ion-select-option>
          }
        </ion-select>
      </div>
      
      <div class="contenido-formulario">
        <span class="label">Monto solicitado <span class="text-[#FF0000]">*</span></span>
        <ion-input fill="outline" type="number" formControlName="montoSolicitado" placeholder="Monto solicitado"></ion-input>
      </div>
  
      <div class="contenido-formulario">
        <span class="label">Resp. de la solicitud <span class="text-[#FF0000]">*</span></span>
        <ion-select fill="outline" formControlName="responsable" placeholder="Selecciona un responsable"
          toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover">
          @for(responsable of responsables; track responsable.id) {
          <ion-select-option [value]="responsable.nombre">{{ responsable.nombre }}</ion-select-option>
          }
        </ion-select>
      </div>
      
      <div class="contenido-formulario !items-start">
        <span class="label">Observaciones</span>
        <ion-textarea fill="outline" formControlName="observaciones" 
          placeholder="Escriba aquí..." rows="3"></ion-textarea>
      </div>

    </form>}

    <!-- Formulario de Registrar Reposición -->
    @if(tipoFormulario == 'registrar'){<form [formGroup]="reposicionRegistroForm" class="contenedor-formulario">

      <div class="contenido-formulario">
        <span class="label">Tipo de fondo <span class="text-danger">*</span></span>
        <ion-select fill="outline" formControlName="tipoFondo" placeholder="Selecciona un tipo de fondo"
          toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover">
          @for(tipo of tiposFondo; track tipo.id) {
          <ion-select-option [value]="tipo.nombre">{{ tipo.nombre }}</ion-select-option>
          }
        </ion-select>
      </div>

      <div class="contenido-formulario">
        <span class="label">Caja <span class="text-danger">*</span></span>
        <ion-select fill="outline" formControlName="caja" placeholder="Selecciona una caja"
          toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover">
          @for(caja of cajas; track caja.id) {
          <ion-select-option [value]="caja.nombre">{{ caja.nombre }}</ion-select-option>
          }
        </ion-select>
      </div>

      <div class="contenido-formulario">
        <span class="label">Monto repuesto <span class="text-danger">*</span></span>
        <ion-input fill="outline" formControlName="montoRepuesto" placeholder="Monto repuesto"
          type="number"></ion-input>
      </div>

      <div class="contenido-formulario">
        <span class="label">N° comprobante <span class="text-danger">*</span></span>
        <ion-input fill="outline" formControlName="nComprobante" placeholder="N° comprobante"></ion-input>
      </div>

      <div class="contenido-formulario">
        <span class="label">Adjuntar comprobante <span class="text-danger">*</span></span>
        <app-file-upload
          formControlName="archivoAdjunto"
          accept=".pdf,.jpg,.png"
          placeholder="Haz clic para subir un archivo"
          width="w-40">
        </app-file-upload>
      </div>

      <div class="contenido-formulario">
        <span class="label">Observaciones</span>
        <ion-textarea fill="outline" formControlName="observaciones" placeholder="Escriba aquí..."
          rows="3"></ion-textarea>
      </div>

    </form>}

    <!-- Formulario de Cerrar Fondo -->
    @if(tipoFormulario == 'cerrar'){<form [formGroup]="cerrarFondoForm" class="contenedor-formulario">

      <div class="contenido-formulario">
        <span class="label">Tipo de fondo <span class="text-danger">*</span></span>
        <ion-select fill="outline" formControlName="tipoFondo" placeholder="Selecciona un tipo de fondo"
          toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover">
          @for(tipo of tiposFondo; track tipo.id) {
          <ion-select-option [value]="tipo.nombre">{{ tipo.nombre }}</ion-select-option>
          }
        </ion-select>
      </div>

      <div class="contenido-formulario">
        <span class="label">Caja <span class="text-danger">*</span></span>
        <ion-select fill="outline" formControlName="caja" placeholder="Selecciona una caja"
          toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover">
          @for(caja of cajas; track caja.id) {
          <ion-select-option [value]="caja.nombre">{{ caja.nombre }}</ion-select-option>
          }
        </ion-select>
      </div>

      <div class="contenido-formulario">
        <span class="label">Responsable de cierre <span class="text-danger">*</span></span>
        <ion-select fill="outline" formControlName="responsable" placeholder="Selecciona un responsable"
          toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover">
          @for(responsable of responsables; track responsable.id) {
          <ion-select-option [value]="responsable.nombre">{{ responsable.nombre }}</ion-select-option>
          }
        </ion-select>
      </div>

      <div class="contenido-formulario">
        <span class="label">Motivo de cierre <span class="text-danger">*</span></span>
        <ion-textarea fill="outline" formControlName="motivoCierre" placeholder="Escriba aquí..."
          rows="3"></ion-textarea>
      </div>

    </form>}

    <!-- Botones -->
    <div class="contenedor-btn">
      @if(tipoFormulario === 'egreso'){<ion-button (click)="botonRegistrar()">
        {{ codigoSeleccionado ? 'Guardar' : 'Registrar' }}
      </ion-button>}

      @if(tipoFormulario === 'solicitar'){
        <div class="flex items-center gap-3">
          @if(solicitudEnviada){
            <ion-button fill="outline" color="danger" (click)="botonRechazar()" [disabled]="reposicionProcesada">Rechazar</ion-button>
            <ion-button (click)="botonReponer()" [disabled]="reposicionProcesada">Reponer</ion-button>
          }
          @else{<ion-button (click)="botonEnviarSolicitud()">Enviar solicitud</ion-button>}
        </div>
    }

      @if(tipoFormulario === 'registrar'){<ion-button (click)="botonRegistrarReposicion()" [disabled]="botonDerechoDisabled">Registrar</ion-button>}

      @if(tipoFormulario === 'cerrar'){<ion-button (click)="botonCerrarFondo()">Cerrar fondo</ion-button>}
    
      <ion-button class="w-fit" fill="outline" color="medium" (click)="accionNuevoEgreso()">Cerrar</ion-button>
    </div>
  </div>
</div>