<div class="contenedor-principal">
  
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span>Lista de transacciones periódicas (Selecciona una transacción para visualizarla)</span>
    </div>
    <div class="contenedor-filtros">
      <div class="buscador">
        <fa-icon [icon]="farSearch"></fa-icon>
        <ion-input fill="outline" placeholder="Buscar por código o descripción" class="w-full" style="--padding-start:30px"></ion-input>
      </div>
      <div class="filtros-absolutos">
        <div class="flex flex-row">
          <ion-select placeholder="De registro" toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover"
            fill="outline" class="w-[100px] flex-none text-xxs -mr-0.5" value="0">
            <ion-select-option value="0">De emisión</ion-select-option>
            <ion-select-option value="1">De vencimiento</ion-select-option>
          </ion-select>

          <!-- calendario -->
          <app-base-calendar-new class="flex-none w-[175px]" mode="range" [initialStartDate]="startDate" [initialEndDate]="endDate"
            [minDate]="minDate" [maxDate]="maxDate" position="left" (dateRangeSelected)="filtrarPorFechas($event)">
          </app-base-calendar-new>
        </div>
        <ion-button class="w-[115px]" fill="outline" id="transperiodoicas">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="transperiodoicas" triggerAction="click" [dismissOnSelect]="true" class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
            <ng-template>
              <ion-item lines="none" [button]="true" >Exportar Excel</ion-item>
              <ion-item lines="none" [button]="true" >Exportar PDF</ion-item>
            </ng-template>
        </ion-popover>
        <ion-button class="w-fit" (click)="botonRegistrarTransaccion()" [disabled]="!filaSeleccionada"><fa-icon [icon]="fasCirclePlus" class="mr-1"></fa-icon> <span class="font-normal">Nueva transacción</span></ion-button>
      </div>
    </div>
    <div class="flex h-full relative" [appLoader]="isLoading()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular style="width: 100%; height: 100%;" 
        class="" [rowData]="rowData" 
        [columnDefs]="colDefs"
        [pagination]="true" 
        [rowSelection]="'single'" 
        [localeText]="localeText"
        [paginationPageSize]="20" 
        [rowHeight]="20"
        [headerHeight]="24" 
        (gridReady)="onGridReady($event)" 
        (cellClicked)="onCellClicked($event)" />
    </div>
  </div>

  <div class="panel-derecho" [appLoader]="isLoading()">
    <div class="cont-title">
      @if(filaSeleccionada){<span>Transacción: {{ filaSeleccionada.transaccion_codigo_programacion }}</span>}        
      @if(!filaSeleccionada){<span>Nueva transacción</span>}        
    </div>
    @if(filaSeleccionada){<div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook" ></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>}
    <form action="" [formGroup]="transaccionForm">
      <!-- Contenido del formulario -->
      <div class="contenedor-formulario">

        <div class="contenido-formulario">
          <span class="label">Documento fiscal<span class="text-danger">*</span></span>
          <div class="flex flex-row">
            <ion-select placeholder="" toggleIcon="chevron-down" expandedIcon="chevron-up"
              formControlName="tipoDocumentoProveedor" interface="popover" fill="outline" class="min-w-[55px] text-xxs" style="width: 55px !important; --border-top-right-radius: 0px !important; --border-bottom-right-radius: 0px !important;">
              <ion-select-option *ngFor="let tipo of tiposIdentificacion" [value]="tipo.value">{{ tipo.label }}</ion-select-option>
            </ion-select>
            <ion-input type="number" fill="outline" class="w-[93px] -ml-1"
              style="--border-radius: 0px !important" formControlName="numeroDocumentoProveedor"></ion-input>
            <ion-button class="!w-[24px] bg-primary" (click)="buscarProveedor()">
              <fa-icon [icon]="fasSearch" class="text-xs text-white"></fa-icon>
            </ion-button>
          </div>
        </div>

        <div class="contenido-formulario">
          <span class="label">Razón social<span class="text-danger">*</span></span>
          <ion-input fill="outline" class="w-[167px]" formControlName="nombreProveedor"></ion-input>
        </div>

        <div class="contenido-formulario !items-start">
          <span class="label">Tipo de gasto<span class="text-danger">*</span></span>
          <ion-textarea fill="outline" rows="2" placeholder="Escribe aquí..." class="w-[167px]" formControlName="tipoGasto"></ion-textarea>
        </div>

        <div class="contenido-formulario">
          <span class="label">Periodicidad<span class="text-danger">*</span></span>
          <ion-select placeholder="Selecciona un periodo" formControlName="periodicidad" interface="popover" fill="outline" class="w-[140px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up">
            @for(per of periodicidad; track per){<ion-select-option [value]="per">{{ per }}</ion-select-option>}
          </ion-select>
        </div>

        <div class="contenido-formulario">
          <span class="label">Día del mes<span class="text-danger">*</span></span>
          <ion-select placeholder="Selecciona un día" formControlName="diaMes" interface="popover" [interfaceOptions]="{ cssClass: 'select-popover-custom' }" fill="outline" class="w-[140px] flex-none selector-dias" toggleIcon="chevron-down" expandedIcon="chevron-up">
            @for(dia of dias; track dia){<ion-select-option [value]="dia">{{ dia }}</ion-select-option>}
          </ion-select>
        </div>

        <div class="contenido-formulario">
          <span class="label">Tipo de monto<span class="text-danger">*</span></span>
          <ion-select placeholder="Selecciona un tipo de monto" formControlName="tipoMonto" interface="popover" fill="outline" class="w-[140px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up">
            @for(tipo of tipoMonto; track tipo){<ion-select-option [value]="tipo">{{ tipo }}</ion-select-option>}
          </ion-select>
        </div>
        
        @if(transaccionForm.get('tipoMonto')?.value == 'Fijo'){<div class="contenido-formulario">
          <span class="label">Monto estimado<span class="text-danger">*</span></span>
          <ion-input fill="outline" type="number" placeholder="S/ 0.00" formControlName="montoEst" class="w-[80px]"></ion-input>
        </div>}

        @if(transaccionForm.get('tipoMonto')?.value == 'Variable'){<div class="contenido-formulario">
          <span class="label">Monto mínimo<span class="text-danger">*</span></span>
          <ion-input fill="outline" type="number" placeholder="S/ 0.00" formControlName="montoMin" class="w-[80px]"></ion-input>
        </div>

        <div class="contenido-formulario">
          <span class="label">Monto máximo<span class="text-danger">*</span></span>
          <ion-input fill="outline" type="number" placeholder="S/ 0.00" formControlName="montoMax" class="w-[80px]"></ion-input>
        </div>}

        <div class="contenido-formulario">
          <span class="label">Moneda<span class="text-danger">*</span></span>
          <ion-select fill="outline" placeholder="Selecciona una moneda" toggleIcon="chevron-down"
            expandedIcon="chevron-up" interface="popover"  class="w-[150px]"
            formControlName="moneda" name="moneda">
            @for(moneda of monedas; track moneda){<ion-select-option [value]="moneda">{{ moneda }}</ion-select-option>}
          </ion-select>
        </div>
        
        <div class="contenido-formulario">
          <span class="label">Cuenta contable<span class="text-danger">*</span></span>
          <app-autocomplete
            formControlName="cuentaC"
            [items]="cuentasContables"
            displayKey="nombre"
            valueKey="id"
            placeholder="Selecciona una Cuenta contable"
            width="w-[167px]"
            (itemSelected)="onCuentaSeleccionada($event)">
          </app-autocomplete>
        </div>

        <div class="contenido-formulario">
            <span class="label">Centro de costo <span class="text-danger">*</span></span>
            <app-autocomplete 
              formControlName="centroC"
              [items]="centrosCostos" 
              labelKey="nombre"
              valueKey="codigo"
              placeholder="Selecciona un centro de costos"
              (itemSelected)="onCentroSeleccionado($event)"
              class="w-[167px]">
            </app-autocomplete>
        </div>

        <div class="contenido-formulario">
          <span class="label">Sucursal<span class="text-danger">*</span></span>
          <app-autocomplete
            formControlName="sucursal"
            [items]="sucursales"
            displayKey="nombre"
            valueKey="id"
            placeholder="Selecciona una sucursal"
            width="w-[167px]"
            (itemSelected)="onSucursalSeleccionada($event)">
          </app-autocomplete>
        </div>

        <div class="contenido-formulario">
          <span class="label">Estado<span class="text-danger">*</span></span>
          <ion-select placeholder="Selecciona un estado" formControlName="estado" interface="popover" fill="outline" class="w-[82px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up">
            @for(est of estadoSelect; track est){<ion-select-option [value]="est">{{ est }}</ion-select-option>}
          </ion-select>
        </div>

        <div class="contenido-formulario">
          <span class="label">Fecha de emisión<span class="text-danger">*</span></span>
          <!-- <app-base-calendar-new
              class="flex-none"
              mode="single"
              [initialDate]="transaccionForm.get('fechaI')?.value"
              position="center"
              (dateSelected)="onFechaInicio($event)">
            </app-base-calendar-new> -->

            <app-base-calendar-new *ngIf="mostrarCalendarios" class="flex-none" mode="single" [initialDate]="transaccionForm.get('fechaE')?.value"
            [disabled]="disabledCalendars" position="center" (dateSelected)="onFechaEmision($event)">
          </app-base-calendar-new>
        </div>
 
        <div class="contenido-formulario">
          <span class="label">Fecha de vencimiento</span>
          <!-- <app-base-calendar-new
              class="flex-none"
              mode="single"
              [initialDate]="transaccionForm.get('fechaF')?.value"
              position="center"
              (dateSelected)="onFechaVenciemiento($event)">
            </app-base-calendar-new> -->

            <app-base-calendar-new  *ngIf="mostrarCalendarios"class="flex-none" mode="single" [initialDate]="transaccionForm.get('fechaV')?.value"
            [disabled]="disabledCalendars" position="center" (dateSelected)="onFechaVencimiento($event)">
          </app-base-calendar-new>
        </div>

        @if(filaSeleccionada){<div class="contenido-formulario">
          <span class="label">Aprobación</span>
          <ion-input fill="outline"  formControlName="aprobacion" class="w-[80px]"></ion-input>
        </div>}
      </div>
    </form>
    <div class="contenedor-btn">
      <ion-button (click)="botonGuardar()">{{ filaSeleccionada? 'Guardar':'Registrar' }}</ion-button>
      <ion-button color="medium" fill="outline" class="w-fit" (click)="botonRegistrarTransaccion()" >Cancelar</ion-button>
    </div>
  </div>
</div>
