<div class="flex flex-col gap-1.5 p-1.5 bg-[#E7E7E7] w-[492px]">
  <div class="flex justify-between items-center">
    <span class="text-sm font-bold">{{titlemodal}}</span>
    <fa-icon [icon]="fasXmark" class="text-lg cursor-pointer hover:text-text-60" (click)="cerrarModal(false)"></fa-icon>
  </div>
  <div class="bg-white flex flex-col items-center gap-2 p-2.5">
    @if (tipemodal == 'confirm') {
      <span class="-mb-1.5"><fa-icon [icon]="fasCheckCircle" class="text-success text-3xl"></fa-icon></span>
    }
    @if (tipemodal == 'error') {
      <div class="flex items-center justify-center w-14 h-14 border-2 border-danger rounded-full">
        <fa-icon [icon]="fasXmark" class="text-danger text-3xl leading-none"></fa-icon>
      </div>
    }
    <span class="text-sm font-bold text-black text-center">{{ title }}</span>
    <span class="text-xs font-semibold text-black text-center w-85 block overflow-hidden" [innerHTML]="message"></span>
    <span class="text-xs font-semibold text-black text-center w-85 block overflow-hidden" [innerHTML]="submessage"></span>
    <div class="flex justify-center gap-2 pt-2">
      @if(btnCancelTxt){<ion-button class="w-[68px] text-text-85" fill="outline" color="medium" (click)="cerrarModal(false)">{{ btnCancelTxt }}</ion-button>}
      <ion-button class="w-fit" (click)="cerrarModal(true)">{{ btnOkTxt }}</ion-button>
    </div>
  </div>
</div>
