<div class="relative flex items-center min-h-screen p-16">
  <!-- Capa para la imagen de fondo -->
  <div class="absolute inset-0 z-0 w-[100vw]">
    <img src="assets/imagenes/bg-404.webp" alt="Imagen de fondo decorativa" class="background-image" />
  </div>

  <!-- Contenido principal (Texto e ilustración) -->
  <div class="content-container">
    <div class="flex flex-col gap-5 text-column">
      <div>
        <p class="error-not-found">Error 404!</p>
        <h1 class="page-not-found">Página no encontrada</h1>
      </div>
      <p class="description-not-found">
        No se encontró la página solicitada. Por favor,<br> verifica la dirección y vuelve a intentarlo.
      </p>
    </div>
    <!-- Columna de Imagen (Derecha) -->
    <div>
      <img src="assets/imagenes/error404.webp" alt="Ilustración de página no encontrada" class="error-image"/>
    </div>
  </div>
</div>
