<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Configuración SMTP para envío de correos -->
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUser" value="no-reply@npssac.com.pe" />
    <add key="SmtpPassword" value="uzcvurxlusoswmmu" />
    <add key="SmtpEnableSSL" value="true" />
    
    <!-- Configuración del servicio REST (opcional, se puede sobrescribir en código) -->
    <add key="RestApiBaseUrl" value="http://pegazus.serveftp.com:9080/SunatWebServices" />
    
    <!-- Configuración de Logging -->
    <!-- LogFile: ruta del archivo de log (vacío = junto al DLL) -->
    <add key="LogFile" value="" />
    <!-- LogDebug: true para registrar mensajes de debug -->
    <add key="LogDebug" value="false" />
  </appSettings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FaceConsultaRUCBinding" 
                 closeTimeout="00:01:00" 
                 openTimeout="00:01:00" 
                 receiveTimeout="00:02:00" 
                 sendTimeout="00:02:00"
                 maxBufferSize="65536" 
                 maxReceivedMessageSize="65536">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://pegazus.serveftp.com:9080/SunatWebServices/ImplConsultaRUC"
                binding="basicHttpBinding" 
                bindingConfiguration="FaceConsultaRUCBinding"
                contract="SigreWebServiceWrapper.ConsultaRUCService.FaceConsultaRUC" 
                name="FaceConsultaRUCPort" />
    </client>
  </system.serviceModel>
</configuration>
