<div class="contenedor-principal">
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span>Condiciones de Pago y Cobro (Selecciona una condición de pago o cobro para visualizarlo)</span>
    </div>
    <div class="contenedor-filtros">
      <div class="filtros-responsive">
        <div class="contenedor-filtros !p-0">
          <div class="buscador">
            <fa-icon [icon]="farSearch"></fa-icon>
            <ion-input fill="outline" placeholder="Buscar condición por código, nombre o cuenta contable." class="w-full"
              style="--padding-start:30px"></ion-input>
          </div>
        </div>
      </div>
      <div class="filtros-absolutos">
        <ion-button class="w-[115px]" fill="outline" id="reportescondiciones">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="reportescondiciones" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true">Exportar PDF</ion-item>
          </ng-template>
        </ion-popover>
        <ion-button class="w-fit" [disabled]="modoCreacion" (click)="botonNuevaCondicion()"><fa-icon [icon]="fasCirclePlus" class="mr-1"></fa-icon> <span
            class="font-normal">Nueva condición</span></ion-button>
      </div>
    </div>
    <div class="h-full relative" [appLoader]="isLoading()">
       <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular 
        style="width: 100%; height: 100%;" 
        [rowData]="rowData" 
        [columnDefs]="colDefs"
        [columnTypes]="columnTypes" 
        [pagination]="true" 
        [localeText]="localeText" 
        [rowHeight]="20" 
        [headerHeight]="24"
        [paginationPageSize]="20" 
        [rowSelection]="'single'" 
        [suppressLoadingOverlay]="true"
        [suppressRowClickSelection]="true"
        (gridReady)="onGridReady($event)"
        (cellClicked)="onCellClicked($event)" />
    </div>
  </div>
  <div class="panel-derecho" [appLoader]="isLoading() && !isResetting">
    <div class="cont-title">
      <span>
        {{modoCreacion ? 'Nueva Condición' : 'Condición de pago: ' + (filaSeleccionada?.condicion_pago_cobro_nombre || '')}}
      </span>
    </div>
    @if(filaSeleccionada){
    <div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook"></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>}

    <form action="" [formGroup]="condicionForm">
      <div class="flex flex-col gap-1 h-full w-full">
        <div class="contenedor-formulario" [ngClass]="{'bg-white': camponuevo === true}">
          

          <div class="contenido-formulario">
            <span class="label">Nombre <span class="text-danger">*</span></span>
            <ion-input fill="outline" formControlName="nombre" class="w-[200px]" placeholder="Ingrese el nombre"></ion-input>
          </div>

          <div class="contenido-formulario">
            <span class="label">Tipo de aplicación <span class="text-danger">*</span></span>
            <ion-select placeholder="Selecciona una aplicación" toggleIcon="chevron-down" expandedIcon="chevron-up"
              formControlName="tipoAplicacion" interface="popover" fill="outline" [ngClass]="'!w-[163px] 2xl:!w-[185px]'">
              @for(tipo of tiposAplicacion; track tipo.id){
                <ion-select-option [value]="tipo.id">{{ tipo.nombre }}</ion-select-option>
              }
            </ion-select>
          </div>

          <div class="contenido-formulario">
            <span class="label">Modalidad <span class="text-danger">*</span></span>
            <ion-select placeholder="Selecciona una modalidad" toggleIcon="chevron-down" expandedIcon="chevron-up"
              formControlName="modalidad" interface="popover" fill="outline" [ngClass]="'!w-[163px] 2xl:!w-[185px]'">
              @for(modalidad of modalidades; track modalidad.id){
                <ion-select-option [value]="modalidad.id">{{ modalidad.nombre }}</ion-select-option>
              }
            </ion-select>
          </div>
          @if(mostrarOpcionescredito()){
          <div class="contenido-formulario">
            <span class="label">Días de crédito <span class="text-danger">*</span></span>
            <ion-input fill="outline" type="number" formControlName="diasCredito" class="w-[120px]" placeholder="30"></ion-input>
          </div>
          }
          
          @if(mostrarInteresFinanciero()){
          <div class="contenido-formulario">
            <span class="label">Interés financiero (%)</span>
            <ion-input fill="outline" type="number" formControlName="interesFinanciero" class="w-[120px]" placeholder="10"></ion-input>
          </div>
          }

          @if(mostrarOpcionescategoria()){
          <div class="contenido-formulario">
            <span class="label">N° de cuotas <span class="text-danger">*</span></span>
            <ion-input fill="outline" type="number" formControlName="numCuotas" class="w-[70px]" placeholder="3"></ion-input>
          </div>
          <div class="contenido-formulario">
            <span class="label">Periodicidad de cuotas <span class="text-danger">*</span></span>
            <ion-select placeholder="Selecciona una opción" toggleIcon="chevron-down" expandedIcon="chevron-up"
              formControlName="periodicidad" interface="popover" fill="outline" class="w-[160px]">
              @for(modalidad of periodicidad; track $index){
                <ion-select-option [value]="modalidad.id">{{ modalidad.nombre }}</ion-select-option>
              }
            </ion-select>
          </div>
          <div class="contenido-formulario">
            <span class="label">Porcentaje de cuota <span class="text-danger">*</span></span>
            <ion-input fill="outline" type="number" formControlName="porcentajeCuota" class="w-[70px]" placeholder="33.33"></ion-input>
          </div>

          <div class="contenido-formulario">
            <span class="label">Interés financiero (%)</span>
            <ion-input fill="outline" type="number" formControlName="interesFinancieroCuotas" class="w-[120px]" placeholder="10"></ion-input>
          </div>


          }

          <div class="contenido-formulario">
            <span class="label">Cta. contable asociada <span class="text-danger">*</span></span>
            <app-autocomplete 
              formControlName="cuentaContable" 
              [items]="cuentasContables" 
              displayKey="nombre" 
              valueKey="id"
              placeholder="Selecciona cuenta contable" 
              (itemSelected)="onCuentaContableSeleccionada($event)"
              class="w-[200px]">
            </app-autocomplete>
          </div>

          <div class="contenido-formulario">
            <span class="label">Estado <span class="text-danger">*</span></span>
            <ion-select placeholder="Activo" toggleIcon="chevron-down" expandedIcon="chevron-up"
              formControlName="estado" interface="popover" fill="outline" class="w-[100px]">
              @for(estado of estados; track estado.id){
                <ion-select-option [value]="estado.id">{{ estado.nombre }}</ion-select-option>
              }
            </ion-select>
          </div>
        </div>

        <div class="contenedor-btn">
          <ion-button (click)="botonGuardar()">{{ modoCreacion ? 'Registrar' : 'Guardar' }}</ion-button>
          <ion-button color="medium" fill="outline" (click)="botonNuevaCondicion()">
            Cancelar
          </ion-button>
        </div>
      </div>
    </form>
  </div>
</div>
