<div class="contenedor-principal overflow-auto">
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span>Consulta de Artículos</span>
    </div>

    <!-- Filtros -->
    <div class="contenedor-filtros">
      <div class="buscador">
        <fa-icon [icon]="farSearch"></fa-icon>
        <ion-input fill="outline" placeholder="Buscar producto..." class="w-full" style="--padding-start:30px"></ion-input>
      </div>
      <div class="flex items-center">
        <ion-select value="0" toggleIcon="chevron-down" expandedIcon="chevron-up"
          interface="popover" fill="outline" class="w-[100px]">
          <ion-select-option value="0">De ejecución</ion-select-option>
          <ion-select-option value="1">De entrega</ion-select-option>
        </ion-select>
        <!-- calendario -->
        <app-base-calendar-new
          class="flex-none" 
          mode="range"
          [initialStartDate]="startDate"
          [initialEndDate]="endDate"
          [minDate]="minDate"
          [maxDate]="maxDate"
          position="center"
          (dateRangeSelected)="filtrarPorFechas($event)">
        </app-base-calendar-new>
      </div>
      
      <div class="flex items-center gap-3">
        <ion-button class="w-[115px] text-text-85" id="reportesarticulo" fill="outline">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="reportesarticulo" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false" (click)="exportarPdf()">Exportar PDF</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false" (click)="exportarExcel()">Exportar Excel</ion-item>
          </ng-template>
        </ion-popover>
      </div>
    </div>




    <div class="h-full relative" [appLoader]="isLoading()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular style="width: 100%; height: 100%;" class="" [rowData]="facade.consultaArticulos()" [columnDefs]="colDefs"
        [columnTypes]="columnTypes" [pagination]="true" [rowHeight]="20" [headerHeight]="24" [localeText]="localeText"
        [paginationPageSize]="20" rowSelection="single" [suppressLoadingOverlay]="true"
        (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)" />
    </div>
  </div>
  <div class="panel-derecho h-full overflow-auto" [appLoader]="isLoading()">
    <div class="cont-title">
      <span>Datos generales: {{ selectedArticulo?.articulo_nombre }}</span>
    </div>
    <div class="contenedor-formulario !gap-2.5">
      <div class="cont-img">
        <fa-icon [icon]="fasImage" class="text-[#8C93AB] text-2xl"></fa-icon>
        <span class="text-text-45 text-xxs">(Archivo JPG, PNG)</span>
      </div>
      <div class="contenedor-formulario !p-0">
        <div class="contenido-formulario">
          <span class="label">Nombre de producto</span>
          <span class="w-[163px] falso-input">
            {{ selectedArticulo?.articulo_nombre || '-' }}
          </span>
        </div>
        <div class="contenido-formulario">
          <span class="label">Estado</span>
          <span class="w-[60px] falso-input">
            {{ selectedArticulo?.articulo_estado || '-' }}
          </span>
        </div>
      </div>
    </div>
    <div class="cont-title">
      <span>Datos contables</span>
    </div>
    <div class="contenedor-formulario">
      <div class="contenido-formulario">
        <span class="label">Impuestos aplicables</span>
        <span class="w-[163px] falso-input">
          S/ {{ selectedArticulo?.articulo_impuesto_aplicable || '0.00' }}
        </span>
      </div>
      <div class="contenido-formulario">
        <span class="label">Naturaleza contable</span>
        <span class="w-[163px] falso-input">
          {{ selectedArticulo?.articulo_naturaleza_contable || '-' }}
        </span>
      </div>
      <div class="contenido-formulario">
        <span class="label">C. contable de inventario</span>
        <span class="w-[163px] falso-input">
          {{ selectedArticulo?.articulo_cuenta_compra_inventario || '-' }}
        </span>
      </div>
      <div class="contenido-formulario">
        <span class="label">Cuenta contable de ventas</span>
        <span class="w-[163px] falso-input">
          {{ selectedArticulo?.articulo_cuenta_costo_venta || '-' }}
        </span>
      </div>
    </div>
    <div class="cont-title">
      <span>Datos de inventario</span>
    </div>
    <div class="contenedor-formulario">
      <div class="contenido-formulario">
        <span class="label">Unidad de medida</span>
        <span class="falso-input w-[60px]">
          {{ selectedArticulo?.articulo_unidad || '-' }}
        </span>
      </div>
      <div class="contenido-formulario">
        <span class="label">Stock actual</span>
        <span class="w-[163px] falso-input">
          {{ selectedArticulo?.articulo_stock_actual || '-' }}
        </span>
      </div>
      <div class="contenido-formulario">
        <span class="label">Almacen principal</span>
        <span class="w-[163px] falso-input">
          {{ selectedArticulo?.articulo_almacen_principal || '-' }}
        </span>
      </div>
      <div class="contenido-formulario">
        <span class="label">Punto de reposición</span>
        <span class="w-[163px] falso-input">
          {{ selectedArticulo?.articulo_punto_reposicion || '-' }}
        </span>
      </div>
    </div>
    <div class="cont-title">
      <span>Datos comerciales</span>
    </div>
    <div class="contenedor-formulario">
      <div class="contenido-formulario">
        <span class="label">Proveedor habitual</span>
        <span class="w-[163px] falso-input">
          {{ selectedArticulo?.articulo_proveedor_habitual || '-' }}
        </span>
      </div>
      <div class="contenido-formulario">
        <span class="label">Precio de compra</span>
        <span class="w-[163px] falso-input">
          S/ {{ selectedArticulo?.articulo_precio_compra || '0.00' }}
        </span>
      </div>
      <div class="contenido-formulario">
        <span class="label">Precio de venta</span>
        <span class="w-[163px] falso-input">
          S/ {{ selectedArticulo?.articulo_precio_venta || '0.00' }}
        </span>
      </div>
    </div>
  </div>
</div>