<div class="contenedor-principal">
  @if(!panelLateralVisible){
    <div class="flex items-center justify-center w-[15px] bg-[#E6E8F4]" (click)="togglePanelLateral()">
      <fa-icon [icon]="fasChevronsRight" class="text-xs text-primary cursor-pointer"></fa-icon>
    </div>}

  @if(panelLateralVisible){
    <div class="panel-izquierdo">
      <div class="cont-title">
        <span>Lista de letras de cambio (Selecciona una letra para visualizarla o editarla)</span>
        @if (panelLateralVisible) {
          <div class="btn-mostrarform" (click)="togglePanelLateral()">
            <fa-icon [icon]="fasChevronsLeft"></fa-icon>
          </div>}
      </div>
      <div class="contenedor-filtros">
        
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar letra por código" class="w-full" style="--padding-start:30px"></ion-input>
        </div>
        <div class="flex flex-row">
          <ion-select placeholder="De registro" toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover"
            fill="outline" class="w-[100px] flex-none text-xxs -mr-0.5" value="0">
            <ion-select-option value="0">De emisión</ion-select-option>
            <ion-select-option value="1">De vencimiento</ion-select-option>
          </ion-select>

          <!-- calendario -->
          <app-base-calendar-new class="flex-none w-[175px]" mode="range" [initialStartDate]="startDate" [initialEndDate]="endDate"
            [minDate]="minDate" [maxDate]="maxDate" position="left" (dateRangeSelected)="filtrarPorFechas($event)">
          </app-base-calendar-new>
        </div>
        <div class="filtros-absolutos">
           <ion-button class="w-[115px] text-text-85" fill="outline" id="reportessiniestro">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="reportessiniestro" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar PDF</ion-item>
          </ng-template>
        </ion-popover>
          <ion-button class="w-fit whitespace-nowrap" [disabled]="!filaSeleccionada" (click)="botonRegistrarLetra()">
            <fa-icon [icon]="fasCirclePlus" class="mr-1"></fa-icon> 
            <span class="font-normal">Nueva letra de cambio</span>
          </ion-button>
        </div>
      </div>
      <div class="flex h-full relative" [appLoader]="isLoading()">
        <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
        <ag-grid-angular style="width: 100%; height: 100%;" 
          class="" [rowData]="rowData" 
          [columnDefs]="colDefs"
          [pagination]="true" 
          [rowSelection]="'single'" 
          [localeText]="localeText"
          [context]="context"
          [getRowId]="getRowId"
          [paginationPageSize]="20" 
          [rowHeight]="20"
          [headerHeight]="24" 
          (gridReady)="onGridReady($event)" 
          (cellClicked)="onCellClicked($event)" />
      </div>
    </div>}

  <div class="panel-derecho" [appLoader]="isLoading()" [ngClass]="{'!w-full !flex-1':!panelLateralVisible}">
    <div class="cont-title">
      <span>Letra de cambio@if(filaSeleccionada){: {{filaSeleccionada.letra_codigo }} }</span>         
    </div>
    @if(filaSeleccionada){<div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook" ></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>}
    <div class="flex flex-col h-full !overflow-auto">
      <form action="" [formGroup]="letraForm">
        <!-- Contenido del formulario -->
        <div class="contenedor-formulario"  [ngClass]="{'!flex-row !gap-10': !panelLateralVisible}">
  
          <div class="contenedor-formulario !p-0">
            <div class="contenido-formulario">
              <span class="label">Documento fiscal <span class="text-danger">*</span></span>
              <div class="flex flex-row">
                <ion-select  toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover"
                  fill="outline" class="min-w-[55px] text-xxs" formControlName="tipoDocumentoCliente"
                  style="width: 55px !important; --border-top-right-radius: 0px !important; --border-bottom-right-radius: 0px !important;">
                  <ion-select-option *ngFor="let item of tiposIdentificacion" value="{{item.value}}">{{item.label}}</ion-select-option>
                </ion-select>
                <ion-input type="number" [placeholder]="filaSeleccionada ? '' : '74581632'" fill="outline" class="w-[90px] -ml-1"
                  style="--border-radius: 0px !important" formControlName="numeroDocumentoCliente"></ion-input>
                <ion-button class="!w-[24px] bg-primary" (click)="buscarCliente()">
                  <fa-icon [icon]="fasSearch" class="text-xs text-white"></fa-icon>
                </ion-button>
              </div>
            </div>
    
            <div class="contenido-formulario">
              <span class="label">Cliente<span class="text-danger">*</span></span>
              <ion-input fill="outline" placeholder="Ingresar un nombre" class="w-[163px]" formControlName="nombreCliente"></ion-input>
            </div>

            <div class="contenido-formulario">
              <span class="label">Sucursal</span>
              <app-autocomplete 
                [items]="sucursales" 
                displayKey="nombre" 
                valueKey="id" 
                formControlName="sucursal"
                placeholder="Buscar sucursal" 
                (itemSelected)="onSucursalSeleccionada($event)">
              </app-autocomplete>
            </div>
    
            <div class="contenido-formulario">
              <span class="label">Fecha de emisión<span class="text-danger">*</span></span>
              <app-base-calendar-new
                  class="flex-none"
                  mode="single"
                  [initialDate]="letraForm.get('fechaE')?.value"
                  position="center"
                  (dateSelected)="onFechaSeleccionadaE($event)">
                </app-base-calendar-new>
            </div>
     
            <div class="contenido-formulario">
              <span class="label">Fecha de vencimiento</span>
              <app-base-calendar-new
                  class="flex-none"
                  mode="single"
                  [initialDate]="letraForm.get('fechaV')?.value"
                  position="center"
                  (dateSelected)="onFechaSeleccionadaV($event)">
                </app-base-calendar-new>
            </div>
          </div>
  
          <div class="contenedor-formulario !p-0">      
            <div class="contenido-formulario">
              <span class="label">Monto total<span class="text-danger">*</span></span>
              <ion-input fill="outline" type="number" placeholder="S/ 0.00" formControlName="montoT" class="w-[120px]"></ion-input>
            </div>
            <div class="contenido-formulario">
              <span class="label">N° de cuotas <span class="text-danger">*</span></span>
              <ion-input fill="outline" type="number" placeholder="Ingresar número" formControlName="nroCuotas" class="w-[120px]"></ion-input>
            </div>
            <div class="contenido-formulario">
              <span class="label">Moneda<span class="text-danger">*</span></span>
              <ion-select placeholder="Selecciona una moneda" formControlName="moneda" interface="popover" fill="outline" class="w-[140px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up">
                @for(moneda of monedas; track moneda){<ion-select-option [value]="moneda">{{ moneda }}</ion-select-option>}
              </ion-select>
            </div>
  
            @if(letraForm.get('moneda')?.value == 'Dólares'){<div class="contenido-formulario">
              <span class="label">Tipo de cambio</span>
              <ion-input fill="outline" type="number" formControlName="tipoCambio" class="w-[120px]"></ion-input>
            </div>}
  
            <div class="contenido-formulario">
              <span class="label">Tasa de interés (%)<span class="text-danger">*</span></span>
              <ion-input fill="outline" type="number" placeholder="0%" formControlName="tasaI" class="w-[120px]"></ion-input>
            </div>
  
            <div class="contenido-formulario">
              <span class="label">Banco emisor<span class="text-danger">*</span></span>
              <ion-select placeholder="Selecciona un tipo de monto" formControlName="bancoE" interface="popover" fill="outline" class="w-[163px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up">
                @for(banco of bancos; track banco){<ion-select-option [value]="banco.id">{{ banco.nombre }}</ion-select-option>}
              </ion-select>
            </div>
  
            <div class="contenido-formulario">
              <span class="label">Cuenta bancaria<span class="text-danger">*</span></span>
              <ion-input fill="outline" type="number" placeholder="Ingresar número" formControlName="cuentaB" class="w-[120px]"></ion-input>
            </div>
            
            <div class="contenido-formulario">
              <span class="label">Estado</span>
              @if(filaSeleccionada?.letra_estado != 'Anulada' && filaSeleccionada?.letra_estado != 'Protestada'){<ion-select placeholder="Selecciona un estado" formControlName="estado" interface="popover" fill="outline" class="w-[163px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up">
                @for(est of estadoSelect; track est){<ion-select-option [value]="est">{{ est }}</ion-select-option>}
              </ion-select>}@else {
                <ion-input formControlName="estado" fill="outline" class="w-[163px] flex-none" readonly></ion-input>
              }
            </div>
          </div>
        </div>
      </form>
  
      <div class="cont-title">
        <span class="">Detalle de Documentos</span>
      </div>
      <div class="flex flex-col">
        <div class="w-full p-1">
          <app-autocomplete
            #autocompleteCuentas
            [items]="cuentas"
            [displayKey]="'nroDocumento'"
            [valueKey]="'nroDocumento'"
            [placeholder]="'Buscar por tipo o número de documento'"
            [width]="'w-full'"
            (itemSelected)="onCuentaSeleccionada($event)">
          </app-autocomplete>
        </div>
  
        <div class="h-[200px]">
          <ag-grid-angular style="width: 100%; height: 100%;" 
            [rowData]="cuentasPorCliente" [columnDefs]="colDefsDetalle"
            [pagination]="false" [localeText]="localeText" [rowHeight]="20"
            [headerHeight]="24" [rowSelection]="'single'"
            (gridReady)="onDetalleGridReady($event)" />
        </div>
      </div>
      <div class="contenedor-btn p-2.5">
        <ion-button [disabled]="filaSeleccionada?.letra_estado === 'Anulada' || filaSeleccionada?.letra_estado === 'Protestada'" (click)="botonGuardar()">{{ filaSeleccionada? 'Guardar':'Registrar' }}</ion-button>
        @if(filaSeleccionada){
          <ion-button fill="outline" [disabled]="filaSeleccionada?.letra_estado === 'Anulada' || filaSeleccionada?.letra_estado === 'Protestada'" (click)="botonProtestar()">Protestar</ion-button>
          <ion-button fill="outline" color="danger" [disabled]="filaSeleccionada?.letra_estado === 'Anulada' || filaSeleccionada?.letra_estado === 'Protestada'" (click)="botonAnular()">Anular</ion-button>
        }
        <ion-button fill="outline" color="medium" class="w-fit whitespace-nowrap" (click)="botonRegistrarLetra()">
          Cancelar
        </ion-button>
      </div>

    </div>

    <!-- <div class="flex items-center justify-end gap-2.5 p-2.5">
      @if(filaSeleccionada){<ion-button fill="outline" color="danger"  (click)="botonAnular()">Anular</ion-button>
      <ion-button fill="outline" (click)="botonProtestar()">Protestar</ion-button>}
      <ion-button (click)="botonGuardar()">{{ filaSeleccionada? 'Guardar':'Registrar' }}</ion-button>
    </div> -->
    
  </div>
</div>
