<div class="flex flex-col bg-[#e7e7e7] p-1.5 gap-0.5" style="width: 480px">
  <div class="flex justify-between items-center w-full py-1">
    <div class="flex items-center gap-1">
      <span class="text-sm font-bold">Editar factor de c. de costo</span>
    </div>
    <fa-icon [icon]="farXmark" class="text-sm cursor-pointer" (click)="cerrarModal()"></fa-icon>
  </div>
    <div class="bg-white rounded-md flex flex-col p-3 gap-3 h-full overflow-auto">

    <!-- Campo de centro de costo -->
    <div class="contenido-formulario">
      <span class="label">Centro de costo <span class="text-danger">*</span></span>
      <app-autocomplete
        [items]="centrosCosto"
        displayKey="nombre"
        valueKey="codigo"
        placeholder="Selecciona un c. de costo"
        (itemSelected)="onCentroSeleccionado($event)"
      ></app-autocomplete>
    </div>

    <!-- Campo de factor -->
    <div class="contenido-formulario">
      <span class="label">Factor (%) <span class="text-danger">*</span></span>
      <ion-input
        type="number"
        [(ngModel)]="factorTemporal"
        placeholder="Ingresa un %"
        fill="outline"
        min="0"
        max="100"
        step="0.01"
        [disabled]="!centroSeleccionado"
        class="w-[82px]"
      ></ion-input>
    </div>

    <div class="flex justify-end flex-row gap-3">
      <ion-button color="medium" fill="outline" class="w-fit" (click)="cerrarModal()">Cancelar</ion-button>
        <ion-button 
        (click)="guardar()"
        [disabled]="!centroSeleccionado || factorTemporal === null || factorTemporal === undefined">
        Guardar
        </ion-button>
    </div>

  </div>
</div>
