<div class="contenedor-principal">
  @if(!mostrartabla){
  <div class="flex items-center justify-center w-[15px] bg-[#E6E8F4]" (click)="mostrartabla=!mostrartabla">
    <fa-icon [icon]="fasChevronsRight" class="text-xs text-primary cursor-pointer"></fa-icon>
  </div>
  }
  @if(mostrartabla){
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span class="">Lista de pagos (Selecciona un pago para visualizarlo o editarlo)</span>
      <fa-icon [icon]="fasChevronsLeft" class="text-xs text-primary cursor-pointer"
        (click)="mostrartabla=!mostrartabla"></fa-icon>
    </div>

    <!-- filtros -->
    <div class="contenedor-filtros">
      <div class="filtros-responsive">
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar pagos" class="w-full" style="--padding-start:30px"></ion-input>
        </div>

      </div>
      <!-- calendario -->
      <app-base-calendar-new class="flex-none" mode="range" [initialStartDate]="startDate" [initialEndDate]="endDate"
        [minDate]="minDate" [maxDate]="maxDate" position="center" (dateRangeSelected)="filtrarPorFechas($event)">
      </app-base-calendar-new>

      <div class="filtros-absolutos">
        <ion-button class="w-[115px]" fill="outline" id="caterapagos">
          <fa-icon [icon]="fasDownload" class="mr-1 text-text-85"></fa-icon>
          <span class="text-text-85">Exportar</span>
          <fa-icon class="ml-1 text-text-85" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="caterapagos" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true">Exportar PDF</ion-item>
          </ng-template>
        </ion-popover>
      </div>

      <div class="filtros-absolutos">
        <ion-button class="w-fit" [disabled]="!botonNuevoPagoHabilitado" (click)="nuevoPageMasivo(); mostrartabla=!mostrartabla">
          <fa-icon [icon]="fasCirclePlus" class="mr-2"></fa-icon>
          <span class="font-normal">Nuevo pago</span>
        </ion-button>
      </div>
    </div>

    <div class="flex h-full relative" [appLoader]="loaderActivo()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-alpine" [defaultColDef]="defaultColDef"
        [initialState]="initialState" [rowData]="rowDataPagos" [rowHeight]="20" [headerHeight]="24" [pagination]="true"
        [columnDefs]="colDefsPagos" [rowSelection]="'single'" (gridReady)="onGridReady($event)"
        (cellClicked)="onCellClicked($event)" [domLayout]="'normal'" [purgeClosedRowNodes]="true"
        [localeText]="localeText" />
    </div>
  </div>
  }

  <div class="panel-derecho !overflow-hidden" [appLoader]="loaderActivo()" [ngClass]="{'!w-full !flex-1':!mostrartabla}">
    <div class="cont-title">
      <span class="">{{pagoSeleccionadoNombre}}</span>
    </div>
    @if(filaSeleccionada){
    <div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook"></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>
    }

    <div class="flex flex-col overflow-auto h-full">
      <form [formGroup]="pagoMasivoForm">
        <div class="contenedor-formulario" [ngClass]="{'!flex-row !gap-10': !mostrartabla}">
          <div class="contenedor-formulario !p-0">
            <div class="contenido-formulario">
              <span class="label">Fecha de pago</span>
              @if(!filaSeleccionada){
              <app-base-calendar-new class="flex-none" mode="single"
                [initialDate]="pagoMasivoForm.get('fechaPago')?.value" position="right"
                (dateSelected)="onFechaNSeleccionada($event)">
              </app-base-calendar-new>
              }
              @if(filaSeleccionada){
              <ion-input fill="outline" formControlName="fechaPago" [disabled]="true" class="w-[100px]"></ion-input>
              }
            </div>

            <div class="contenido-formulario">
              <span class="label">Medio de pago<span class="text-danger">*</span></span>
              @if(!filaSeleccionada){
              <ion-select fill="outline" placeholder="Selecciona un medio de pago" toggleIcon="chevron-down"
                expandedIcon="chevron-up" interface="popover" class="w-[163px]" formControlName="medioPago"
                name="medioPago">
                @for(medio of mediosPago ; track medio.id){<ion-select-option [value]="medio.id">{{ medio.nombre
                  }}</ion-select-option>}
              </ion-select>
              }
              @if(filaSeleccionada){
              <ion-input fill="outline" formControlName="medioPago" [disabled]="true" class="w-[163px]"></ion-input>
              }
            </div>

            @if(esTransferencia){
            <div class="contenido-formulario">
              <span class="label">Cuenta bancaria<span class="text-danger">*</span></span>
              @if(!filaSeleccionada){
              <ion-select fill="outline" placeholder="Selecciona una cuenta" toggleIcon="chevron-down"
                expandedIcon="chevron-up" interface="popover" class="w-[163px]" formControlName="cuentaBancaria"
                name="cuentaBancaria">
                @for(cuenta of cuentasBancarias; track cuenta.id){<ion-select-option [value]="cuenta.id">{{ cuenta.nombre }}</ion-select-option>}
              </ion-select>
              }
              @if(filaSeleccionada){
              <ion-input fill="outline" formControlName="cuentaBancaria" [disabled]="true" class="w-[163px]"></ion-input>
              }
            </div>
            }
          </div>

          <div class="contenedor-formulario !p-0">
            <div class="contenido-formulario !items-start">
              <span class="label">Observaciones</span>
              <ion-textarea fill="outline" formControlName="observaciones"
                placeholder="Agregar observaciones..." rows="3" [autoGrow]="true" class="flex-1">
              </ion-textarea>
            </div>

            @if(filaSeleccionada){
            <div class="contenido-formulario">
              <span class="label">N° de asiento contable</span>
              <ion-input fill="outline" formControlName="numeroPreAsiento" class="w-[163px]">
                <fa-icon *ngIf="filaSeleccionada?.numeroPreAsiento" slot="end"
                  [icon]="farEye" class="text-xxs cursor-pointer !text-primary" (click)="verAsientoContable()">
                </fa-icon>
              </ion-input>
            </div>
            }
          </div>

        </div>
      </form>


      <!-- TÍTULO TABLA DOCUMENTOS -->
      <div class="cont-title">
        {{ filaSeleccionada ? 'Lista de documentos pagados' : 'Lista de documentos pendientes de pago' }}
      </div>
 
      <div class="contenedor-filtros">
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar pagos" class="w-full" style="--padding-start:30px"></ion-input>
        </div>

        @if(!mostrartabla){
        <div class="flex flex-row">
          <ion-select placeholder="De emisión" toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover"
            fill="outline" class="w-[110px] text-xxs -mr-0.5">
            <ion-select-option value="todos">Todos</ion-select-option>
            <ion-select-option value="aprobado">De emisión</ion-select-option>
            <ion-select-option value="pendiente">De vencimiento</ion-select-option>
          </ion-select>

          <!-- calendario -->
          <app-base-calendar-new class="flex-none" mode="range" [initialStartDate]="startDate"
            [initialEndDate]="endDate" [minDate]="minDate" [maxDate]="maxDate" position="right"
            (dateRangeSelected)="filtrarPorFechas($event)">
          </app-base-calendar-new>
        </div>
        <div class="filtros-absolutos">
          <ion-button class="!w-[115px]" fill="outline" id="gestionG2">
            <fa-icon [icon]="fasDownload" class="mr-1 text-text-85"></fa-icon>
            <span class="text-text-85">Exportar</span>
            <fa-icon class="ml-1 text-text-85" [icon]="fasAngleDown"></fa-icon>
          </ion-button>
          <ion-popover trigger="gestionG2" triggerAction="click" [dismissOnSelect]="true"
            class="popoverCustomButtonUbicacionActivos dezplegableAcciones2" [showBackdrop]="false">
            <ng-template>
              <ion-item lines="none" [button]="true">Exportar Excel</ion-item>
              <ion-item lines="none" [button]="true">Exportar PDF</ion-item>
            </ng-template>
          </ion-popover>
        </div>
        }
      </div>

      <!-- TABLA DE DOCUMENTOS -->
      <div class="flex h-[350px] relative">
        <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-alpine"
          [rowSelection]="!filaSeleccionada ? rowSelection : undefined" [defaultColDef]="defaultColDef" [rowData]="[]"
          [rowHeight]="20" [headerHeight]="24" [pagination]="false" [columnDefs]="colDefsDocumentos"
          (gridReady)="onGridReadyDocumentos($event)" (selectionChanged)="onSelectionChanged()" [domLayout]="'normal'"
          [purgeClosedRowNodes]="true" [localeText]="localeText" />
      </div>

      <div class="contenedor-btn py-1">
        @if (!filaSeleccionada) {
        <ion-button class="w-fit" (click)="registrarPago()">
          Registrar pago
        </ion-button>
        <ion-button fill="outline" color="medium" class="w-fit" (click)="cancelarPagoMasivo()">
          Cancelar pago masivo
        </ion-button>
        }
      </div>
    </div>
  </div>
</div>