<div class="contenedor-formulario" [formGroup]="formulario">
  <div class="contenido-formulario">
      <span class="label">Activo <span class="text-red-500">*</span></span>
      <ion-input fill="outline" formControlName="activo" class="w-[150px]"></ion-input>
  </div>
  <div class="contenido-formulario">
      <span class="label">Responsable del activo <span class="text-red-500">*</span></span>
      <ion-input fill="outline" formControlName="responsable" class="w-[150px]"></ion-input>
  </div>
  <div class="contenido-formulario">
      <span class="label">Área del responsable <span class="text-red-500">*</span></span>
      <ion-input fill="outline" formControlName="area" class="w-[150px]"></ion-input>
  </div>
  <div class="contenido-formulario">
      <span class="label">Centro de costos <span class="text-red-500">*</span></span>
      <ion-input fill="outline" formControlName="centroCostos" class="w-[150px]"></ion-input>
  </div>
  <div class="contenido-formulario">
      <span class="label">Activo<span class="text-red-500">*</span></span>
      <ion-input fill="outline" formControlName="activoDos" class="w-[150px]"></ion-input>
  </div>
  <div class="contenido-formulario">
      <span class="label">N° de Traslado <span class="text-red-500">*</span></span>
      <ion-input fill="outline" formControlName="numeroTraslado" class="w-[90px]"></ion-input>
  </div>
  <div class="contenido-formulario">
      <span class="label">Estado</span>
      <ion-input fill="outline" formControlName="estado" class="w-[150px]"></ion-input>
  </div>
  <div class="contenido-formulario !items-start">
      <span class="label">Motivo de traslado <span class="text-red-500">*</span></span>
      <ion-textarea fill="outline" formControlName="motivoTraslado" class="w-[150px]"></ion-textarea>
  </div>
  <div class="contenido-formulario">
      <div class="contenido-formulario">
            <span class="label">Fecha de solicitud<span class="text-danger">*</span></span>
            <app-base-calendar-new
                    class="flex-none"
                    mode="single"
                    [initialDate]="fechaSolicitud"
                    position="center"
                    [disabled]="true"
                    (dateSelected)="onFechaSolicitud($event)">
              </app-base-calendar-new>
        </div>
  </div>
</div>
