<div class="contenedor-filtros-tabla" [appLoader]="isLoading()">
  <div class="sub-content-filtros-tabla">
    <div class="cont-title">
      <span>Datos generales de la cuenta</span>
    </div>
    <div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook" ></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>
    <div class="w-full p-2.5 flex flex-col gap-3">
      <div class="flex flex-row gap-5">
        <fieldset class="card-fieldset !border p-2 w-[492px] h-auto">
          <legend class="legend">Información de la cuenta</legend>
          <div class="cont-field flex flex-col !gap-2">
            <div class="flex flex-row items-start gap-5">
              <div class="flex flex-col gap-0.5 flex-1">
                <span class="text-xxs font-bold">Nombre</span>
                <span class="text-text-65 text-xs">Restaurantes del Pacífico S.A.C.</span>
              </div>
              <div class="flex flex-col gap-0.5 flex-1">
                <span class="text-xxs font-bold">Propietario</span>
                <span class="text-text-65 text-xs">Juan Carlos Delgado Ontaneda</span>
              </div>
            </div>
            <div class="flex flex-row items-start gap-5">
              <div class="flex flex-col gap-0.5 flex-1">
                <span class="text-xxs font-bold">País</span>
                <span class="text-text-65 text-xs">Perú</span>
              </div>
              <div class="flex flex-col gap-0.5 flex-1">
                <span class="text-xxs font-bold">Estado</span>
                <span class="badge-table bg-[#DCFDE7] text-[#16A34A] !text-xxs !w-[49px]">Activo</span>
              </div>
            </div>
            <div class="flex flex-col gap-0.5">
              <span class="text-xxs font-bold">Moneda</span>
              <span class="text-text-65 text-xs">Soles</span>
            </div>
          </div>
        </fieldset>
        <fieldset class="card-fieldset !border-[1px] p-2 w-[492px] h-auto">
          <legend class="legend">Dirección de Facturación</legend>
          <div class="cont-field" [formGroup]="direccionForm">
            <div class="contenido-param gap-5">
              <span class="label-param">Razón Social <span class="text-danger">*</span></span>
              <ion-input fill="outline" class="text-xs !w-[230px]" formControlName="razonSocial"></ion-input>
            </div>
            <div class="contenido-param gap-5">
              <span class="label-param">RUC <span class="text-danger">*</span></span>
              <ion-input fill="outline" class="text-xs !w-[230px]" formControlName="ruc" type="number" inputmode="numeric"></ion-input>
            </div>
            <div class="contenido-param gap-5">
              <span class="label-param">Dirección <span class="text-danger">*</span></span>
              <ion-input fill="outline" class="text-xs !w-[230px]" formControlName="direccion"></ion-input>
            </div>
            <div class="contenido-param gap-5">
              <span class="label-param">Correo electrónico <span class="text-danger">*</span></span>
              <ion-input fill="outline" class="text-xs !w-[230px]" formControlName="correoElectronico"></ion-input>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="flex justify-end pb-[3px] pr-2.5">
      <ion-button class="btn-primary" size="small" [disabled]="!hayCambios" (click)="guardar()">
        Guardar
      </ion-button>
    </div>
    <div class="sub-content-filtros-tabla">
      <div class="cont-title">
        <span>Subscripción</span>
      </div>
      <div class="flex py-5 px-2.5 gap-5 justify-center">
        @for (plan of planes(); track $index) {
          <div class="p-5 flex flex-col gap-2.5 border border-text-10 max-w-[320px] w-full" [ngClass]="{'!border-primary bg-primary-5': plan.plan_is_actual}">
            @if (plan.plan_is_actual) {
            <div class="bg-primary rounded-full w-[140px] h-7 flex items-center justify-center mx-auto " [ngClass]="{'-mt-8': plan.plan_is_actual}">
              <span class="text-xs text-white">PLAN ACTUAL</span>
            </div>
            }
            <div class="flex flex-col justify-center" [ngClass]="{'-mt-1.5': plan.plan_is_actual}">
              <span class="text-lg text-primary font-bold text-center">{{plan.plan_nombre}}</span>
              <span class="text-base font-bold text-text-85 text-center">{{plan.plan_precio}}</span>
              <span class="text-xs text-text-85 text-center">/al mes</span>
            </div>
            <div class="flex flex-col items-center gap-1.5">
              <div class="flex items-center gap-2.5 justify-center">
                <div class="flex gap-1 items-center">
                  <fa-icon [icon]="fasUsers" class="text-xxs"></fa-icon>
                  <span class="text-center text-xs text-text-85">{{plan.plan_usuarios}} Usuarios</span>
                </div>
                <div class="flex gap-1 items-center">
                  <fa-icon [icon]="fasCashRegister" class="text-xxs"></fa-icon>
                  <span class="text-center text-xs text-text-85">{{plan.plan_cajas}} Cajas</span>
                </div>
              </div>
              <div class="flex gap-1 items-center">
                <fa-icon [icon]="fasFileInvoiceDollar" class="text-xxs"></fa-icon>
                <span class="text-center text-xs text-text-85">Fact. max. {{plan.plan_facturacion_max}}</span>
              </div>
            </div>
            <div class="flex flex-col gap-1">
              @for (modulo of plan.plan_modulos; track $index) {
              <div class="gap-2.5 h-6 flex items-center">
                <fa-icon [icon]="farBadgeCheck" class="text-xxs text-primary"></fa-icon>
                <span class="text-xs text-text-85">{{modulo}}</span>
              </div>
              }
            </div>
            <div class="h-px border border-text-5"></div>
            <span class="text-text-85 text-xs">01 dispositivo adicional en cualquiera de estas opciones: <span class="text-primary text-xs font-bold">{{plan.plan_dispositivo_adicional}}</span></span>
            <div class="flex flex-col items-center">
             <ion-button class="underline !font-medium" fill="clear" >
                <fa-icon [icon]="farCirclePlus" class="text-xxs pr-1"></fa-icon>
                Más información
             </ion-button> 
             @if (!plan.plan_is_actual) {
               <ion-button style="--background:#ECF4FF;--border-color:#3b82f6; --border-style:solid;" class="text-primary h-7 min-h-7 w-[120px] !text-xs" (click)="suscribirse(plan)">
                  ¡Suscribirme!
               </ion-button> 
             }
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>