<div class="w-[866px] flex flex-col bg-[#E7E7E7] px-2 gap-2 py-1.5">
  <div class="flex justify-between items-center">
    <h2 class="text-sm font-bold pl-2">Asiento {{ nroAsiento }}</h2>
    <fa-icon [icon]="farXmark" class="text-xl cursor-pointer" (click)="dismissModal()"></fa-icon>
  </div>
  
  <div class="flex flex-col bg-white p-2.5 gap-2">
    <!-- Información del asiento -->
    <div class="grid grid-cols-1 gap-2 text-xs">
      <div class="flex gap-2">
        <span class="font-semibold w-[100px]">Fecha de registro:</span>
        <span>{{ fechaRegistro }}</span>
      </div>
      <div class="flex gap-2">
        <span class="font-semibold w-[100px]">Fecha contable:</span>
        <span>{{ fechaContable }}</span>
      </div>
      <div class="flex gap-2">
        <span class="font-semibold w-[100px]">Glosa:</span>
        <span>{{ glosa }}</span>
      </div>
      <div class="flex gap-2">
        <span class="font-semibold w-[100px]">Total:</span>
        <span>{{ total }}</span>
      </div>
      <div class="flex gap-2">
        <span class="font-semibold w-[100px]">Duplicado:</span>
        <span>{{ duplicado }}</span>
      </div>
    </div>

    <!-- Tabla AG-Grid -->
    <div class="w-full mt-2">
      <ag-grid-angular 
        style="width: 100%; height: 150px" 
        [rowData]="asientoData" 
        [columnDefs]="colDefs"
        [rowHeight]="20"
        [headerHeight]="24"
        [pagination]="false"
        (gridReady)="onGridReady($event)"/>
    </div>

    <!-- Totales -->
    <div class="flex justify-end gap-4 text-xxs">
      <div class="border p-2.5 border-text-5 flex gap-3 w-96 rounded-sm">
        <div class="flex flex-col gap-1 w-full">
          <div class="flex gap-2 justify-between">
            <span class="whitespace-nowrap text-right">Total Debe({{monedasignificado}})</span>
            <span class="text-right whitespace-nowrap">{{ totalDebeS }}</span>
          </div>
        @if(pais==='PE'){
          <div class="flex gap-2 justify-between">
            <span class="whitespace-nowrap text-right">Total Debe(USD)</span>
            <span class="text-right whitespace-nowrap">{{ totalDebeD }}</span>
          </div>
        }
        </div>
        <div class="w-px bg-text-5"></div>
        <div class="flex flex-col gap-1 w-full">
          <div class="flex gap-2 justify-between">
            <span class="whitespace-nowrap text-right">Total Haber({{monedasignificado}})</span>
            <span class="text-right whitespace-nowrap">{{ totalHaberS }}</span>
          </div>
        @if(pais==='PE'){
          <div class="flex gap-2 justify-between">
            <span class="whitespace-nowrap text-right">Total Haber(USD)</span>
            <span class="text-right whitespace-nowrap">{{ totalHaberD }}</span>
          </div>
        }
        </div>
      </div>
    </div>

    <!-- Botón Cancelar -->
    <div class="flex justify-end mt-2">
      <ion-button fill="outline" color ="medium" class="w-[90px]" (click)="dismissModal()">
        Cancelar
      </ion-button>
    </div>
  </div>
</div>
