.contFormula{
    display: flex;
    width: 100%;
    height: 80px;
    gap: 8px;
    justify-content: center;
    align-items: center;
    background: #F5F7FC;
    border: 1px solid #E4E4E4;
    border-radius: 2px;
    padding: 16px 10px;
    font-size: 12px;
    span{
        flex: none;
    }
}