<div class="w-[884px] flex flex-col bg-[#e7e7e7] px-[7px] gap-0.5 py-[5px]">
  <div class="flex justify-between items-center w-full py-1">
    <div class="flex items-center gap-1 ">
      <span class="text-sm font-bold">Fórmulas usadas</span>
    </div>
    <fa-icon [icon]="farXmark" class="text-sm cursor-pointer" (click)="dismissModal()"></fa-icon>
  </div>
  <div class="flex flex-col bg-white rounded-[10px] p-2.5 gap-3"> 
    <div class="flex gap-3 w-full">
      <div class="flex flex-col gap-1 items-center w-full">
        <span class="text-sm font-bold">Depreciación Acumulada</span>
        <div class="contFormula flex-none">
          <span class="font-bold">Depreciación Acumulada</span><span>=</span><span>Depreciación Mensual</span><span>x</span><span>Meses Depreciados</span>
        </div>
      </div>
      <div class="flex flex-col gap-1 items-center w-full">
        <span class="text-sm font-bold">Depreciación Acumulada Total</span>
        <div class="contFormula">
          <span class="font-bold">Depreciación Acumulada Total</span><span>=</span><span> Σ Depreciación Acumulada</span>
        </div>
      </div>
    </div>
    <div class="flex gap-3 w-full">
      <div class="flex flex-col gap-1 items-center w-full">
        <span class="text-sm font-bold">Valor neto contable</span>
        <div class="contFormula flex-none">
          <span class="font-bold">Valor Neto Contable</span><span>=</span><span>Valor Original</span><span>-</span><span>Depreciación Acumulada</span>
        </div>
      </div>
      <div class="flex flex-col gap-1 items-center w-full">
        <span class="text-sm font-bold">Porcentaje de Depreciación Promedio</span>
        <div class="contFormula">
          <span class="font-bold">% de Depreciación Promedio</span><span>=</span>
          <div class="flex flex-col items-center">
            <span class="border-b border-solid border-text-85">Depreciación acumulada total</span>
            <span>Valor original total</span>
          </div>
          <span>x</span><span>100</span>
        </div>
      </div>
    </div>
    <div class="flex gap-3 w-full">
      <div class="flex flex-col gap-1 items-center w-full">
        <span class="text-sm font-bold">Tasa Anual de Depreciación (%)</span>
        <div class="contFormula">
          <span class="font-bold">Tasa Anual de Depreciación (%)</span><span>=</span>
          <div class="flex flex-col items-center">
            <span class="border-b border-solid border-text-85">Depreciación Anual</span>
            <span>Valor Original</span>
          </div>
          <span>x</span><span>100</span>        </div>
      </div>
      <div class="flex flex-col gap-1 items-center w-full">
        <span class="text-sm font-bold">Total de Tasa Anual de Depreciación (%)</span>
        <div class="contFormula flex-none">
          <span class="font-bold">Total Tasa Anual de Depreciación (%)</span><span>=</span>
          <div class="flex flex-col items-center">
            <span class="border-b border-solid border-text-85">Σ Depreciación Anual</span>
            <span>Σ Valor Original</span>
          </div>
          <span>x</span><span>100</span>        </div>
      </div>
    </div>
    <div class="flex justify-end ">
      <ion-button class="w-[54px]" color="medium" fill="outline" (click)="dismissModal()">Cerrar</ion-button>
    </div>
  </div>
</div>