:host {
  display: block;
  height: 100vh;
  overflow: auto;
}

.sigre-header-logo {
  display: block;
  max-height: 44px;
  width: auto;
  max-width: 220px;
  object-fit: contain;
  object-position: left center;
}


.tabla-razon{
  @apply w-full border-collapse border border-text-5;
  th{
    @apply p-2 bg-[#F5F5F5] text-left text-xxs font-medium text-text-85;
  }
}
.empty-container {
  @apply flex flex-col gap-4 items-center justify-center w-full h-full;
  .cont-text {
    @apply flex flex-col gap-1 items-center justify-center text-center;
    .title {
      @apply text-base font-semibold text-text-85;
    }
    .descripcion {
      @apply text-xs leading-none text-text-85;
    }
  }
}