<!-- Contenedor de toasts en la esquina inferior derecha -->
<div class="toast-container-wrapper fixed bottom-4 right-4 z-[50000] space-y-3">
  <div 
    *ngFor="let toast of toasts; trackBy: trackByToastId"
    [class]="clasestoast"
    (click)="removeToast(toast.id)" [@slideIn]>
    
    <!-- Icono -->
    <div class="" [class]="fondoicono">
      <fa-icon 
        [icon]="icono" 
        [class]="'text-2xl ' + clases">
      </fa-icon>
    </div>
    
    <!-- Contenido -->
    <div class="flex-grow min-w-0 flex flex-col gap-1 py-2 justify-center">
      <span class="font-bold text-sm">{{ toast.title }}</span>
      <span *ngIf="toast.description" class="text-xs">
        {{ toast.description }}
      </span>
    </div>
    
    <!-- Botón cerrar -->
    <span 
      class="pr-3">
      <fa-icon 
        [icon]="farXmark" 
        class="text-xxss">
      </fa-icon>
    </span>
  </div>
</div>
