<div class="contenedor-principal">
  @if(!mostrartabla){
  <div class="btn-mostrartabla" (click)="mostrartabla=!mostrartabla">
    <fa-icon [icon]="fasChevronsRight"></fa-icon>
  </div>
  }
  @if(mostrartabla){
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span class="">Lista de recepción de transferencias (Selecciona un recepción de tu lista para visualizarlos o
        editarlos)</span>
      <div class="btn-mostrarform">
        <fa-icon [icon]="fasChevronsLeft" class="text-xs text-primary cursor-pointer"
          (click)="mostrartabla=!mostrartabla"></fa-icon>
      </div>
    </div>
    <div class="contenedor-filtros">
      <!-- <div class="filtros-responsive"> -->
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar recepciones por n˚ de transferencia" style="--padding-start:30px"></ion-input>
        </div>

        <div class="flex">
          <ion-select placeholder="De recepción" toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover"
            fill="outline" class="w-[95px] text-xxs -mr-0.5" value="0">
            <ion-select-option value="0">De recepción </ion-select-option>
            <ion-select-option value="1">De envió</ion-select-option>
          </ion-select>

          <!-- calendario -->
          <app-base-calendar-new class="flex-none" mode="range" [initialStartDate]="startDate"
            [initialEndDate]="endDate" [minDate]="minDate" [maxDate]="maxDate" position="center"
            (dateRangeSelected)="filtrarPorFechas($event)">
          </app-base-calendar-new>
        </div>
      <!-- </div> -->

      <div class="filtros-absolutos">
        <ion-button fill="outline" class="text-text-85 w-[115px] flex-none" id="reportesactivos">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="reportesactivos" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false" (click)="exportarExcel()">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false" (click)="exportarPdf()">Exportar PDF</ion-item>
          </ng-template>
        </ion-popover>
      </div>
    </div>
    <div class="flex h-full relative" [appLoader]="isLoading()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular style="width: 100%; height: 100%;" [rowData]="facade.recepcionesTransferencia()" [columnDefs]="colDefs"
        [columnTypes]="columnTypes" [pagination]="true" [localeText]="localeText" [rowHeight]="20" [headerHeight]="24"
        [paginationPageSize]="20" [rowSelection]="'single'" [suppressLoadingOverlay]="true"
        (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)" />
    </div>
  </div>
  }
  <div class="panel-derecho" [ngClass]="{'!w-full !flex-1':!mostrartabla}" [appLoader]="isLoading()">
    <div class="cont-title">
      <span class="">{{ !filaSeleccionada ? 'Selecciona una recepción de la lista' : 'Información de recepción: ' + filaSeleccionada.recepcion_transferencia_nro }}</span>
    </div>
    @if(filaSeleccionada){<div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook"></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>}
    <div class="flex flex-col overflow-auto">
      <form [formGroup]="recepcionForm">
        <!-- Contenido del formulario -->
        <div class="contenedor-formulario" [ngClass]="{'!flex-row !gap-20' : !mostrartabla}">
          <div class="contenedor-formulario !p-0">

            <!-- Origen -->
            <div class="contenido-formulario">
              <span class="label">Origen</span>
              <ion-input fill="outline" formControlName="origen" readonly class="input-readonly w-[163px]"></ion-input>
            </div>

            <!-- Destino -->
            <div class="contenido-formulario">
              <span class="label">Destino</span>
              <ion-input fill="outline" formControlName="destino" readonly class="input-readonly w-[163px]"></ion-input>
            </div>
          </div>

          <div class="contenedor-formulario !p-0">
            <!-- Fecha de envió -->
            <div class="contenido-formulario">
              <span class="label">Fecha de envío</span>
              <ion-input fill="outline" formControlName="fechaEntrega" readonly
                class="input-readonly w-[80px]"></ion-input>
            </div>

            <!-- Fecha de recepción -->
            <div class="contenido-formulario">
              <span class="label">Fecha de recepción</span>
              <ion-input fill="outline" formControlName="localEntrega" readonly
                class="input-readonly w-[80px]"></ion-input>
            </div>

            <!-- Estado -->
            <div class="contenido-formulario">
              <span class="label">Estado</span>
              <ion-input fill="outline" formControlName="estado" readonly class="input-readonly w-[80px]"></ion-input>
            </div>

          </div>
        </div>
      </form>

      <div class="cont-title">
        <span class="">Detalle de los artículos</span>
      </div>
      <div class="contenedor-filtros">
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" [placeholder]="filaSeleccionada ? 'Buscar producto por nombre o código' : ''"
            style="--padding-start:30px"></ion-input>
        </div>
      </div>


        <div class="min-h-[200px] ag-theme-alpine">
          <ag-grid-angular style="width: 100%; height: 100%;" [rowData]="sucursalesRowData"
            [columnDefs]="sucursalesColDefs" [columnTypes]="columnTypes" [pagination]="false" [localeText]="localeText"
            [rowHeight]="20" [headerHeight]="24" [rowSelection]="'single'"
            (cellValueChanged)="onCantidadEntregadaChanged($event)" />
        </div>


        <!-- Panel de resumen debajo de la tabla -->
        <div class="flex flex-col items-end gap-2.5 w-full justify-end p-1.5">
          <div class="p-2 bg-white border border-[#E4E4E4] rounded-[2px] flex flex-col gap-0.5 w-[200px]">
            <div class="flex items-center justify-between">
              <span class="text-xxs text-gray-700">Total solicitada</span>
              <span class="text-sm font-semibold">{{ totalSolicitada }}</span>
            </div>
            <div class="flex items-center justify-between">
              <span class="text-xxs text-[#3B82F6]">Total recibida</span>
              <span class="text-sm font-semibold text-[#3B82F6]">{{ totalRecibida }}</span>
            </div>
            <div class="flex items-center justify-between">
              <span class="text-xxs text-[#EF4444]">Diferencia</span>
              <span class="text-sm font-semibold text-[#EF4444]">{{ diferencia }}</span>
            </div>
          </div>

        </div>
        <div class="contenedor-btn">
          @if(!recepcionConfirmada){<ion-button [disabled]="totalRecibida == 0"
            (click)="confirmarRecepcion()">
            Confirmar recepción
          </ion-button>}
          <!-- Botones de Anular y Generar Comprobante (visible después de confirmar) -->
          @if(recepcionConfirmada) {
            <ion-button class="w-fit" (click)="generarComp()">
              <span>Generar comprobante de salida</span>
            </ion-button>
          }
      </div>
    </div>
  </div>
</div>