<div class="contenedor-principal">
  <div class="panel-izquierdo-pequenio">
    <div class="contenedor-header-perfil">
      <div class="imagen-perfil">
        <img src="assets/shapes.svg" alt="">
      </div>
      <div class="info-perfil">
        <span class="nombre-empresa">{{ empresaNombre }} - {{ empresaRuc }}</span>
        <span class="usuario">Usuario: {{ usuarioNombre }}</span>
      </div>
    </div>
    <div class="contenedor-opciones">
      <div *ngFor="let opcion of opciones" class="opcion-item">
        <div class="opcion-contenido">
          <fa-icon [icon]="opcion.icono"></fa-icon>
          <span>{{opcion.nombre}}</span>
        </div>
        <fa-icon [icon]="fasAngleDown"></fa-icon>
      </div>
    </div>
    <div class="contenedor-acciones">
      <div class="accion-item ayuda" (click)="modalayuda()">
        <fa-icon [icon]="farCircleQuestion"></fa-icon>
        <span>Ayuda y soporte</span>
      </div>
      <div class="accion-item cerrar-sesion" (click)="logout()">
        <fa-icon [icon]="farSignOut"></fa-icon>
        <span>Cerrar sesión</span>
      </div>
    </div>
  </div>
  <div class="panel-derecho-full !py-[20px] !px-[40px]">
    <div class="contenedor-notificaciones">
      <span class="titulo-notificaciones">Notificaciones</span>
      <div class="contenedor-filtros-v2">
        <ion-segment [(ngModel)]="tabSeleccionado" (ngModelChange)="aplicarFiltrosYAgrupacion()" [ngModelOptions]="{standalone: true}" mode="md" scrollable class="company-tabs">
          <ion-segment-button value="todos" class="boton-subsubtitulo !w-[120px]">
            <ion-label>Todos</ion-label>
          </ion-segment-button>
          <ion-segment-button value="noleidas" class="boton-subsubtitulo !w-[120px] relative">
            <ion-label>No leídas</ion-label>
            <span class="count-alert !w-[12px] !h-[12px] absolute !top-1.5 !right-2.5">{{ noLeidasCount }}</span>
          </ion-segment-button>
          <ion-segment-button value="leidas" class="boton-subsubtitulo !w-[120px]">
            <ion-label>Leídas</ion-label>
          </ion-segment-button>
        </ion-segment>
        <ion-select placeholder="Todos" [(ngModel)]="categoriaSeleccionada" [ngModelOptions]="{standalone: true}" toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover" fill="outline" class="selector-categoria">
          <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.value">{{ categoria.label }}</ion-select-option>
        </ion-select>
      </div>
      <div class="contenedor-notificaciones">
        @if (alertasHoy.length > 0) {
        <span class="seccion-fecha">Hoy</span>
        <div class="lista !max-h-full">
          <div class="alerta-card cursor-pointer" *ngFor="let alerta of alertasHoy" [ngClass]="{'!bg-[#F5F7FC]': alerta.leido === false}" (click)="marcarComoLeida(alerta)">
            <div class="alert-header">
              <fa-icon [icon]="farExclamationTriangle"></fa-icon>
              <span>{{ alerta.titulo }}</span>
            </div>
            <div>
              <span class="alert-cont">{{alerta.descripcion}}</span>
            </div>
            <div class="alert-footer">
              <div class="fecha-cont pr-2 border-r border-text-10">
                <fa-icon [icon]="farCalendar"></fa-icon>
                <span>{{ formatearFecha(alerta.creadoEn) }}</span>
              </div>
              <div class="fecha-cont">
                <fa-icon [icon]="farClock"></fa-icon>
                <span>{{ formatearHora(alerta.creadoEn) }}</span>
              </div>
            </div>
          </div>
        </div>
        }
        @if (alertasAyer.length > 0) {
        <span class="seccion-fecha">Ayer</span>
        <div class="lista !max-h-full">
          <div class="alerta-card cursor-pointer" *ngFor="let alerta of alertasAyer" [ngClass]="{'!bg-[#F5F7FC]': alerta.leido === false}" (click)="marcarComoLeida(alerta)">
            <div class="alert-header">
              <fa-icon [icon]="farExclamationTriangle"></fa-icon>
              <span>{{ alerta.titulo }}</span>
            </div>
            <div class="mensaje-detalle">
              <span class="alert-cont">{{ alerta.descripcion }}</span>
            </div>
            <div class="alert-footer">
              <div class="fecha-cont pr-2 border-r border-text-10">
                <fa-icon [icon]="farCalendar"></fa-icon>
                <span>{{ formatearFecha(alerta.creadoEn) }}</span>
              </div>
              <div class="fecha-cont">
                <fa-icon [icon]="farClock"></fa-icon>
                <span>{{ formatearHora(alerta.creadoEn) }}</span>
              </div>
            </div>
          </div>
        </div>
        }
        @if (alertasUltimos7Dias.length > 0) {
        <span class="seccion-fecha">Últimos 7 días</span>
        <div class="lista !max-h-full">
          <div class="alerta-card cursor-pointer" *ngFor="let alerta of alertasUltimos7Dias" [ngClass]="{'!bg-[#F5F7FC]': alerta.leido === false}" (click)="marcarComoLeida(alerta)">
            <div class="alert-header">
              <fa-icon [icon]="farExclamationTriangle"></fa-icon>
              <span>{{ alerta.titulo }}</span>
            </div>
            <div class="mensaje-detalle">
              <span class="alert-cont">{{ alerta.descripcion }}</span>
            </div>
            <div class="alert-footer">
              <div class="fecha-cont pr-2 border-r border-text-10">
                <fa-icon [icon]="farCalendar"></fa-icon>
                <span>{{ formatearFecha(alerta.creadoEn) }}</span>
              </div>
              <div class="fecha-cont">
                <fa-icon [icon]="farClock"></fa-icon>
                <span>{{ formatearHora(alerta.creadoEn) }}</span>
              </div>
            </div>
          </div>
        </div>
        }
        @if (alertasMesActual.length > 0) {
        <span class="seccion-fecha">Mes actual</span>
        <div class="lista !max-h-full">
          <div class="alerta-card cursor-pointer" *ngFor="let alerta of alertasMesActual" [ngClass]="{'!bg-[#F5F7FC]': alerta.leido === false}" (click)="marcarComoLeida(alerta)">
            <div class="alert-header">
              <fa-icon [icon]="farExclamationTriangle"></fa-icon>
              <span>{{ alerta.titulo }}</span>
            </div>
            <div class="mensaje-detalle">
              <span class="alert-cont">{{ alerta.descripcion }}</span>
            </div>
            <div class="alert-footer">
              <div class="fecha-cont pr-2 border-r border-text-10">
                <fa-icon [icon]="farCalendar"></fa-icon>
                <span>{{ formatearFecha(alerta.creadoEn) }}</span>
              </div>
              <div class="fecha-cont">
                <fa-icon [icon]="farClock"></fa-icon>
                <span>{{ formatearHora(alerta.creadoEn) }}</span>
              </div>
            </div>
          </div>
        </div>
        }
        @if (alertasAntiguas.length > 0) {
        <span class="seccion-fecha">Más antiguas</span>
        <div class="lista !max-h-full">
          <div class="alerta-card cursor-pointer" *ngFor="let alerta of alertasAntiguas" [ngClass]="{'!bg-[#F5F7FC]': alerta.leido === false}" (click)="marcarComoLeida(alerta)">
            <div class="alert-header">
              <fa-icon [icon]="farExclamationTriangle"></fa-icon>
              <span>{{ alerta.titulo }}</span>
            </div>
            <div class="mensaje-detalle">
              <span class="alert-cont">{{ alerta.descripcion }}</span>
            </div>
            <div class="alert-footer">
              <div class="fecha-cont pr-2 border-r border-text-10">
                <fa-icon [icon]="farCalendar"></fa-icon>
                <span>{{ formatearFecha(alerta.creadoEn) }}</span>
              </div>
              <div class="fecha-cont">
                <fa-icon [icon]="farClock"></fa-icon>
                <span>{{ formatearHora(alerta.creadoEn) }}</span>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>