<div class="w-[461px] flex flex-col bg-[#E7E7E7] p-1.5 gap-1.5">
  <!-- Header -->
  <div class="modal-header flex justify-between items-center">
    <h2 class="text-sm font-medium">Anular operación especial</h2>
    <fa-icon [icon]="fasXmark" class="text-lg cursor-pointer hover:text-text-60" (click)="cerrarModal()"></fa-icon>
  </div>

  <!-- Body -->
  <div class="flex flex-col bg-white p-3 gap-1">
    <h3 class="text-sm font-semibold mb-3">Detalle de operación especial</h3>
    
    <div class="flex flex-col gap-1 mb-3">
      <div class="flex gap-2 items-center">
        <span class="text-xs font-semibold w-[120px] flex-none">Tipo de operación:</span>
        <span class="text-xs">{{ operacion?.tipoOperacion }}</span>
      </div>
      
      <div class="flex gap-2 items-center">
        <span class="text-xs font-semibold w-[120px] flex-none">Responsable:</span>
        <span class="text-xs">{{ operacion?.responsable }}</span>
      </div>
      
      <div class="flex gap-2 items-center">
        <span class="text-xs font-semibold w-[120px] flex-none">F. de solicitud:</span>
        <span class="text-xs">{{ operacion?.fechaOperacion }}</span>
      </div>
    </div>

    <div class="flex flex-col gap-1.5">
      <label class="text-sm font-semibold">Motivo de la anulación:</label>
      <ion-textarea 
        fill="outline" 
        placeholder="Describe el motivo de la anulación de la operación especial."
        [(ngModel)]="motivoAnulacion"
        rows="6"
        class="w-full">
      </ion-textarea>
    </div>
    <!-- Footer -->
    <div class="flex justify-end gap-3 pt-3">
      <ion-button fill="outline" color="medium" (click)="cerrarModal()">
        <span class="text-">Cancelar</span>
      </ion-button>
      <ion-button fill="outline" color="danger" (click)="anularOperacion()">
        Anular
      </ion-button>
    </div>
  </div>

</div>
