:host {
  display: contents;
}

.sigre-metoxi-form-field__switch {
  padding-top: 0.35rem;

  .form-check-label {
    color: #475569;
    cursor: pointer;
  }

  .form-check-input {
    cursor: pointer;
  }
}
