# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Eclipse
.classpath
.project
.settings/
.tern-project
bin/
build/classes/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Compiled
*.class
*.jar
!war/*.war
