<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
         id="WebApp_ID" 
         version="3.0">
         
    <display-name>SunatWebServices</display-name>
    <description>Servicio Web SOAP y REST para consulta de RUC en SUNAT</description>
    
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- 
        SOAP Endpoints: JBoss 7.1.1 detecta automaticamente los @WebService
        El endpoint SOAP se expone en: /ImplConsultaRUC
        
        REST Endpoints: Se usa @ApplicationPath("/api") en RestApplication
        Los endpoints REST se exponen en: /api/*
    -->
    
    <!-- CORS Filter -->
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>pe.sunat.web.rest.infrastructure.config.CorsFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>
    
    <distributable/>
</web-app>
