<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
         id="WebApp_ID" 
         version="3.0">
         
    <display-name>SunatWebServices</display-name>
    <description>Servicio Web SOAP y REST para consulta de RUC en SUNAT</description>
    
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- 
        SOAP Endpoints: JBoss 7.1.1 detecta automaticamente los @WebService
        El endpoint SOAP se expone en: /ImplConsultaRUC
        
        REST Endpoints: JBoss 7.1.1 usa RESTEasy (incluido)
        Los endpoints REST se exponen en: /api/*
    -->
    
    <!-- RESTEasy Configuration (usa el que viene con JBoss) -->
    <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/api</param-value>
    </context-param>
    
    <!-- RESTEasy Servlet -->
    <servlet>
        <servlet-name>RESTEasyServlet</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>RESTEasyServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    
    <distributable/>
</web-app>
