<div class="contenedor-principal-col">

  <form [formGroup]="form">
    <div class="contenedor-formulario !gap-2.5">
      <div class="filtros-absolutos">
        <div class="contenedor-formulario !p-0">

          <div class="contenido-formulario">
            <span class="label">Ejercicio contable (Año)<span class="text-danger">*</span></span>
            <ion-select placeholder="Seleccione el año" toggleIcon="chevron-down" expandedIcon="chevron-up"  interface="popover" formControlName="anioC" fill="outline" class="w-[150px]  !h-[22px] !min-h-[22px] text-xxs">
              @for(anio of anios; track anio){<ion-select-option [value]="anio">{{ anio }}</ion-select-option>}
            </ion-select>
        </div>

        <div class="contenido-formulario">
          <span class="label">Fecha de ejecución</span>
          <app-base-calendar-new
            class="flex-none"
            mode="single"
            [initialDate]="fechaEjecucion"
            position="center"
            [disabled]="true"
            (dateSelected)="onFechaEjecucion($event)">
          </app-base-calendar-new>
        </div>

        <div class="contenido-formulario">
          <span class="label">Usuario responsable</span>
          <ion-input fill="outline" placeholder="Eduardo Jiménez" formControlName="usuario" class="w-[160px]"></ion-input>
        </div>

        <div class="contenido-formulario">
          <span class="label"></span>
          <div class="flex gap-1 flex-none">
            <ion-checkbox formControlName="generarReporte"></ion-checkbox>
            <span class="text-xxs">Generar reportes</span>
          </div>
        </div>
        <div class="contenido-formulario">
          <span class="label"></span>
          <div class="flex gap-1 flex-none">
            <ion-checkbox formControlName="trasladar"></ion-checkbox>
            <span class="text-xxs">Trasladar saldos al nuevo ejercicio<span class="text-danger">*</span></span>
          </div>
        </div>

        <div class="contenido-formulario !items-start">
          <span class="label">Observaciones</span>
          <ion-textarea fill="outline" formControlName="observaciones" placeholder="Escribe aqui..." rows="2"  class="w-[160px]"></ion-textarea>
        </div>

        </div>
        <div class="contenedor-formulario !p-0">
          <fieldset class="card-fieldset w-[300px] !p-4">
            <legend >Información del ejercicio</legend>
            <div class="cont-field">
                <div class="contenido-formulario">
                  <span class="label">Estado </span>
                  <ion-select placeholder="Activo" toggleIcon="chevron-down" expandedIcon="chevron-up"  interface="popover" formControlName="estado" fill="outline" class="w-[83px]  !h-[22px] !min-h-[22px] text-xxs">
                      <ion-select-option value="Activo">Activo</ion-select-option>
                      <ion-select-option value="Cerrado">Cerrado</ion-select-option>
                  </ion-select>
                </div>
                <div class="contenido-formulario">
                  <span class="label">Periodos cerrados</span>
                  <ion-input fill="outline"  class="w-20" formControlName="periodosC" ></ion-input>
                </div>
            </div>
          </fieldset>
        </div>

      </div>
      <!-- Botones de acción -->
      <div class="contenedor-btn">
        <ion-button fill="outline" class="w-fit" (click)="validar()" [disabled]="!form.get('anioC')?.value">
          <span class="font-normal">Validar periodo</span>
        </ion-button>
        <ion-button class="w-fit" (click)="generarReporte()" [disabled]="!form.get('anioC')?.value">
          <span class="font-normal">Ejecutar cierre anual</span>
        </ion-button>
      </div>
    </div>
  </form>
@if(registro?.reportes != null){
  <div class="contenedor-principal-col">
    <div class="cont-title">
      <span>Resultados del Cierre</span>
    </div>
    <div class="contenedor-formulario">
      <div class="filtros-absolutos">
        <div class="flex flex-col w-full gap-2.5">
          <div class="card-reporte">
            <span class="label">Estado del periodo</span>
            <span class="cont">{{ registro?.estado ? registro?.estado : '-' }}</span>
          </div>
          <div class="card-reporte">
            <span class="label">Asientos bloqueados</span>
            <span class="cont">{{ registro?.nasientos ? registro?.nasientos : '-' }}</span>
          </div>
        </div>
        @if(registro?.reportes != null){<div class="card-reporte">
          <span class="label">Reportes generados</span>
          <div class="lista">
            @for(reporte of registro?.reportes; track reporte){<div class="cont-lista">
              <fa-icon [icon]="farCheckCircle"></fa-icon>
              <span>{{reporte}}</span>
            </div>}
          </div>
        </div>}
      </div>
    </div>
  </div>
}

</div>
