<div class="contenedor-principal" >
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span>Lista de facturaciones de regalías (Selecciona una factura para visualizarla o editarla)</span>
    </div>

    <div class="contenedor-filtros">
      <div class="filtros-responsive">
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar franquicias" class="w-full"
            style="--padding-start:30px"></ion-input>
        </div>
      </div>

      <div class="filtros-absolutos">
        <ion-button class="w-[115px] text-text-85" fill="outline" id="regalias">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="regalias" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar PDF</ion-item>
          </ng-template>
        </ion-popover>
        <ion-button class="w-fit whitespace-nowrap" (click)="nuevaFacturacion()" [disabled]="!filaSeleccionada && !formValidationService.tieneModificaciones()">
          <fa-icon [icon]="fasCirclePlus" class="mr-1"></fa-icon>
          <span>Nueva facturación</span>
        </ion-button>
      </div>
    </div>

    <div class="contenedor-primera-tabla" [appLoader]="isLoading()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular style="width: 100%; height: 100%;" class="" [rowData]="rowData" [columnDefs]="colDefs"
        [pagination]="true" [rowSelection]="'single'" [localeText]="localeText" [paginationPageSize]="20"
        [rowHeight]="20" [headerHeight]="24" (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)" />
    </div>
  </div>

  <div class="panel-derecho !w-[350px]"  [appLoader]="isLoading()">
    <div class="cont-title">
      <span>{{ filaSeleccionada ? 'Facturación de franquicia: ' + filaSeleccionada.factura_codigo : 'Facturación de franquicia'
        }}</span>
    </div>
    @if (filaSeleccionada) {
    <div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook"></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>
    }

    <form action="" [formGroup]="VentasRegaliasForm">
      <div class="contenedor-formulario">


        <div class="contenedor-formulario !p-0">
          <div class="contenido-formulario">
            <span class="label">Fecha de registro</span>
            <ion-input fill="outline" formControlName="fechaRegistro" class="w-[86px]"></ion-input>
          </div>

          <div class="contenido-formulario">
            <span class="label">Fecha emisión </span>
            <app-base-calendar-new class="flex-none" mode="single" [initialDate]="fechaEmision" position="right"
              (dateSelected)="onFechaVigenciaDesdeSelected($event)">
            </app-base-calendar-new>
          </div>

          <div class="contenido-formulario">
            <span class="label">Documento fiscal <span class="text-danger">*</span></span>
            <div class="flex flex-row">
              <ion-input type="text" fill="outline" placeholder="20606467479" formControlName="rucfranquicia" class="w-[130px]"
                style="--border-radius: 0px !important" (ionChange)="onRucChange()"></ion-input>
              <ion-button (click)="buscarFranquicia()" class="!w-[24px]">
                <fa-icon [icon]="fasSearch" class="text-xs text-white"></fa-icon>
              </ion-button>
            </div>
          </div>

          <div class="contenido-formulario">
            <span class="label">Razón social</span>
            <ion-input type="text" fill="outline" formControlName="razonSocial" class="w-[143px]"></ion-input>
          </div>

          <div class="contenido-formulario">
            <span class="label">Franquicia(s) <span class="text-danger">*</span></span>
            <app-autocomplete-multi formControlName="franquicia" [items]="franquiciasAutocompleteFiltradas"
              [mostrarBuscador]="false" displayKey="nombre" valueKey="nombre" placeholder="Seleccionar franquicia">
            </app-autocomplete-multi>
          </div>

          <div class="contenido-formulario">
            <span class="label">Periodo de facturación<span class="text-danger">*</span></span>
            <app-month-year-picker #periodoPickerRef class="flex-none w-[140px]" position="right"
              [placeholder]="'Seleccione periodo'" (monthYearChange)="onPeriodoSeleccionado($event)">
            </app-month-year-picker>

          </div>
          <div class="contenido-formulario">
            <span class="label">Base de cálculo</span>
            <ion-input type="number" fill="outline" formControlName="baseCalculo" class="w-[143px]"
              (ionInput)="calcularMontos()"></ion-input>
          </div>
          <div class="contenido-formulario">
            <span class="label">Porcentaje de regalías</span>
            <ion-input type="number" fill="outline" formControlName="porcentajeRegalias" class="w-[100px]"
              (ionInput)="calcularMontos()"></ion-input>
          </div>
        </div>

        <div class="contenedor-formulario !p-0">
          <div class="contenido-formulario">
            <span class="label">Monto base</span>
            <ion-input type="text" fill="outline" formControlName="montoBase" class="w-[100px]"></ion-input>
          </div>

          <div class="contenido-formulario">
            <span class="label">Monto de regalía</span>
            <ion-input type="text" fill="outline" formControlName="montoRegualia" class="w-[100px]"></ion-input>
          </div>

          <div class="contenido-formulario">
            <span class="label">Impuestos aplicables</span>
            <app-autocomplete-multi formControlName="impuestosAplicables" [items]="impuestosAplicablesOptions"
              [mostrarBuscador]="false" displayKey="nombre" valueKey="id" placeholder="Seleccionar impuesto"
              inputWidth="150px" [modoModal]="true" (eyeClick)="verDetalleImpuestos($event)">
            </app-autocomplete-multi>
          </div>

          <div class="contenido-formulario">
            <span class="label">Monto de impuestos</span>
            <ion-input type="text" fill="outline" formControlName="montoImpuestos" class="w-[100px]"></ion-input>

          </div>

          <div class="contenido-formulario">
            <span class="label">Total factura</span>
            <ion-input type="text" fill="outline" formControlName="totalFactura" class="w-[100px]"></ion-input>
          </div>

          <div class="contenido-formulario !items-start">
            <span class="label">Observaciones</span>
            <ion-textarea fill="outline" formControlName="observaciones" class="w-[143px]"></ion-textarea>

          </div>

        </div>
      </div>
    </form>

    <div class="flex justify-end p-2 gap-2">
      <ion-button color="medium" fill="outline" class="w-fit" (click)="botoncancelar()">Cancelar</ion-button>
      <ion-button fill="outline" color="danger" (click)="abrirModalAnular()"
        [disabled]="!botonesActivos">Anular</ion-button>
      @if(filaSeleccionada){
      <ion-button class="w-[115px] text-text-85" fill="outline" id="regaliasformu" [disabled]="!botonesActivos">
        <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
        <span>Exportar</span>
        <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
      </ion-button>
      <ion-popover trigger="regaliasformu" triggerAction="click" [dismissOnSelect]="true"
        class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
        <ng-template>
          <ion-item lines="none" [button]="true" [detail]="false">Exportar Excel</ion-item>
          <ion-item lines="none" [button]="true" [detail]="false">Exportar PDF</ion-item>
        </ng-template>
      </ion-popover>
    }

      <ion-button (click)="guardarFactura()"[disabled]="filaSeleccionada && filaSeleccionada.factura_estado === 'Anulado'">{{ filaSeleccionada? 'Guardar':'Registrar'}}</ion-button>     
    </div>


  </div>