# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
crash.log
crash.*.log

# Archivos con secretos
*.auto.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variables sensibles locales
secrets.tfvars
environments/secrets.tfvars

# Archivos generados por Terraform
*.generated.yml
*.generated.yaml
