<div class="contenedor-principal">
  @if(!panelLateralVisible){
    <div class="flex items-center justify-center w-[15px] bg-[#E6E8F4]" (click)="togglePanelLateral()">
      <fa-icon [icon]="fasChevronsRight" class="text-xs text-primary cursor-pointer"></fa-icon>
    </div>
    }
  @if(panelLateralVisible){
    <div class="panel-izquierdo">
      <div class="cont-title">
        <span>Plan contable {{ anioActual }} (Selecciona una cuenta de tu lista para visualizarla)</span>
        @if (panelLateralVisible) {
        <div class="btn-mostrarform" (click)="togglePanelLateral()">
          <fa-icon [icon]="fasChevronsLeft"></fa-icon>
        </div>
      }
      </div>
  
      <!-- Filtros -->
      <div class="contenedor-filtros">
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar por código o nombre" class="w-full" style="--padding-start:30px"></ion-input>
        </div> 
        <app-base-calendar-new
          class="flex-none "
          mode="range"
          [initialStartDate]="startDate"
          [initialEndDate]="endDate"
          [minDate]="minDate"
          [maxDate]="maxDate"
          position="left"
          (dateRangeSelected)="filtrarPorFechas($event)">
        </app-base-calendar-new>
        <div class="filtros-absolutos">
            <ion-button class="w-[115px]" fill="outline" id="planCont">
              <fa-icon [icon]="fasCog" class="mr-1 text-text-85"></fa-icon>
              <span class="text-text-85">Acciones</span>
              <fa-icon class="ml-1 text-text-85" [icon]="fasAngleDown"></fa-icon>
            </ion-button>
            <ion-popover trigger="planCont" triggerAction="click" [dismissOnSelect]="true" class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
                <ng-template>
                  <ion-item lines="none" [button]="true" >Exportar Excel</ion-item>
                  <ion-item lines="none" [button]="true" >Exportar CSV</ion-item>
                  <ion-item lines="none" [button]="true" >Exportar PDF</ion-item>
                  <ion-item lines="none" [button]="true" (click)="modalImportar()" >Importar</ion-item>


                </ng-template>
            </ion-popover>
            <ion-button class="w-fit" (click)="botonNuevaCuenta()" [disabled]="!filaSeleccionada"><fa-icon [icon]="fasCirclePlus" class="mr-1"></fa-icon> <span class="font-normal">Nueva cuenta</span></ion-button>
        </div>
      </div>

    <div class="contenedor-primera-tabla" [appLoader]="isLoading()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
        <ag-grid-angular 
          style="width: 100%; height: 100%;" 
          class="ag-theme-alpine"
          [rowData]="rowData" 
          [columnDefs]="colDefs" 
          [columnTypes]="columnTypes"
          [pagination]="true"
          [rowSelection]="'single'"
          [localeText]="localeText"
          [defaultColDef]="defaultColDef"
          [autoGroupColumnDef]="autoGroupColumnDef"
          [treeData]="treeData"
          [getDataPath]="getDataPath"
          [getRowClass]="getRowClass"
          [groupDefaultExpanded]="groupDefaultExpanded"
          [rowHeight]="20"
          [headerHeight]="24"
          [paginationPageSize]="20"
          (gridReady)="onGridReady($event)"
          (cellClicked)="onCellClicked($event)"
          />
          <!-- (firstDataRendered)="onFirstDataRendered($event)" -->
      </div>
    </div>}
  <div class="panel-derecho" [ngClass]="{'!w-full !flex-1':!panelLateralVisible}"  [appLoader]="isLoading()">
    <div class="cont-title">
      <span>{{ filaSeleccionada ? 'Información de cuenta: ' + filaSeleccionada.codigo : 'Nueva cuenta' }}</span>        
    </div>
  
      <!-- Tabs -->
      <div class="cont-tabs">
        @if(panelLateralVisible){<div class="btn-scroll" (click)="scrollLeft()">
          <fa-icon [icon]="fasChevronLeft"></fa-icon> 
        </div>}
        <div class="flex overflow-hidden">
          <ion-segment [(ngModel)]="tabSeleccionado" [ngModelOptions]="{standalone: true}" mode="md" scrollable class="company-tabs" #scrollBox>
            @for(tab of tabs; track tab){<ion-segment-button [value]="tab.value" class="boton-subsubtitulo">
              <ion-label>{{ tab.label }}</ion-label>
            </ion-segment-button>}
          </ion-segment>
        </div>
        @if(panelLateralVisible){<div class="btn-scroll" (click)="scrollRight()">
          <fa-icon [icon]="fasChevronRight"></fa-icon>
        </div>}
      </div>
      @if(filaSeleccionada){<div class="flex justify-end w-full bg-[#F5F5F5] px-1">
        <div class="flex flex-row gap-2 p-1 cursor-pointer" (click)="modalverActualizaciones()">
          <fa-icon [icon]="farBook" class="text-xs text-[#636E95]"></fa-icon>
          <span class="text-[#636E95] text-xs font-semibold underline">Ver últimas actualizaciones</span>
        </div>
      </div>}
  
    <form action="" [formGroup]="planContableForm">
        <div class="contenedor-formulario !p-0">
          @if(tabSeleccionado === 'identificacion'){
            <!-- Contenido del formulario -->
            <div class="contenedor-formulario" [ngClass]="{'!flex-row': !panelLateralVisible}">
              <div class="contenedor-formulario !p-0">
                <div class="contenido-formulario">
                    <span class="label">Moneda funcional</span>
                    <ion-select placeholder="Seleccionar moneda" formControlName="monedaF" interface="popover" fill="outline" class="w-[50px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up">
                      @for(moneda of monedas; track moneda){<ion-select-option  [value]="moneda">{{ moneda }}</ion-select-option>}
                    </ion-select>
                </div>
                <div class="contenido-formulario">
                  <span class="label">Cuenta Contable<span class="text-danger">*</span></span>
                  <ion-input fill="outline" type="number" placeholder="Ingresar cuenta contable" formControlName="codigo" class="w-[120px]"></ion-input>
                </div>
                <div class="contenido-formulario">
                  <span class="label">Nombre/Descripción<span class="text-danger">*</span></span>
                  <ion-input fill="outline" placeholder="Ingresar nombre o descripción" formControlName="nombreD" class="w-[200px]"></ion-input>
                </div>
              </div>
              <div class="contenedor-formulario !p-0">
                <div class="contenido-formulario">
                    <span class="label">Nivel <span class="text-danger">*</span></span>
                    <ion-select placeholder="01" formControlName="nivel" interface="popover" fill="outline" class="w-[50px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up">
                      @for(nivel of nivelesSelect; track nivel){<ion-select-option  [value]="nivel">{{ nivel }}</ion-select-option>}
                    </ion-select>
                </div>
                @if(planContableForm.get('nivel')?.value !== '01'){
                  <div class="contenido-formulario">
                  <span class="label">Cuenta padre<span class="text-danger">*</span></span>
                  <app-autocomplete
                    formControlName="cuentaPadre"
                    [items]="cuentasFiltradas"
                    displayKey="nombre"
                    valueKey="id"
                    placeholder="Selecciona una cuenta"
                    (itemSelected)="onCuentaSeleccionada($event)">
                  </app-autocomplete>
                </div> }
              </div>
            </div>  
          }
          @if(tabSeleccionado === 'clasificacion'){
            <div class="contenedor-formulario" [ngClass]="{'!flex-row': !panelLateralVisible}">
              <div class="contenedor-formulario !p-0">
                <div class="contenido-formulario">
                  <span class="label">Naturaleza <span class="text-danger">*</span></span>
                  <ion-select placeholder="Selecciona una naturaleza" formControlName="naturaleza" interface="popover" fill="outline" [ngClass]="'!w-[163px] 2xl:!w-[185px]'" toggleIcon="chevron-down" expandedIcon="chevron-up">
                    @for(nat of naturalezaSelect; track nat){<ion-select-option [value]="nat">{{ nat }}</ion-select-option>}
                  </ion-select>
                </div>
                <div class="contenido-formulario">
                  <span class="label">Tipo de cuenta <span class="text-danger">*</span></span>
                  <ion-select placeholder="Selecciona un tipo de cuenta" formControlName="tipoC" interface="popover" fill="outline" [ngClass]="'!w-[163px] 2xl:!w-[185px]'"  toggleIcon="chevron-down" expandedIcon="chevron-up">
                    @for(tipo of tipoCtaSelect; track tipo){<ion-select-option [value]="tipo">{{ tipo }}</ion-select-option>}
                  </ion-select>
                </div>
              </div>
              <div class="contenedor-formulario !p-0">
                <div class="contenido-formulario">
                  <span class="label">Permite movimientos <span class="text-danger">*</span></span>
                  <ion-select placeholder="Selecciona sí o no" formControlName="permiteM" interface="popover" fill="outline" [ngClass]="'!w-[163px] 2xl:!w-[145px]'"  toggleIcon="chevron-down" expandedIcon="chevron-up">
                    @for(sino of siNoSelect; track sino){<ion-select-option [value]="sino">{{ sino }}</ion-select-option>}
                  </ion-select>
                </div>
                <div class="contenido-formulario">
                  <span class="label">Estado<span class="text-danger">*</span> </span>
                  <ion-select placeholder="Selecciona un estado" formControlName="estado" interface="popover" fill="outline" [ngClass]="'!w-[163px] 2xl:!w-[145px]'" toggleIcon="chevron-down" expandedIcon="chevron-up">
                    @for(est of estadoSelect; track est){<ion-select-option [value]="est">{{ est }}</ion-select-option>}
                  </ion-select>
                </div>
              </div>
            </div>
          }
          @if(tabSeleccionado === 'param'){
            <div class="contenedor-formulario" [ngClass]="{'!flex-row': !panelLateralVisible}">
              <div class="contenedor-formulario !p-0">
                <div class="contenido-formulario">
                  <span class="label">Requiere tercero <span class="text-danger">*</span></span>
                  <ion-select placeholder="Selecciona una opcion" formControlName="rTercero" interface="popover" fill="outline" [ngClass]="'!w-[163px] 2xl:!w-[175px]'" toggleIcon="chevron-down" expandedIcon="chevron-up">
                    @for(tercero of terceroSelect; track tercero){<ion-select-option [value]="tercero">{{ tercero }}</ion-select-option>}
                  </ion-select>
                </div>
                <div class="contenido-formulario">
                  <span class="label">Requiere doc. fiscal<span class="text-danger">*</span></span>
                  <ion-select placeholder="Selecciona si o no" formControlName="reqDoc" interface="popover" fill="outline" [ngClass]="'!w-[163px] 2xl:!w-[145px]'" toggleIcon="chevron-down" expandedIcon="chevron-up">
                    @for(sino of siNoSelect; track sino){<ion-select-option [value]="sino">{{ sino }}</ion-select-option>}
                  </ion-select>
                </div>
                <div class="contenido-formulario">
                  <span class="label">Requiere centro de costo <span class="text-danger">*</span></span>
                  <ion-select placeholder="Selecciona una opcion" formControlName="reqCentro" interface="popover" fill="outline" [ngClass]="'!w-[163px] 2xl:!w-[175px]'" toggleIcon="chevron-down" expandedIcon="chevron-up">
                    @for(centro of centroCostoSelect; track centro){<ion-select-option [value]="centro">{{ centro }}</ion-select-option>}
                  </ion-select>
                </div>
                <div class="contenido-formulario">
                  <span class="label">Requiere sucursal<span class="text-danger">*</span></span>
                  <ion-select placeholder="Selecciona si o no" formControlName="reqSucursal" interface="popover" fill="outline" [ngClass]="'!w-[163px] 2xl:!w-[145px]'" toggleIcon="chevron-down" expandedIcon="chevron-up">
                    @for(sino of siNoSelect; track sino){<ion-select-option [value]="sino">{{ sino }}</ion-select-option>}
                  </ion-select>
                </div>
                <div class="contenido-formulario">
                  <span class="label">Asoc.impuesto</span>
                  <ion-select placeholder="Selecciona una opcion" formControlName="asocImp" interface="popover" fill="outline" [ngClass]="'!w-[163px] 2xl:!w-[175px]'" toggleIcon="chevron-down" expandedIcon="chevron-up">
                    @for(asoc of asocImpSelect; track asoc){<ion-select-option [value]="asoc">{{ asoc }}</ion-select-option>}
                  </ion-select>
                </div>
              </div>
              <div class="contenedor-formulario !p-0">
                <div class="contenido-formulario">
                  <span class="label">Afecta conciliación banc.<span class="text-danger">*</span></span>
                  <ion-select placeholder="Selecciona si o no" formControlName="afectaC" interface="popover" fill="outline" [ngClass]="'!w-[163px] 2xl:!w-[145px]'" toggleIcon="chevron-down" expandedIcon="chevron-up">
                    @for(sino of siNoSelect; track sino){<ion-select-option [value]="sino">{{ sino }}</ion-select-option>}
                  </ion-select>
                </div>
                <div class="contenido-formulario">
                  <span class="label">Asociación a activo fijo <span class="text-danger">*</span></span>
                  <ion-select placeholder="Selecciona una opcion" formControlName="asociacion" interface="popover" fill="outline" [ngClass]="'!w-[163px] 2xl:!w-[175px]'" toggleIcon="chevron-down" expandedIcon="chevron-up">
                    @for(activo of activoFijoSelect; track activo){<ion-select-option [value]="activo">{{ activo }}</ion-select-option>}
                  </ion-select>
                </div>
                <div class="contenido-formulario">
                  <span class="label">Monedas permitidas<span class="text-danger">*</span></span>
                  <ion-select placeholder="Selecciona una opcion" formControlName="monedap" interface="popover" fill="outline" [ngClass]="'!w-[163px] 2xl:!w-[175px]'" toggleIcon="chevron-down" expandedIcon="chevron-up">
                    @for(moneda of monedaPermitidaSelect; track moneda){<ion-select-option [value]="moneda">{{ moneda }}</ion-select-option>}
                  </ion-select>
                </div>
                <div class="contenido-formulario">
                  <span class="label">Etiquetas <span class="text-danger">*</span></span>
                  <ion-select placeholder="Selecciona un tipo" formControlName="etiqueta" interface="popover" fill="outline" [ngClass]="'!w-[163px] 2xl:!w-[175px]'" toggleIcon="chevron-down" expandedIcon="chevron-up">
                    @for(etiq of etiquetasSelect; track etiq){<ion-select-option [value]="etiq">{{ etiq }}</ion-select-option>}
                  </ion-select>
                </div>
              </div>
            </div>
          }
        @if(tabSeleccionado === 'normativa'){
            <div class="contenedor-formulario" [ngClass]="{'!flex-row': !panelLateralVisible}">
              <div class="contenedor-formulario !p-0">
                <div class="contenido-formulario">
                  <span class="label">Plantilla base <span class="text-danger">*</span></span>
                  <ion-select placeholder="Selecciona una pllantilla" formControlName="plantillaV" interface="popover" fill="outline" [ngClass]="'!w-[163px] 2xl:!w-[175px]'" toggleIcon="chevron-down" expandedIcon="chevron-up">
                    @for(plantilla of plantillaSelect; track plantilla){<ion-select-option [value]="plantilla">{{ plantilla }}</ion-select-option>}
                  </ion-select>
                </div>
                <div class="contenido-formulario">
                  <span class="label">Mapa normativo</span>
                  <ion-select placeholder="Selecciona una opcion" formControlName="mapaN" interface="popover" fill="outline" [ngClass]="'!w-[163px] 2xl:!w-[175px]'" toggleIcon="chevron-down" expandedIcon="chevron-up">
                    @for(mapa of mapaSelect; track mapa){<ion-select-option [value]="mapa">{{ mapa }}</ion-select-option>}
                  </ion-select>
                </div>
              </div>
              <div class="contenedor-formulario !p-0">
                <div class="contenido-formulario">
                  <span class="label">Vigencia desde<span class="text-danger">*</span></span>
                   <app-base-calendar-new
                    class="flex-none"
                    mode="single"
                    [initialDate]="planContableForm.get('vigenciaD')?.value"
                    position="center"
                    (dateSelected)="onFechaVigenciaSelected($event)">
                  </app-base-calendar-new>
                </div>
                <div class="contenido-formulario">
                  <span class="label">Vigencia hasta</span>
                  <app-base-calendar-new
                    class="flex-none"
                    mode="single"
                    [initialDate]="planContableForm.get('vigenciaH')?.value"
                    position="center"
                    (dateSelected)="onFechaVigenciaHastaSelected($event)">
                  </app-base-calendar-new>
                </div>
              </div>
            </div>
          }
          <div class="contenedor-btn">
            <div class="flex items-center gap-3">
              @if(tabSeleccionado != 'identificacion'){<ion-button class="w-[65px]" fill="outline" color="medium" (click)="botonAnterior()">Anterior</ion-button>}
              @if(tabSeleccionado != 'normativa'){
                <ion-button class="w-[65px]" (click)="botonSiguiente()">Siguiente</ion-button>
            }
              @if(tabSeleccionado === 'normativa'){
                <ion-button (click)="botonGuardar()">{{filaSeleccionada? 'Guardar':'Registrar' }}</ion-button>
              }
              </div>
              <div class="flex items-center gap-3">
                <ion-button color="medium" fill="outline" class="w-fit" (click)="botonCancelar()">Cancelar</ion-button>  
                @if(filaSeleccionada){<ion-button fill="outline"  (click)="botonDuplicarCuenta()">Duplicar</ion-button>}
              </div>
            </div>
          </div>
    </form>

  </div>
</div>
