<div class="contenedor-principal-modal" [style.width]="widthModal">
  <div class="titulo-modal">
    <div class="flex flex-row gap-1 items-center">
      <span class="text-sm font-bold">{{tituloModal}}</span>
    </div>
    <fa-icon [icon]="farXmark" class="text-sm cursor-pointer" (click)="cerrarModal()"></fa-icon>
  </div>

  <div class="contenido-modal">
    <div class="flex items-center gap-1 text-xxs pl-2">
      <fa-icon [icon]="farInfoCircle"></fa-icon>
      <span>Selecciona los filtros que deseas aplicar para los movimientos del sistema</span>
    </div>
    <div class="contenedor-formulario">
      <!-- Medio de Pago -->
      <div class="contenido-formulario">
        <span class="label">Entidad Finaciera</span>
        <ion-select placeholder="Selecciona una entidad" toggleIcon="chevron-down" expandedIcon="chevron-up"
          [(ngModel)]="bancoOrigen" [ngModelOptions]="{standalone: true}" interface="popover" fill="outline"
          class="w-[163px] text-xxs">
          @for(banco of bancos; track banco.id) {
          <ion-select-option [value]="banco.id">{{banco.nombre}}</ion-select-option>
          }
        </ion-select>
      </div>
      <div class="contenido-formulario">
        <span class="label">Rango de fechas</span>
        <app-base-calendar-new class="flex-none " mode="range" [initialStartDate]="startDate" [initialEndDate]="endDate"
          [minDate]="minDate" [maxDate]="maxDate" position="left" (dateRangeSelected)="filtrarPorFechas($event)">
        </app-base-calendar-new>
      </div>

      <!-- Botones -->
      <div class="flex justify-end flex-row gap-3 mt-6">
        <ion-button color="medium" fill="outline" class="w-fit" (click)="cancelar()">
          {{textoBotonCancelar}}
        </ion-button>
        <ion-button fill="solid" class="w-fit" (click)="agregar()">
          {{textoBotonConfirmar}}
        </ion-button>
      </div>
    </div>
  </div>