:host {
  .panel-derecho {
    /* mantener relativo por si hay elementos posicionados */
    position: relative;
  }

  .monto-inline-card {
    width: 220px;
    background: #ffffff;
    border: 1px solid #e6e8f4;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.03);
  }
  // Deshabilitar checkbox para filas que NO son Pendiente
  .row-disabled .ag-checkbox-input-wrapper input[type="checkbox"] {
      cursor: default !important;
      opacity: 0.6;
      // background-color: #fffefe !important;
      outline: none !important;
      border: #c72828 !important;
  } 
}