# IDE
**/.idea
**/.vscode
**/*.iml

# Compilaciones previas (se recompila dentro de Docker)
**/target

# Git
.git
.gitignore

# Logs y temporales
**/*.log
**/deploy-logs
**/*.tmp

# OS
**/.DS_Store
**/Thumbs.db

# Docker anidado
**/.dockerignore
**/Dockerfile

# Documentación no necesaria para el build
**/README.md
**/CHANGELOG.md
