<div class="contenedor-principal">
  @if(!mostrarpanelizquierdo){
  <div class="barra-desplegable" (click)="mostrarpanelizquierdo = true">
    <fa-icon [icon]="fasChevronsRight" class=""></fa-icon>
  </div>
  }
  @if(mostrarpanelizquierdo){
    <div class="panel-izquierdo">
      <div class="cont-title">
        <span>Catálogo de Cargos, MOF, y Bandas Salariales (Selecciona un cargo para visualizarlo)</span>
        <fa-icon [icon]="fasChevronsLeft" class="text-xs text-primary cursor-pointer" (click)="mostrarpanelizquierdo = false"></fa-icon>
      </div>

      <div class="contenedor-filtros">
        <div class="filtros-responsive">
          <div class="buscador">
            <fa-icon [icon]="farSearch"></fa-icon>
            <ion-input fill="outline" placeholder="Buscar cargos por código o descripción"
              style="--padding-start:28px"></ion-input>
          </div>
  
          <div class="filtros-absolutos">
            <div class="input-simulado">
              <div class="flex items-center border-r border-text-5 pr-2 w-fit h-7 flex-nowrap">
                <span class="text-xxs lg:text-xs">Rango salarial</span>
              </div>
              <div class="flex items-center pl-2 gap-2">
                <ion-input class="outline-none w-14 !h-6 no-border">
                  <div slot="start" class="!mr-1 font-semibold">S/</div>
                </ion-input>
                -
                <ion-input class="outline-none w-14 !h-6 no-border">
                  <div slot="start" class="!mr-1 font-semibold">S/</div>
                </ion-input>
              </div>
            </div>
            <app-base-calendar-new class="flex-none " mode="range" [initialStartDate]="startDate" [initialEndDate]="endDate"
              [minDate]="minDate" [maxDate]="maxDate" position="left" (dateRangeSelected)="filtrarPorFechas($event)">
            </app-base-calendar-new>
          </div>
        </div>

        <div class="filtros-absolutos">
          <ion-button class="w-[115px]" fill="outline" id="definicioncargos">
            <fa-icon [icon]="fasDownload" class="mr-1 text-text-85"></fa-icon>
            <span class="text-text-85">Exportar</span>
            <fa-icon class="ml-1 text-text-85" [icon]="fasAngleDown"></fa-icon>
          </ion-button>
          <ion-popover trigger="definicioncargos" triggerAction="click" [dismissOnSelect]="true"
            class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
            <ng-template>
              <ion-item lines="none" [button]="true">Exportar Excel</ion-item>
              <ion-item lines="none" [button]="true">Exportar PDF</ion-item>
            </ng-template>
          </ion-popover>
          <ion-button class="w-fit" [disabled]="!filaSeleccionada" (click)="crearNuevoCargo()">
            <fa-icon [icon]="fasCirclePlus" class="mr-1"></fa-icon> 
            <span class="font-normal">Nuevo cargo</span></ion-button>
        </div>
      </div>

      <div class="flex h-full relative" [appLoader]="isLoading()">
        <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
        <ag-grid-angular style="width: 100%; height: 100%;" class="" [rowData]="rowData" [columnDefs]="colDefs"
          [pagination]="true" [rowSelection]="'single'" [localeText]="localeText" [paginationPageSize]="20"
          [rowHeight]="20" [headerHeight]="24" (gridReady)="onGridReady($event)" (selectionChanged)="onSelectionChanged($event)" />
      </div>

    </div>
  }
  <div class="panel-derecho !overflow-hidden" [ngClass]="{'!w-full' : !mostrarpanelizquierdo}" [appLoader]="isLoading() && !isResetting">
    <div class="cont-title">
      @if(filaSeleccionada){<span>Información de cargo: {{filaSeleccionada.cargo_codigo}}</span>}
      @if(!filaSeleccionada){<span>Nuevo cargo</span>}
    </div>
    @if(filaSeleccionada){<div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook"></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>}

    <div class="overflow-y-auto">
      
      <form [formGroup]="DefCargosForm" class="contenedor-formulario" [ngClass]="{'!flex-row' : !mostrarpanelizquierdo}">
        <div class="contenedor-formulario !p-0">
          <div class="contenido-formulario">
            <span class="label">Fecha de creación</span>
            <ion-input type="date" fill="outline" formControlName="fechaCreacion" class="w-[110px]"></ion-input>
          </div>
  
          <div class="contenido-formulario">
            <span class="label">Nombre de cargo<span class="text-danger">@if(!filaSeleccionada){*}</span></span>
            <ion-input fill="outline" placeholder="Ingresa un nombre" formControlName="nombres" class="w-[163px]"></ion-input>
          </div>
  
          <!-- <div class="contenido-formulario">
            <span class="label">Descripción / funciones<span class="text-danger">@if(!filaSeleccionada){*}</span></span>
            <ion-textarea fill="outline" placeholder="Ingrese una descripción" formControlName="descripcion" class="w-[163px]"></ion-textarea>
          </div> -->
  
          <div class="contenido-formulario">
            <span class="label">Área / Departamento<span class="text-danger">@if(!filaSeleccionada || (filaSeleccionada && filaSeleccionada.cargo_estado === 'Activo')){*}</span></span>
            @if(!filaSeleccionada || (filaSeleccionada && filaSeleccionada.cargo_estado === 'Activo')){
            <app-autocomplete [items]="areas" displayKey="area_nombre" valueKey="area_nombre" placeholder="Selecciona una área"
              (itemSelected)="onAreaSeleccionado($event)" formControlName="cargo_area">
            </app-autocomplete>
            }
            @if(filaSeleccionada && filaSeleccionada.cargo_estado === 'Inactivo'){<ion-input fill="outline" formControlName="cargo_area" class="w-[163px]"></ion-input>}
          </div>
  
          <div class="contenido-formulario">
            <span class="label">Centro de costo<span class="text-danger">@if(!filaSeleccionada || (filaSeleccionada && filaSeleccionada.cargo_estado === 'Activo')){*}</span></span>
            @if(!filaSeleccionada || (filaSeleccionada && filaSeleccionada.cargo_estado === 'Activo')){
            <app-autocomplete [items]="centros" displayKey="centro_costo_nombre" valueKey="centro_costo_nombre"
              placeholder="Selecciona un centro de costo" (itemSelected)="onCentroSeleccionado($event)"
              formControlName="centroCosto">
            </app-autocomplete>
            }
            @if(filaSeleccionada && filaSeleccionada.cargo_estado === 'Inactivo'){
            <ion-input fill="outline" formControlName="centroCosto" class="w-[163px]"></ion-input>}
          </div>
  
          <div class="contenido-formulario">
            <span class="label">Categoria laboral asociada<span class="text-danger">@if(!filaSeleccionada || (filaSeleccionada && filaSeleccionada.cargo_estado === 'Activo')){*}</span></span>
            @if(!filaSeleccionada || (filaSeleccionada && filaSeleccionada.cargo_estado === 'Activo')){
            <app-autocomplete [items]="categorialab" displayKey="categoria_laboral_nombre" valueKey="categoria_laboral_nombre"
              placeholder="Selecciona una categoria laboral" (itemSelected)="onCategoriaSeleccionado($event)"
              formControlName="categoriaLab">
            </app-autocomplete>
            }
            @if(filaSeleccionada && filaSeleccionada.cargo_estado === 'Inactivo'){<ion-input fill="outline" formControlName="categoriaLab"
              class="w-[163px]"></ion-input>}
          </div>
        </div>
        <div class="contenedor-formulario !p-0">
          <div class="contenido-formulario">
            <span class="label">Nivel<span class="text-danger">@if(!filaSeleccionada || (filaSeleccionada && filaSeleccionada.cargo_estado === 'Activo')){*}</span></span>
            @if(!filaSeleccionada || (filaSeleccionada && filaSeleccionada.cargo_estado === 'Activo')){
            <ion-select fill="outline" placeholder="Selecciona un nivel" toggleIcon="chevron-down"
              expandedIcon="chevron-up" interface="popover" class="w-[163px]" formControlName="cargo_nivel">
              @for(nivel of niveles; track nivel){<ion-select-option [value]="nivel">{{ nivel
                }}</ion-select-option>}
            </ion-select>
            }
            @if(filaSeleccionada && filaSeleccionada.cargo_estado === 'Inactivo'){<ion-input fill="outline" formControlName="cargo_nivel" class="w-[163px]"></ion-input> }
  
          </div>
  
          <div class="contenido-formulario">
            <span class="label">B. salarial mínimo <span class="text-danger">@if(!filaSeleccionada){*}</span></span>
            <ion-input fill="outline" type="number" placeholder="Ingresa un monto" formControlName="SalarialMin" class="w-[130px]"></ion-input>
          </div>
  
          <div class="contenido-formulario">
            <span class="label">B. salarial promedio <span class="text-danger">@if(!filaSeleccionada){*}</span></span>
            <ion-input fill="outline" type="number" placeholder="Ingresa un monto" formControlName="SalarialProm" class="w-[130px]"></ion-input>
          </div>
  
          <div class="contenido-formulario">
            <span class="label">B. salarial máximo<span class="text-danger">@if(!filaSeleccionada){*}</span></span>
            <ion-input fill="outline" type="number" placeholder="Ingresa un monto" formControlName="SalarialMax" class="w-[130px]"></ion-input>
          </div>
  
  
          @if(!DefCargosForm.get('conceptoVigencia')?.value){
          <div class="contenido-formulario">
            <span class="label">Vigencia hasta <span class="text-danger">@if(!filaSeleccionada){*}</span></span>
            <app-base-calendar-new class="flex-none" mode="single" [initialDate]="DefCargosForm.get('fechaVigencia')?.value" position="right"
              (dateSelected)="onFechaVigenciaHastaSelected($event)">
            </app-base-calendar-new>
          </div>
          }
  
  
          <div class="contenido-formulario">
            <ion-checkbox formControlName="conceptoVigencia"
              (ionChange)="onConceptoVigenciaChange($event)"></ion-checkbox>
            <label class="text-xxs">Cargos con vigencia indefinida</label>
          </div>
  
          <div class="contenido-formulario">
            <span class="label">Estado</span>
            <!-- @if(!filaSeleccionada){
            <ion-input fill="outline" formControlName="cargo_estado" class="w-[121px]"></ion-input>
            } -->
            <ion-select fill="outline" placeholder="Selecciona un estado" toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover"
              class="w-[121px]" formControlName="cargo_estado" name="estadoSeleccionado">
              @for(estado of estados; track estado){<ion-select-option [value]="estado">{{ estado
                }}</ion-select-option>}
            </ion-select>
          </div>
        </div>
      </form>
      <div class="cont-title">
        <span>Lista de funciones</span>
      </div>
      <div class="h-[150px]">
        <ag-grid-angular 
          style="width: 100%; height: 100%;"
          [rowData]="rowDataFunciones" 
          [columnDefs]="colDefsFunciones"
          [rowHeight]="20"
          [headerHeight]="24"
          [localeText]="localeText"
          [suppressMovableColumns]="true"
          (gridReady)="onGridReadyFunciones($event)">
        </ag-grid-angular>
      </div>

    </div>
    
    <div class="contenedor-btn !static">
      <ion-button class="w-[75px]" (click)="botonGuardar()" [disabled]="filaSeleccionada && filaSeleccionada.cargo_estado === 'Inactivo'">{{ filaSeleccionada ? 'Guardar' : 'Registrar' }}</ion-button>
        <ion-button color="medium" fill="outline" class="w-fit" (click)="botoncancelar()">Cancelar</ion-button>
    </div>
  </div>
</div>