
.content-router{
  @apply relative w-full;
  @media screen and (min-width: 640px){
    width: calc(100% - 120px);
  }
}

.md body {
    --ion-background-color: #f3f3f3;
    --ion-text-color: #0c0c0c;
    
}

ion-content{
    --overflow: hidden !important;
    // --padding-bottom: 0px;
    // transition: padding-bottom 0.3s ease-in-out;
    --background: white !important;
}

// Estilos globales para headers con sombra
ion-header {
    &.header-with-shadow {
      box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.11);
      --background: white;
      ion-toolbar {
            
            ion-title {
                text-align: center;
                color: black;
                font-size: 1.125rem;
                font-weight: 500;
            }
            
            ion-back-button {
                --color: #3b82f6;
                --icon-font-size: 1.25rem;
            }
            
            .invisible-spacer {
                width: 44px;
                height: 44px;
                opacity: 0;
                pointer-events: none;
            }
        }
    }
}