ion-checkbox[disabled] {
  --border-color-checked: #878787 !important;
  /* color que quieras */
  --border-color: #878787 !important;
  opacity: 2 !important;
  color: white !important;
}
ion-button{
    min-height: 28px;
    letter-spacing: normal;
    height: 28px;
    font-size: 12px !important;
    // font-weight: 700 !important;
    font-family: NunitoSans,helvetica,sans-serif;
    text-transform: none;
    --border-width: 1px;
    margin: 0;
    --border-radius: 2px !important;
    --box-shadow: none !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;
}

ion-button[fill="outline"] {
    color: #000000 !important;
}

.ion-color-medium{
  --ion-color-medium: #c7c7c7;
}
.ion-color-medium::part(native){
    color: #363636 !important;
  }
:host(.button-outline.ion-color) .button-native{
  background-color: #fff5f5 !important;
}
.ion-color-danger{
  background: #fff5f5 ;
}
.calendarcustom {
    position: relative;
    height: 22px;
    border-radius: 2px;
    border: 1px solid #b5b8c8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 3px;
  ion-datetime-button {
    &::part(native) {
      @apply absolute inset-0 bg-transparent p-0 pl-1 text-left text-xs capitalize ;
      
    }
  }
}
ion-radio{
  width: 16px !important;
  height: 16px !important;
  .native-wrapper, .radio-icon{
    width: 16px !important;
    height: 16px !important;
  }
}
ion-radio::part(container) {
    width: 16px;
    height: 16px;
    --border-width: 1px !important;
  }
ion-datetime-button.calendarcustom {
  &::part(native) {
    text-transform: capitalize;
  }
}
ion-datetime-button{
    &::part(native) {
      text-transform: capitalize;
    }
      .ion-activatable{
    text-transform: capitalize;
    
  }
}

ion-datetime{
  --background: white;
  color: #000 !important;
  --ion-background-color-rgb: transparent !important;
  .calendar-action-buttons{
    position: relative;
    justify-content: center;
    }
    
}

ion-modal.modal-default.show-modal~ion-modal.modal-default{
    justify-content: center !important;
}
ion-toggle{
    // --handle-background: #7c3aed;
    // --background: #d8b4fe;
    --border-radius: 12px;
    width: 38px !important;
    height: 20px !important;
    --handle-width: 16px;
    --handle-height: 16px;
    --handle-border-radius: 8px;
    --transition: all 0.3s ease;
}

ion-toggle::part(track) {
  // background: #d8b4fe;
    height: 20px !important;
    width: 38px !important;
}

ion-toggle.toggle-checked::part(track) {
  // background: #7c3aed; /* color del fondo activo */
      height: 20px !important;
    width: 38px !important;
}

.button_sidebar{
  @apply bg-white xl:w-[120px] w-[110px] p-4 flex justify-between gap-1 items-center h-8 cursor-pointer hover:bg-[#eff6ff] flex-none font-medium xl:text-xs text-xxs;
}

.ion-color-warning{
  --ion-color-warning: #FF8947;
}

.ion-color-warning[fill="outline"]::part(native){
  background-color: #FFF3EC !important;
}

