/* Elimina el fondo azul/amarillo del autofill del navegador */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 30px white inset !important;
  box-shadow: 0 0 0px 30px white inset !important;
  -webkit-text-fill-color: #363636 !important;
  transition: background-color 5000s ease-in-out 0s;
  border: 0px !important;
  max-height: 38px !important;
  height: 38px !important;
}

.ion-valid.sc-ion-input-md-h {
  --border-color: #e4e4e4 !important;
}

.sc-ion-input-md-h {
  font-size: 10px !important;
}

.input-fill-outline.sc-ion-input-md-h {
  --padding-start: 8px;
  --padding-end: 8px;
  --border-radius: 2px;
}

.input-fill-outline.has-focus.sc-ion-input-md-h {
  --border-color: #b5b8c8 !important;
  --border-width: 1px !important;
}

ion-input {
  color: #000000 !important;
  min-height: 22px !important;
  height: 28px !important;
  --highlight-color-focused: none !important;
  // --highlight-color: none !important;
  font-size: 10px !important;
  --border-color: #e4e4e4 !important;
  --highlight-color: #000000 !important;
  background-color: white !important;
}

ion-input[disabled] {
  --background: transparent;
  /* color que quieras */
  --border-color: #E4E4E4 !important;
  opacity: 2 !important;
  color: #C7C7C7 !important;
}

@media (min-width: 1280px) {
  input {
    font-size: 12px !important;
  }

  ion-select {
    font-size: 12px !important;
  }

  ion-radio {
    font-size: 12px !important;
  }

  textarea{
    font-size: 12px !important;
  }
}

.imp-required {
  background-color: #FDF3B0 !important;
}

input {
  font-size: 10px;
}

ion-checkbox.checkbox-disabled {
  --border-color-checked: #3B82F6 !important;
  --checkbox-background-checked: #3B82F6 !important;
}

ion-select {
  min-height: 22px !important;
  height: 28px !important;
  --highlight-color-focused: #b5b8c8 !important;
  --highlight-color: #b5b8c8 !important;
  --background: white !important;
  font-size: 10px;
  --border-color: #e4e4e4 !important;
  --border-width: 1px !important;
  --color:#C7C7C7 !important;
  --placeholder-color:#c7c7c7 !important;
  --placeholder-opacity:1;
  --border-radius: 2px;
  --padding-start: 8px;
  --padding-end: 8px;
  position: relative;
  min-width: 100px;
  opacity: 1 !important;
}

ion-select.select-disabled {
  color: rgb(198 198 198) !important;

}

.select-disabled {
  color: rgb(198 198 198) !important;

}

ion-select.select-disabled::part(icon) {
  color: rgb(198 198 198) !important;
}

ion-item {
  --padding-start: 8px !important;
  --min-height: 25px !important;
  --background: #fff !important;
  font-size: 10px !important;
  ion-radio{
    height: auto !important;
  }
}

ion-item .item-native {
  padding: 16px !important;
}

ion-list {
  padding: 0px !important;
}

ion-select-popover {
  ion-list {
    .list-md {
      --background-color: red;
    }
  }
}

ion-select::part(icon) {
  margin-left: auto !important;
  color: #000000;
  position: absolute;
  // width: 8px;
  // padding-left:2px ;
  right: 6px;
  background-color: white;
}

.sc-ion-select-popover-md::part(label){
  white-space: normal !important;
}

ion-textarea {
  --padding-start: 8px !important;
  --padding-end: 8px !important;
  --padding-top: 3px !important;
  --padding-bottom: 3px !important;
  --border-radius: 2px !important;
  background-color: white !important;
  min-height: 40px !important;
  opacity: 1 !important;
}
.sc-ion-textarea-md-h{
  --placeholder-color: #c7c7c7 !important;
  --placeholder-opacity: 1 !important; 
}
.sc-ion-input-md-h{
  --placeholder-color: #c7c7c7 !important;
  --placeholder-opacity: 1 !important; 
}

.textarea-fill-outline.sc-ion-textarea-md-h .textarea-wrapper.sc-ion-textarea-md {
  --border-color: #e4e4e4 !important;
  font-size: 10px;
}

.textarea-fill-outline.has-focus.sc-ion-textarea-md-h {
  --border-color: #e4e4e4 !important;
  --border-width: 1px !important;
}

ion-textarea.textarea-disabled {
  --background: transparent;
  /* color que quieras */
  --border-color: #E4E4E4 !important;
  opacity: 2 !important;
  color: #C7C7C7 !important;
}


.inputfecha {
  position: relative;
  border: 1px solid #b5b8c8;
  border-radius: 2px;
  height: 28px;
  width: 250px;

  ion-datetime-button {
    &::part(native) {
      @apply bg-transparent capitalize text-xs py-0.5 px-0 rounded-none w-full text-center m-0;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ion-radio {
  font-size: 10px;
}

ion-popover ion-item {
  ion-checkbox {
    --size: 16px !important;
    --font-size: 10px;
    font-size: 10px;
    margin-inline-end: 8px;
    /* tamaño que quieras */
  }
}
ion-checkbox{
  --border-color: #c7c7c7 !important;
}

.checkbox-custom {
  --label-spacing: 8px;
}
.cont-icon-rigth {
 @apply w-fit relative;
 
 fa-icon{
  @apply text-xxs text-text-25 absolute right-1 bottom-1.5 z-20;
 }
}

.input-simulado{
  @apply border border-text-5 rounded-sm h-7 px-2 flex items-center justify-between cursor-pointer !bg-white relative;
}
ion-input.no-border {
  --border-width: 0 !important;
  --highlight-height: 0 !important;
  --highlight-color-focused: transparent;
  --highlight-color: transparent;
  --border-color: transparent;
  --box-shadow: none;
}
ion-datetime.time-10px {
  font-size: 10px;
}
/* Limitar altura del popover del selector de días */
.select-popover-custom {
  --max-height: 250px !important;

  .popover-content,
  ion-popover::part(content) {
    max-height: 250px !important;
  }

  ion-list {
    max-height: 250px !important;
    overflow-y: auto !important;
  }
}
