.promo {
    --width: fit-content;
    --border-radius: 0px;
    --backdrop-opacity: 0.5 !important;
    --box-shadow: none;
    --min-width: 250px;
    --height: fit-content;
}
.promo2 {
    --width: fit-content;
    --border-radius: 0px;
    --backdrop-opacity: 0.5 !important;
    --box-shadow: none;
    --min-width: 250px;
    --height: fit-content;
    --overflow: visible;
}

.promo3 {
    --width: 95%;
    --border-radius: 0px;
    --backdrop-opacity: 0.5 !important;
    --box-shadow: none;
    --min-width: 250px;
    --height: fit-content;
    --overflow: visible;
}

.custom-modal-small {
    --width: 480px;
    --height: fit-content;
    --border-radius: 0px;
    --backdrop-opacity: 0.5 !important;
    --box-shadow: none;
}

.custom-modal-large {
    --width: 680px;
    --height: 70vh;
    --border-radius: 0px;
    --backdrop-opacity: 0.5 !important;
    --box-shadow: none;
}

.contenedor-modal{
  @apply w-[460px] flex flex-col bg-[#e7e7e7] px-[6px] gap-0.5 pb-[6px];
  .header{
    @apply flex justify-between items-center w-full pt-[5px] pb-1;
  }
}
.cont-modal{
  @apply flex flex-col bg-white p-2.5 gap-3;
}