/* Barra gris y borde como en tu captura */
.company-tabs-wrap {
  @apply bg-white border-[#cfcfcf] border-b-0;
}

/* Estética de los “bloques” */
.company-tabs {
  @apply flex justify-start;
  --background: #fff;
  --indicator-color: transparent;
  // padding: 4px 0;
}
.barra-desplegable{
  @apply flex items-center justify-center w-[15px] bg-[#E6E8F4] cursor-pointer;
  fa-icon{
    @apply text-xs text-primary;
  }
}
.contenedor-input{
  @apply flex items-center flex-row gap-2 border border-solid border-text-5 rounded-sm h-7 px-2;
  .text{
    @apply text-primary text-xxs xl:text-xs whitespace-nowrap underline;
  }
}
/* Botones: colores, alto y ancho mínimo como tus 150px */
// .company-tabs ion-segment-button {
//     @apply normal-case min-h-8 h-8 w-max text-center flex items-center justify-center max-w-max;

//   --background: #fff;
//   --background-checked: #EFF6FF;

// --color: #363636;
//   --color-checked: #3B82F6;
//   --border-radius: 0;
//   --padding-start: 24px;
//   --padding-end: 24px;
//     ion-label{
//         @apply m-0;
//     }
//   }
.company-tabs ion-segment-button {
  &.boton-titulo {
    @apply normal-case font-normal min-h-8 h-[30px] w-[200px] border-[#E4E4E4] border-solid border text-center flex items-center justify-center;
    --background: #ffffff;
    --background-checked: #e6e6e6;

    --color: #000000;
    --color-checked: #000000;
    --border-radius: 2px;
    --padding-start: 24px;
    --padding-end: 24px;
  }
  &.boton-subtitulo {
    @apply normal-case min-h-8 h-8 text-center flex items-center border-x hover:bg-slate-50 justify-center;
    --background: #f6f6f6;
    --background-checked: #f6f6f6;
    --color-checked: #000000;
    --border-radius: 0px;
    --padding-start: 24px;
    --padding-end: 24px;
  }
  &.boton-tabs-formulario {
    @apply normal-case min-h-[24px] text-center text-xs flex border-x min-w-[94px] justify-start;
    --background: #f5f5f5;
    --background-checked: #e7e7e7;
    --color-checked: #000000;
    --border-radius: 0px;
    // --padding-start: 24px;
    // --padding-end: 24px;
  }

  &.boton-subsubtitulo {
    @apply normal-case min-h-6 h-6 text-center flex items-center border-x hover:bg-slate-50 justify-center;
    --background: #f6f6f6;
    --background-checked: #e7e7e7;

    --color-checked: #000000;
    --border-radius: 0px;
    --padding-start: 8px;
    --padding-end: 8px;
    ion-label {
      font-size: 12px !important;
      font-weight: 500 !important;
    }
  }
  &.boton-subsubtitulo:hover{
    background: #e7e7e7;
    ion-label {
      font-weight: 600 !important;
    }
  }
}

ion-label {
  @apply m-0;
}
.boton-subtitulo {
  &.segment-button-checked {
    ion-label {
      color: #3b82f6 !important;
      text-decoration: underline;
    }
  }
}
ion-label {
  color: #000000;
}
ion-segment-button {
  --color-checked: transparent !important;
}
ion-segment ion-segment-button {
  --ripple-color: #f6f6f6;
}
/* Bordes entre botones (usa Shadow Parts) */
.company-tabs ion-segment-button::part(native) {
  // border: 1px solid #cfcfcf;
  border: none;
  box-shadow: none;
}
.company-tabs ion-segment-button:not(:first-child)::part(native) {
  border-left-width: 0; /* evitar doble borde entre tabs */
}
.contenedor-loader {
  position: relative;
}
ion-popover.popoverCustom::part(content) {
  width: 105px;
  max-height: 300px;
  --background: #fff;
  border-radius: 4px;
  overflow: auto;
  padding: 6px;
}
ion-popover.popoverCustomXl::part(content) {
  width: 150px;
}
ion-popover.popoverCustomButtonUbicacionActivos::part(content) {
  width: 115px !important;
}
ion-popover.popoverCustomButtonUbicacionActivos2::part(content) {
  width: 118px !important;
}
ion-popover.dezplegableAcciones {
  --offset-x: 4px !important;
}
ion-popover.dezplegableAcciones2 {
  --offset-x: 6px !important;
}

ion-popover.popoverCustom ion-item {
  --background: transparent;
  --color: #363636;
  --padding-start: 10px;
  font-size: 12px !important;
  --inner-padding-end: 10px;
  --min-height: 31px;
}

ion-popover.popoverCustom ion-item:hover {
  --background: rgba(59, 130, 246, 0.12);
  color: #fff;
}

.no-scroll {
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
ion-segment {
  overflow: hidden;
}
.content-pantalla {
  height: calc(100vh - 50px);
}
.cardsubtitle {
  @apply flex items-center px-[10px] bg-[#ECF4FF] text-sm h-[25px] flex-none font-medium;
}

// Cards con borde gris
.card-pasos {
  @apply flex flex-col items-center gap-4 p-4 border border-solid border-text-10 rounded-sm;
}

// Card border dashed
.card-dashed {
  @apply flex flex-col gap-2 py-2 px-2.5 border border-dashed border-[#C0C7DF] bg-[#F5F7FC];
}
// .tooltip {
//   position: relative;
//   display: inline-block;
//   cursor: pointer;
// }

// .tooltiptext {
//   width: 280px;
//   visibility: hidden;
//   background-color: #333;
//   color: #fff;
//   text-align: center;
//   padding: 6px 8px;
//   border-radius: 4px;
//   font-size: 12px;
//   span {
//     color: #fff;
//     font-size: 12px;
//   }

//   /* Posición */
//   position: absolute;
//   z-index: 1;
//   bottom: 125%;
//   left: 50%;
//   transform: translateX(-50%);

//   opacity: 0;
//   transition: opacity 0.3s;
// }
// .tooltiptext::after {
//   content: "";
//   position: absolute;
//   top: 100%; /* parte de abajo del tooltip */
//   left: 50%;
//   transform: translateX(-50%);
//   border-width: 6px;
//   border-style: solid;
//   border-color: #333 transparent transparent transparent;
// }
// .tooltip:hover .tooltiptext {
//   visibility: visible;
//   opacity: 1;
// }

.badge-table {
  width: 59px;
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: center;
  height: 14px;
  font-size: 8px;
  border-radius: 16px;
  line-height: 0;
  text-transform: capitalize;
}
.badge-table-2 {
  @apply w-max h-[14px] text-xxss leading-none flex items-center justify-center px-2 rounded-2xl font-semibold;
  line-height: 0;
}
.ag-paging-panel {
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #e6e6e6;
  border: none;
  padding-right: 50px !important;
}
.ag-paging-page-size {
  display: none;
}


// Estilo para la fila seleccionada en AG-Grid
::ng-deep .ag-row-selected {
  background-color: #dcfde7 !important;
  border-left: 3px solid #b5c0ef !important;
}

/* Asegurar estilo de selección para ag-theme-alpine (foco y sin foco) */
::ng-deep .ag-theme-alpine .ag-row-selected,
::ng-deep .ag-theme-alpine .ag-row-selected .ag-cell {
  background-color: #dceeff !important;
  color: #0b2b56 !important;
}

::ng-deep .ag-theme-alpine .ag-row-selected {
  border-left: 3px solid #2e6fc8 !important;
}

.cols5{
  @apply flex flex-col gap-5;
}
.subtitulo{
  @apply flex items-center gap-1 text-xs font-bold text-text-85; 
  fa-icon {
    @apply text-xxs text-text-85;
  }
}
.formulario-derecho-color-texto {
  @apply w-[120px] text-xxs;
  color: #000000;
}
.contenedor-principal {
  @apply w-full flex flex-row overflow-y-auto flex-grow h-full overflow-x-hidden;
}
.contenedor-principal-col {
  @apply w-full flex flex-col overflow-y-auto h-full flex-grow overflow-x-hidden;
}
.panel-izquierdo {
  @apply w-full flex-grow flex flex-col h-full border-r border-text-5;
}
.panel-izquierdo-pequenio {
  @apply w-[315px] flex-none flex flex-col xl:w-[335px] 2xl:w-[400px] overflow-y-auto overflow-x-hidden relative border-r border-text-5;
}
.panel-derecho-full {
  @apply w-full flex-grow flex flex-col h-full  overflow-auto;
}
.panel-derecho {
  @apply w-[315px] flex-none flex flex-col xl:w-[335px] 2xl:w-[400px] overflow-y-auto overflow-x-hidden relative;
}
.tabla-fija {
  @apply w-[315px] xl:w-[335px] 2xl:w-[400px] min-h-[150px] ;
}
.panel-derecho2 {
  @apply w-[315px] flex-none flex flex-col xl:w-[335px] 2xl:w-[800px] overflow-y-auto overflow-x-hidden relative;
}
.cont-title {
  @apply w-full bg-[#ECF4FF] pl-2.5 pr-2.5 flex justify-between items-center h-6 flex-none text-xs font-semibold sticky top-0 z-20;
  span{
    @apply line-clamp-1;
  }
}
.cont-titulo-tabs {
  @apply w-full text-text-85 flex flex-none text-xs font-semibold border-b border-text-85;
}
.btn-mostrartabla {
  @apply flex items-center bg-[#E6E8F4] text-primary text-xs cursor-pointer;
}
.btn-mostrarform {
  @apply  text-primary text-xs cursor-pointer;
}
.contenedor-filtros {
  @apply p-1.5 flex flex-row items-start gap-3 w-full;
}
.contenedor-filtros-v2 {
  @apply flex flex-row justify-between;
}
.filtros-responsive {
  @apply flex gap-3 w-full flex-col 2xl:flex-row;
}
.form-column2 {
  @apply grid grid-cols-2 gap-1 w-full;
}
.form-column3 {
  @apply grid grid-cols-3 gap-1 w-full;
}
.form-column4 {
  @apply grid grid-cols-4 gap-1 w-full;
}
.buscador {
  @apply relative w-full;

  fa-icon {
    @apply absolute left-2.5 top-1.5 text-xxs text-[#878787] z-40;
  }
}
.imp-icono {
  @apply relative;

  fa-icon {
    @apply absolute right-2.5 top-1.5 text-xxs text-black z-40;
  }
}

.badge-descripcion{
    @apply flex gap-2 px-2.5 py-2 bg-light items-center rounded-sm;
    
    fa-icon{
      @apply text-text-65 text-xxs;
    }
    span{
      @apply text-xxs text-text-65;
    }
  }

  .badge-descripcion-gris{
    @apply flex gap-2 px-2.5 py-2 bg-light items-center rounded-sm;
    
    fa-icon{
      @apply text-text-10 text-xxs;
    }
    span{
      @apply text-xxs text-text-10;
    }
  }


.contenedor-primera-tabla{
  @apply h-full relative;
  .btn-reset{
    @apply absolute right-4 bottom-3 z-40 text-xs text-primary cursor-pointer;
  }
}
.filtros-absolutos {
  @apply flex gap-3 items-center flex-none;
}
.contenedor-formulario {
  @apply p-2.5 flex gap-1 bg-white flex-col w-full;
}
.contenido-formulario {
  @apply flex flex-row items-center gap-2;

  .label {
    @apply w-[120px] xl:w-[140px] flex-none text-xxs xl:text-xs whitespace-nowrap;
  }
  .label-fieldset {
    @apply w-[120px] 2xl:w-[140px] flex-none text-xxs xl:text-xs whitespace-nowrap;
  }
  .labelModal {
    @apply w-[85px] xl:w-[105px] flex-none text-xxs xl:text-xs whitespace-nowrap;
  }
}
.cont-tabs {
  @apply flex flex-row overflow-hidden flex-none;

  .btn-scroll {
    @apply flex items-center w-[28px] cursor-pointer text-primary;
  }
}
.contenedor-btn {
  @apply flex w-full justify-between flex-row-reverse p-2.5 gap-2 bg-white sticky bottom-0 z-[100];
}
.input-responsive {
  @apply text-[10px] xl:text-[12px];

  fa-icon {
    @apply text-[10px] xl:text-[12px];
  }
}
.cont-cards {
  @apply flex items-center w-full p-[6px] gap-3;
  .card { 
    @apply flex items-center min-w-[128px] w-full h-full max-w-[244px] py-2.5 px-2 sm:gap-[7px] xl:gap-3 border rounded border-text-5;
    .contenido { 
      @apply flex flex-col w-full gap-1;
      .title { 
        @apply text-xxs text-text-85 font-normal;
      }
      .cantidad { 
        @apply text-sm text-text-85 font-bold;
      }
    }
    .icon {
      @apply flex items-center justify-center p-2 rounded-3xl h-7 w-7 flex-none bg-[#ECF4FF] text-xs text-primary;
    }
  }
  .cardv2{
    @apply flex flex-col gap-0.5 w-full rounded border border-solid border-text-5 p-2.5;
    .cont-tituloc{
      @apply flex items-center gap-2;
    }
    .icon {
      @apply flex items-center justify-center p-2 rounded-3xl h-7 w-7 flex-none bg-[#ECF4FF] text-xs text-primary;
    }
    .tituloc{
      @apply text-sm font-semibold;
    }
    .cantidad{
      @apply text-lg font-bold;
    }
  }
}
.card-reporte {
  @apply flex flex-col gap-1 w-full min-h-[42px];
  .label {
    @apply text-xxs;
  }
  .cont {
    @apply text-xs;
  }
  .lista {
    @apply flex flex-col w-full;
    .cont-lista {
      @apply flex gap-2 w-full items-center text-xs;
      fa-icon {
        @apply text-success;
      }
    }
  }
}
.card-modal-ayuda {
  @apply flex flex-row gap-2 items-center justify-center p-2.5 border border-solid border-text-5 rounded relative;
  .imagen{
    @apply flex items-center justify-center
  }
  .contenido {
    @apply flex flex-col gap-1;
  .titulo {
    @apply text-base font-bold;
  }
  .info {
    @apply text-xs text-[#242F57] font-medium;
  }
  }
  .ratio-button{
    @apply absolute top-2 right-2;
  }
}
.contenedorTotal {
  @apply flex p-2.5 gap-2 rounded-sm border w-[300px] border-text-5;
  .contenido {
    @apply flex flex-col gap-1 w-full;
    .filas {
      @apply flex justify-between w-full text-xxs;
    }
  }
}

.contParam {
  @apply w-full p-5 flex flex-col gap-3;
}
.modal-actualizaciones-cont{
  @apply flex flex-row gap-2 justify-end p-2 bg-[#F5F5F5];
}
.cardParam {
  @apply flex flex-row gap-5;
}

.card-fieldset {
  @apply border-solid border border-[#C7C7C7];

  legend {
    @apply text-xs text-[#3B82F6] px-1;
  }
  .cont-field {
    @apply flex flex-col gap-1;
    .contenido-param {
      @apply flex flex-row items-center;
    }
    .label-param {
      @apply w-[120px] text-xxs;
    }
  }
}
ion-skeleton-text {
  @apply m-0;
}

.cont-actualizaciones {
  @apply flex flex-row gap-2 justify-end px-1 bg-[#F5F5F5];

  .btn-actualizaciones{
    @apply flex items-center gap-2 p-2 cursor-pointer;
    
    fa-icon {
      @apply text-xs text-[#636E95];
    }
  
    .text-actualizaciones {
      @apply text-[#636E95] text-xs font-semibold underline cursor-pointer;
    }
  }
}
.conjunto-btn{
  @apply flex flex-row justify-end w-full gap-2 p-[6px] pb-1.5 pr-2.5;
  .text-cont{
    @apply font-normal whitespace-nowrap;
  }
}
.conjunto-btn-izqquierda{ 
  @apply flex flex-row justify-start w-full gap-2 p-[6px] pr-2.5;
  .text-cont{
    @apply font-normal whitespace-nowrap;
  }
}
.contenedor-tablas{
  @apply flex flex-row gap-2.5 w-full flex-grow;
  .tabla{
    @apply flex flex-1 flex-col;
  }
}

.contenedor-filtros-tabla {
  @apply w-full flex flex-col overflow-auto flex-grow h-full;
  .sub-content-filtros-tabla{
    @apply w-full flex-grow flex flex-col h-full;
  }
}

.contenido-filtros-tabla{
  @apply p-2.5 flex flex-col items-start gap-2.5 w-full;
}
.contenedor-principal-modal{
  @apply p-1.5 flex flex-col w-full gap-1.5 bg-[#E7E7E7]; 
  .titulo-modal{
    @apply text-sm justify-between flex flex-row font-bold;
  }
  .contenido-modal{
    @apply flex flex-col gap-2.5 bg-[#FFFFFF] p-2.5 w-full;
  }
}
.card-info{
  @apply flex flex-row gap-1 py-1 px-2.5 bg-[#FAFCFE] items-start;
  .info-icon{
    @apply text-xs text-[#4F4F4F] pt-0.5;
  }
}
.info-circle{
  @apply flex items-center gap-1 text-xxss;
}
.cont-img{
  @apply w-[146px] h-[146px] flex flex-col gap-3 justify-center items-center bg-[#F3F7FF] border-[#C0C7DF] border border-dashed rounded;
} 
.falso-input{
  @apply text-[#C7C7C7] px-2 line-clamp-1 text-ellipsis border border-solid rounded-[2px] text-xxs flex items-center h-7;
}
.moverpaddingcalendar{
  button{
    padding-left: 95px !important;
  }
}

.contenedor-dashboard{
  @apply flex flex-grow flex-col gap-3 w-full px-1 overflow-auto;
}

.cont-card-dashboard{
  @apply flex w-full gap-3;
}

.card-dasboard{
    @apply flex items-center w-full py-2.5 px-2 sm:gap-[7px] xl:gap-3 border rounded border-text-5 h-[122px];
    .contenido { 
      @apply flex flex-col w-full gap-1;
      .title { 
        @apply text-xs font-bold;
      }
      .subtitle {
        @apply text-xxs text-text-85 font-normal;
      }
      .cantidad { 
        @apply text-2xl text-text-85 font-bold;
      }
      .comparacion {
        @apply text-xxs text-primary font-normal;
      }
    }
    .icon {
      @apply flex items-center justify-center p-2 rounded-3xl h-10 w-10 flex-none bg-[#ECF4FF] text-xs text-primary;
    }
  }

  .secondary-card-dashboard{
    @apply flex items-center w-full h-[55px] px-2 sm:gap-[7px] xl:gap-3 border rounded border-text-5;
    .contenido{
      @apply flex flex-col w-full gap-1;
      .title {
        @apply text-xxs text-text-85 font-normal;
      }
      .cantidad {
        @apply text-sm text-text-85 font-bold;
      }
    }
    .icon {
      @apply flex items-center justify-center p-2 rounded-3xl h-7 w-7 flex-none bg-[#ECF4FF] text-xs text-primary;
    }
  }

.contenedor-charts{
  @apply flex flex-col w-full py-2.5 px-2 sm:gap-[7px] xl:gap-3 border rounded border-text-5;
  .cont-title-chart{
    @apply flex border-b-[1px] border-text-5 pb-2 w-full items-center ;
    .title{
      @apply font-bold text-base;
    }
  }
  .chart{
      @apply flex-1 w-full;
    }
}

.cont-btn-accrapido{
  @apply flex items-center w-full gap-2.5;
}
.btn-accrapido{
  @apply flex flex-col items-center justify-center text-center w-full h-[120px] gap-2 p-2 rounded bg-[#F5F7FC];
  .icon {
      @apply flex items-center justify-center p-2 rounded-3xl h-7 w-7 flex-none bg-[#ECF4FF] text-xs text-primary;
  }
  .btn-title{
    @apply text-xs font-bold;
  }
  .btn-subtitle{
    @apply text-xxs
  }
}
.card-estados{
  @apply flex gap-3 items-center w-full border border-solid rounded p-2;
  .icon {
      @apply flex items-center justify-center p-2 rounded-3xl h-7 w-7 flex-none text-xs ;
  }
  .card-detalle{
    @apply flex flex-col;
  }
  .title{
    @apply text-sm font-bold text-text-85 line-clamp-1;
  }
  .subtitle{
    @apply text-xs font-medium text-text-85;
  }
}
.success{
  @apply border-success;
  .icon{
    @apply bg-success-5 text-success;
  } 
}
.warning{
  @apply border-warning;
  .icon{
    @apply bg-warning-5 text-warning;
  } 
}
.primary{
  @apply border-primary;
  .icon{
    @apply bg-primary-5 text-primary;
  } 
}
.danger{
  @apply border-danger;
  .icon{
    @apply bg-danger-5 text-danger;
  } 
}

.link{
  @apply text-primary underline cursor-pointer font-nunito text-xxs;
}
.btn-icono2{
    @apply w-[24px] h-[24px] rounded-[4px] flex items-center justify-center cursor-pointer outline-none;
    
    fa-icon{
        @apply text-primary text-sm flex justify-center items-center;
    }
}
.contenedor-header-perfil {
  @apply flex flex-col gap-2.5 pt-5 pb-5 justify-center items-center;
}

.imagen-perfil {
  @apply border border-solid rounded-full w-[100px] h-[100px] overflow-hidden;

  img {
    @apply object-cover w-full h-full;
  }
}

.info-perfil {
  @apply flex flex-col gap-1 justify-center items-center;

  .nombre-empresa {
    @apply font-bold text-xs;
  }

  .usuario {
    @apply text-xxs;
  }
}

.contenedor-opciones {
  @apply flex flex-col h-full;
}

.opcion-item {
  @apply flex flex-row justify-between py-2 px-4 cursor-pointer;

  .opcion-contenido {
    @apply flex flex-row gap-1 items-center;

    fa-icon {
      @apply text-xs;
    }

    span {
      @apply text-xs text-center mt-1;
    }
  }
}

.contenedor-acciones {
  @apply flex flex-col;
}

.accion-item {
  @apply flex flex-row gap-1 py-2 px-4 cursor-pointer;

  &.ayuda {
    fa-icon {
      @apply text-primary text-xs;
    }

    span {
      @apply underline text-primary text-xs;
    }
  }

  &.cerrar-sesion {
    fa-icon {
      @apply text-danger text-xs;
    }

    span {
      @apply underline text-danger text-xs;
    }
  }
}

.contenedor-notificaciones {
  @apply flex flex-col gap-2.5;
}

.titulo-notificaciones {
  @apply font-bold;
}

.selector-categoria {
  @apply w-[163px] flex-none;
}

.seccion-fecha {
  @apply text-[#878787] text-sm font-bold;
}

.mensaje-detalle {
  .highlight {
    @apply font-bold;
  }
}
.resumen-totales {
  width: 170px;
  height: 76px;
  padding: 8px;
  border-radius: 2px;
  border: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: flex-end;
}

.resumen-fila {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resumen-label {
  font-size: 10px;
}

.resumen-valor {
  font-size: 10px;
  font-weight: 500;
}

.resumen-total {
  color: var(--ion-color-primary);
}
// .animation-cerrartabla{
//   animation: cerrartabla 1s ease-in-out;
//   overflow: hidden;
//   width: 0%;
// }
// .animation-abrirtabla{
//   animation: abrirtabla 1s ease-in-out;
//   // width: 100%;
// }
// @keyframes cerrartabla{
//     0%{
//         width: 100%;
//     }
//     100%{
//         width: 0%;
//     }
// }
// @keyframes abrirtabla{
//     0%{
//         width: 0%;
//         flex: none ;
//     }
//     90%{
//         width: 100%;
//     }
// }