:root{
   letter-spacing: 0 !important;
}
:host{
  letter-spacing: 0 !important;
}
/* ion-button */
ion-button::part(native) { letter-spacing: 0 !important; }

/* si usas tabs con ion-segment */
ion-segment-button::part(native) { letter-spacing: 0 !important; }

/* si usas ion-tab-button */
ion-tab-button::part(native) { letter-spacing: 0 !important; }