.sigre-validated-field {
  position: relative;
  display: block;
  width: 100%;

  .sigre-validation-badge {
    position: absolute;
    top: 6px;
    right: 10px;
    z-index: 3;
    pointer-events: none;
  }

  &--select .sigre-validation-badge {
    right: 36px;
  }

  &--date .sigre-validation-badge {
    right: 14px;
  }

  &--bootstrap .sigre-validation-badge,
  &--password .sigre-validation-badge {
    top: 50%;
    transform: translateY(-50%);
  }

  &--password .sigre-validation-badge {
    right: 48px;
  }
}
