::ng-deep{
    :where(.ag-header-group-cell) .ag-header-cell-comp-wrapper {
        justify-content: center;
    }
    .ag-header-group-cell{
        @apply border-r border-text-5;
    }
    .ag-floating-bottom-viewport{
        border-top: 1px solid #e4e4e4 !important;
        .ag-column-first{
            border: none !important;
            background: white;
            display: inline  !important;
        }
        .ag-row-level-0{
            .ag-cell{
                border: none !important;
            }
        }
    }
}