.badge-estado {
  display: inline-block;
  padding: 1px 16px;
  border-radius: 16px;
  font-size: inherit;
  line-height: 1.4;
  white-space: nowrap;
}

.badge-green {
  background-color: #DCFDE7;
  color: #16A34A;
}

.badge-red {
  background-color: #FEE2E2;
  color: #DC2626;
}

.badge-grey {
  background-color: #F5F5F5;
  color: #363636;
}
