<div class="contenedor-principal">
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span>Lista de provisiones de gastos de planillas (Selecciona una provisión de tu lista para visualizarlo)</span>
    </div>
    <div class="contenedor-filtros">
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Ingresa el código y presiona enter"
            style="--padding-start:30px"></ion-input>
        </div>
      <div class="filtros-absolutos">
        <app-base-calendar-new class="flex-none" mode="range" [initialStartDate]="startDate"
            [initialEndDate]="endDate" [minDate]="minDate" [maxDate]="maxDate" position="center"
            (dateRangeSelected)="onFiltroFechaChange($event)">
          </app-base-calendar-new>
        <ion-button fill="outline" class="text-text-85 w-[115px]" id="provisioGastos">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="provisioGastos" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar PDF</ion-item>
          </ng-template>
        </ion-popover>
        <ion-button class="w-fit" [disabled]="!botonNuevaProvisionHabilitado" (click)="nuevoRegistro()">
          <fa-icon [icon]="fasCirclePlus" class="mr-1"></fa-icon>
          <span>Nueva provisión</span>
        </ion-button>
      </div>
    </div>
    <div class="contenedor-primera-tabla" [appLoader]="isLoading()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular 
        style="width: 100%; height: 100%;" 
        class="" 
        [rowData]="rowData" 
        [columnDefs]="columnDefs"
        [pagination]="true" 
        [rowHeight]="20" 
        [localeText]="localeText" 
        [headerHeight]="24"
        [paginationPageSize]="20" 
        [rowSelection]="'single'"
        (gridReady)="onGridReady($event)"
        (rowClicked)="onRowClicked($event)"/>
    </div>
  </div>
  <div class="panel-derecho" [appLoader]="isLoading() && !isResetting">
    <div class="cont-title">
      @if(!modoEdicion){
      <span>Nueva provisión</span>
      }
      @if(modoEdicion){
      <span>Provisión {{ selectedCodigo }}</span>
      }
    </div>
    
    @if(modoEdicion){
    <div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook" ></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>
    }
    <form [formGroup]="provisionForm" class="contenedor-formulario">
      <div class="contenido-formulario">
        <span class="label">Fecha de creación <span class="text-danger">*</span></span>
        <ion-input fill="outline" [value]="fechaActual" class="w-[163px]" [disabled]="true"></ion-input>
      </div>
      <div class="contenido-formulario">
        <span class="label">Fecha inicio de vigencia<span class="text-danger">*</span></span>
        <app-base-calendar-new 
          class="w-[163px]" 
          mode="single" 
          position="right"
          [initialDate]="fechaInicioVigencia"
          (dateSelected)="onFechaInicioChange($event)" />
      </div>
      <div class="contenido-formulario">
        <span class="label">Fecha fin de vigencia</span>
        <app-base-calendar-new 
          class="w-[163px]" 
          mode="single" 
          position="right"
          [initialDate]="fechaFinVigencia"
          (dateSelected)="onFechaFinChange($event)" />
      </div>
      <div class="contenido-formulario">
        <span class="label">Régimen laboral <span class="text-danger">*</span></span>
        <ion-select fill="outline" placeholder="Seleccione régimen" class="w-[167px]" toggleIcon="chevron-down" expandedIcon="chevron-up"
          interface="popover" formControlName="regimenLaboral">
          <ion-select-option *ngFor="let regimen of regimenesLaborales" [value]="regimen.value">{{ regimen.label }}</ion-select-option>
        </ion-select>
      </div>
      <div class="contenido-formulario">
        <span class="label">Tipo de provisión <span class="text-danger">*</span></span>
        <ion-select fill="outline" placeholder="Seleccione tipo" class="w-[167px]" toggleIcon="chevron-down" expandedIcon="chevron-up"
          interface="popover" formControlName="tipoProvision" (ionChange)="onTipoProvisionChange($event)">
          <ion-select-option *ngFor="let item of provision" [value]="item.value">{{ item.label }}</ion-select-option>
        </ion-select>
      </div>
      @if(mostrarFormulaCalculo){
      <div class="contenido-formulario">
        <span class="label">Fórmula de cálculo <span class="text-danger">*</span></span>
        <ion-input fill="outline" formControlName="formulaCalculo" class="w-[200px]" [disabled]="true"></ion-input>
      </div>
      }
      <div class="contenido-formulario !items-start">
        <span class="label">Descripción</span>
        <ion-textarea fill="outline" formControlName="descripcion" placeholder="Escribe aquí..." class="w-[163px]" rows="3"></ion-textarea>
      </div>
      <div class="contenido-formulario">
        <span class="label">Cuenta de gasto <span class="text-danger">*</span></span>
        <app-autocomplete formControlName="cuentaGasto" [items]="cuentasGasto" displayKey="nombre" valueKey="id"
          placeholder="Buscar cuenta de gasto" width="w-[163px]">
        </app-autocomplete>
      </div>
      <div class="contenido-formulario">
        <span class="label">Cuenta de pasivo <span class="text-danger">*</span></span>
        <app-autocomplete formControlName="cuentaPasivo" [items]="cuentasPasivo" displayKey="nombre" valueKey="id"
          placeholder="Buscar cuenta de pasivo" width="w-[163px]">
        </app-autocomplete>
      </div>
      <div class="contenido-formulario">
        <span class="label">Centro de costo <span class="text-danger">*</span></span>
        <app-autocomplete formControlName="centroCosto" [items]="centrosCosto" displayKey="nombre" valueKey="id"
          placeholder="Buscar centro de costo" width="w-[163px]">
        </app-autocomplete>
      </div>
      <div class="contenido-formulario">
        <span class="label">Periodicidad <span class="text-danger">*</span></span>
        <ion-select fill="outline" placeholder="Seleccione periodicidad" class="w-[167px]" toggleIcon="chevron-down" expandedIcon="chevron-up"
          interface="popover" formControlName="periodicidad">
          <ion-select-option *ngFor="let item of periodicidad" [value]="item.value">{{ item.label }}</ion-select-option>
        </ion-select>
      </div>
      <div class="contenido-formulario">
        <span class="label">Estado </span>
        <ion-select fill="outline" class="w-[167px]" toggleIcon="chevron-down" expandedIcon="chevron-up"
          interface="popover" formControlName="estado">
          <ion-select-option *ngFor="let est of estado" [value]="est.value">{{ est.label }}</ion-select-option>
        </ion-select>
      </div>
    </form>
    <div class="contenedor-btn">
      <!-- <ion-button fill="outline" (click)="nuevoRegistro()" type="button">
        Limpiar
      </ion-button> -->
      <ion-button (click)="guardarProvision()" type="button">
        {{ modoEdicion ? 'Guardar' : 'Registrar' }}
      </ion-button>
            <ion-button class="w-fit" fill="outline" color="medium" (click)="cancelar()">
      <span>Cancelar</span>
    </ion-button>
    </div>
  </div>
</div>