@keyframes blinkParcial {
  0% {
    background-color: #FFF5F5;
    color: #EF4444;
  }
  50% {
    background-color: white;
    color: inherit;
  }
  100% {
    background-color: #FFF5F5;
    color: #EF4444;
  }
}

::ng-deep .row-parcial-blink {
  animation: blinkParcial 1.5s ease-in-out infinite;
}
