<div class="contenedor-principal-modal" [style.width]="widthModal">
  <div class="titulo-modal">
    <div class="flex flex-row gap-1 items-center">
      <fa-icon [icon]="farCirclePlus" class="mr-1 text-xs text-primary"></fa-icon>
      <span>{{tituloModal}}</span>
    </div>
    <fa-icon [icon]="farXmark" class="text-sm cursor-pointer" (click)="cerrarModal()"></fa-icon>
  </div>

  <div class="contenido-modal">
    <div class="contenedor-formulario !p-0">
      <!-- Medio de Pago -->
      <div class="contenido-formulario">
        <span class="label">Medio de pago <span class="text-danger">*</span></span>
        <ion-select placeholder="Seleccionar un medio de pago" toggleIcon="chevron-down" expandedIcon="chevron-up"
          [(ngModel)]="medioPago" [ngModelOptions]="{standalone: true}" interface="popover" fill="outline" class="w-[163px] text-xxs">
          @for(pago of pagos; track pago.id) {
          <ion-select-option [value]="pago.id">{{pago.nombre}}</ion-select-option>
          }
        </ion-select>
      </div>

      <!-- Número de Cheque - Solo para Cheque -->
      @if(medioPago === 'cheque') {
      <div class="contenido-formulario">
        <span class="label">N° de cheque <span class="text-danger">*</span></span>
        <ion-input type="text" fill="outline" [(ngModel)]="numeroCheque" [ngModelOptions]="{standalone: true}" class="w-[163px]"></ion-input>
      </div>
      }

      <!-- Banco Origen - Para Transferencia, Cheque y Depósito -->
      @if(medioPago === 'transferencia' || medioPago === 'cheque' || medioPago === 'deposito') {
      <div class="contenido-formulario">
        <span class="label">Banco origen <span class="text-danger">*</span></span>
        <ion-select placeholder="Selecciona un banco" toggleIcon="chevron-down" expandedIcon="chevron-up"
          [(ngModel)]="bancoOrigen" [ngModelOptions]="{standalone: true}" interface="popover" fill="outline" class="w-[163px] text-xxs">
          @for(banco of bancos; track banco.id) {
          <ion-select-option [value]="banco.id">{{banco.nombre}}</ion-select-option>
          }
        </ion-select>
      </div>
      }

      <!-- Moneda -->
      <div class="contenido-formulario">
        <span class="label">Moneda <span class="text-danger">*</span></span>
        <ion-select placeholder="Selecciona una moneda" toggleIcon="chevron-down" expandedIcon="chevron-up"
          [(ngModel)]="moneda" [ngModelOptions]="{standalone: true}" interface="popover" fill="outline" class="w-[140px] text-xxs">
          @for(moneda of monedas; track moneda.id) {
          <ion-select-option [value]="moneda.id">{{moneda.nombre}}</ion-select-option>
          }
        </ion-select>
      </div>

      <!-- Monto -->
      <div class="contenido-formulario">
        <span class="label">Monto <span class="text-danger">*</span></span>
        <ion-input fill="outline" [(ngModel)]="monto" [ngModelOptions]="{standalone: true}" 
                   type="number" step="0.00001" placeholder="0.00" (ionInput)="validarDecimales($event)" class="w-[100px]"></ion-input>
      </div>

      <!-- N° de Operación -->
      <div class="contenido-formulario">
        <span class="label">N° de Operación</span>
        <ion-input fill="outline" [(ngModel)]="numeroOperacion" [ngModelOptions]="{standalone: true}" class="w-[120px]"></ion-input>
      </div>
    </div>

    <!-- Botones -->
    <div class="flex justify-end flex-row gap-3 mt-6">
      <ion-button color="medium" fill="outline" class="w-fit" (click)="cancelar()">
        {{textoBotonCancelar}}
      </ion-button>
      <ion-button fill="solid" class="w-fit" (click)="agregar()">
        {{textoBotonConfirmar}}
      </ion-button>
    </div>
  </div>
</div>