<div class="flex flex-col bg-[#e7e7e7] p-1.5 gap-0.5 w-[461px]">
  <div class="flex justify-between items-center w-full py-1">
    <div class="flex items-center gap-1 ">
      <span class="text-sm font-bold">Registrar traslado</span>
    </div>
    <fa-icon [icon]="farXmark" class="text-sm cursor-pointer" (click)="dismissModal()"></fa-icon>
  </div>
  <div class="flex flex-col bg-white p-2.5 gap-2"> 
    <div class="flex flex-col gap-2.5">
      <div class="grid grid-cols-1 gap-2 gap-y-1">
        
        <div class="flex text-xxs font-semibold flex-row gap-2 items-center">
          <span class="w-[115px] flex flex-none">Nvo. Respon. del Activo <span class="text-danger">*</span></span>
          <app-autocomplete 
              [items]="responsables" 
              displayKey="nombre" 
              valueKey="id"
              placeholder="Selecciona un responsable" 
              width="w-[230px]"
              (itemSelected)="onResponsableSeleccionado($event)">
            </app-autocomplete>
        </div>

        <div class="flex text-xxs font-semibold flex-row gap-2 items-center">
          <span class="w-[115px] flex flex-none">Destino<span class="text-danger">*</span></span>
            <app-autocomplete 
              [items]="destinos" 
              displayKey="nombre" 
              valueKey="id"
              placeholder="Selecciona un destino" 
              width="w-[230px]"
              (itemSelected)="onDestinoSeleccionado($event)">
            </app-autocomplete>

        </div>

        <div class="flex text-xxs font-semibold flex-row gap-2 items-center">
          <span class="w-[115px] flex flex-none">Solicitante<span class="text-danger">*</span></span>
            <app-autocomplete 
              [items]="solicitantes" 
              displayKey="nombre" 
              valueKey="id"
              placeholder="Selecciona un solicitante" 
              width="w-[230px]"
              (itemSelected)="onSolicitanteSeleccionado($event)">
            </app-autocomplete>
        </div>

        <div class="flex text-xxs font-semibold flex-row gap-2 items-center">
          <span class="w-[115px] flex flex-none">Fecha programada<span class="text-danger">*</span></span>
            <app-base-calendar-new 
              class="flex-none w-[150px]" 
              mode="single" 
              [initialDate]="fechaProgramada"
              position="center" 
              (dateSelected)="onFechaProgramada($event)">
            </app-base-calendar-new>
        </div>

        <div class="flex text-xxs font-semibold flex-row gap-2 items-center">
          <span class="w-[115px] flex flex-none">Observaciones</span>
            <ion-textarea 
              fill="outline" 
              formControlName="observaciones"
              placeholder="Escribe aquí..."
              rows="3"
              class="w-[230px]">
            </ion-textarea>
        </div>

      </div>
    </div>
    <div class="flex justify-end flex-row gap-3">
        <ion-button class="" color="medium" fill="outline" (click)="dismissModal()">Cancelar</ion-button>
      <ion-button class="" [disabled]="!trasladoForm.valid" (click)="registrarTraslado()">Registrar traslado</ion-button>
    </div>
  </div>
</div>
