<div class="contenedor-principal">
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span>Configuración de numeración de activos</span>
    </div>

    <!-- Filtros -->
    <div class="contenedor-filtros">
      <div class="filtros-responsive">

        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar numero o por código"
            class="min-w-[200px] w-full" style="--padding-start:30px"></ion-input>
        </div>
      </div>
      <div class="filtros-absolutos">
        <ion-button fill="outline" class="flex-none w-[115px]" id="reportesactivos">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="reportesactivos" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar PDF</ion-item>
          </ng-template>
        </ion-popover>
        <ion-button class="w-fit" [disabled]="camponuevo" (click)="botonNuevaSecuencia()"><fa-icon [icon]="fasCirclePlus"
            class="mr-1"></fa-icon> <span class="font-normal">Nueva secuencia</span></ion-button>
      </div>
    </div>

    <div class="h-full relative" [appLoader]="isLoading()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular style="width: 100%; height:100%" class="" [rowData]="rowData" [columnDefs]="colDefs"
        [columnTypes]="columnTypes" [pagination]="true" [rowSelection]="'single'" [localeText]="localeText"
        [rowHeight]="20" [headerHeight]="24" [paginationPageSize]="20" (gridReady)="onGridReady($event)"
        (cellClicked)="onCellClicked($event)" />
    </div>
  </div>

  <div class="panel-derecho" [appLoader]="isLoading()">
    <div class="cont-title">
      <span>{{ camponuevo ? 'Nueva secuencia de numeración' : 'Numeración de Activos: ' + (filaSeleccionada?.num_activo_codigo || '') }}</span>
    </div>
@if(filaSeleccionada){
    <div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook" ></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div> }

    <form action="" [formGroup]="SecuenciasForm">
      <div class="flex flex-col gap-1 h-full w-full">
        <div class="contenedor-formulario" [ngClass]="{'bg-white': camponuevo === true, }">
          <div class="contenido-formulario">
            <span class="label">Sucursal <span class="text-danger">*</span></span>
            <ion-select [placeholder]="camponuevo ? 'Selecciona una sucursal' : ''" toggleIcon="chevron-down" expandedIcon="chevron-up"
              formControlName="sucursal" interface="popover" fill="outline" [ngClass]="'!w-[163px] 2xl:!w-[185px]'">
              @for(sucursal of sucursales; track sucursal){<ion-select-option [value]="sucursal">{{ sucursal }}</ion-select-option>}
            </ion-select>
          </div>
          <div class="contenido-formulario">
            <span class="label">Prefijo <span class="text-danger">*</span></span>
            <ion-input fill="outline" formControlName="prefijo" [placeholder]="camponuevo ? 'Ej: AF-LM' : ''" class="w-[90px]"></ion-input>
          </div>
          <div class="contenido-formulario">
            <span class="label">Número inicial <span class="text-danger">*</span></span>
            <ion-input type="number" fill="outline" formControlName="ninicial" [placeholder]="camponuevo ? 'Ej: 1' : ''" class="w-[90px]"></ion-input>
          </div>
          <div class="contenido-formulario">
            <span class="label">Número actual <span class="text-danger">*</span></span>
            <ion-input type="number" fill="outline" formControlName="nactual" [placeholder]="camponuevo ? 'Ej: 1' : ''" class="w-[90px]"></ion-input>
          </div>
          <div class="contenido-formulario">
            <span class="label">Incremento automático <span class="text-danger">*</span></span>
            <ion-input type="number" fill="outline" formControlName="incremento" [placeholder]="camponuevo ? 'Ej: 1' : ''" class="w-[90px]"></ion-input>
          </div>
          <div class="contenido-formulario">
            <span class="label">Rango máximo <span class="text-danger">*</span></span>
            <ion-input type="number" fill="outline" formControlName="rango" [placeholder]="camponuevo ? 'Ej: 99999' : ''" class="w-[90px]"></ion-input>
          </div>
          <div class="contenido-formulario">
            <span class="label">Formato de relleno <span class="text-danger">*</span></span>
            <ion-select [placeholder]="camponuevo ? 'Seleccione formato' : ''" toggleIcon="chevron-down" expandedIcon="chevron-up"
              formControlName="relleno" interface="popover" fill="outline" [ngClass]="'!w-[163px] 2xl:!w-[185px]'">
              @for(rell of rellenos; track rell){<ion-select-option [value]="rell">{{ rell }}</ion-select-option>}
            </ion-select>
          </div>
          <div class="contenido-formulario">
            <span class="label">Reinicio de secuencia <span class="text-danger">*</span></span>
            <ion-select [placeholder]="camponuevo ? 'Seleccione reinicio' : ''" toggleIcon="chevron-down" expandedIcon="chevron-up"
              formControlName="reinicio" interface="popover" fill="outline" [ngClass]="'!w-[163px] 2xl:!w-[185px]'">
              @for(rei of reinicios; track rei){<ion-select-option [value]="rei">{{ rei }}</ion-select-option>}
            </ion-select>
          </div>
          <div class="contenido-formulario">
            <span class="label">Estado <span class="text-danger">*</span></span>
            <ion-select [placeholder]="camponuevo ? 'Seleccione estado' : ''" toggleIcon="chevron-down" expandedIcon="chevron-up"
              formControlName="estado" interface="popover" fill="outline" class="w-[80px] text-xxs">
              @for(est of estados; track est){<ion-select-option [value]="est">{{ est }}</ion-select-option>}
            </ion-select>
          </div>
          <div class="contenido-formulario !items-start">
              <span class="label">Observaciones</span>
            <!-- <ion-input fill="outline" formControlName="observaciones" class="w-[134px]"></ion-input> -->
            <ion-textarea fill="outline" [placeholder]="camponuevo ? 'Ingrese sus observaciones' : ''" formControlName="observaciones" rows="2" [ngClass]="'!w-[163px] 2xl:!w-[185px]'"></ion-textarea>

          </div>
        </div>
        <div class="contenedor-btn">
          <div class="flex gap-2">
            <ion-button class="w-fit text-text-85" fill="outline" id="reportes" (click)="botonReiniciarSecuencia()" [disabled]="!filaSeleccionada">
              Reiniciar secuencia
            </ion-button>
            <ion-button (click)="botonGuardar()">{{ camponuevo ? 'Registrar' : 'Guardar' }}</ion-button>
          </div>
          <ion-button color="medium" fill="outline" (click)="botonNuevaSecuencia()">Cancelar</ion-button>
        </div>
      </div>
    </form>
  </div>
</div>