<div class="contenedor-filtros-tabla">
  <div class="sub-content-filtros-tabla">
    <div class="cont-title">
      <span>Consultar documentos generados por finanzas (Seleccione al menos un filtro)</span>
    </div>
    <div class="contenido-filtros-tabla">
      <div class="filtros-responsive">
        <div class="form-column2">
          <div class="contenido-formulario">
            <span class="label">Usuario</span>
            <app-autocomplete [items]="usuariosList" [displayKey]="'nombre'" [valueKey]="'id'"
              [placeholder]="'Selecciona un usuario'" [width]="'w-full max-w-[200px]'"
              (itemSelected)="onSucursalSelected($event)">
            </app-autocomplete>
          </div>
          <div class="contenido-formulario">
            <span class="label">Tipo de documento</span>
            <ion-select [(ngModel)]="filtroTipoDocumento" placeholder="Selecciona un tipo de documento" interface="popover"
              fill="outline" class="w-[220px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up"
              (ionChange)="onFilterChange()">
              @for (tipo of tiposDocumentoList; track tipo.value) {
                <ion-select-option [value]="tipo.value">{{ tipo.label }}</ion-select-option>
              }
            </ion-select>
          </div>
          <div class="contenido-formulario">
            <span class="label">Moneda</span>
            <ion-select [(ngModel)]="filtroMoneda" placeholder="Selecciona una moneda" interface="popover" fill="outline"
              class="w-[160px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up"
              (ionChange)="onFilterChange()">
              @for (moneda of monedasList; track moneda.value) {
                <ion-select-option [value]="moneda.value">{{ moneda.label }}</ion-select-option>
              }
            </ion-select>
          </div>
          <div class="contenido-formulario">
            <span class="label">Sucursal</span>
            <app-autocomplete [items]="sucursalList" [displayKey]="'nombre'" [valueKey]="'id'"
              [placeholder]="'Selecciona un tipo'" [width]="'w-full max-w-[200px]'"
              (itemSelected)="onSucursalSelected($event)">
            </app-autocomplete>
          </div>
          <div class="contenido-formulario">
            <span class="label">Fecha de emisión</span>
            <app-base-calendar-new class="flex-none w-[230px]" mode="single" [placeholder]="'Selecciona una fecha'"
              [minDate]="minDate" [maxDate]="maxDate" position="left" (dateRangeSelected)="filtrarPorFechas($event)">
            </app-base-calendar-new>
          </div>
          <div class="contenido-formulario">
            <span class="label">Módulo origen</span>
            <ion-select [(ngModel)]="filtroModuloOrigen" placeholder="Selecciona un módulo" interface="popover"
              fill="outline" class="w-[163px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up"
              (ionChange)="onFilterChange()">
              @for (modulo of modulosOrigenList; track modulo.value) {
                <ion-select-option [value]="modulo.value">{{ modulo.label }}</ion-select-option>
              }
            </ion-select>
          </div>
          <div class="contenido-formulario">
            <span class="label">Estado</span>
            <ion-select [(ngModel)]="filtroEstado" interface="popover" fill="outline"
              class="w-[82px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up"
              (ionChange)="onFilterChange()">
              @for (estado of estadosList; track estado.value) {
                <ion-select-option [value]="estado.value">{{ estado.label }}</ion-select-option>
              }
            </ion-select>
          </div>
        </div>
      </div>
      <!-- Botones de acción -->
      <div class="flex items-center gap-3 w-full justify-end">
        <ion-button class="w-[115px]" fill="outline" id="reportec" [disabled]="!canExport">
          <fa-icon [icon]="fasDownload" class="mr-1 text-text-85"></fa-icon>
          <span class="text-text-85">Exportar</span>
          <fa-icon class="ml-1 text-text-85" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="reportec" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true">Exportar PDF</ion-item>
          </ng-template>
        </ion-popover>
        <ion-button class="w-fit" (click)="buscar()" [disabled]="!canSearch">
          <span class="font-normal">Buscar</span>
        </ion-button>
      </div>
    </div>
    <div class="cont-title">
      <span>Lista de documentos</span>
    </div>

    <!-- Tabla de resultados -->
    <div class="flex h-full relative" [appLoader]="loaderActivo()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular 
        style="width: 100%; height: 100%;" 
        class="" 
        [rowData]="rowData" 
        [columnDefs]="colDefs"
        [columnTypes]="columnTypes" 
        [gridOptions]="gridOptions" 
        [pagination]="true" 
        [localeText]="localeText"
        [rowHeight]="20" 
        [headerHeight]="24" 
        [paginationPageSize]="20" 
        [defaultColDef]="defaultColDef"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </div>
</div>