<div class="contenedor-principal">
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span>Reporte de Valorización Económica del Stock</span>
    </div>
    <div class="contenedor-filtros">
      <div class="buscador">
        <fa-icon [icon]="farSearch"></fa-icon>
        <ion-input fill="outline" placeholder="Buscar por código, producto o categoría" class="w-full" style="--padding-start:30px"></ion-input>
      </div>
      <app-base-calendar-new
        class="flex-none"
        mode="range"
        [initialDate]="selectedDate"
        position="center"
        (dateSelected)="filtradoUnico($event)">
      </app-base-calendar-new>
      <div class="contenido-formulario my-auto"> 
        <ion-checkbox></ion-checkbox>
        <span class="text-xxs whitespace-nowrap">¿Almc. consolidados?</span>
      </div>
      <div class="filtros-absolutos">
       <ion-button class="w-[115px] text-text-85" id="reportesordencompra" fill="outline">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="reportesordencompra" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false" (click)="exportarPdf()">Exportar PDF</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false" (click)="exportarExcel()">Exportar Excel</ion-item>
          </ng-template>
        </ion-popover>
      </div>
    </div>
    <div class="contenedor-primera-tabla" [appLoader]="isLoading()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular 
        style="width: 100%; height: 100%;" 
        class=""
        [rowData]="almacenFacade.reporteValorizacion()" 
        [columnDefs]="colDefs" 
        [columnTypes]="columnTypes"
        [pagination]="true"
        [rowHeight]="20"
        [headerHeight]="24"
        [localeText]="localeText"
        [paginationPageSize]="20"
        rowSelection="single"
        [suppressLoadingOverlay]="true"
        (gridReady)="onGridReady($event)"
        (cellClicked)="onCellClicked($event)">
      </ag-grid-angular>
    </div>
  </div>
  <div class=" panel-derecho h-full" [appLoader]="isLoading()">
    <div class="cont-title">
    <span class="">Información de: {{ selectedProducto?.valorizacion_producto_producto || '-' }}</span>
    </div>

    <!-- Indicadores -->
    <div class="cont-cards !pt-1.5">
      <div class="card">
        <div class="contenido">
          <span class="title">Valor total inventario x almacén</span>
          <ion-skeleton-text *ngIf="isLoading()" [animated]="true" style="width: 200px;height: 20px;"></ion-skeleton-text>
          <span *ngIf="!isLoading()" class="cantidad">S/999,999.00</span>
        </div>
        <div class="icon">
          <fa-icon [icon]="farWarehouse"></fa-icon>
        </div>
      </div>
      <div class="card">
        <div class="contenido">
          <span class="title">Valor total inventario x consolidado</span>
          <ion-skeleton-text *ngIf="isLoading()" [animated]="true" style="width: 200px;height: 20px;"></ion-skeleton-text>
          <span *ngIf="!isLoading()" class="cantidad">S/999,999.00</span>
        </div>
        <div class="icon">
          <fa-icon [icon]="fasList"></fa-icon>
        </div>
      </div>
    </div>

    <div class="contenedor-formulario">
      <div class="contenido-formulario" >
        <span class="label">Nombre de producto</span>
        <ion-input fill="outline" class="w-[163px]" disabled="true" [value]="selectedProducto?.valorizacion_producto_producto"></ion-input>
      </div>
      <div class="contenido-formulario" >
        <span class="label">Cant. en stock</span>
        <ion-input fill="outline" class="w-[163px]" disabled="true" [value]="selectedProducto?.valorizacion_producto_cantidad_stock"></ion-input>
      </div>
      <div class="contenido-formulario" >
        <span class="label">Costo unitario</span>
        <ion-input fill="outline" class="w-[163px]" disabled="true" [value]="selectedProducto?.valorizacion_producto_costo_unitario ? 'S/ ' + selectedProducto?.valorizacion_producto_costo_unitario?.toFixed(2) : ''"></ion-input>
      </div>
      <div class="contenido-formulario" >
        <span class="label">Valor total de stock</span>
        <ion-input fill="outline" class="w-[163px]" disabled="true" [value]="selectedProducto?.valorizacion_producto_valor_total_stock ? 'S/ ' + selectedProducto?.valorizacion_producto_valor_total_stock?.toFixed(2) : ''"></ion-input>
      </div>
      <div class="contenido-formulario" >
        <span class="label">Método de valorización</span>
        <ion-input fill="outline" class="w-[163px]" disabled="true" [value]="selectedProducto?.valorizacion_producto_metodo_valorizacion"></ion-input>
      </div>
      <div class="contenido-formulario" >
        <span class="label">Moneda local</span>
        <ion-input fill="outline" class="w-[163px]" disabled="true" [value]="selectedProducto?.valorizacion_producto_moneda_local"></ion-input>
      </div>
      <div class="contenido-formulario" >
        <span class="label">Moneda corporativa</span>
        <ion-input fill="outline" class="w-[163px]" disabled="true" [value]="selectedProducto?.valorizacion_producto_moneda_corporativa"></ion-input>
      </div>
      <div class="contenido-formulario" >
        <span class="label">Fecha de último mov.</span>
        <ion-input fill="outline" class="w-[163px]" disabled="true" [value]="selectedProducto?.valorizacion_producto_ultimo_cambio"></ion-input>
      </div>
      <div class="contenido-formulario" >
        <span class="label">Estado</span>
        <ion-input fill="outline" class="w-[163px]" disabled="true" [value]="selectedProducto?.valorizacion_producto_estado"></ion-input>
      </div>
    </div>  
  </div>
</div>