<div class="contenedor-principal">
  
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span>Maestro de productos (Selecciona un producto de tu lista para visualizarlo)</span>
    </div>
    <div class="contenedor-filtros">
      <div class="buscador">
        <fa-icon [icon]="farSearch"></fa-icon>
        <ion-input fill="outline" placeholder="Buscar por código o descripción del producto" class="w-full" style="--padding-start:30px"></ion-input>
      </div>
      <app-base-calendar-new
        class="flex-none "
        mode="range"
        [initialStartDate]="startDate"
        [initialEndDate]="endDate"
        [minDate]="minDate"
        [maxDate]="maxDate"
        position="center"
        (dateRangeSelected)="filtrarPorFechas($event)">
      </app-base-calendar-new>
      <div class="filtros-absolutos">
        <ion-button class="w-[115px] flex-none" fill="outline" id="gestionG">
          <fa-icon [icon]="fasCog" class="mr-1 text-text-85"></fa-icon>
          <span class="text-text-85">Acciones</span>
          <fa-icon class="ml-1 text-text-85" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="gestionG" triggerAction="click" [dismissOnSelect]="true" class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
            <ng-template>
              <ion-item lines="none" [button]="true" (click)="exportarExcel()" >Exportar Excel</ion-item>
              <ion-item lines="none" [button]="true" (click)="exportarPdf()" >Exportar PDF</ion-item>
              <ion-item lines="none" [button]="true" (click)="modalImportar()" >Importar</ion-item>
            </ng-template>
        </ion-popover>
        <ion-button class="w-fit" [disabled]="!filaSeleccionada && !formularioConCambios" (click)="botonRegistrarProducto()"><fa-icon [icon]="fasCirclePlus" class="mr-1"></fa-icon> <span class="font-normal">Nuevo producto</span></ion-button>
      </div>
    </div>
    <div class="flex h-full relative" [appLoader]="isLoading()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular style="width: 100%; height: 100%;" 
        class="" [rowData]="rowData" 
        [columnDefs]="colDefs"
        [context]="{ componentParent: this }"
        [pagination]="true" 
        [rowSelection]="'single'" 
        [localeText]="localeText"
        [paginationPageSize]="20" 
        [rowHeight]="20"
        [headerHeight]="24" 
        (gridReady)="onGridReady($event)" 
        (cellClicked)="onCellClicked($event)" />
    </div>
  </div>

  <div class="panel-derecho" [appLoader]="isLoading()">
    <div class="cont-title">
      @if(filaSeleccionada){<span>Información de: {{filaSeleccionada.maestro_producto_nombre}}</span>}        
      @if(!filaSeleccionada){<span>Nuevo producto</span>}        
    </div>
    @if(filaSeleccionada){<div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook" ></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>}

    <!-- Tabs -->
    <div class="cont-tabs">
      <div class="btn-scroll" (click)="scrollLeft()">
        <fa-icon [icon]="fasChevronLeft"></fa-icon> 
      </div>
      <div class="flex overflow-hidden">
        <ion-segment [(ngModel)]="tabSeleccionado" [ngModelOptions]="{standalone: true}" mode="md" scrollable class="company-tabs" #scrollBox>
          @for(tab of tabs; track tab){<ion-segment-button [value]="tab.value" class="boton-subsubtitulo">
            <ion-label>{{ tab.label }}</ion-label>
          </ion-segment-button>}
        </ion-segment>
      </div>
      <div class="btn-scroll" (click)="scrollRight()">
        <fa-icon [icon]="fasChevronRight"></fa-icon>
      </div>
    </div>

    <form action="" [formGroup]="registroForm">
      <!-- Contenido del formulario -->
      
        @if(tabSeleccionado == 'detalle'){<div class="contenedor-formulario">
          <!-- <div class="contenido-formulario">
            <span class="label">Usuario que registra</span>
            <ion-input fill="outline" placeholder="Eduardo Jimenez Lopez" formControlName="usuario" class="w-[160px]"></ion-input>
          </div> -->
  
          <div class="contenido-formulario">
            <span class="label">Fecha de creación</span>
            <ion-input fill="outline" formControlName="fechaC" class="w-[90px]"></ion-input>
          </div>

          <div class="contenido-formulario">
            <span class="label">Nombre de producto<span class="text-danger">*</span></span>
            <ion-input fill="outline" formControlName="producto" placeholder="Ingresar un nombre" class="w-[160px]"></ion-input>
          </div>
          
          <div class="contenido-formulario">
            <span class="label">Sucursales<span class="text-danger">*</span></span>
            <app-autocomplete-multi
              formControlName="sucursal"
              [items]="sucursales()"
              displayKey="nombre"
              valueKey="id"
              placeholder="Selecciona sucursales"
              (changed)="onSucursalSeleccionada($event)">
            </app-autocomplete-multi>
          </div>
  
          <div class="contenido-formulario">
            <span class="label">Centro de costo<span class="text-danger">*</span></span>
            <app-autocomplete
              formControlName="centroC"
              [items]="centrosC"
              displayKey="nombre"
              valueKey="id"
              placeholder="Selecciona un centro de costo"
              (itemSelected)="onCentroCSeleccionado($event)">
            </app-autocomplete>
          </div>
  
          <div class="contenido-formulario">
            <span class="label">Tipo de naturaleza<span class="text-danger">*</span></span>
            <ion-select placeholder="Selecciona un tipo" formControlName="tipoN" interface="popover" fill="outline" class="w-[163px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up">
              @for(naturaleza of naturalezaSelect; track naturaleza){<ion-select-option [value]="naturaleza.id">{{ naturaleza.nombre }}</ion-select-option>}
            </ion-select>
          </div>
          
          <div class="contenido-formulario">
            <span class="label">Clase de artículo</span>
            <app-autocomplete
              formControlName="clase"
              [items]="claseSelect"
              displayKey="nombre"
              valueKey="id"
              placeholder="Selecciona una clase"
              (itemSelected)="onClaseSeleccionada($event)">
            </app-autocomplete>
          </div>

          <div class="contenido-formulario">
            <span class="label">Unidad de medida<span class="text-danger">*</span></span>
            <div class="flex items-center">
                <ion-select placeholder="Selecciona una unidad" formControlName="medida" interface="popover" fill="outline" class="!w-[120px]" toggleIcon="chevron-down" expandedIcon="chevron-up">
              @for(medida of unidadesMedida(); track medida.id){<ion-select-option [value]="medida.codigo">{{ medida.codigo }}</ion-select-option>}
            </ion-select>
            </div>
          </div>

          <div class="contenido-formulario !items-start">
            <span class="label">Observaciones</span>
            <ion-textarea fill="outline" placeholder="Ingrese sus observaciones" formControlName="observacion" rows="2" class="w-[160px]"></ion-textarea>
          </div>
  
          <div class="contenido-formulario">
            <span class="label">Estado</span>
            <ion-select placeholder="Selecciona un estado" formControlName="estado" interface="popover" fill="outline" class="w-[140px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up">
              @for(est of estadoSelect; track est){<ion-select-option [value]="est.id">{{ est.nombre }}</ion-select-option>}
            </ion-select>
          </div>
  
        </div>}

        @if(tabSeleccionado == 'cuentas'){<div class="contenedor-formulario">

          <div class="contenido-formulario">
            <span class="label">Cuenta de ingreso<span class="text-danger">*</span></span>
            <app-autocomplete
              formControlName="cuentaCI"
              [items]="cuentasContables"
              displayKey="nombre"
              valueKey="id"
              placeholder="Selecciona una cnta. de ingreso"
              (itemSelected)="onCuentaCISeleccionada($event)">
            </app-autocomplete>
          </div>

          <div class="contenido-formulario">
            <span class="label">Cuenta de destino<span class="text-danger">*</span></span>
            <app-autocomplete
              formControlName="cuentaCC"
              [items]="cuentasContables"
              displayKey="nombre"
              valueKey="id"
              placeholder="Selecciona una cnta. de destino"
              (itemSelected)="onCuentaCCSeleccionada($event)">
            </app-autocomplete>
          </div>

          <!-- <div class="contenido-formulario">
            <span class="label">Cnta. conta. ingreso/gasto<span class="text-danger">*</span></span>
            <app-autocomplete
              formControlName="cuentaCIG"
              [items]="cuentasContables"
              displayKey="nombre"
              valueKey="id"
              placeholder="Selecciona una cnta. contable"
              (itemSelected)="onCuentaCIGSeleccionada($event)">
            </app-autocomplete>
          </div> -->

        </div>}


        @if(tabSeleccionado == 'impuestos'){<div class="contenedor-formulario">

          <div class="contenido-formulario">
            <span class="label">Impuesto principal <span class="text-danger">*</span></span>
            <app-autocomplete-multi
              formControlName="impuesto"
              [items]="tipoISelect"
              displayKey="nombre"
              valueKey="id"
              placeholder="Selecciona impuestos"
              (changed)="onImpuestoSeleccionado($event)">
            </app-autocomplete-multi>
          </div>

          <!-- <div class="contenido-formulario">
            <span class="label">% de impuesto</span>
            <ion-input fill="outline" placeholder="18%" formControlName="porcentajeI" class="w-full"></ion-input>
          </div> -->
        </div>}
      
    </form>
    <div class="contenedor-btn">
      @if(tabSeleccionado != 'impuestos'){<ion-button (click)="botonSiguiente()">Siguiente</ion-button>}
      @if(filaSeleccionada?.estado == 'Pendiente'){<ion-button fill="outline" color="danger" (click)="botonEliminarProducto()">Anular</ion-button>}
      @if(tabSeleccionado == 'impuestos'){<ion-button  (click)="botonGuardar()">Registrar</ion-button>}

      <div class="flex gap-2">
        <ion-button color="medium" fill="outline" class="w-fit" (click)="botonRegistrarProducto()">Cancelar</ion-button>
      </div>
    </div>
  </div>
</div>
