<div class="contenedor-principal-col">
  <div class="cont-title">
    <span>Procesos de Cierre Contable</span>
  </div>

  <!-- Tabs -->
    <div class="cont-tabs">
      <div class="flex overflow-hidden">
        <ion-segment [(ngModel)]="tabSeleccionado" [ngModelOptions]="{standalone: true}" mode="md" scrollable class="company-tabs" #scrollBox>
          @for(tab of tabs; track tab){<ion-segment-button [value]="tab.value" class="boton-subsubtitulo">
            <ion-label>{{ tab.label }}</ion-label>
          </ion-segment-button>}
        </ion-segment>
      </div>
    </div>

    @if(tabSeleccionado == 'mensual'){
      <app-cc-cierre-mensual></app-cc-cierre-mensual>
    }
    @if(tabSeleccionado == 'anual'){
      <app-cc-cierre-anual></app-cc-cierre-anual>
    }


</div>
