<div class="contenedor-modal !w-[660px]">
  <div class="header">
    <div class="flex items-center gap-1 ">
      <span class="text-sm font-bold">{{tituloModal}}</span>
    </div>
    <fa-icon [icon]="farXmark" class="text-sm cursor-pointer" (click)="cerrarModal()"></fa-icon>
  </div>
  <div class="cont-modal"> 
      <div class="h-[180px]">
        @if(detalle){<div class="form-column2">
          <div class="contenido-formulario">
            <span class="label !w-[100px] ">Razón social:</span>
            <span class="text-xxs xl:text-xs whitespace-nowraps w-full">{{detalle.razonS}}</span>
          </div>
          <div class="contenido-formulario">
            <span class="label !w-[100px]">Estado:</span>
            <span class="text-xxs xl:text-xs whitespace-nowraps w-full">{{detalle.estado}}</span>
          </div>
          @if(detalle.proveedor) {
            <div class="contenido-formulario">
              <span class="label !w-[100px]">Proveedor:</span>
              <span class="text-xxs xl:text-xs whitespace-nowraps w-full">{{detalle.proveedor}}</span>
            </div>
          }
          @if(detalle.cliente) {
            <div class="contenido-formulario">
              <span class="label !w-[100px]">Cliente:</span>
              <span class="text-xxs xl:text-xs whitespace-nowraps w-full">{{detalle.cliente}}</span>
            </div>
          }
          <div class="contenido-formulario">
            <span class="label !w-[100px]">Moneda:</span>
            <span class="text-xxs xl:text-xs whitespace-nowraps w-full">{{detalle.moneda}}</span>
          </div>
          <div class="contenido-formulario">
            <span class="label !w-[100px]">Fecha emisión:</span>
            <span class="text-xxs xl:text-xs whitespace-nowraps w-full">{{detalle.fechaE}}</span>
          </div>
          <div class="contenido-formulario">
            <span class="label !w-[100px]">Monto total:</span>
            <span class="text-xxs xl:text-xs whitespace-nowraps w-full">{{detalle.montoT}}</span>
          </div>
          <div class="contenido-formulario">
            <span class="label !w-[100px]">Fecha vencimiento:</span>
            @if(modoEdicion) {
              <app-base-calendar-new
                class="flex-none"
                mode="single"
                [initialDate]="detalle.fechaV"
                position="left">
              </app-base-calendar-new>
            } @else {
              <span class="text-xxs xl:text-xs whitespace-nowraps w-full">{{detalle.fechaV}}</span>
            }
          </div>
          <div class="contenido-formulario">
            <span class="label !w-[100px]">Monto pagado:</span>
            <span class="text-xxs xl:text-xs whitespace-nowraps w-full">{{detalle.montoP}}</span>
          </div>
          <div class="contenido-formulario">
            <span class="label !w-[100px]">Centro de costo:</span>
            @if(modoEdicion) {
              <ion-input fill="outline" class="w-[150px]" [(ngModel)]="detalle.centroC"></ion-input>
            } @else {
              <span class="text-xxs xl:text-xs whitespace-nowraps w-full">{{detalle.centroC}}</span>
            }
          </div>
          <div class="contenido-formulario">
            <span class="label !w-[100px]">Monto pendiente:</span>
            <span class="text-xxs xl:text-xs whitespace-nowraps w-full">{{detalle.montoPend}}</span>
          </div>
          <div class="contenido-formulario">
            <span class="label !w-[100px]">Sucursal:</span>
            <span class="text-xxs xl:text-xs whitespace-nowraps w-full">{{detalle.sucursal}}</span>
          </div>
        </div>}
      </div>
    <div class="flex justify-end flex-row gap-3">
      <ion-button fill="outline" color="medium" class="w-fit" (click)="aplicarAccion('secundaria')">{{textoBotonSecundario}}</ion-button>
      @if(modoEdicion) {
        <ion-button class="w-fit" (click)="aplicarAccion('primaria')">{{textoBotonPrimario}}</ion-button>
      }
    </div>
  </div>
</div>
