<div class="contenedor-principal">
  <div class="panel-derecho-full">
    <div class="cont-title">
      <span>Nuevo reporte de distribución de costos por centro de costos y canal</span>
    </div>

    <!-- Contenido del filtro -->
    <div class="contenedor-formulario !flex-row !gap-10">
      <div class="contenedor-formulario !p-0">
        <div class="contenido-formulario">
          <span class="label">Periodo de pago</span>
          <app-month-year-picker
              [selectedMonth]="periodoMes"
              [selectedYear]="periodoAnio"
              [placeholder]="'Periodo contable'"
              position="center"
              (monthYearChange)="onPeriodoContableChange($event)">
            </app-month-year-picker>
          
        </div>

        <div class="contenido-formulario">
          <span class="label">Sucursa(es) <span class="text-danger">*</span></span>
          <app-autocomplete-multi [(ngModel)]="sucursalesSeleccionadas" [items]="sucursales" inputWidth="208px" class="w-[208px]" displayKey="nombre"
            valueKey="id" placeholder="Seleccione sucursales" (changed)="onsucursalesSeleccionadas($event)" [modoModal]="true"
            (eyeClick)="abrirModalAutocomplete('sucursales')">
          </app-autocomplete-multi>
        </div>

        <div class="contenido-formulario">
          <span class="label">Centro de costo <span class="text-danger">*</span></span>
          <app-autocomplete-multi [(ngModel)]="centroSeleccionados" [items]="centros"  inputWidth="208px" class="w-[208px]" displayKey="nombre" valueKey="id"
            placeholder="Seleccione centro de costo" (changed)="oncentrosSeleccionadas($event)" [modoModal]="true"
            (eyeClick)="abrirModalAutocomplete('centros')">
          </app-autocomplete-multi>
        </div>
      </div>

      <div class="contenedor-formulario !p-0">
        <div class="contenido-formulario ">
          <span class="label">Canal(es) operativo(s) <span class="text-danger">*</span></span>
          <app-autocomplete-multi
            [items]="canales"
            displayKey="nombre"
            valueKey="id"
            [mostrarBuscador]="false"
            placeholder="Selecciona uno o varios canales"
            (changed)="onCanalSeleccionado($event)"
          ></app-autocomplete-multi>
        </div>

        <div class="contenido-formulario">
          <span class="label">Tipo de distribución <span class="text-danger">*</span></span>
          <ion-select fill="outline" placeholder="Seleccione un tipo" toggleIcon="chevron-down"
            expandedIcon="chevron-up" interface="popover" class="w-[163px]"
            name="tipoDistribucionSeleccionado" [(ngModel)]="tipoDistribucionSeleccionado">
            @for(tipoDistribucion of tiposDistribucion; track tipoDistribucion.value){<ion-select-option
              [value]="tipoDistribucion.value">{{ tipoDistribucion.label }}</ion-select-option>}
          </ion-select>
        </div>

        <div class="contenido-formulario">
              <span class="label !font-bold">Asignar distribución <span class="text-danger">*</span></span>
              <div class="input-simulado w-[163px]" (click)="abrirModalAsignar()">
                <span class="link">Abrir modal para asignar</span>
              </div>
        </div>
      </div>
    </div>

    <div class="contenedor-btn !py-[5px]">
        <ion-button class="w-fit" (click)="generarReporte()">Generar reporte</ion-button>
    </div>

     <div class="cont-title">
        <span>Reporte Generado</span>
      </div>

      @if(reporteGenerado){
      <div class="contenedor-filtros">
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar por nombre o trabajador" class="w-full"
            style="--padding-start:30px"></ion-input>
        </div>

        <div class="filtros-absolutos">
          <ion-button class="w-[115px] flex-none" fill="outline" id="districucion">
            <fa-icon [icon]="fasDownload" class="mr-1 text-text-85"></fa-icon>
            <span class="text-text-85">Exportar</span>
            <fa-icon class="ml-1 text-text-85" [icon]="fasAngleDown"></fa-icon>
          </ion-button>
          <ion-popover trigger="districucion" triggerAction="click" [dismissOnSelect]="true"
            class="popoverCustomButtonUbicacionActivos dezplegableAcciones2" [showBackdrop]="false">
            <ng-template>
              <ion-item lines="none" [button]="true">Exportar Excel</ion-item>
              <ion-item lines="none" [button]="true">Exportar PDF</ion-item>
            </ng-template>
          </ion-popover>
        </div>
        
      </div>
      
      <div class="min-h-[200px] flex-1" [appLoader]="isLoading()">
        <ag-grid-angular style="width: 100%; height: 100%;" class="" [rowData]="rowDataDetalle"
        [columnDefs]="colDefsDetalle" [context]="context" [rowHeight]="20" [headerHeight]="24" [localeText]="localeText"
        [paginationPageSize]="20" (gridReady)="onGridReadyDetalle($event)" />
      </div>
    }

  </div>
</div>