<div class="contenedor-principal">
  @if (!panelLateralVisible) {
  <div class="flex-none flex items-center bg-[#E6E8F4] text-primary text-xs  cursor-pointer"
    (click)="togglePanelLateral()">
    <fa-icon [icon]="fasChevronsRight"></fa-icon>
  </div>
  }
  @if (panelLateralVisible) {
  <div class="h-full flex-grow overflow-hidden flex flex-col border-r border-text-5">
    <div class="cont-title">
      <span>Gestión de revaluación técnica y comercial de activos</span>
      <div class="px-2 text-primary text-xs cursor-pointer" (click)="togglePanelLateral()">
        @if (panelLateralVisible) {<fa-icon [icon]="fasChevronsLeft"></fa-icon>}
      </div>
    </div>
    <div class="contenedor-filtros">
      <div class="buscador">
        <fa-icon [icon]="farSearch"></fa-icon>
        <ion-input fill="outline" placeholder="Buscar por código o usuario" class="w-full"
          style="--padding-start:30px"></ion-input>
      </div>
      <!-- <ion-select placeholder="Todos los estados" [(ngModel)]="estadoSeleccionado" [ngModelOptions]="{standalone: true}"
        interface="popover" fill="outline" class="w-[163px] flex-none" toggleIcon="chevron-down"
        expandedIcon="chevron-up">
        <ion-select-option value="todos">Todos los estados</ion-select-option>
        <ion-select-option value="proceso">En proceso</ion-select-option>
        <ion-select-option value="contabilizado">Contabilizado</ion-select-option>
        <ion-select-option value="validado">Validado</ion-select-option>
        <ion-select-option value="anulado">anulado</ion-select-option>
      </ion-select> -->
      <div class="filtros-absolutos">
        <ion-button fill="outline" color="primary" class="w-fit" id="reportesrevaluaciones">
          <fa-icon [icon]="fasDownload" class="mr-1 text-text-85"></fa-icon>
          <span class="text-text-85">Exportar</span>
          <fa-icon class="ml-1 text-text-85" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="reportesrevaluaciones" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar PDF</ion-item>
          </ng-template>
        </ion-popover>
        <ion-button class="w-fit" (click)="botonNuevaRevaluacion()"><fa-icon [icon]="fasCirclePlus"
            class="mr-1"></fa-icon> <span class="font-normal">Nueva revaluación</span></ion-button>
      </div>
    </div>
    <div class="h-full relative" [appLoader]="isLoadingRevaluaciones()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular style="width: 100%; height: 100%;" class="" [rowData]="rowData()" [columnDefs]="colDefs" [defaultColDef]="defaultColDef"
        [columnTypes]="columnTypes" [pagination]="true" [localeText]="localeText" [rowHeight]="20" [headerHeight]="24"
        [paginationPageSize]="20" [rowSelection]="'single'" (gridReady)="onGridReady($event)"
        (cellClicked)="onCellClicked($event)" [purgeClosedRowNodes]="true"  />
    </div>
  </div>
  }
  <div class="w-full" [appLoader]="isLoadingRevaluaciones()" [ngClass]="{'panel-derecho': panelLateralVisible}">
    <div class="cont-title">
      <span>Revaluación {{ filaSeleccionada?.revaluacion_codigo }}</span>
    </div>
@if(filaSeleccionada){
    <div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook" ></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>}


    <!-- Tabs -->
    <div class="cont-tabs">
      <div class="btn-scroll" (click)="scrollLeft()">
        <fa-icon [icon]="fasChevronLeft"></fa-icon>
      </div>
      <div class="flex overflow-hidden">
        <ion-segment [value]="tabSeleccionado" (ionChange)="onSegmentChange($event)" #scrollBox mode="md" scrollable
          class="company-tabs">
          <ion-segment-button value="seleccionActivo" class="boton-subsubtitulo">
            <ion-label>Selección del Activo</ion-label>
          </ion-segment-button>
          <ion-segment-button value="ingresoValores" class="boton-subsubtitulo" [disabled]="!seleccionActivoValid">
            <ion-label>Ingreso de Valores</ion-label>
          </ion-segment-button>
          <ion-segment-button value="calculoRevaluacion" class="boton-subsubtitulo" [disabled]="!ingresoValoresValid">
            <ion-label>Cálculo de la Revaluación</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
      <div class="btn-scroll" (click)="scrollRight()">
        <fa-icon [icon]="fasChevronRight"></fa-icon>
      </div>
    </div>

    <form action="" [formGroup]="revaluacionForm">
      <div class="flex flex-col gap-1 h-full w-full">
        @if(tabSeleccionado === 'seleccionActivo'){
        <!-- Contenido del formulario -->
        <div class="contenedor-formulario" [ngClass]="{'flex-col': panelLateralVisible === true}">
          <div class="contenedor-formulario">
            <div class="contenido-formulario">
              <span class="label">Activo <span class="text-danger">*</span></span>
              <app-autocomplete formControlName="activo" [items]="activos" displayKey="nombre" valueKey="id"
                placeholder="Selecciona un activo" (itemSelected)="onActivoSeleccionado($event)">
              </app-autocomplete>
            </div>
            <div class="contenido-formulario">
              <span class="label">Valor Neto Actual <span class="text-danger">*</span></span>
              <ion-input fill="outline" type="number" formControlName="valorNetoA" class="w-[100px]"
                readonly></ion-input>
            </div>
            <div class="contenido-formulario">
              <span class="label">Depreciación Acumulada <span
                  class="text-danger">*</span></span>
              <ion-input fill="outline" type="number" formControlName="depreAcumulada" class="w-[200px]"
                readonly></ion-input>
            </div>
            <div class="contenido-formulario">
              <span class="label">Valor Neto Contable <span class="text-danger">*</span></span>
              <ion-input type="number" fill="outline" formControlName="valorNetoC" class="w-[150px]"
                readonly></ion-input>
            </div>
          </div>
        </div>
        }
        @if(tabSeleccionado === 'ingresoValores'){
        <div class="contenedor-formulario" [ngClass]="{'!flex-row': !panelLateralVisible}">
          <div class="contenedor-formulario" [ngClass]="{'!pb-0': panelLateralVisible}">
            <div class="contenido-formulario">
              <span class="label">Tipo de Revaluación <span class="text-danger">*</span></span>
              <ion-select placeholder="Selecciona un tipo de revaluacion" formControlName="tipoRevaluacion"
                interface="popover" fill="outline" class="w-[186px] text-xxs" toggleIcon="chevron-down"
                expandedIcon="chevron-up">
                <ion-select-option value="tecnica">Técnica</ion-select-option>
                <ion-select-option value="comercial">Comercial</ion-select-option>
              </ion-select>
            </div>
            <div class="contenido-formulario">
              <span class="label">Fecha de Revaluacion <span class="text-danger">*</span></span>
              <app-base-calendar-new mode="single" class="w-[178px] flex-none"
                (dateSelected)="onFechaRevaluacionSelected($event)"></app-base-calendar-new>
            </div>
            <div class="contenido-formulario">
              <span class="label">Fuente de Revaluación <span class="text-danger">*</span></span>
              <ion-select placeholder="Selecciona un tipo de revaluacion" formControlName="estado" interface="popover"
                fill="outline" class="w-[186px] text-xxs" toggleIcon="chevron-down" expandedIcon="chevron-up">
                <ion-select-option value="informeTecnico">Informe técnico</ion-select-option>
                <ion-select-option value="indiceOfic">Índice oficial</ion-select-option>
                <ion-select-option value="otro">Otro</ion-select-option>
              </ion-select>
            </div>
            <div class="contenido-formulario">
              <span class="label">Factor de Revaluación <span class="text-danger">*</span></span>
              <ion-input fill="outline" formControlName="factorRevaluacion" class="w-[100px]"></ion-input>
            </div>
            <div class="contenido-formulario">
              <span class="label">Nuevo valor<span class="text-danger">*</span></span>
              <ion-input fill="outline" type="number" formControlName="nuevoValor" class="w-[100px]"></ion-input>
            </div>
          </div>
          <div class="contenedor-formulario" [ngClass]="{'!pt-0': panelLateralVisible}">
            <div class="contenido-formulario">
              <span class="label">Moneda <span class="text-danger">*</span></span>
              <ion-select placeholder="Selecciona una moneda" formControlName="moneda" interface="popover"
                fill="outline" class="w-[186px] text-xxs" toggleIcon="chevron-down" expandedIcon="chevron-up">
                <ion-select-option value="Soles">Soles</ion-select-option>
                <ion-select-option value="usd">Dólares</ion-select-option>
              </ion-select>
            </div>
            <div class="contenido-formulario">
              <label class="label">Documento de soporte<span class="text-danger">*</span></label>
              <div class="flex items-center gap-2 w-40 h-[22px] border border-[#CCCCCC] rounded-sm px-2"
                [ngClass]="{'bg-Background-light': documentoSoporte}">
                @if (documentoSoporte) {
                <span class="text-xxs flex-1 line-clamp-1">{{ documentoSoporte }}</span>
                <fa-icon [icon]="farCircleXmark" class="text-danger cursor-pointer text-xs"
                  (click)="removeFile()">
                </fa-icon>
                } @else {
                <input type="file" #fileInput (change)="onFileSelected($event)" class="hidden">
                <span class="text-xxs cursor-pointer flex-1 line-clamp-1 underline text-primary"
                  (click)="fileInput.click()">
                  Haz clic para subir un archivo
                </span>
                }
              </div>
            </div>
            <div class="contenido-formulario">
              <span class="label">Responsable/Valuador <span class="text-danger">*</span></span>
              <div class="flex flex-row">
                <ion-select placeholder="" toggleIcon="chevron-down" expandedIcon="chevron-up"
                  formControlName="responsableValuador" interface="popover" fill="outline" class="min-w-[55px] text-xxs" style="width: 80px !important; --border-top-right-radius: 0px !important; --border-bottom-right-radius: 0px !important;">
                  <ion-select-option value="usuario">Usuario</ion-select-option>
                  <ion-select-option value="entidad">Entidad</ion-select-option>
                </ion-select>
                <ion-input fill="outline" formControlName="responsableValuadorinput"
                class="w-[100px] -ml-1" style="--border-radius: 0px !important"></ion-input>
                </div>
            </div>
          </div>
        </div>
        }
        @if(tabSeleccionado === 'calculoRevaluacion'){
        <!-- Contenido del formulario - TODOS LOS CAMPOS DESHABILITADOS (se llenan automáticamente) -->
        <div class="contenedor-formulario" [ngClass]="{'flex-col': panelLateralVisible === true}">
          <div class="contenedor-formulario">
            <div class="contenido-formulario">
              <span class="label">Valor Revaluado <span class="text-danger">*</span></span>
              <ion-input fill="outline" [disabled]="true" formControlName="valorRev" class="w-[100px]"></ion-input>
            </div>
            <div class="contenido-formulario">
              <span class="label">Depreciación Acumulada <span class="text-danger">*</span></span>
              <ion-input fill="outline" [disabled]="true" formControlName="depreAcum" class="w-[100px]"></ion-input>
            </div>
            <div class="contenido-formulario">
              <span class="label">Ajuste de Valor <span class="text-danger">*</span></span>
              <ion-input fill="outline" [disabled]="true" formControlName="ajusteVal" class="w-[100px]"></ion-input>
            </div>
            <div class="contenido-formulario">
              <span class="label">Ajuste Contable <span class="text-danger">*</span></span>
              <ion-input fill="outline" [disabled]="true" formControlName="ajusteCont" class="w-[100px]"></ion-input>
            </div>
          </div>
        </div>
        }

        <div class="flex w-full justify-end px-2.5 gap-2 py-2">
          @if(tabSeleccionado === 'ingresoValores' && !filaSeleccionada?.revaluacion_estado){
          <ion-button fill="outline" class="w-fit mr-auto" (click)="tabSeleccionado = 'seleccionActivo'">
            <fa-icon [icon]="fasAngleLeft" class="mr-1 text-text-85"></fa-icon>
            <span class="text-text-85">Anterior</span>
          </ion-button>
          }

          @if(tabSeleccionado === 'calculoRevaluacion' && !filaSeleccionada?.revaluacion_estado){
          <ion-button fill="outline" class="w-fit mr-auto" (click)="tabSeleccionado = 'ingresoValores'">
            <fa-icon [icon]="fasAngleLeft" class="mr-1 text-text-85"></fa-icon>
            <span class="text-text-85">Anterior</span>
          </ion-button>
          }
          @if (filaSeleccionada?.revaluacion_estado) {
          <ion-button fill="outline" color="danger" class="w-fit mr-auto" [disabled]="disabledAnular"
            (click)="anularRevaluacion()">
            <span>Anular</span>
          </ion-button>
          <ion-button class="w-fit" [disabled]="disabledValidar" (click)="validarRevaluacion()">
            <span>Validar</span>
          </ion-button>
          }
          @if(tabSeleccionado === 'seleccionActivo' && !filaSeleccionada?.revaluacion_estado){
          <ion-button class="w-fit" [disabled]="!seleccionActivoValid" (click)="nextTab()">
            Siguiente
            <fa-icon [icon]="fasAngleRight" class="ml-1 text-white"></fa-icon>
          </ion-button>
          }
          @if(tabSeleccionado === 'ingresoValores' && !filaSeleccionada?.revaluacion_estado){
          <ion-button class="w-fit" [disabled]="!ingresoValoresValid" (click)="nextTabIngreso()">
            Siguiente
            <fa-icon [icon]="fasAngleRight" class="ml-1 text-white"></fa-icon>
          </ion-button>
          }
          @if(tabSeleccionado === 'calculoRevaluacion' && !filaSeleccionada?.revaluacion_estado){
          <ion-button class="w-fit" (click)="guardarRevaluacion()">Confirmar revaluación</ion-button>
          }
        </div>
      </div>
    </form>

  </div>
</div>