<div class="contenedor-principal">
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span>Reporte de Stock por Fecha</span>
    </div>
    <div class="contenedor-filtros">
      <div class="filtros-responsive">
        <div class="buscador">
          <fa-icon [icon]="farSearch" class=""></fa-icon>
          <ion-input fill="outline" placeholder="Buscar por código, producto o categoría " class="w-full"
            style="--padding-start:30px"></ion-input>
        </div>
      </div>
        <app-base-calendar-new class="flex-none" mode="range" [initialStartDate]="startDate"
          [initialEndDate]="endDate" [minDate]="minDate" [maxDate]="maxDate" position="center"
          (dateRangeSelected)="filtrarPorFechas($event)">
        </app-base-calendar-new>
      <div class="filtros-absolutos">
        <ion-button class="w-[115px] text-text-85" id="reportesdevoluciones" fill="outline">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="reportesdevoluciones" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false" (click)="exportarPdf()">Exportar PDF</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false" (click)="exportarExcel()">Exportar Excel</ion-item>
          </ng-template>
        </ion-popover>
      </div>
    </div>

    <!-- Indicadores -->
    <div class="cont-cards">
      <div class="card">
        <div class="contenido">
          <span class="title">Nivel cobertura de stock (en días)</span>
          <ion-skeleton-text *ngIf="isLoading()" [animated]="true" style="width: 100%;height: 20px;"></ion-skeleton-text>
          <span *ngIf="!isLoading()" class="cantidad">10 días</span>
        </div>
        <div class="icon">
          <fa-icon [icon]="fasCalendar"></fa-icon>
        </div>
      </div>
      <div class="card">
        <div class="contenido">
          <span class="title">% productos bajo stock mínimo</span>
          <ion-skeleton-text *ngIf="isLoading()" [animated]="true" style="width: 100%;height: 20px;"></ion-skeleton-text>
          <span *ngIf="!isLoading()" class="cantidad">20%</span>
        </div>
        <div class="icon">
          <fa-icon [icon]="fasWarning"></fa-icon>
        </div>
      </div>
      <div class="card">
        <div class="contenido">
          <span class="title">Valor total de inv. disponible</span>
          <ion-skeleton-text *ngIf="isLoading()" [animated]="true" style="width: 100%;height: 20px;"></ion-skeleton-text>
          <span *ngIf="!isLoading()" class="cantidad">S/ 999,999.00</span>
        </div>
        <div class="icon">
          <fa-icon [icon]="fasFiles"></fa-icon>
        </div>
      </div>
    </div>

    <div class="h-full relative" [appLoader]="isLoading()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular style="width: 100%; height: 100%;" class="" [rowData]="almacenFacade.reporteStockFecha()" [columnDefs]="colDefs"
        [columnTypes]="columnTypes" [pagination]="true" [rowHeight]="20" [headerHeight]="24" [localeText]="localeText"
        [paginationPageSize]="20" rowSelection="single" [suppressLoadingOverlay]="true"
        (gridReady)="onGridReady($event)" (cellClicked)="onCellClicked($event)"></ag-grid-angular>
    </div>
  </div>
  <div class="panel-derecho h-full" [appLoader]="isLoading()">
    <div class="cont-title mb-1.5">
      <span>Reporte de stock: {{ selectedProducto?.stock_fecha_codigo || '-' }}</span>
    </div>
    <div class="cont-cards !px-2.5">
      <div class="card">
        <div class="contenido">
          <span class="title">Stock mínimo</span>
          <ion-skeleton-text *ngIf="isLoading()" [animated]="true" style="width: 200px;height: 20px;"></ion-skeleton-text>
          <span *ngIf="!isLoading()" class="cantidad">10</span>
        </div>
        <div class="icon">
          <fa-icon [icon]="fasArrowDown"></fa-icon>
        </div>
      </div>
      <div class="card">
        <div class="contenido">
          <span class="title">Stock máximo</span>
          <ion-skeleton-text *ngIf="isLoading()" [animated]="true" style="width: 200px;height: 20px;"></ion-skeleton-text>
          <span *ngIf="!isLoading()" class="cantidad">20</span>
        </div>
        <div class="icon">
          <fa-icon [icon]="fasArrowUp"></fa-icon>
        </div>
      </div>
    </div>

    <div class="cont-cards !px-2.5">
      <div class="card !max-w-full">
        <div class="contenido">
          <span class="title">Punto de reposición</span>
          <ion-skeleton-text *ngIf="isLoading()" [animated]="true" style="width: 200px;height: 20px;"></ion-skeleton-text>
          <span *ngIf="!isLoading()" class="cantidad">10</span>
        </div>
        <div class="icon">
          <fa-icon [icon]="fasCalculator"></fa-icon>
        </div>
      </div>
    </div>
    
    <form class="contenedor-formulario">
      <div class="contenido-formulario">
        <span class="label">Nombre de producto</span>
        <ion-input fill="outline" class="w-[163px]" disabled="true" [value]="selectedProducto?.stock_fecha_producto"></ion-input>
      </div>
      <div class="contenido-formulario">
        <span class="label">Stock disponible</span>
        <ion-input fill="outline" class="w-[163px]" disabled="true" [value]="selectedProducto?.stock_fecha_stock_disponible"></ion-input>
      </div>
      <div class="contenido-formulario">
        <span class="label">Stock comprometido</span>
        <ion-input fill="outline" class="w-[163px]" disabled="true" [value]="selectedProducto?.stock_fecha_stock_comprometido"></ion-input>
      </div>
      <div class="contenido-formulario">
        <span class="label">Valor unitario promedio</span>
        <ion-input fill="outline" class="w-[163px]" disabled="true" [value]="selectedProducto?.stock_fecha_valor_unitario ? 'S/ ' + selectedProducto?.stock_fecha_valor_unitario?.toFixed(2) : ''"></ion-input>
      </div>
      <div class="contenido-formulario">
        <span class="label">Valor total en existencia</span>
        <ion-input fill="outline" class="w-[163px]" disabled="true" [value]="selectedProducto?.stock_fecha_valor_total ? 'S/ ' + selectedProducto?.stock_fecha_valor_total?.toFixed(2) : ''"></ion-input>
      </div>
      <div class="contenido-formulario">
        <span class="label">Fecha de último mov.</span>
        <ion-input fill="outline" class="w-[163px]" disabled="true" [value]="selectedProducto?.stock_fecha_ultimo_movimiento"></ion-input>
      </div>
      <div class="contenido-formulario">
        <span class="label">Estado</span>
        <ion-input fill="outline" class="w-[163px]" disabled="true" [value]="selectedProducto?.stock_fecha_estado"></ion-input>
      </div>
    </form>
  </div>
</div>