<!-- <div class="flex h-screen flex-col">
  <app-header class="h-[50px]"></app-header>
  <div class="flex flex-grow">
    <app-sidebar class="w-[100px] flex-none border-r border-text-5 bg-[#f5f5f5]"></app-sidebar>
    <div class="content-router flex-1">
        <ion-router-outlet class="content-router contents"></ion-router-outlet>
    </div>
  </div>
</div>  -->

<ion-app>
  <div class="relative flex h-screen flex-col overflow-auto">
    <app-header class="h-[50px]"></app-header>
    <app-sidebar class="w-full overflow-auto border-r border-text-5 no-scroll z-40"></app-sidebar>
    <div class="flex flex-grow overflow-auto z-10">
      <ion-content class="flex-1 overflow-auto">
        <ion-router-outlet [animated]="false"></ion-router-outlet>
      </ion-content>
    </div>
    <app-chat-ia *ngIf="mostrarChatIa"></app-chat-ia>
  </div>
</ion-app>
