
<div class="inputfecha bg-white"
     [style.width.px]="width"
     [attr.id]="triggerId">
  <span class="text-xs font-normal text-[#868686] absolute top-0.5 left-2 select-none">
    {{ control.value ? (control.value | date: displayFormat) : placeholder }}
  </span>
</div>

<ion-popover
  #datePop
  [trigger]="triggerId"
  triggerAction="click"
  [showBackdrop]="showBackdrop"
  class="">
  <ng-template>
    <ion-datetime
      [presentation]="presentation"
      [formControl]="control"
      [locale]="locale"
      [firstDayOfWeek]="firstDayOfWeek"
      (ionChange)="datePop.dismiss()">
    </ion-datetime>
  </ng-template>
</ion-popover>