ion-popover.date-popover {
  --min-width: 250px;
  --max-width: 260px;
  // --min-height: 357px;
  --backdrop-opacity: 0; 
}
ion-popover.date-popover ion-datetime {
  --day-size: 32px; 
}
ion-datetime::part(calendar-day) {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  font-size: 12px;    
}
ion-popover.date-popover ion-datetime::part(wheel-item) {
  font-size: 14px;
  line-height: 32px;
  height: 32px;
}