<div class="contenedor-principal">
  @if(!mostrartabla){
  <div class="flex items-center justify-center w-[15px] bg-[#E6E8F4]" (click)="mostrartabla=!mostrartabla">
    <fa-icon [icon]="fasChevronsRight" class="text-xs text-primary cursor-pointer"></fa-icon>
  </div>
  }
  @if(mostrartabla){
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span class="">Lista de productos - Cuadre de stock</span>
      <fa-icon [icon]="fasChevronsLeft" class="text-xs text-primary cursor-pointer"
        (click)="mostrartabla=!mostrartabla"></fa-icon>
    </div>
    <div class="contenedor-filtros">
      <div class="filtros-responsive">
        <div class="relative flex-1">
          <fa-icon [icon]="farSearch" class="absolute left-2.5 top-1.5 text-xxs text-[#878787] z-40"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar por código o descripción" style="--padding-start:30px"></ion-input>
        </div>
      </div>

      <app-base-calendar-new (click)="togglePanelLateral();mostrartabla=false"
        [ngClass]="{'w-[230px]': !mostrartabla,}" class="flex-none " mode="range"
        [initialStartDate]="startDate" [initialEndDate]="endDate" [minDate]="minDate" [maxDate]="maxDate"
        position="left" (dateRangeSelected)="filtrarPorFechas($event)">
      </app-base-calendar-new>

      <ion-button fill="outline" class="text-text-85 w-[115px]" id="reportescuadre">
        <fa-icon [icon]="fasCog" class="mr-1"></fa-icon>
        <span>Acciones</span>
        <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
      </ion-button>
      <ion-popover trigger="reportescuadre" triggerAction="click" [dismissOnSelect]="true"
        class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
        <ng-template>
          <ion-item lines="none" [button]="true" [detail]="false" (click)="exportarExcel()">Exportar Excel</ion-item>
          <ion-item lines="none" [button]="true" [detail]="false" (click)="exportarPdf()">Exportar PDF</ion-item>
          <ion-item lines="none" [button]="true" [detail]="false">Importar información de almacenes</ion-item>
        </ng-template>
      </ion-popover>

      <div class="flex items-center gap-3 flex-none">
        <ion-button class="w-fit" [disabled]="filasSeleccionadasCount < 2" (click)="abrirModalRecalcularTodos()">
          Recalcular
        </ion-button>
      </div>
    </div>

    <div class="flex h-full relative" [appLoader]="isLoading()">
      <fa-icon [icon]="fasRotateRight" (click)="onBtReset()"
        class="btn-refresh"></fa-icon>
      <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-alpine" [rowSelection]="rowSelection"
        [initialState]="initialState" [rowData]="rowData" [rowHeight]="20" [headerHeight]="24" [pagination]="true" [defaultColDef]="defaultColDef"
        [columnDefs]="colDefs" [rowSelection]="'multiple'" (gridReady)="onGridReady($event)"
        (cellClicked)="onCellClicked($event)" (selectionChanged)="onSelectionChanged($event)" [domLayout]="'normal'" [purgeClosedRowNodes]="true"
        [localeText]="localeText" />
    </div>
  </div>
  }
  <div class="panel-derecho" [ngClass]="{'!w-full !flex-auto':!mostrartabla}" [appLoader]="isLoading()">
    <div class="cont-title">
      <span class="">{{productoSeleccionadoNombre }} </span>
    </div>
    @if(filaSeleccionada){<div class="flex justify-end w-full bg-[#F5F5F5] px-1" (click)="modalverActualizaciones()">
      <div class="flex flex-row gap-2 p-1 cursor-pointer">
        <fa-icon [icon]="farBook" class="text-xs text-[#636E95]"></fa-icon>
        <span class="text-[#636E95] text-xs font-semibold underline cursor-pointer">Ver últimas actualizaciones</span>
      </div>
    </div>}

    <div class="flex flex-col overflow-y-auto h-full">
      <form [formGroup]="recalculoForm" class="p-2.5 flex flex-col gap-3">
        <div class="grid gap-x-4 gap-y-2" [ngClass]="{'grid-cols-2': !mostrartabla, 'grid-cols-1': mostrartabla}">

          <!-- Fecha de corte -->
          <div class="contenido-formulario">
            <span class="label">Fecha de corte <span class="text-danger">*</span></span>
            <div class="flex flex-col gap-1">
              <app-base-calendar-new (click)="togglePanelLateral();mostrartabla=false"
                [ngClass]="{'w-[230px]': !mostrartabla, '!w-[168px]': mostrartabla}" mode="range"
                [initialStartDate]="startDate" [initialEndDate]="endDate" [minDate]="minDate" [maxDate]="maxDate"
                position="left" (dateRangeSelected)="filtrarPorFechas($event)" [placeholder]="'Selecciona una fecha'">
              </app-base-calendar-new>

              <div class="flex items-center gap-1 text-xxss">
                <fa-icon [icon]="farInfoCircle"></fa-icon>
                <span>Fecha límite de reproceso de movimientos</span>
              </div>
            </div>
          </div>
          
          <!-- Almacén -->
          <div class="contenido-formulario">
            <span class="label">Almacén <span class="text-danger">*</span></span>
            <app-autocomplete [ngClass]="{'w-[230px]': !mostrartabla, '!w-[173px]': mostrartabla}" [items]="almacenes()"
              displayKey="almacen_nombre" valueKey="almacen_codigo" placeholder="selecciona un almacén"
              [ngModel]="recalculoForm.get('almacen')?.value" [ngModelOptions]="{standalone: true}"
              (itemSelected)="onAlmacenSeleccionado($event)">
            </app-autocomplete>
          </div>
        </div>
        <div class="flex items-center gap-3 justify-end mt-3">
          <ion-button fill="outline" class="text-text-85 w-[115px]" id="reportesasignacionratios"
            [disabled]="botonExportarDeshabilitado">
            <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
            <span>Exportar</span>
            <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
          </ion-button>
          <ion-popover trigger="reportesasignacionratios" triggerAction="click" [dismissOnSelect]="true"
            class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
            <ng-template>
              <ion-item lines="none" [button]="true" [detail]="false" (click)="exportarExcel()">Exportar Excel</ion-item>
              <ion-item lines="none" [button]="true" [detail]="false" (click)="exportarPdf()">Exportar PDF</ion-item>
            </ng-template>
          </ion-popover>
          <ion-button class="w-fit" [disabled]="botonBuscarDeshabilitado" (click)="buscarMovimientos()">
            Buscar
          </ion-button>
        </div>
      </form>

      <div class="cont-title">
        <span class="">Lista de movimientos</span>
      </div>

      <!-- Contenedor con scroll horizontal condicional -->
      <div class="cont-cards">
        <div class="card">
          <div class="contenido">
            <span class="title">Stock actual</span>
            <span class="cantidad">{{stockActualDisplay}}</span>
          </div>
          <div class="icon">
            <fa-icon [icon]="fasBox"></fa-icon>
          </div>
        </div>

        @if(!mostrartabla){<div class="card">
          <div class="contenido">
            <span class="title">Stock recalculado</span>
            <span class="cantidad">{{stockRecalculadoDisplay}}</span>
          </div>
          <div class="icon">
            <fa-icon [icon]="fasSyncAlt"></fa-icon>
          </div>
        </div>

        <div class="card">
          <div class="contenido">
            <span class="title">Diferencia</span>
            <span class="cantidad" [ngClass]="{
                'text-danger': diferenciaDisplay.includes('-'),
                'text-success': !diferenciaDisplay.includes('-') && !diferenciaDisplay.startsWith('0.00'),
                'text-gray-600': diferenciaDisplay.startsWith('0.00')
              }">
              {{diferenciaDisplay}}
            </span>
          </div>
          <div class="icon">
            <fa-icon [icon]="fasExchangeAlt"></fa-icon>
          </div>
        </div>}
      </div>

      <div class="h-[200px] flex flex-auto">
        <ag-grid-angular style="width: 100%; height: 100%;" [rowData]="movimientosRowData"
          [columnDefs]="movimientosColDefs" [columnTypes]="columnTypes" [pagination]="false" [localeText]="localeText"
          [rowHeight]="20" [headerHeight]="24" />
      </div>
      <div class="flex gap-3 justify-end p-2">
        <ion-button fill="outline" [disabled]="botonesDesactivados2" class="w-fit" (click)="abrirModalRevertir()">
          Revertir
        </ion-button>
        <ion-button [disabled]="botonesDesactivados" class="w-fit" (click)="abrirModalRecalcular()">
          Recalcular
        </ion-button>
      </div>

    </div>
  </div>
</div>