<div class="modal-confirmation">
  <div class="modal-confirmation__header">
    <span class="modal-confirmation__title">{{ titlemodal }}</span>
    <button type="button" class="modal-confirmation__close" (click)="cerrarModal(false)" aria-label="Cerrar">
      <ion-icon name="close-outline"></ion-icon>
    </button>
  </div>
  <div class="modal-confirmation__body">
    @if (tipemodal === 'confirm' || tipemodal === 'success') {
      <ion-icon name="checkmark-circle-outline" class="modal-confirmation__icon modal-confirmation__icon--success"></ion-icon>
    }
    @if (tipemodal === 'error') {
      <ion-icon name="close-circle-outline" class="modal-confirmation__icon modal-confirmation__icon--error"></ion-icon>
    }
    @if (tipemodal === 'warning') {
      <ion-icon name="warning-outline" class="modal-confirmation__icon modal-confirmation__icon--warning"></ion-icon>
    }
    <span class="modal-confirmation__heading">{{ title }}</span>
    <span class="modal-confirmation__message" [innerHTML]="message"></span>
    @if (submessage) {
      <span class="modal-confirmation__message" [innerHTML]="submessage"></span>
    }
    <div class="modal-confirmation__actions">
      @if (btnCancelTxt) {
        <button type="button" class="btn btn-default" (click)="cerrarModal(false)">{{ btnCancelTxt }}</button>
      }
      @if (tipemodal === 'error' || tipemodal === 'warning') {
        <button type="button" class="btn btn-danger" (click)="cerrarModal(true)">{{ btnOkTxt }}</button>
      } @else {
        <button type="button" class="btn btn-success" (click)="cerrarModal(true)">{{ btnOkTxt }}</button>
      }
    </div>
  </div>
</div>
