<div class="modal-confirmation">
  <div class="modal-confirmation__header">
    <span class="modal-confirmation__title">{{ titlemodal }}</span>
    <button type="button" class="modal-confirmation__close" (click)="cerrarModal(false)" aria-label="Cerrar">
      <ion-icon name="close-outline"></ion-icon>
    </button>
  </div>
  <div class="modal-confirmation__body">
    @if (tipemodal == 'confirm') {
      <ion-icon name="checkmark-circle-outline" class="modal-confirmation__icon modal-confirmation__icon--success"></ion-icon>
    }
    @if (tipemodal == 'error') {
      <ion-icon name="close-circle-outline" class="modal-confirmation__icon modal-confirmation__icon--error"></ion-icon>
    }
    <span class="modal-confirmation__heading">{{ title }}</span>
    <span class="modal-confirmation__message" [innerHTML]="message"></span>
    <span class="modal-confirmation__message" [innerHTML]="submessage"></span>
    <div class="modal-confirmation__actions">
      @if (btnCancelTxt) {
        <ion-button fill="outline" color="medium" (click)="cerrarModal(false)">{{ btnCancelTxt }}</ion-button>
      }
      <ion-button color="primary" (click)="cerrarModal(true)">{{ btnOkTxt }}</ion-button>
    </div>
  </div>
</div>
