<div class="w-full flex flex-col overflow-auto flex-grow h-full">
  <div class="w-full flex-grow flex flex-col h-full">
    <div class="cont-title">
      <span>Nuevo reporte de rotación y ausentismo</span>
    </div>

    <!-- Contenido del filtro -->
    <div class="contenedor-formulario !gap-2.5">
      <div class="filtros-responsive">
        <div class="form-column2">
          <!-- Primera fila Comentado por Diego-->
          <!-- <div class="contenido-formulario">
            <span class="label">Razón social</span>
            <ion-input
              fill="outline"
              placeholder="Importadora Vinos del Sur EIRL"
              class="w-[280px]"
              [disabled]="true">
            </ion-input>
          </div> -->

          <!-- <div class="contenido-formulario">
            <span class="label">Indicadores a mostrar <span class="text-danger">*</span></span>
            <app-autocomplete-multi
              class="w-[320px]"
              [items]="indicadores"
              displayKey="label"
              valueKey="value"
              placeholder="Selecciona uno o más tipos de indicadores"
              [(ngModel)]="indicadoresSeleccionados"
              (changed)="onIndicadoresSeleccionados($event)">
            </app-autocomplete-multi>
          </div> --> 

          <!-- Segunda fila comentado por Diego --> 
          <!-- <div class="contenido-formulario">
            <span class="label">Usuario ejecutor</span>
            <ion-input
              fill="outline"
              placeholder="Eduardo Jiménez López"
              class="w-[200px]"
              [disabled]="true">
            </ion-input>
          </div> -->

          <div class="contenido-formulario">
            <span class="label">Tipo de contrato <span class="text-danger">*</span></span>
            <app-autocomplete-multi
              inputWidth="208px"
              class="w-[208px]"
              [items]="tiposContrato"
              displayKey="label"
              valueKey="value"
              placeholder="Selecciona uno o varios tipos"
              [(ngModel)]="tiposContratoSeleccionados"
              (changed)="onTiposContratoSeleccionados($event)">
            </app-autocomplete-multi>
          </div>

          <!-- Tercera fila -->
          <div class="contenido-formulario">
            <span class="label">Periodo de pago</span>
            <app-month-year-picker
              class="flex-none w-[130px]"
              [placeholder]="'Elige un periodo'"
              (dateSelected)="onPeriodoSeleccionado($event)">
            </app-month-year-picker>
          </div>
          <div class="contenido-formulario">
            <span class="label">Canal(es) operativo(s) <span class="text-danger">*</span></span>
            <app-autocomplete-multi
              inputWidth="208px"
              class="w-[208px]"
              [items]="canales"
              displayKey="nombre"
              valueKey="id"
              placeholder="Selecciona uno o varios canales"
              [(ngModel)]="canalesSeleccionados"
              (changed)="onCanalesSeleccionados($event)">
            </app-autocomplete-multi>
          </div>

          <!-- Cuarta fila -->
          <div class="contenido-formulario">
            <span class="label">Sucursal(es) <span class="text-danger">*</span></span>
            <app-autocomplete-multi
              inputWidth="250px"
              class="w-[250px]"
              [items]="sucursales"
              displayKey="nombre"
              valueKey="id"
              [modoModal]="true"
              placeholder="Selecciona una o varias sucursales"
              [(ngModel)]="sucursalesSeleccionadas"
              (changed)="onSucursalesSeleccionadas($event)"
              (eyeClick)="abrirModalAutocomplete('sucursales')"
              
              >
            </app-autocomplete-multi>
          </div>

          <div class="contenido-formulario">
            <span class="label">Umbral de ausentismo <span class="text-danger">*</span></span>
            <ion-input
              fill="outline"
              placeholder="Indicar porcentaje"
              class="w-[150px]"
              type="number"
              [(ngModel)]="umbralAusentismo">
              <div slot="end" class="pr-2 font-bold">%</div>
            </ion-input>
          </div>

          <!-- Quinta fila -->
          <div class="contenido-formulario">
            <span class="label">Área(s) de producción <span class="text-danger">*</span></span>
            <app-autocomplete-multi
              inputWidth="250px"
              class="w-[250px]"
              [items]="areasProduccion"
              displayKey="nombre"
              valueKey="id"
              placeholder="Selecciona una o varias áreas de producción"
              [(ngModel)]="areasProduccionSeleccionadas"
              (changed)="onAreasProduccionSeleccionadas($event)"
              (eyeClick)="abrirModalAutocomplete('areasProduccion')"
              [modoModal]="true">
            </app-autocomplete-multi>
          </div>
        </div>
      </div>

      <!-- Botones de acción -->
      <div class="flex items-center gap-3 w-full justify-end">
        <ion-button class="w-fit" [disabled]="!formularioValido" (click)="generarReporte()">
          <span class="font-normal">Generar Reporte</span>
        </ion-button>
      </div>
    </div>

    <div class="flex flex-col w-full h-full overflow-auto">
      <div class="cont-title">
        <span>Reporte generado</span>
      </div>

      @if(reporteGenerado){
      <!-- Tarjetas de indicadores -->
      <div class="flex items-center w-full p-[6px] gap-3 !pb-0">
        <div class="flex items-center min-w-[128px] w-full h-full max-w-[244px] py-2.5 px-2 sm:gap-[7px] xl:gap-3 border rounded border-text-5">
          <div class="flex flex-col w-full gap-1">
            <span class="text-xxs text-text-85 font-normal">Rotación de personal</span>
            @if (!isLoading()) {
              <span class="text-sm text-text-85 font-bold">{{rotacionPersonal}}</span>
              <span class="text-xxs"><span class="text-[#16A34A]">{{ingresos}} Ingresos</span> / <span class="text-[#EF4444]">{{ceses}} Ceses</span></span>
            } @else {
              <ion-skeleton-text [animated]="true" style="width: 40px; height: 20px;"></ion-skeleton-text>
              <ion-skeleton-text [animated]="true" style="width: 90px; height: 14px;"></ion-skeleton-text>
            }
          </div>
          <div class="flex items-center justify-center p-2 rounded-3xl h-7 w-7 flex-none bg-[#ECF4FF] text-xs text-primary">
            <fa-icon [icon]="fasUsers"></fa-icon>
          </div>
        </div>

        <div class="flex items-center min-w-[128px] w-full h-full max-w-[244px] py-2.5 px-2 sm:gap-[7px] xl:gap-3 border rounded border-text-5">
          <div class="flex flex-col w-full gap-1">
            <span class="text-xxs text-text-85 font-normal">Ausentismo</span>
            @if (!isLoading()) {
              <span class="text-sm text-text-85 font-bold">{{ausentismoHoras}} horas perdidas</span>
              <span class="text-xxs text-[#EF4444]">{{ausentismoPorcentaje}} del total de horas</span>
            } @else {
              <ion-skeleton-text [animated]="true" style="width: 110px; height: 20px;"></ion-skeleton-text>
              <ion-skeleton-text [animated]="true" style="width: 90px; height: 14px;"></ion-skeleton-text>
            }
          </div>
          <div class=" flex items-center justify-center p-2 rounded-3xl h-7 w-7 flex-none bg-[#ECF4FF] text-xs text-primary">
            <fa-icon [icon]="fasClock"></fa-icon>
          </div>
        </div>

        <div class="flex items-center min-w-[128px] w-full h-full max-w-[244px] py-2.5 px-2 sm:gap-[7px] xl:gap-3 border rounded border-text-5">
          <div class="flex flex-col w-full gap-1">
            <span class="text-xxs text-text-85 font-normal">Dotación</span>
            @if (!isLoading()) {
              <span class="text-sm text-text-85 font-bold">Actual: {{dotacionActual}} <span class="text-text-60 font-bold pl-3">Ideal: {{dotacionIdeal}}</span></span>
              <span class="text-xxs text-[#EF4444]">Brecha {{dotacionBrecha}} ({{dotacionBrechaPorcentaje}})</span>
            } @else {
              <ion-skeleton-text [animated]="true" style="width: 130px; height: 20px;"></ion-skeleton-text>
              <ion-skeleton-text [animated]="true" style="width: 90px; height: 14px;"></ion-skeleton-text>
            }
          </div>
          <div class=" flex items-center justify-center p-2 rounded-3xl h-7 w-7 flex-none bg-[#ECF4FF] text-xs text-primary">
            <fa-icon [icon]="fasTable"></fa-icon>
          </div>
        </div>
      </div>

      <div class="contenedor-filtros">
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar por nombre de trabajador" class="w-full" style="--padding-start:30px"></ion-input>
        </div>
        <div class="filtros-absolutos">
          <ion-button class="w-[115px]" fill="outline" id="exportar">
            <fa-icon [icon]="fasDownload" class="mr-1 text-text-85"></fa-icon>
            <span class="text-text-85">Exportar</span>
            <fa-icon class="ml-1 text-text-85" [icon]="fasAngleDown"></fa-icon>
          </ion-button>
          <ion-popover trigger="exportar" triggerAction="click" [dismissOnSelect]="true" class="popoverCustomButtonUbicacionActivos dezplegableAcciones2" [showBackdrop]="false">
            <ng-template>
              <ion-item lines="none" [button]="true">Exportar Excel</ion-item>
              <ion-item lines="none" [button]="true">Exportar PDF</ion-item>
            </ng-template>
          </ion-popover>
        </div>
      </div>

      <!-- Tabla de resultados -->
      <div class="flex h-full" [appLoader]="isLoading()">
        <ag-grid-angular 
          style="width: 100%; height: 100%;" 
          class=""
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [context]="context"
          [rowHeight]="20"
          [headerHeight]="24"
          [localeText]="localeText"
          (gridReady)="onGridReady($event)" />
      </div>
      }
    </div>

    <!-- Botón cancelar reporte -->
    @if(!reporteGenerado){
    <div class="flex items-center gap-3 w-full justify-end p-3">
      <ion-button class="w-fit" fill="outline" color="medium">
        <span class="font-normal">Cancelar reporte</span>
      </ion-button>
    </div>
    }
  </div>
</div>