<ion-content [fullscreen]="true">
  <div class="login-bg"></div>

  <div class="login-page">
    <div class="login-card">
      <div class="login-brand">
        <img src="assets/imagenes/auth/logo-contabilidad.svg" alt="Restaurant.pe" class="login-img" />
      </div>

      <div class="login-content">
        @if(!vistaVerif){<div class="login-title-group">
          <span class="login-title">¡Bienvenido a Contabilidad!</span>
        </div>

        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="field-group">
            <span class="field-label">Usuario o correo electrónico</span>
            <ion-input 
              fill="outline" 
              class="input-login"
              placeholder="usuario@empresa.com" 
              formControlName="usuario_nombre" 
              autocomplete="email">
            </ion-input>
            @if(isFieldInvalid('usuario_nombre')){
              <span class="texto-error-campo">{{ getFieldError('usuario_nombre') }}</span>
            }
          </div>
          
          <div class="field-group">
            <span class="field-label">Contraseña</span>
            <ion-input 
              fill="outline" 
              [type]="mostrar ? 'text' : 'password'" 
              class="input-login"
              placeholder="**********" 
              formControlName="usuario_clave" >
              <ion-button
                fill="clear"
                slot="end"
                (pointerdown)="$event.preventDefault(); $event.stopPropagation()"
                (mousedown)="$event.preventDefault(); $event.stopPropagation()"
                (click)="mostrarOcultar($event)">
                <fa-icon [icon]="mostrar ? farEye : farEyeSlash" class="password-toggle-icon"></fa-icon>
              </ion-button>
            </ion-input>
            <div class="olv-contrasenia">
              <ion-button fill="clear" class="btn-underline" (click)="cambioVistaVerif()">¿Olvidaste tu contraseña?</ion-button>
            </div>
          </div>

          <div class="content-check">
            <ion-checkbox
              labelPlacement="end"
              formControlName="guardar_datos"
              (ionChange)="onGuardarDatosIonChange($event)">
              <span class="label-checkbox">Guardar datos</span>
            </ion-checkbox>
          </div>

          <div class="submit-row">
            <ion-button class="button-login" type="submit" [disabled]="isLoading">
              @if(isLoading){
                <ion-spinner name="crescent" class="mr-2"></ion-spinner>
                Ingresando...
              } @else {
                Iniciar Sesión
              }
            </ion-button>
          </div>
        </form>}

        @if(vistaVerif){<app-verificacion-contrasenia (volverLogin)="cambioVistaVerif()"></app-verificacion-contrasenia>}
      </div>
    </div>
  </div>
  <div class="pildora-version">
    <span>V{{ APP_VERSION }}</span>
  </div>
</ion-content>
