<div class="contenedor-modal">
  <div class="header">
    <div class="flex items-center gap-1 ">
      <fa-icon [icon]="falCalendar" class="text-primary text-xs"></fa-icon>
      <span class="text-sm font-bold">Reprogramar vencimiento</span>
    </div>
    <fa-icon [icon]="farXmark" class="text-sm cursor-pointer" (click)="cerrarModal(false)"></fa-icon>
  </div>
  <form [formGroup]="reprogramarForm">
    <div class="cont-modal"> 
      
      <div class="contenedor-formulario !p-0">
          <span class="text-xxs font-semibold" >Fecha de vencimiento actual: {{ fechaVencimientoParseada }}</span>
          <div class="contenedor-formulario !gap-1 !p-0">

            <div class="contenido-formulario">
              <span class="label">Nueva fecha vencimiento<span class="text-danger">*</span></span>
              <app-base-calendar-new class="flex-none" mode="single" [initialDate]="reprogramarForm.get('nuevaFechaVencimiento')?.value"
                position="center" (dateSelected)="onFechaVenciemiento($event)">
              </app-base-calendar-new>
            </div>
            <div class="contenido-formulario !items-start">
              <span class="label">Motivo reprogramación<span class="text-danger">*</span></span>
              <ion-textarea fill="outline" class="w-full" placeholder="Ingresa un motivo de reprogramación"formControlName="motivoReprogramacion"></ion-textarea>
            </div>
            <div class="contenido-formulario">
              <span class="label">Documento de sustento <span class="text-red-500">*</span></span>
              <div class="flex items-center gap-2 w-40 h-[28px] border border-text-5 rounded-sm px-2"
                [ngClass]="{'bg-Background-light': documentoSustento}">
                @if (documentoSustento) {
                <span class="text-xxs flex-1 line-clamp-1">{{ documentoSustento }}</span>
                <fa-icon [icon]="farCircleXmark" class="text-danger cursor-pointer text-xs" (click)="removeFile()">
                </fa-icon>
                } @else {
                <input type="file" #fileInput (change)="onFileSelected($event)" class="hidden">
                <span class="text-xxs cursor-pointer flex-1 line-clamp-1 underline text-primary"
                  (click)="fileInput.click()">
                  Haz clic para subir un archivo
                </span>
                }
              </div>
            </div>
          </div>
      </div>
        
      <div class="flex justify-end flex-row gap-3">
        <ion-button fill="outline" color="medium" class="w-fit" (click)="cerrarModal(false)">Cancelar</ion-button>
        <ion-button class="w-fit" (click)="cerrarModal(true)">Reprogramar vencimiento</ion-button>
      </div>
    </div>
  </form>
</div>
