<div class="w-[780px] bg-[#E7E7E7] p-1.5">
  <div class="flex flex-row justify-between w-full pb-2.5">
    <span class="text-sm font-bold">Crear un producto o activo fijo</span>
    <fa-icon [icon]="farXmark" class="text-sm cursor-pointer" (click)="closemodal()"></fa-icon>
  </div>
  <div class="bg-[#FFFFFF] flex flex-col h-[314px]">
    <div class="flex flex-col gap-2 pl-[10px] p-2 ">
      <span class="text-xs font-bold">Selecciona una opción</span>
      <ion-radio-group [(ngModel)]="tipoSeleccionado" (ionChange)="onTipoChange(tipoSeleccionado)">
        <div class="flex flex-row w-full gap-2.5">
          <div class="w-[100px] flex flex-row gap-1 items-center">
            <ion-radio slot="start" value="producto"></ion-radio>
            <ion-label class="max-xl:text-xxs text-xs">Producto</ion-label>
          </div>
          <div class="w-[100px] flex flex-row gap-1 items-center">
            <ion-radio slot="start" value="activoFijo"></ion-radio>
            <ion-label class="max-xl:!text-xxs text-xs">Activo fijo</ion-label>
          </div>
        </div>
      </ion-radio-group>
    </div>
    <div class="flex flex-col h-full">
      <span class="text-xs font-bold pl-[10px]">Completa la información:</span>

      <!-- Formulario de Producto -->
      <form [formGroup]="productoForm" *ngIf="tipoSeleccionado === 'producto'">
        <div class="contenedor-formulario !flex-row gap-[30px]">
          <div class="contenedor-formulario !p-0">
            <div class="contenido-formulario">
              <span class="label">Nombre del producto</span>
              <ion-input fill="outline" placeholder="Ingresar un nombre" formControlName="nombreProducto"
                class="w-[181px]"></ion-input>
            </div>
            <div class="contenido-formulario">
              <span class="label">Sucursales</span>
              <app-autocomplete-multi formControlName="sucursales" [items]="sucursales" displayKey="nombre"
                valueKey="id" placeholder="Selecciona sucursales" class="w-[181px]">
              </app-autocomplete-multi>
            </div>
            <div class="contenido-formulario">
              <span class="label">Centro costo</span>
              <app-autocomplete formControlName="centroCosto" [items]="centrosCosto" displayKey="nombre" valueKey="id"
                placeholder="Selecciona centro de costo" class="w-[181px]">
              </app-autocomplete>
            </div>
            <div class="contenido-formulario">
              <span class="label">Afecta impuesto</span>
              <ion-select formControlName="afectaImpuesto" class="w-[82px]" placeholder="Selecciona opción"
                toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover" fill="outline">
                @for(item of afectai; track $index){
                <ion-select-option value="{{item.value}}">{{item.nombre}}</ion-select-option>
                }
              </ion-select>
            </div>
            <div class="contenido-formulario">
              <span class="label">Cta. contable inventario</span>
              <app-autocomplete formControlName="cuentaInventario" [items]="cuentasContables" displayKey="nombre"
                valueKey="id" placeholder="Selecciona cuenta" class="w-[181px]">
              </app-autocomplete>
            </div>
          </div>
          <div class="contenedor-formulario !p-0">
            <div class="contenido-formulario">
              <span class="label">Cta. contable costo</span>
              <app-autocomplete formControlName="cuentaCosto" [items]="cuentasContables" displayKey="nombre"
                valueKey="id" placeholder="Selecciona una cuenta" class="w-[225px]">
              </app-autocomplete>
            </div>
            <div class="contenido-formulario">
              <span class="label">Unidad de medida</span>
              <ion-select formControlName="unidadMedida" class="w-[82px]" placeholder="" toggleIcon="chevron-down"
                expandedIcon="chevron-up" interface="popover" fill="outline">
                @for(item of unidad; track $index){
                <ion-select-option value="{{item.value}}">{{item.nombre}}</ion-select-option>
                }
              </ion-select>
            </div>
            <div class="contenido-formulario">
              <span class="label">Impuesto principal</span>
              <app-autocomplete formControlName="impuestoPrincipal" [items]="impuestos"
                placeholder="Selecciona un impuesto" displayKey="nombre" valueKey="id" class="w-[225px]">
              </app-autocomplete>
            </div>
            <div class="contenido-formulario">
              <span class="label">Estado</span>
              <ion-select formControlName="estado" class="w-[82px]" placeholder="" toggleIcon="chevron-down"
                expandedIcon="chevron-up" interface="popover" fill="outline">
                @for(item of estado; track $index){
                <ion-select-option value="{{item.value}}">{{item.nombre}}</ion-select-option>
                }
              </ion-select>
            </div>
          </div>
        </div>
      </form>

      <!-- Formulario de activo fijo -->
      <form [formGroup]="activofijoForm" *ngIf="tipoSeleccionado === 'activoFijo'">
        <div class="contenedor-formulario !flex-row gap-[30px]">
          <div class="contenedor-formulario !p-0">
            <div class="contenido-formulario">
              <span class="label">Fecha de adquisición <span class="text-danger">*</span></span>
              <app-base-calendar-new mode="single" (dateSelected)="onFechaAdquisicion($event)" class="w-[181px]">
              </app-base-calendar-new>
            </div>
            <!-- <div class="contenido-formulario">
            <span class="label">Codigo de activo</span>
            <ion-input fill="outline" formControlName="codigoActivo" class="w-[181px]"></ion-input>
          </div> -->
            <div class="contenido-formulario">
              <span class="label">Nombre del activo <span class="text-danger">*</span></span>
              <ion-input fill="outline" formControlName="nombreActivo" placeholder="Ingresar un nombre"
                class="w-[181px]"></ion-input>
            </div>
            <div class="contenido-formulario">
              <span class="label">Clasificación <span class="text-danger">*</span></span>
              <app-autocomplete formControlName="clasificacion" [items]="clasificacion" displayKey="nombre"
                valueKey="id" placeholder="Selecciona clasificación" class="w-[181px]">
              </app-autocomplete>
            </div>
            <div class="contenido-formulario">
              <span class="label">Cta. contable inventario</span>
              <app-autocomplete formControlName="cuentaInventario" [items]="cuentasContables" displayKey="nombre"
                valueKey="id" placeholder="Selecciona cuenta" class="w-[181px]">
              </app-autocomplete>
            </div>
          </div>
          <div class="contenedor-formulario !p-0">
            <div class="contenido-formulario">
              <span class="label">Marca/Modelo/Serie <span class="text-danger">*</span></span>
              <ion-input fill="outline" placeholder="Ingresar marca/modelo/serie" formControlName="marcaModeloSerie"
                class="w-[225px]"></ion-input>
            </div>
            <div class="contenido-formulario">
              <span class="label">Moneda <span class="text-danger">*</span></span>
              <ion-select formControlName="moneda" class="w-[82px]" placeholder="Selecciona opción"
                toggleIcon="chevron-down" expandedIcon="chevron-up" interface="popover" fill="outline">
                @for(item of monedas; track $index){
                <ion-select-option value="{{item.value}}">{{item.nombre}}</ion-select-option>
                }
              </ion-select>
            </div>
            <div class="contenido-formulario">
              <span class="label">Valor de adquisición <span class="text-danger">*</span></span>
              <ion-input fill="outline" placeholder="Ingresar un valor " type="number"
                formControlName="valorAdquisicion" class="w-[225px]"></ion-input>
            </div>
            <div class="contenido-formulario">
              <span class="label">Estado <span class="text-danger">*</span></span>
              <ion-select formControlName="estado" class="w-[82px]" placeholder="" toggleIcon="chevron-down"
                expandedIcon="chevron-up" interface="popover" fill="outline">
                @for(item of estado; track $index){
                <ion-select-option value="{{item.value}}">{{item.nombre}}</ion-select-option>
                }
              </ion-select>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="flex justify-end flex-row gap-3 pb-2.5 pr-[10px]">
      <ion-button fill="outline" color="medium" class="w-[68px]" (click)="closemodal()">Cancelar</ion-button>
      <ion-button (click)="crear()">Crear</ion-button>
    </div>
  </div>

</div>