<div class="contenedor-modal !w-[528px]">
  <div class="header">
    <div class="flex items-center gap-1 ">
      <fa-icon [icon]="fasExchange" class="text-primary text-xs"></fa-icon>
      <span class="text-sm font-bold">Aplicar canje</span>
    </div>
    <fa-icon [icon]="farXmark" class="text-sm cursor-pointer" (click)="cerrarModal(false)"></fa-icon>
  </div>
  <form [formGroup]="canjeForm">
    <div class="cont-modal"> 

      <div class="flex gap-2 px-2.5 py-2 rounded bg-[#FAFCFE]">
        <fa-icon [icon]="farInfoCircle" class="text-xs"></fa-icon>
        <span class="text-xs">Solo se mostrarán documentos del mismo proveedor y en la misma moneda</span>
      </div>
      
      <div class="contenedor-formulario !p-0">
          <div class="contenido-formulario">
            <span class="text-xxs font-semibold w-[110px] xl:w-[130px]">Razón social:</span>
            <span class="text-xxs font-semibold line-clamp-1">{{ razonS }}</span>
          </div>
          <div class="contenido-formulario">
            <span class="text-xxs font-semibold w-[110px] xl:w-[130px]">Proveedor:</span>
            <span class="text-xxs font-semibold line-clamp-1">{{ proveedor }}</span>
          </div>
          <div class="contenido-formulario">
            <span class="text-xxs font-semibold w-[110px] xl:w-[130px]">N° documento:</span>
            <span class="text-xxs font-semibold line-clamp-1">{{ nDocumento }}</span>
          </div>
          <div class="contenido-formulario">
            <span class="label">Monto pendiente<span class="text-danger">*</span></span>
            <ion-input fill="outline" placeholder="0.00" type="number" class="w-[150px]" formControlName="montoPendiente"></ion-input>
          </div>


          <div class="contenido-formulario">
            <span class="label">Documento CxC<span class="text-danger">*</span></span>
            <app-autocomplete
              [items]="Documentos"
              displayKey="nombre"
              valueKey="nombre"
              placeholder="Selecciona un documento de CxC"
              (itemSelected)="onDocumentoSeleccionado($event)">
            </app-autocomplete>
          </div>
          <div class="contenido-formulario !items-start">
            <span class="label">Tipo operación<span class="text-danger">*</span></span>
            <ion-select placeholder="Selecciona un tipo" formControlName="tipo" interface="popover" fill="outline" class="w-[140px] flex-none" toggleIcon="chevron-down" expandedIcon="chevron-up">
            @for(tipo of tipos; track tipo){<ion-select-option [value]="tipo">{{ tipo}}</ion-select-option>}
          </ion-select>
          </div>
          <div class="contenido-formulario">
            <span class="label">Monto aplicado<span class="text-danger">*</span></span>
            <ion-input fill="outline" placeholder="0.00" type="number" class="w-[150px]" formControlName="montoAplicado"></ion-input>
          </div>
          <div class="contenido-formulario">
            <span class="label">Saldo remanente</span>
            <ion-input fill="outline" placeholder="0.00" type="number" class="w-[150px]" formControlName="saldoRemanente"></ion-input>
          </div>
      </div>
        
      <div class="flex justify-end flex-row gap-3">
        <ion-button fill="outline" color="medium" class="w-fit" (click)="cerrarModal(false)">Cancelar</ion-button>
        <ion-button class="w-fit" [disabled]="canjeForm.invalid" (click)="cerrarModal(true)">Aplicar canje</ion-button>
      </div>
    </div>
  </form>
</div>
