<div class="contenedor-principal">
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span>Detalle y análisis de compras realizadas</span>
    </div>
    <div class="contenedor-filtros">
      <div class="buscador">
        <fa-icon [icon]="farSearch"></fa-icon>
        <ion-input fill="outline" placeholder="Buscar por n° de orden, Nombre del producto o razón social" class="w-full" style="--padding-start:30px"></ion-input>
      </div>
      <div class="filtros-absolutos">
        <app-base-calendar-new class="flex-none" mode="range" [initialStartDate]="startDate"
          [initialEndDate]="endDate" [minDate]="minDate" [maxDate]="maxDate" position="right"
          (dateRangeSelected)="filtrarPorFechas($event)">
        </app-base-calendar-new>
        <ion-button class="w-[115px] flex-none text-text-85" id="reportegestioncompra" fill="outline">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon> 
        </ion-button>
        <ion-popover trigger="reportegestioncompra" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false" (click)="exportarPdf()">Exportar PDF</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false" (click)="exportarCsv()">Exportar Excel</ion-item>
          </ng-template>
        </ion-popover>
      </div>
    </div>
    <div class="cont-cards !pt-0">
      <div class="card">
        <div class="contenido">
          <span class="title">Total compras (Por periodo)</span>
          @if(loading()){          
            <ion-skeleton-text [animated]="true" style="width: 30px; height: 16px;"></ion-skeleton-text>
          }
          @else{
          <span class="cantidad">12</span>
          }
          </div>
        <div class="icon">
          <fa-icon [icon]="fasHandHoldingDollar"></fa-icon>
        </div>
      </div>
      <div class="card">
        <div class="contenido">
          <span class="title">Promedio monto x proveedor</span>
        @if(loading()){          
          <ion-skeleton-text [animated]="true" style="width: 100px; height: 16px;"></ion-skeleton-text>
        }      
        @else{    
          <span class="cantidad">S/ 999,999.00</span>
        }
        </div>
        <div class="icon">
          <fa-icon [icon]="fasPerson"></fa-icon>
        </div>
      </div>
      <div class="card">
        <div class="contenido">
          <span class="title">N.º documentos x condición</span>
          @if(loading()){          
            <ion-skeleton-text [animated]="true" style="width: 30px; height: 16px;"></ion-skeleton-text>
          }
          @else{
             <span class="cantidad">8</span>
          }
        </div>
        <div class="icon">
          <fa-icon [icon]="fasFiles"></fa-icon>
        </div>
      </div>
      <div class="card">
        <div class="contenido">
          <span class="title">% compras contado vs crédito</span>
          @if(loading()){          
            <ion-skeleton-text [animated]="true" style="width: 30px; height: 16px;"></ion-skeleton-text>
          }
          @else{
          <span class="cantidad">40</span>
          }
        </div>
        <div class="icon">
          <fa-icon [icon]="fasPercent"></fa-icon>
        </div>
      </div>
    </div>
    <div class="contenedor-primera-tabla" [appLoader]="loading()">
      <fa-icon [icon]="faRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular 
        style="width: 100%; height: 100%;" 
        class=""
        [rowData]="rowData" 
        [columnDefs]="colDefs" 
        [columnTypes]="columnTypes"
        [gridOptions]="gridOptions"
        [pagination]="true"
        [rowHeight]="20"
        [headerHeight]="24"
        [localeText]="localeText"
        [paginationPageSize]="20"
        (gridReady)="onGridReady($event)"
      />
    </div>
  </div>
  <div class="panel-derecho" [appLoader]="loading()" [ngClass]="{'panel-derecho': mostrartabla, 'w-full': !mostrartabla}">
    <div class="cont-title">
      <span>Análisis para: {{ filaSeleccionada ? filaSeleccionada.gestion_compra_nro_orden : 'Seleccionar orden' }}</span>
    </div>
    
    <div class="overflow-auto">
      <form action="" [formGroup]="AnalisisOrdenForm">
        <div class="contenedor-formulario">
          <div class="contenido-formulario">
            <span class="label">Nombre de producto</span>
            <ion-input fill="outline" formControlName="nombreProducto" class="w-[169px]"></ion-input>
          </div>
          <div class="contenido-formulario">
            <span class="label">Precio por unidad</span>
            <ion-input fill="outline" formControlName="precioPorUnidad" class="w-[169px]"></ion-input>
          </div>
          <div class="contenido-formulario">
            <span class="label">Días de crédito</span>
            <ion-input fill="outline" formControlName="diasCredito" class="w-[169px]"></ion-input>
          </div>
          <div class="contenido-formulario">
            <span class="label">Fecha de vencimiento</span>
            <ion-input fill="outline" formControlName="fechaVencimiento" class="w-[169px]"></ion-input>
          </div>
          <div class="contenido-formulario">
            <span class="label">Razón social</span>
            <ion-input fill="outline" formControlName="razonSoc" class="w-[169px]"></ion-input>
          </div>
          <div class="contenido-formulario">
            <span class="label">Moneda</span>
            <ion-input fill="outline" formControlName="moneda" class="w-[169px]"></ion-input>
          </div>
          <div class="contenido-formulario">
            <span class="label">Sucursal/Almacén</span>
            <ion-input fill="outline" formControlName="sucursalAlmacen" class="w-[169px]"></ion-input>
          </div>
          <div class="contenido-formulario">
            <span class="label">Estado de pago</span>
            <ion-input fill="outline" formControlName="estadoPago" class="w-[169px]"></ion-input>
          </div>
        </div>
      </form>
      <div class="cont-title">
        <span>Productos más comprados</span>
      </div>

      <div class="contenedor-filtros">
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar producto" class="w-full" style="--padding-start:30px"></ion-input>
        </div>
      </div>
      <div>
        <ag-grid-angular 
          style="width: 100%;" 
          class=""
          [rowData]="rowDataProductos" 
          [columnDefs]="colDefsProductos" 
          [columnTypes]="columnTypes"
          [rowHeight]="20"
          [headerHeight]="24"
          [paginationPageSize]="20"
          domLayout="autoHeight"
          (gridReady)="onGridReadyProductos($event)"
        />
      </div>
      <div class="flex flex-row gap-2 items-start justify-between p-2">
        <ion-textarea fill="outline" placeholder="Observaciones" class="max-w-[459px]"></ion-textarea>
        <div class="w-[170px] h-[76px] p-2 rounded-[2px] border border-solid flex flex-col justify-around">
          <div class="flex flex-row justify-between">
            <span class="text-xxs">Subtotal</span>
            <span class="text-xxs font-medium">S/0.00</span>
          </div>
          <div class="flex flex-row justify-between">
            <span class="text-xxs">Impuestos</span>
            <span class="text-xxs ">S/0.00</span>
          </div>
          <div class="flex flex-row justify-between">
            <span class="text-xxs text-primary">Total</span>
            <span class="text-xxs">S/0.00</span>
          </div>
        </div>
      </div>
    </div>
      
  </div>
</div>
