<div class="contenedor-principal">
  <div class="panel-izquierdo">
    <div class="cont-title">
      <span>Lista de tipos de contratos (Selecciona un tipo de contrato de tu lista para visualizarlo)</span>
    </div>
    <div class="contenedor-filtros">
      <div class="filtros-responsive">
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar por código"
            style="--padding-start:30px"></ion-input>
        </div>
        <!-- <div>
          <app-base-calendar-new class="flex-none" mode="range" [initialStartDate]="startDate"
            [initialEndDate]="endDate" [minDate]="minDate" [maxDate]="maxDate" position="center">
          </app-base-calendar-new>
        </div>   -->
      </div>
      <div class="filtros-absolutos">
        <ion-button fill="outline" class="text-text-85 w-[115px]" id="tipocontrato">
          <fa-icon [icon]="fasDownload" class="mr-1"></fa-icon>
          <span>Exportar</span>
          <fa-icon class="ml-1" [icon]="fasAngleDown"></fa-icon>
        </ion-button>
        <ion-popover trigger="tipocontrato" triggerAction="click" [dismissOnSelect]="true"
          class="popoverCustomButtonUbicacionActivos" [showBackdrop]="false">
          <ng-template>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar Excel</ion-item>
            <ion-item lines="none" [button]="true" [detail]="false">Exportar PDF</ion-item>
          </ng-template>
        </ion-popover>
        <ion-button class="w-fit" (click)="nuevoTipoContrato()" 
            [disabled]="!filaSeleccionada">
          <fa-icon [icon]="fasCirclePlus" ></fa-icon>
          <span>Nuevo tipo de contrato</span>
        </ion-button>
      </div>
    </div>
    <div class="contenedor-primera-tabla" [appLoader]="isLoading()">
       <fa-icon [icon]="fasRotateRight" (click)="onBtReset()" class="btn-refresh"></fa-icon>
      <ag-grid-angular 
        style="width: 100%; height: 100%;" 
        class="" 
        [rowData]="rowData" 
        [columnDefs]="columnDefs"
        [pagination]="true" 
        [rowHeight]="20" 
        [localeText]="localeText" 
        [headerHeight]="24"
        [paginationPageSize]="20" 
        [rowSelection]="'single'"
        [suppressLoadingOverlay]="true"
        (gridReady)="onGridReady($event)"
        (cellClicked)="onCellClicked($event)"
      />
    </div>
  </div>
  <div class="panel-derecho" [appLoader]="isLoading() && !isResetting">
    <div class="cont-title">
      @if(filaSeleccionada){
      <span>Tipo de contrato: {{ filaSeleccionada.tipo_contrato_codigo }}</span>
      } @else {
      <span>Nuevo tipo de contrato</span>
      }
    </div>
    @if(filaSeleccionada){
    <div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook" ></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>
  }
    <form [formGroup]="formularioTipoContrato" class="contenedor-formulario">
      <div class="contenido-formulario">
        <span class="label">Nombre <span class="text-danger">*</span></span>
        <ion-input fill="outline" placeholder="Ingrese un nombre" class="w-[163px]" formControlName="nombre"></ion-input>
      </div>  
      <div class="contenido-formulario !items-start">
        <span class="label">Descripción <span class="text-danger">*</span></span>
        <ion-textarea fill="outline" placeholder="Ingrece una descripción" class="w-[163px] h-[56px]" formControlName="descripcion"></ion-textarea>
      </div>
      <div class="contenido-formulario">
        <span class="label">Estado <span class="text-danger">*</span></span>
        <ion-select fill="outline" class="!w-[70px]" toggleIcon="chevron-down" expandedIcon="chevron-up"
          interface="popover" formControlName="estado">
          <ion-select-option *ngFor="let estado of estado" [value]="estado.value">{{ estado.label }}</ion-select-option>
        </ion-select>
      </div> 
    </form>
    <div class="contenedor-btn">
      <ion-button class="w-[70px]" (click)="btnguardar()">{{filaSeleccionada? 'Guardar' : 'Registrar'}}</ion-button>
      <ion-button fill="outline" color="medium" class="w-[70px]" (click)="nuevoTipoContrato()"><span>Cancelar</span></ion-button>
    </div>
  </div>
</div>
