<div class="flex flex-col h-[53px] w-full">
    @for (info of informacion; track $index) {
        @if (info.enlace) {
        <span class="text-primary cursor-pointer !leading-normal" (click)="onLinkClick($event, info.enlace)"><fa-icon [icon]="farEye"></fa-icon> Ver en Restfact</span> 
        }
        @if (info.fecha_emision) {
        <span class="!leading-normal"><strong>F. Emisión RD:</strong> {{ info.fecha_emision }}</span>
        }
        @if (info.fecha_aceptacion) {
        <span class="!leading-normal"><strong>F. Aceptación RD:</strong> {{ info.fecha_aceptacion }}</span>
        }
    }
</div>
