<div class="contenedor-filtros-tabla">
  <div class="sub-content-filtros-tabla">
    <div class="cont-title">
      <span>Análisis de inconsistencias en nómina</span>
    </div>
     @if(filasGeneradas.length > 0){
     <div class="cont-actualizaciones">
      <div class="btn-actualizaciones" (click)="modalverActualizaciones()">
        <fa-icon [icon]="farBook"></fa-icon>
        <span class="text-actualizaciones">Ver últimas actualizaciones</span>
      </div>
    </div>
      }
    <div class="contenedor-formulario !gap-2.5">
      <div class="filtros-responsive">
        <div class="form-column2">

          <div class="contenido-formulario">
            <span class="label">Fecha de análisis</span>
            <ion-input
              fill="outline"
              class="flex-none w-[90px]"
              [disabled]="true"
              [(ngModel)]="fechaAnalisisFormateada">
            </ion-input>
          </div>

          <div class="contenido-formulario">
            <span class="label">Sucursal</span>
            <ion-input
              fill="outline"
              placeholder="Selecciona un trabajador para ver tu sucursal"
              class="w-[270px]"
              [disabled]="true"
              [(ngModel)]="sucursalSeleccionada">
            </ion-input>
          </div>
          
          <div class="contenido-formulario">
            <span class="label">Trabajador <span class="text-danger">*</span></span>
            <app-autocomplete
              [items]="trabajadores"
              displayKey="nombre"
              valueKey="id"
              placeholder="Selecciona un trabajador"
              inputWidth="200px"
              [(ngModel)]="trabajadorSeleccionadoId"
              (itemSelected)="onTrabajadorSeleccionado($event)">
            </app-autocomplete>
          </div>

          <div class="contenido-formulario">
            <span class="label">Centro de costo</span>
            <ion-input
              fill="outline"
              placeholder="Selecciona un trabajador para ver centro de costo"
              class="w-[270px]"
              [disabled]="true"
              [(ngModel)]="centroCostoSeleccionado">
            </ion-input>
          </div>

          <div class="contenido-formulario">
            <span class="label">Periodo de planilla <span class="text-danger">*</span></span>
            <app-month-year-picker
              class="flex-none w-[100px]"
              [placeholder]="'Elige un periodo'"
              (dateSelected)="onPeriodoSeleccionado($event)">
            </app-month-year-picker>
          </div>

          <div class="contenido-formulario">
            <span class="label">Tipo de validación <span class="text-danger">*</span></span>
            <app-autocomplete-multi
              [items]="tiposValidacion"
              displayKey="label"
              valueKey="value"
              placeholder="Selecciona uno o varios tipos"
              inputWidth="200px"
              (changed)="onTipoValidacionSeleccionado($event)">
            </app-autocomplete-multi>
          </div>
        </div>
      </div>
      <!-- Botones de acción -->
      <div class="flex items-center gap-3 w-full justify-end">
        <ion-button class="w-fit" (click)="generarValidacion()">
          <span class="font-normal">{{ filasGeneradas.length > 0 ? 'Recalcular análisis' : 'Generar validación' }}</span>
        </ion-button>
      </div>
    </div>

    <div class="flex flex-col w-full h-full overflow-auto">
      <div class="cont-title">
        <span>Análisis generado</span>
      </div>
      @if(filasGeneradas.length > 0){
      <div class="contenedor-filtros">
        <div class="buscador">
          <fa-icon [icon]="farSearch"></fa-icon>
          <ion-input fill="outline" placeholder="Buscar por descripción" class="w-full" style="--padding-start:30px"></ion-input>
        </div>
        <div class="filtros-absolutos">
          <ion-button class="w-[115px]" fill="outline" id="exportar" [disabled]="filasGeneradas.length == 0">
            <fa-icon [icon]="fasDownload" class="mr-1 text-text-85"></fa-icon>
            <span class="text-text-85">Exportar</span>
            <fa-icon class="ml-1 text-text-85" [icon]="fasAngleDown"></fa-icon>
          </ion-button>
          <ion-popover trigger="exportar" triggerAction="click" [dismissOnSelect]="true" class="popoverCustomButtonUbicacionActivos dezplegableAcciones2" [showBackdrop]="false">
            <ng-template>
              <ion-item lines="none" [button]="true">Exportar Excel</ion-item>
              <ion-item lines="none" [button]="true">Exportar PDF</ion-item>
            </ng-template>
          </ion-popover>
        </div>
      </div>
      }

      <!-- Tabla de resultados -->
      <div class="flex h-full" [appLoader]="generando">
        <ag-grid-angular [suppressLoadingOverlay]="true" 
          style="width: 100%; height: 100%;" 
          class=""
          [rowData]="filasGeneradas" 
          [columnDefs]="columnDefs" 
          [columnTypes]="columnTypes"
          [gridOptions]="gridOptions"
          [localeText]="localeText"
          [rowHeight]="20"
          [headerHeight]="24"
          [defaultColDef]="defaultColDef"
          (gridReady)="onGridReady($event)"/>
      </div>
    </div>

    <!-- Botón cancelar reporte -->
    <div class="flex items-center gap-3 w-full justify-end p-3">
      <ion-button class="w-fit" fill="outline" color="medium" (click)="cancelarReporte()">
        <span class="font-normal">Cancelar reporte</span>
      </ion-button>
    </div>
  </div>
</div>
